<!-- Code snippet of dynamic accordion table -->
                  <p>Introduction to table Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</>
                
                  <div class="accordion-table-style-header" aria-hidden="true" >
                    <span class="header-features">Features</span>
                    <span class="header-current">Current plan</span>
                    <span class="header-retiready">Retiready</span>
                  </div>

                  <div class="accordion-heading">
                      <a class="accordion-toggle accordian-table-style collapsed" data-toggle="collapse" data-parent="#accordion" href="#item1">
                        
                        <h3>Title of item that has a long name on it
                          <span aria-hidden="false" class="hide-visually"> - More information</span>
                        </h3> 

                        <span class="icon-one icon-cross">
                          <span aria-hidden="true" class="ico">&#xf706;</span>
                          <span aria-hidden="false" class="explanation">Current plan has this feature</span>
                        </span> 

                         <span class="icon-two icon-tick">
                          <span aria-hidden="true" class="ico">&#xf707;</span>
                          <span aria-hidden="false" class="explanation">Retiready does not have this feature</span>
                        </span>

                      </a>   

                    </div>

                    <div id="item1" class="accordion-body collapse">
                      <div class="panel accordion-inner">
                        <!-- Content below can be static or replaced by dynamic - add id="" onto divs above where needed so to target -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                      </div>
                    </div>

                      <div class="accordion-heading">
                      <a class="accordion-toggle accordian-table-style collapsed" data-toggle="collapse" data-parent="#accordion" href="#item2">
                        
                        <h3>Another title
                          <span aria-hidden="false" class="hide-visually"> - More information</span>                         
                        </h3>
                        <span class="icon-one icon-info">
                          <span aria-hidden="true" class="ico">&#xf721;</span>
                          <span aria-hidden="false" class="explanation">Further reading required on this feature</span>
                        </span> 

                         <span class="icon-two icon-tick">
                          <span aria-hidden="true" class="ico">&#xf707;</span>
                          <span aria-hidden="false" class="explanation">Retiready does not have this feature</span>
                        </span>

                      </a> 
                                         
                    </div>
                    <div id="item2" class="accordion-body collapse">
                      <div class="panel accordion-inner">
                        <!-- Content below can be static or replaced by dynamic - add id="" onto divs above where needed so to target -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                      </div>
                    </div>