//
// Skip to navigation - content bar
// --------------------------------------------------


#skip {
	position: fixed;
	z-index: @accessibilitySkip;
	display: block;
	width: 100%;
	top: 0;

	ul{
		list-style:none;
		margin:0;	
	}

	li {
		padding: 0;
		height: 0;
	}

	a {
		position: relative;
		top: -999px;
		padding: 11px;
		display: block;
		background: @rr-green;
		color: #fff;
		height: 0;
		text-decoration: none;
		text-align: center;

		&:after {
		  font-family: 'rr-ico';
		  content: "\f719";
		  speak: none;
		  font-style: normal;
		  font-weight: normal;
		  font-variant: normal;
		  text-transform: none;
		  line-height: 16px;
			text-decoration: none;
		  speak: none;
		  font-size: 1.2em;
		  vertical-align: middle;
		  margin: 0 0 0 3px;
		}

		&:focus {
			top: 0;
			height: auto;
			text-decoration: none !important;
		}
	}
}