//
// Accordion
// --------------------------------------------------


// Parent container
.accordion {
  margin-bottom: @baseLineHeight;
}

// Group == heading + body
.accordion-group {
  margin-bottom: 12px;
  .border-radius(@baseBorderRadius);
}


.accordion-heading {
  border-bottom: 1px solid #fff;
}
.accordion-heading .accordion-toggle {
  display: block;

}

// General toggle styles
.accordion-toggle {
  cursor: pointer;
  display: block;
  .clearfix ();

  &.btn > h3 {
    color: @white;
  }

  .panel& {
    padding: 0;

    & + .accordion-body {
      margin-bottom: 15px;
    }
  }

  .background-gray-lighter fieldset & {
    background-color: @grayLighterTint;
  }

  &.background-gray .btn {
    border-color: #484848;
  }

  &:not(.btn) {
    background-color: @rr-lightgray;
  }

  &:not(.accordion-toggle-button) {
    .border-radius(@baseBorderRadius);
    .border-bottom-right-radius(0);
    .border-bottom-left-radius(0);
  }

  &.collapsed {
    .border-radius(@baseBorderRadius);
  }
}

//New type of accoirdian that is less noticable
.accordion-toggle.accordion-toggle-link{
  background-color: #fff;
  padding-left: 15px;

  &:before {
    font-family: 'rr-ico';
    content: "\f709";
    //color: @rr-section-goals;
    //speak: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1em;
    position: absolute;
    line-height: 1.2em;
    margin-left: 0px;
    text-align: center;
   margin-left:-20px;
  }

  &.collapsed{  
    &:before { 
     content: "\f70a";
     }
  }
}

.panel.accordion-toggle + .in + .panel.accordion-toggle {
  margin-top: 0 !important;
}
.accordion-toggle h3, .accordion-toggle .header-tag{
  display:inline-block;
  border:none;
  margin:0;
  padding: 15px 0 15px 15px;
}

.accordion-toggle .ico{
float: right;
vertical-align: middle;
font-size: 1.9em;
line-height: 1em;
padding:0;
margin:7px;
color: @white;

}

.accordion-toggle a span:first-child{
 display: none;
}

// .accordion-body {
//   .background-gray-lighter .accordion-group & {
//     background-color: @grayLighterTint;
//   }
// }
.background-gray-lighter {
  .accordion-group, .accordion-body, .accordion-body fieldset, .accordion-toggle {
    background-color: @grayLighterTint !important;
  }
}

// Inner needs the styles because you can't animate properly with any styles on the element
.accordion-inner {
  //border-top: 1px solid #F0F0F0;
  .border-radius(0);
}

.accordion-small-only {
  > a.accordion-toggle {
    display: none
  }

  div.accordion-toggle {
    cursor: default;
  }
 
}

.accordion-toggle {

   &:hover, &:focus{
     
   .btn{
     color: @white;
    text-decoration: none;
    background-position: 0 -30px;
    //outline: 1px solid #006cd1;

    // transition is only when going to hover/focus, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    .transition(background-position .1s linear);
   }
  }
}



.accordion-body {
  .accordion-inner {
    > form:first-child,
    > form:first-child fieldset,
    > fieldset:first-child {
      .border-radius(0);
      .border-bottom-right-radius(@baseBorderRadius);
      .border-bottom-left-radius(@baseBorderRadius);
    }

    > fieldset:first-child {
      margin-top: 1px;
    }
  }

  > :last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .accordion-small-only {
    .accordion-body.in {
      overflow: visible;
    }
  }
}
@media only screen and (max-width: 767px) {
  .accordion-small-only {
    > a.accordion-toggle {
      display: block
    }

    > div.accordion-toggle {
      display: none;
    }
  }
}

.background-flat-bottom {
 border-radius: @baseBorderRadius @baseBorderRadius 0 0 !important;
}

.background-flat-top {
 border-radius: 0 0 @baseBorderRadius @baseBorderRadius !important;
}

// Used to disable Parsley validation when accordion collapsed. Apply to .accordion-inner div.
.accordion-body:not(.in) .hide-fields-when-collapsed {
  input, textarea, select {
    display: none !important;
  }
}

// "Close" X icon that only appears when accordion is opened.
.accordion-group .ico-close {
  visibility: hidden;
}

.accordion-plain-title {
  fieldset {
    border: 1px solid @grayLight;
    border-width: 0 1px 1px 1px;
  }

  .opened {
    .ico-close {
      visibility: visible;
      position: relative;
      top: 7px;
      right: 7px;
    }

    &.btn {
      border-radius: 0;
      background: @gray;
    }
  }
}

//Indicator for above element to align

.indicators (@horizontal-align: 5%;){

  &:before{
    display: table;
    position: relative;
    content:'';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 15px solid #efefef;
    background: none;
    padding: 0;
    border-radius: 0;        
    left: @horizontal-align;
  }   

}


// TODO - possible mobile verion of these to tweak positions
.indicator-0{ .indicators (9%); }
.indicator-1{ .indicators (28.5%); }
.indicator-2{ .indicators (48.5%); }
.indicator-3{ .indicators (68.5%); }
.indicator-4{ .indicators (86.5%); }

// New accordian for fake expandable tables

.accordion-table-style-header {
  position: relative;  
  
  display: block;
  .clearfix ();
padding: 10px 10px 5px 0px;
 font-family: @avenirHeavy;
 overflow: visible;
 border-bottom: 4px solid #ccc;


  &:after {
  position: absolute;
    top:0;
    right: 20%;
    content: "";
    width:1px;
    height: 60px;
    background-color: #ccc;

  }
  &:before {
  position: absolute;
    top:0;
    left: 60%;
    content: "";
    width:1px;
    height: 60px;
    background-color: #ccc;
  }

   .header-features, .header-current, .header-retiready{
      bottom: 0;
   }

   .header-features{
     padding:5px;
   }

   .header-current{
    background-color:  transparent;
    float:right;
    width: 20%;
    text-align: center;   
    padding:5px;
    position: absolute;
    right:20%;
    
  }
   .header-retiready{
     background-color:  transparent;
    float:right;
    width: 20%;
    text-align: center;   
    padding:5px;
    position: absolute;
    right:0%;    
  }
}



.accordion-toggle.accordian-table-style{
  position: relative;
  cursor: pointer;
  background-color: transparent;
  display: block;
  .clearfix ();
  overflow: hidden;
  border-top: 1px solid #ccc;
  margin-top: -1px;
  .border-radius(0);

&:hover, &:focus{
  h3{
    text-decoration: underline;

  }

}

&:after {
  position: absolute;
    top:0;
    right: 20%;
    content: "";
    width:1px;
    height: 700px;
    background-color: #ccc;
  }
  &:before {
  position: absolute;
    top:0;
    left: 60%;
    content: "";
    width:1px;
    height: 700px;
    background-color: #ccc;
  }

  .ico{  
  float:none;
  vertical-align: middle;
  font-size: 1.9em;
  line-height: 1em;
  padding:0;
  margin:7px;
  }

  h3{
    position: relative;
    background-color: transparent;
    padding: 12px;
    max-width: 55%;
    margin-right: 0px;
    font-family: @avenirMedium;
    color: inherit;
  }

  &.collapsed {
    background-color: transparent;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
   h3:after { 
     content: "\f70a";
     }
  }

  h3:after {   
    position: absolute;
    right:0em;
    top:0.8em; 
    font-family: 'rr-ico';
    content: "\f709";
    font-weight: normal;
    font-variant: normal;
    font-size: 1em;
    text-align: center;
    margin-left:0px ; 
    background-color: transparent;
    width: 0.5em;
  }

  .icon-one{
    background-color:  transparent;
    float:right;
    width: 20%;
    text-align: center;
    font-size: 1.6em;
    line-height: 0em;
    padding:0;
    position: absolute;
    top:-10px;
    right:0;    
  }

  .icon-two{
     background-color:  transparent;
    float:right;
    width: 20%;
    text-align: center;
    font-size: 1.6em;
    line-height: 0em;
    padding:0;
    position: absolute;
    top:-10px;
     right: 20%;
  }

  .icon-tick{
      .ico{
        color: green;
      }
    }

     .icon-cross{
      .ico{
        color: red;
      }
    }

     .icon-info{
       font-size: 1.2em;
        top:-5px;
      .ico{
        color: grey;
      }
    }

 

  a span:first-child{
   display: block;
  }

  .explanation{
    display: none;
  }
}