//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

.alert {
  .clearfix();
  text-align: left;
  padding: 10px;
  margin-bottom: @baseLineHeight;
  background-color: @warningBackground;
  border: 1px solid @warningBorder;
  color: @grayDark;
  .border-radius(@baseBorderRadius);
  position: relative;

  a {
    color:#333;

    &.btn{
      color:#fff;

      .ico{
        color:#fff;
        margin:0;
        padding:0 0 0 5px;
        font-size: 1.2em;
        position: relative;
        left: 0;
      }
    }
  }

  > .ico:first-child,
  h2 > .ico:first-child,
  h3 > .ico:first-child,
  h4 > .ico:first-child {
    position: absolute;
    left: -35px;
    top: 12px;
    font-size: 1.750em;
    line-height: 16px;
    color: @rr-yellow;
  }

  &-error > {
    .ico:first-child,
    h2 > .ico:first-child,
    h3 > .ico:first-child,
    h4 > .ico:first-child {
      color: @errorText;
    }
  }

  &-success > {
    .ico:first-child,
    h2 > .ico:first-child,
    h3 > .ico:first-child,
    h4 > .ico:first-child {
      color: @successText;
    }
  }

  h2, h3, h4 {
    font-size: @baseFontSize;
    font-family: @avenirLight;
    font-weight: lighter;
    line-height: 1.2em;
    margin: 0 0 10px;
  }

  > :last-child {
    margin-bottom: 0;
    :last-child {
      margin-bottom: 0;
    }
  }
  > p:last-child, span:last-child {
    padding-bottom: 0;
  }

  // IE8 :last-child fix START
  > .last-child {
    margin-bottom: 0;

    .last-child {
      margin-bottom: 0;
    }
  }

  &.always-in {
    span.span-to-div {
      margin-left: 30px !important;
    }
  }
  > p.last-child, span.last-child {
    padding-bottom: 0;
  }// IE8 :last-child fix END
}

// Adjust close link position
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: @baseLineHeight;
}


// Alternate styles
// -------------------------
.alert-success {
  background-color: @successBackground;
  border-color: @successBorder;
  a {
    color: @successText;
  }
}
.alert-danger,
.alert-error {
  background-color: @errorBackground;
  border-color: @errorBorder;
  color: @errorText;
}



@media (min-width: 980px) {
  form .alert .ico:first-child {
   left: -50px;
  }
}

@media only screen and (max-width: 979px) {
  .alert {

    h2, h3, h4 {
      padding-left: 30px;
    }

    > .ico:first-child,
    h2 > .ico:first-child,
    h3 > .ico:first-child,
    h4 > .ico:first-child {
      left: 7px;

      + p {
        padding-left: 30px;
      }
    }
  }
  //Fix reduce space between items in error list on mobile
  .alert-error {
    ul li {
      padding:3px 0;
    }
  }
}







.alert-info {
  background-color: @infoBackground;
  border-color: @infoBorder;
  color: @infoText;
}

.alert-error a {
  color: @errorText;

  &.btn-secondary {

    .btn-secondary();
  }
}

// Block alerts
// -------------------------

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}



// Coach
// -------------------------
.alert-coach {
  font-family: @rockwell;
  font-size: (@baseFontSize + 1);
  border: none;
  min-height: 80px;
  padding: 10px 10px 10px 5px;

  // CSS3
  #gradient.vertical (#d9e774, @rr-lightgreen);
  -webkit-box-shadow: inset 0 1px 3px #a3ad58;
     -moz-box-shadow: inset 0 1px 3px #a3ad58;
          box-shadow: inset 0 1px 2px #a3ad58;
  display: table;
  width: 100%;



  > .ico:first-child {
    float:left;
    position: relative;
    top:inherit;
    left: inherit;
    color: #fff;
    font-size: 4em;
    line-height: 1em;
    vertical-align: middle;
  }

  .coach-content{

    display: table-cell;
  vertical-align: middle;

   height:auto;
    padding:0;
    margin:0;
     margin-left: 80px;


     p{
        padding:0;
        margin:0;
     }
      .coach-actions {
        margin-top: 10px;
        display: block;
        clear: both;
        width: 100%;
        float:left;

        .actions-primary {
        float:left;
        display: inline;
        width: auto;
        }
        .actions-secondary {
           float:right;
           display: inline;

           a, a .btn-alt, a .btn-alt span, a span, span{
            &:hover{
              text-decoration: none !important;
            }
          }

        }
      }
  }

}

.ie8 .alert-coach{
  > .ico:first-child {
    position: absolute;
    top:10px;
    left:10px !important;
    margin:0;
    padding:0;
    display: inline;

  }
  .coach-content{
    position: relative;
    padding-left: 80px;
  }
}


// Media queries
// -------------------------

// Reduce content padding at these widths:

@media only screen and (max-width: 767px) {

   .alert-coach {
     > .ico:first-child {

    color: #fff;
    font-size: 2.5em;
    line-height: 1em;
    position: absolute;

    }

    .coach-content{
      position: relative;
     // vertical-align: top;
      left: 0;
      margin: 0 0 0 0;
      .clearfix();

      p{
        margin-left: 50px;
        margin-bottom: 0px;
        min-height: 40px; //Fix for firefox
      }


      .coach-actions {
         margin-top: 25px;
         display: block;
         float:left;



         .actions-primary, .actions-secondary{
          float:none;
            .btn{
               width: 100%;

            }
          }

          .actions-primary {
         //  float:left;
           // display: inline;
            width: auto;
          }
          .actions-secondary {
            float:left;
            margin-top:10px;
            width: 100%;

            a, a .btn-alt, a .btn-alt span, a span{
            &:hover{
              text-decoration: none !important;
            }
            }

            a span ~ span{
              &:hover{
                text-decoration: underline !important;
              }
            }





            .btn{
                font-size: (@baseFontSize - 1);


              display: inline;
             }
            > :last-child{
              margin-left: 10px;
            }

            > .last-child{
              margin-left: 10px;
            }

          }


      }
    }

  }
  .always-in {
    span.span-to-div {
      display: inline !important;
    }
  }
}

.ie8 .alert > .ico:first-child{
  left: -50px;
}

.dualico {
  .error {
    > .ico {
      display: none !important;
    }
  }
}

@media only screen and (max-width: 620px) {
  .alert-coach .coach-content .coach-actions {
    margin-top: 15px;
  }

}

//TODO - Fix
/*
.span3 .alert > label {
  background-color: #ff0000;
}*/

