//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------


  // BUTTON RESET 
.button-reset::-moz-focus-inner {
  border:0;
  padding:0;
}
.button-reset{
  width:auto;
  border:0 none;
  margin:0;
  padding:0;
  background:transparent;
  overflow:visible;
}


// Core
.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0; 
  font-size: @baseFontSize;
  font-family: @avenirMedium;
  font-weight: normal;
  line-height: @baseLineHeight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  //.buttonBackground(#b9b9b9, #757575, #757575, 0 1px 1px rgba(255,255,255,.75));
  border: 1px solid @btnBorder;

  //Fix to darken standard button to meet WCAG
   .buttonBackground(@btnSecondaryBackground, @btnSecondaryBackgroundHighlight);
  //border-color: @grayDark;

  .border-radius(@baseBorderRadius);
  color: @white;

  // Hover/focus state
  &:hover,
  &:focus {
    color: @white;
    text-decoration: none !important;
    background-position: 0 -60px;
    //outline: 1px solid #006cd1;

    // transition is only when going to hover/focus, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    .transition(background-position .1s linear);
  }

  // Focus state for keyboard and accessibility - TODO Make sure there is replacement for focus styles
  &:focus {
    .tab-focus();
   //outline: none;
  }

  // Active state
  &.active,
  &:active{
    background-image: none !important;
    //outline: 0;
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    cursor: default;
    background-image: none;
    .opacity(65);
    .box-shadow(none);
  }

}




// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
  padding: @paddingLarge;
  .border-radius(@borderRadiusLarge);
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

// Small
.btn-small {
  padding: @paddingSmall;
  font-size: @fontSizeSmall;
  .border-radius(@borderRadiusSmall);
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}

// Mini
.btn-mini {
  padding: @paddingMini;
  font-size: @fontSizeMini;
  .border-radius(@borderRadiusSmall);
}


// Block button
// -------------------------

.btn-block {
  display: block;
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
  .box-sizing(border-box);
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}



// Alternate buttons
// --------------------------------------------------



.btn.active{
  color: @white;
  background-color: @grayDark !important;
}

// Set the backgrounds
// -------------------------
//Primary is a green gradient button
.btn-primary {
  .buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);
  
}

//Secondary buttons are dark grey gradient with hover to flat black or grey on IE8
.btn-secondary {
  .buttonBackground(@btnSecondaryBackground, @btnSecondaryBackgroundHighlight);
  border-color: @grayDark;

  .ico:last-child {
    color: #aaa;
  }

  // ie8 fix for last-child
  .ico.last-child {
    color: #aaa;
  }
}



.ie8 .btn-secondary:hover, .ie9 .btn-secondary:hover,
.ie8 .btn-secondary:focus, .ie9 .btn-secondary:focus{
    background: #666 !important;  
}

.ie8 .btn-primary:hover, .ie9 .btn-primary:hover,
.ie8 .btn-primary:focus, .ie9 .btn-primary:focus{
    background: @btnPrimaryBackground !important;  
}



// Warning appears are orange
.btn-warning {
  .buttonBackground(@btnWarningBackground, @btnWarningBackgroundHighlight);
}
// Danger and error appear as red
.btn-danger {
  .buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
}
// Success appears as green
.btn-success {
  .buttonBackground(@btnSuccessBackground, @btnSuccessBackgroundHighlight);
}
// Info appears as a neutral blue
.btn-info {
  .buttonBackground(@btnInfoBackground, @btnInfoBackgroundHighlight);
}
// Inverse appears as dark gray
.btn-inverse {
  .buttonBackground(@btnInverseBackground, @btnInverseBackgroundHighlight);
}


// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {

  // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}


// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link
[class*="btn-link"],
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  .box-shadow(none);
  font-family: @avenirMedium;
}

[class*="btn-link"] {
  border-color: transparent;
  cursor: pointer;
  color: @linkColor;
  .border-radius(0);
  background-color: transparent !important;


  // &:hover,
  // &:focus {
  //   outline: none;
  //   color: @linkColor;
  //   text-decoration: none; //Fix for firefox
  //   background-color: transparent !important;


  //   span {
  //     text-decoration: underline;

  //     &.ico {
  //       text-decoration: none !important;
  //     }  

  //   }
   
  // }

  &:hover,
  &:focus {
    outline: none;
    color: @linkColor;
    text-decoration: underline !important; //Fix for firefox
    background-color: transparent !important;


    

      & span.ico {
        display: inline-block;
        background-color: transparent !important;
        text-decoration: none !important;
       

    }
   
  }

  

  

  &[disabled]:hover,
  &[disabled]:focus {
    color: @grayDark;
    text-decoration: none;
  }

  &:first-child {
    padding-left: 0;
    border-left: 0 !important;
  }
}

//Using border-bottom for underline
.btn-link-flush{
  padding-left: 0;
  display: block;
   //border-bottom: 1px solid transparent;

  &:hover {
    //text-decoration: underline;
   // border-bottom: 1px solid #00883f;  
   //Fix for links with icons showing underline - span must be added
    span {
      text-decoration: underline;

      &.ico {
        text-decoration: none !important;
      }  
    }
  }

  &:focus {
   // text-decoration: underline;
    // border-bottom: 1px solid #00883f;
     span {
      text-decoration: underline;

      &.ico {
        text-decoration: none !important;
      }  
    }
  }
}
.btn-link-inline {
  padding: 0;
  margin: 0;
  border: 0;
  text-align: left;
  width:100%;
  display: block;
}


//TODO - Fix hover over underline on icon

[class*="btn"] {
  .ico{
    font-size: (@baseFontSize + 8);
    vertical-align: middle;
    line-height: 20px; 
  }

  > .ico {
      margin: 0 !important;
    }
}

//Icon Alignment issue on iPhone5
// .ios [class*="btn"] {
//   .ico{
//     font-size: (@baseFontSize + 8);
//     vertical-align: top;
//     line-height: 1em; 
//     background-color: #ff0000;
//     position: relative;
   

//   }
// }


//Help icon button
//-------------------------------------------------

.form-help {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  border-radius: 2em;
  padding:0px;
 }

.form-help span:first-child {
  //position off screen so screen readers can read
  position:absolute;
  left: -9999px;
}

.form-help span {
  font-size: 1.9em !important;
 }

.form-help:hover, .form-help:focus {
  text-decoration: none;
  outline: 0px dashed (@focusColor); 
}

//Processing icon replacement for button
//----------------------------------------------
/*
.btn-processing{
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0; // For input.btn
  font-size: @baseFontSize;
  font-family: @primaryFontFamily;
  font-weight: normal;
  line-height: @baseLineHeight;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background-color:#757575;
  border: 1px solid #ccc;
  .border-radius(@baseBorderRadius);
  color: @white;
}

.btn-processing .middle{
  display: table;
  margin: 0 auto;
  padding:0px;

  & div.ico{
    margin: 0 !important;
    padding:0 !important;
    line-height: 0;
    float: none !important;
    clear: none !important;
    background-color: #ffcc00;

  }

  & div.btn-processing-text{
    padding: 4px 12px 4px 0 !important;
    margin: 0 !important;

  }
}*/

.btn-processing{
   background-color:#757575;
  border: 1px solid #ccc;
  color: @white;
  padding: 11px 19px;
  margin-bottom: 0; // For input.btn
  text-align: center !important;
  font-family: @avenirMedium;

    & div{
     padding: 0 !important;
     margin: 0 !important;
     float:none !important;
     display: inline-block;
      & .ico{
       vertical-align: middle;
       padding:0 !important;
       line-height: 0;
      }
    }
  }


//Rotation of progress indicator icon
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate{
  from {   
    -moz-transform: rotate(0deg);   
  }
  to {   
    -moz-transform: rotate(360deg);   
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.btn-processing-ico{
float:left !important;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name:             rotate; 
    -moz-animation-duration:         1s; 
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name:             rotate; 
    -ms-animation-duration:         1s; 
    -ms-animation-iteration-count:  infinite;
    -ms-animation-timing-function: linear;
    animation-name:             rotate; 
    animation-duration:         1s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear;

    margin-top:9px !important;
    margin-right: 13px !important;

    font-size: (@baseFontSize + 7) !important;
    vertical-align: middle !important;
    line-height: 0 !important;

}

.btn-processing-text{
  float:left !important;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


//IE8 - IE9  polyfill - replaces font ico with animated gif
//--------------

.ie8, .ie9{
 .btn-processing-ico{
  display:none;
  visibility: hidden;
  }

  .btn-processing-text{
    padding-left:20px !important;
    background: url(../img/processing.gif) top left no-repeat;
  }
}

//Fix for the search in FAQ and insight
.background-orange-lighter .input-append,
.background-green-lighter .input-append{
  width: 100%;
}


.appendedInputButton {
  width: auto !important;
  display:inline-block !important;
  float:none !important;
  margin: 10px 0 10px 10px;
  
  //Width fix
  width: ~"calc(100% - 55px)" !important;

    + button{
    float:none !important;
    display:inline-block !important;
     width: auto !important;
     margin: 10px 10px 10px 0;
     padding:0 4px 0 4px !important;
   }
}

.ie8 .appendedInputButton {
   width: 200px !important;
}

.ie8 .background-flat-top .appendedInputButton{
  width: 495px !important;
}




// Alt style
//--------------
.btn-alt {
  background: transparent;
  color: @grayDark !important;
  border-color: #ccc;

  &:hover{
     border-color: #000 !important;
      text-decoration: underline;
  }

  &:focus{
     border-color: #000 !important;
  }

  .ico {
    color: @grayDark !important;

    &:first-child {
      padding: 0 !important;
      font-size: 1.8em !important;
      line-height: 16px !important;
      margin: 0 -5px 0 -10px !important;
      vertical-align: middle;
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
  }

  .alert-coach & {
    border-color: #a3b237;
  }
}

.btn-alt span {
  &:hover{
    text-decoration: underline !important;
  }
}
.btn-alt span span.ico {
  &:hover{
    text-decoration: none !important;
  }
}

//Custom action button for FAQ and Insight

.btn-action{ 
  background-color: #fff;
  width:100%;
  border:none;
   .border-radius(@borderRadiusLarge);
   padding:15px 10px 15px 15px;
   text-align: left;
   vertical-align: middle;   
    font-family: @rockwellBold;
    font-size: @baseFontSize;
 
   
    span{
       display:inline-block; 
    }

    
    .black-circle-number{
       margin:-2px 0 0 0 !important;
    }

    > .ico{

    position: absolute;
    right:10px;
    top:10px;
    margin:0 !important;

    background-color: #333;
   .buttonBackground(@btnSecondaryBackground, @btnSecondaryBackgroundHighlight);
   border-color: @grayDark !important;
    color:#fff;
    .border-radius(@borderRadiusLarge);
    padding: 0;
    font-size: 1.5em !important;
    line-height: 28px !important;
    width: 28px;
    height: 28px;
    text-align: center;
   }


   p, span.inside-btn{
    clear: both;
    padding-top: 10px;
    font-family: @primaryFontFamily;
    font-size: @baseFontSize;
    margin:10px 0 0px 0;
   }

  &:hover > .ico,
  &:focus > .ico {
    color: @white;
    text-decoration: none !important;
    background-position: 0 -30px;

    // transition is only when going to hover/focus, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    .transition(background-position .1s linear);
  }

  &.coach{
     background-color: @rr-section-coach-light;
  }

  &.support{
     background-color: @rr-section-support-light;
  }
}


.black-circle-number{

position: absolute;
 margin-top: 5px;

}

.black-circle-number ~ h3{
  clear: both;
  line-height: 1.1em;
  display: inline-block;


  margin-left: 40px;
}

.black-circle-number ~ p{
  clear: both;
  margin-top: 0px;

}

.black-circle-number ~ span{
 margin:0 0 0 40px ;

}

//Reset paragraph position for the support messages mobile-only link
.btn-action.messages{
  padding:15px 10px 0px 15px;

  p{
    margin: 0;
    padding: 0 40px 10px 0;
  }

  span{
    margin:0;
  } 
}

@media  only screen and (max-width: 979px) {
  .btn-processing{
    width: 100%;
  }
}

@media  only screen and (max-width: 768px) {
  .btn-alt {
    padding-left: 0;
    padding-right: 0;
    border: 0;
  }
}


// Social style
//--------------
.btn {
  &-facebook, &-twitter {
    .ico:first-child {
      color: #fff !important;
    }     
  }

  &-facebook {
    .buttonBackground(#768bb7, #3b5998);
    .ico:first-child {color: #fff !important;}
    .ico:last-child {color: #adbad4;}
    .ico.last-child {color: #adbad4;}   
  }

  &-twitter {
    .buttonBackground(#77d1f1, #3cbdeb);
    color: #333 !important;
    .ico:first-child {color: #333 !important;}
    .ico:last-child {color: #477d90;}
    .ico.last-child {color: #477d90;} 
  }
}



// Button convertion to link style
//--------------
@media  only screen and (max-width: 480px) {
  .btn {
    &-to-link {
      background: none;
      border-color: transparent;
      color: @rr-green;

      .ico:last-child {
        color: @rr-green;
      }

      &:hover, &:focus {
        color: @rr-green;

        span {
          text-decoration: underline;
        }

        .ico:last-child {
          text-decoration: none;
        }
      }
    }
  }
}


//Fix for H2 after .black-circle-number - Insight section
  .black-circle-number ~ h2{
    margin: 0;
    padding: 10px 0 3px 40px;   
    font-family: @headerFontFamily;
    font-size: @baseFontSize;  
    line-height: 20px;  
    min-height: 44px;
  }

  .btn-action .black-circle-number ~ h2, span.inside-btn-h2{
    padding:0 0 0 40px;
    margin:0;    
    //display:inline-block;
    line-height: 18px; 
    min-height: 16px;
  }

  p .btn-link-inline, p a, p button  {
    font-size: @baseFontSize !important;
    line-height: 15px !important;
    margin: 0 !important;
    padding: 0!important;   
    border:none;
  }

  //added classes for 'section coach' and 'section support' for "insight button" background
  .section-faq .coloured-background{
    background-color: @rr-section-support-light;
  }

  .section-coach .coloured-background{
    background-color: @rr-section-coach-light;
  }

  .coloured-background {
    background-color: @rr-section-default-light;
  }

  .coloured-background.button-padding {
    padding-top: 10px !important;
  }

  .coloured-background .input-append {
    width: 100%;
  }


//New Ghost button style - default white on dark backgrounds - Move to buttons.less
.btn-ghost {
  background: transparent;
  border-color: white;
  text-decoration: none !important;
  margin-bottom: 10px;

  .ico:last-child {
    color: #fff;
  }

  // ie8 fix for last-child
  .ico.last-child {
    color: #fff;
  }
}

a.btn-ghost:hover, a.btn-ghost:focus{
  background: #333 !important;
  border-color: #333;
  color: #fff !important;
  outline: none;
}

.ie8 .btn-ghost:hover, .ie9 .btn-ghost:hover,
.ie8 .btn-ghost:focus, .ie9 .btn-ghost:focus{
    background: #666 !important;  
}

//New Ghost button with green colour
.btn-ghost-green {
  background: transparent;
  border-color: #007d3b;
  text-decoration: none !important;
  margin-bottom: 10px;
  color: #007d3b;

  .ico:last-child {
    color: #007d3b;
  }

  // ie8 fix for last-child
  .ico.last-child {
    color: #007d3b;
  }
}

a.btn-ghost-green:hover, a.btn-ghost-green:focus{
  background: #333 !important;
  border-color: #333;
  color: #fff !important;
  outline: none;

   .ico:last-child {
    color: #fff;
  }
}

.ie8 .btn-ghost-green:hover, .ie9 .btn-ghost-green:hover,
.ie8 .btn-ghost-green:focus, .ie9 .btn-ghost-green:focus{
    background: #666 !important;  
    color: #fff !important;

     .ico.last-child {
    color: #fff;
  }
}

 
 