//Check boxs and Radio buttons - Custom styling using SVG and PNG Sprite-Sheets


//Default position input before .has-js applies styling
// Note: Also required for print media querie 


//Default positioning of system styled inputs
.controls label{
	padding-left: 20px;
	float:left;
	text-align: left;
	font-weight: normal;
	display: block;
	width:100%;
	position: relative;
	margin-bottom: 10px;
}

.controls > input[type="radio"]:first-child, 
.controls > input[type="checkbox"]:first-child {
	left:0;
	top:0;
	margin-top: 6px;
	position: absolute;
}

//Apply only to 'screen' so that print will use above
//Fix for IE8 not showing checkboxes - IE8 doesn't like 'only' in media querie
//@media only screen {
@media screen {
	
	.controls > input[type="radio"]:first-child, 
	.controls > input[type="checkbox"]:first-child {
	left:-9999px;
	top:0;
	margin-top: 6px;
	position: absolute;
	}

	//Custom styling and positioning with JS and Images
	.has-js .label_check,
	.has-js .label_radio { 
		padding-left: 34px; 
		width: 80%;
		text-align: left;
		font-weight: normal;
		margin-left:0px;
		margin-bottom: 10px;
		margin-right:10px;
		padding-top: 3px !important;
		margin-top: 8px;
	}
	 
	.width-full{ 
			width: 100% !important;
	}

	.span3 .controls label{
			 width:auto;//Fix for Safari
			 width: ~"calc(100% - 31px)";
	}

	//Small fix of ie8 span3
	.ie8 .span3 .controls label{
			 width:180px;         
	}

	//Set the ability ti do dual column inputs
	.has-js .form-horizontal .label_check{
		// width:220px; 
	}

	.ie8 .has-js .form-horizontal .label_check{
		 width:200px;
	}

	//Extend for inline help icon on label
	.has-js .label_check-mini{
			width:348;
	}

	//Push original system inputs off screen so screen readers can still see them
	.has-js .label_check > input:first-child,
	.has-js .label_radio > input:first-child { 
			position: absolute;
			left: -9999px; 
	}


	//CHECKBOX Styling with SVG and PNG fallback
	.has-js .label_check { 
			background: url(../img/svg-spritesheet.svg) top left no-repeat;
			 background-position:-7px -371px;
	}    

	//PNG fallback
	.ie8 .has-js .label_check,
	.no-svg .has-js .label_check { 
		background: url(../img/png-spritesheet.png) top left no-repeat; 
		background-position:-7px -371px;			
	}

	//Disabled state
	//.disabled
	.has-js label.disabled,
	.has-js label.disabled{
		background: url(../img/svg-spritesheet.svg) top left no-repeat; 
		background-position:-167px -211px;
		cursor: help;
	}

	//PNG fallback
	.ie8 .has-js .label_check .disabled,
	.ie8 .has-js .label_chec .disabled,
	.no-svg .has-js .label_check .disabled,
	.no-svg .has-js .label_check .disabled { 
		background: url(../img/png-spritesheet.png) top left no-repeat;  
		background-position:-167px -211px;
		cursor: help;
	}

	 //JS adds .c_on for checked elements
	.has-js label.c_on {
		background: url(../img/svg-spritesheet.svg) top left no-repeat; 
		background-position:-47px -331px;
	} 

	//PNG fallback
	.ie8 .has-js label.c_on,
	.no-svg .has-js label.c_on { 
		background: url(../img/png-spritesheet.png) top left no-repeat; 
		background-position:-47px -331px;
	}

	//JS adds .focus class to focussed radio/checkbox styled lables       
	.has-js .label_check:hover,
	.label_check.focus { 
		background: url(../img/svg-spritesheet.svg) top left no-repeat; 
		background-position:-87px -291px; 
	}
	//PNG fallback
	.ie8 .has-js .label_check:hover,
	.ie8 .label_check.focus,
	.no-svg .has-js .label_check:hover,
	.no-svg .label_check.focus { 
		background: url(../img/png-spritesheet.png) top left no-repeat; 
		background-position:-87px -291px; 
	}

	.has-js label.c_on:hover,
	.has-js label.c_on.focus{
		background: url(../img/svg-spritesheet.svg) top left no-repeat; 
		background-position:-127px -251px;
	}
	//PNG fallback
	.ie8 .has-js .label_check:hover,
	.ie8 .has-js .label_check.focus,
	.no-svg .has-js .label_check:hover,
	.no-svg .has-js .label_check.focus { 
		background: url(../img/png-spritesheet.png) top left no-repeat;  
		background-position:-127px -251px;
	}

	//RADIO BUTTONS Styling with SVG and PNG fallback
	.has-js .label_radio { 
		background: url(../img/svg-spritesheet.svg) top left no-repeat;
		background-position:-210px -170px
	} 

	//PNG fallback
	.ie8 .has-js .label_radio,
	.no-svg .has-js .label_radio { 
		background: url(../img/png-spritesheet.png) top left no-repeat; 
		background-position:-210px -170px
	}

	 //JS adds .c_on for checked elements
	.has-js label.r_on {
		background: url(../img/svg-spritesheet.svg) top left no-repeat; 
		background-position:-254px -130px
	}    
	//PNG fallback
	.ie8 .has-js label.r_on,
	.no-svg .has-js label.r_on { 
		background: url(../img/png-spritesheet.png) top left no-repeat; 
		background-position:-254px -130px
	}

	//JS adds .focus class to focussed radio/checkbox styled lables       
	.has-js .label_radio:hover,
	.label_radio.focus { 
		background: url(../img/svg-spritesheet.svg) top left no-repeat; 
		background-position:-298px -90px
	}
	//PNG fallback
	.ie8 .has-js .label_radio:hover,
	.ie8 .label_radio.focus,
	.no-svg .has-js .label_radio:hover,
	.no-svg .label_radio.focus { 
		background: url(../img/png-spritesheet.png) top left no-repeat; 
		background-position:-298px -90px
	}

	.has-js label.r_on:hover,
	.has-js label.r_on.focus{
		background: url(../img/svg-spritesheet.svg) top left no-repeat; 
		background-position:-342px -50px
	}
	//PNG fallback
	.ie8 .has-js .label_radio:hover,
	.ie8 .has-js .label_radio.focus,
	.no-svg .has-js .label_radio:hover,
	.no-svg .has-js .label_radio.focus { 
		background: url(../img/png-spritesheet.png) top left no-repeat;  
		background-position:-342px -50px
	}

}


@media (min-width: 979px) {
	.has-js .label_check,
	.has-js .label_radio { 
			margin-left:0px;
	}
}

@media only screen and (max-width: 768px){
	//Extend for inline help icon on label
	.has-js .label_check-mini{
		width: 85%;
	}
}

@media only screen and (max-width: 486px){
	//Extend for inline help icon on label
	.has-js .label_check-mini{
		width: 80%;
	}
}

.has-js .inline-elements .label_radio {
	width: auto;
	input, select {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 768px) {
	.has-js .inline-elements .label_radio {
		clear: both;
	}
}

@media print {
	.controls label{
		padding-left: 20px;
		float:left;
		text-align: left;
		font-weight: normal;
		display: block;
		width:100%;
		position: relative;
		margin-bottom: 10px;
	}

	.controls > input[type="radio"]:first-child, 
	.controls > input[type="checkbox"]:first-child {
		left:0;
		top:0;
		margin-top: 6px;
		position: absolute;
	}
}

/* New square checkbox UI 80px by 80px */

.has-js .label_check.square{
	background: #fff !important;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 50px 0px 8px 0px !important;
    margin-right: 10px;
    position: relative;
	overflow: hidden;
    color: #008562;
    text-decoration: none;
    text-align: center;	
    border: 1px solid #ccc;
	border-bottom: 3px solid #ccc !important;
	.border-radius(6px);

	&:before {
	    font-family: 'rr-ico';
	    font-weight: 100;
	    font-variant: normal;
	    font-size: 3em;
	    position: absolute;
	    top:0;
	    margin-top:15px;
	    left:0;
	    width: 100%;
	    text-align: center;
	    color: #999;
 	}

	&.oneoff:before {
		content: "\f746";
	}
	&.monthly:before {
		content: "\f747";
	}
	&.transfer:before {
		content: "\f748";
	}
}

	.ie8 .has-js .label_check.square{
		 width:80px;
	}

.has-js .label_check.square:hover{

 	color: #777 !important;
    background-color: #fff !important;
    border: 1px solid #999 !important;
}

.has-js .label_check.square.c_on{
	background-color: #777777 !important;
	color: #fff;
	border: 1px solid #ccc !important;
	border-top: 3px solid #666 !important;
	
	&:before {
		 color: #fff;
	}
}

.has-js .label_check.square.c_on:hover{

 	color: #777 !important;
    background-color: #fff !important;
    border: 1px solid #999 !important;


	&:before {
		 color: #999;
	}
}



