//
// Close icons
// --------------------------------------------------


.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: @baseLineHeight;
 
  &:hover,
  &:focus {
    color: @black;
    text-decoration: none;
    cursor: pointer;
  }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
button.close {
  /* padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; */
}