// COLOR FUNCTIONS
//============================================================================
// These functions are used throughout the site in order to control the vast
// ammount of color dependent on section or what section the item relates to.
//
// These functions save us writting a lot of CSS!






// MAIN MENU
//============================================================================

  // Static
  //===============================================
  #ColorMenu (@name, @color) {
    @genColorNameCheck: @name; 
    
    .get(@name) when (@name = @genColorNameCheck) { 
      //What to add to class
      a {
        &:hover, &:focus {
          .ico {color: @color;}
        }
      }

      a {
        &:hover, &:focus {
          &:after {background-color: @color;}
        }
      }

      // This is the 'on' state
      &.active {
        .ico {color: @color;}
        a:after {background-color: @color;}
      }// .active

    }// .get

    //location of class
    .module-nav .@{name} {.get(@name);}
  }

  // Dropdown
  //===============================================
  #ColorMenu (@name, @color) {
    @genColorNameCheck: @name; 
    
    .get(@name) when (@name = @genColorNameCheck) { 

      .ico {color: @color;}

      //right colour box
      &:after {background-color: @color;}
    }// .get

    //location of class
    #navigation .@{name} {.get(@name);}
  }

  // Colors
  //===============================================
  //          Class     Color
  #ColorMenu (home,     @rr-section-default);
  #ColorMenu (goals,    @rr-section-goals);
  #ColorMenu (shop,     @rr-section-shop);
  #ColorMenu (savings,  @rr-section-savings);
  #ColorMenu (coach,    @rr-section-coach);
  #ColorMenu (support,  @rr-section-support);
  #ColorMenu (profile,  @rr-section-profile);
  #ColorMenu (upgrade,  @rr-section-upgrade-light);






// SECTION COLOURS
//============================================================================
  
  // General
  //===============================================
  #ColorSection (@name, @color) {
    @genColorNameCheck: @name; 
    
    .get(@name) when (@name = @genColorNameCheck) { 

      .header-background, .section-background-colour {background-color: @color;}

    }// .get

    //location of class
    .@{name} {.get(@name);}
  }

  // Colors
  //===============================================
  //             Class     Color
  #ColorSection (section-default,  @rr-section-default-light);
  #ColorSection (section-goals,    @rr-section-goals-light);
  #ColorSection (section-shop,     @rr-section-shop-light);
  #ColorSection (section-savings,  @rr-section-savings-light);
  #ColorSection (section-coach,    @rr-section-coach-light);
  #ColorSection (section-support,  @rr-section-support-light);
  #ColorSection (section-faq,      @rr-section-support-light);
  #ColorSection (section-profile,  @rr-section-support-light);
  #ColorSection (section-upgrade,  @rr-section-upgrade-light);







// HOMEPAGES
//============================================================================
  
  // General
  //===============================================
  #ColorHomepage (@name, @color, @color2, @textColor, @icon, @iconOpacity, @iconSize, @iconBottom, @iconRight, @iconTopMob, @iconRightMob) {
    @genColorNameCheck: @name; 
    
    .get(@name) when (@name = @genColorNameCheck) { 

      //What to add to class
      .hero {//                @startColor    @endColor
        //#gradient.vertical (fade(#fff, 25%),  @color);
        //Fix removing gradients for contrast.
        background-color: @color;

        header {
          h1, p, .hero-video {
            color: @textColor;
          }
        }

        header:after {
         
          content: @icon;         
          color: @color2;
          font-size: @iconSize;
          bottom: @iconBottom;
          right: @iconRight;
          
          -moz-opacity: @iconOpacity;   /* Netscape */
          -khtml-opacity: @iconOpacity; /* Safari 1.x */
          opacity: @iconOpacity;        /* Good browsers */

        }

      }

      .feature-box {

        .ico:first-child {
          color: @color;
        }

        &:after {
          background: @color;
        }
      }

      .equal-box {

        .ico:first-child {
          color: @color;
        }

        &:after {
          background: @color;
        }
      }

      .add-space .feature-box-double {

          &:after {
            display: none;
          }

        .link-container:after {
          background: @color;
        }
      }

      .visual-wrapper {color: @color;}

      @media only screen and (max-width: 600px) {
          .hero {
              header {
                  &:after {
                      font-size: (@iconSize - 50);
                      top: @iconTopMob;
                      right: @iconRightMob;
                  }
              }//header
          }//.hero
      }
    }// .get

    //location of class
    .@{name} {.get(@name);}
  }

  // Colors
  //===============================================
  //              Class             colour (default)      colour2 (light)             textColor   icon      icon opacity  icon size   icon bottom   icon right    icon top mob  icon right mob
  #ColorHomepage (section-default,  @rr-section-default,  @rr-section-default-light,  @white,     "\f700",  0.15,         445px,      -142px,       15%,          13px,         -180px);
  #ColorHomepage (section-goals,    @rr-section-goals,    @rr-section-goals-light,    #232323,    "\f727",  0.17,         445px,      -130px,       16%,          -2px,         -170px);
  #ColorHomepage (section-shop,     @rr-section-shop,     @rr-section-shop-light,     @white,     "\f705",  0.14,         370px,      -85px,        20%,          20px,         -120px);
  #ColorHomepage (section-savings,  @rr-section-savings,  @rr-section-savings-light,  #232323,    "\f703",  0.29,         395px,      -100px,       16%,          20px,         -140px);
  #ColorHomepage (section-coach,    @rr-section-coach,    @rr-section-coach-light,    #232323,    "\f700",  0.33,         440px,      -140px,       15%,          13px,         -180px);
  #ColorHomepage (section-support,  @rr-section-support,  @rr-section-support-light,  #232323,    "\f702",  0.22,         420px,      -120px,       15%,          10px,         -180px);
  #ColorHomepage (section-done,     @white,               @white,                     @grayDark,  "\f702",  0.22,         420px,      -120px,       15%,          10px,         -180px);
  //RiZone colours
  #ColorHomepage (section-rizone,  @rz-primary-dark,  @rr-section-default-light,  @white,     "\f700",  0.15,         445px,      -142px,       15%,          13px,         -180px);







// FUND SELECTOR
//============================================================================
  
  // Fund boxes
  //===============================================
  .fundButtonFormat(@fundColor: #FFCC00, @fundColorLight: #FF0000, @fundFontColor: #FFF){

    // MIXINS (only used in this LESS)
    //==========================================================================
    // .smallSelectorColours {
    //  .btn-selector {
    //    // color: @fundFontColor !important;
    //    background-color: @fundColor;

    //    span{
    //      color: @fundFontColor;
    //    }

    //    &:hover, &:focus{
    //      background: @fundColor;
    //      #gradient > .vertical(@fundColorLight, @fundColor);
    //    }
    //  } //.btn-selector

    //  .enlarged {
    //    p {
    //      color: @fundFontColor;
    //    }
    //  } // .enlarged
    // } // .smallSelectorColours (mixin)


    // BUILD
    //==========================================================================
    .btn-selector {
      border-color: @fundColor;

      .ico {
        color: @fundColor;
      }

      &:hover, &:focus{
        background-color: @fundColor;
        color: @fundFontColor !important;
        border-color: @fundColor;
        #gradient > .vertical(@fundColorLight, @fundColor); 

        p span {
          color: @fundFontColor;
        }
      }

    } // .btn-selector

    .enlarged, .selected {
      background-color: @fundColor !important;
      color: @fundFontColor !important;
      border-color: @fundColor;
      #gradient > .vertical(@fundColorLight, @fundColor);

      &:hover, &:focus {
        background: @fundColor;
      }

      .ico {
        color: @fundFontColor;
      }
    } // .enlarged



    // Small style
    // @media   only screen and (min-width: 768px) and (max-width: 979px),
    //        only screen and (max-width: 580px),
    //        print { 

    //  .smallSelectorColours ();
    // } // @media small sytle


    // // Goal planner overrides
    // @media   only screen and (min-width: 979px),
    //        only screen and (min-width: 581px) and (max-width: 767px) {
    //  .span6 & {
    //    .smallSelectorColours ();
    //  }
    // } // @media Goal planner overrides
  }
  
  // Colors
  //===============================================
  // Class                      fundColor           fundColorLight      fundFontColor
  .risk-level, .fund {
    &-1     {.fundButtonFormat( @rr-fund-a-light,   @rr-fund-a,         @white    );}
    &-2     {.fundButtonFormat( @rr-fund-b,         @rr-fund-b-light,   @grayDark );}
    &-3     {.fundButtonFormat( @rr-fund-c,         @rr-fund-c-light,   @grayDark );}
    &-4     {.fundButtonFormat( @rr-fund-d,         @rr-fund-d-light,   @grayDark );}
    &-5     {.fundButtonFormat( @rr-fund-e-light,   @rr-fund-e,         @white    );} 
    &-aegon {.fundButtonFormat( #3d90dd,            #6ab1ef,            @white    );}
  }
  

  // Risk information bubbles
  //===============================================
  .selected-risk-level-info(@fundColor: #FFCC00, @fundColorLight: #FF0000, @fundFontColor: #FFF, @location: 45% ){
      background-color: @fundColor;
      color: @fundFontColor !important;
      text-shadow:none;
      border-color: @fundColor;
      
      &:after, &:before{ 
        left: @location;
        border-top-color: @fundColor;

      }

      .user&:after{ 
        left:@location;
        border-bottom-color: @fundColor;
      }

      .top&:before{ 
        left:@location;
        border-top-color: @fundColor;
      } 
  }
  
  // Colors
  //===============================================
  // Class                          fundColor       fundColorLight      fundFontColor   location
  .risk {
    &-0 {.selected-risk-level-info( @grayLighter,   @grayLighter,       @rr-gray,       50%   );  &:after{display: none;}}
    &-1 {.selected-risk-level-info( @rr-fund-a,     @rr-fund-a-light,   @white,         9%    );}
    &-2 {.selected-risk-level-info( @rr-fund-b,     @rr-fund-b-light,   @rr-gray,       29%   );}
    &-3 {.selected-risk-level-info( @rr-fund-c,     @rr-fund-c-light,   @rr-gray,       50%   );}
    &-4 {.selected-risk-level-info( @rr-fund-d,     @rr-fund-d-light,   @rr-gray,       70.5% );}
    &-5 {.selected-risk-level-info( @rr-fund-e,     @rr-fund-e-light,   @white,         91%   );}
  }



  // Fund boxes
  //===============================================
  .fundButtonFormat(@fundColor: #FFCC00, @fundColorLight: #FF0000, @fundFontColor: #FFF){

    color: @fundFontColor;
    #gradient > .vertical(@fundColorLight, @fundColor);
    

  }
  
  // Colors
  //===============================================
  // Class                      fundColor           fundColorLight      fundFontColor
  .investment.risk-level {
    &-1     {.fundButtonFormat( @rr-fund-a-light,   @rr-fund-a,         @white    );}
    &-2     {.fundButtonFormat( @rr-fund-b,         @rr-fund-b-light,   @grayDark );}
    &-3     {.fundButtonFormat( @rr-fund-c,         @rr-fund-c-light,   @grayDark );}
    &-4     {.fundButtonFormat( @rr-fund-d,         @rr-fund-d-light,   @grayDark );}
    &-5     {.fundButtonFormat( @rr-fund-e-light,   @rr-fund-e,         @white    );}
  }

  // Fund boxes
  //===============================================
  .fundButtonFormat(@fundColor: #FFCC00, @fundColorLight: #FF0000, @fundFontColor: #FFF){

    color: @fundFontColor;
    #gradient > .vertical(@fundColorLight, @fundColor);
    

  }
  
  // Colors
  //===============================================
  // Class                      fundColor           fundColorLight      fundFontColor
  .investment {
    &-aegon {.fundButtonFormat( #3d90dd,            #6ab1ef,            @white    );}
  }







// FEATURE BOXES
//============================================================================
  
  // Single features
  //===============================================
  #ColorFeatureBox (@name, @color) {
    @genColorNameCheck: @name; 
    
    .get(@name) when (@name = @genColorNameCheck) { 
      //What to add to class
      
      .ico:first-child {color: @color !important;}

      &:after {background: @color !important;}

    }// .get

    //location of class
    .@{name} {.get(@name);}
  }
  
  // Colors
  //===============================================
  //                Class                       Color
  #ColorFeatureBox (feature-light-green,        @rr-lightgreen);
  #ColorFeatureBox (feature-green,              @rr-green);
  #ColorFeatureBox (feature-gray,               @rr-gray);
  #ColorFeatureBox (feature-blue,               @rr-blue);
  #ColorFeatureBox (feature-light-blue,         @rr-lightblue);
  #ColorFeatureBox (feature-cyan,               @rr-cyan);
  #ColorFeatureBox (feature-purple,             @rr-purple);
  #ColorFeatureBox (feature-orange,             @rr-orange);
  #ColorFeatureBox (feature-red,                @rr-red);
  #ColorFeatureBox (feature-yellow,             @rr-yellow);
  #ColorFeatureBox (feature-pastel-light-green, @rr-pastel-light-green);
  #ColorFeatureBox (feature-pastel-green,       @rr-pastel-green);
  #ColorFeatureBox (feature-aegon-blue,         @aegon-blue);
  

  // Double features
  //===============================================
  #ColorFeatureBoxDouble (@name, @color, @color2) {
    @genColorNameCheck: @name; 
    
    .get(@name) when (@name = @genColorNameCheck) { 
      //What to add to class

      // Icon colour
      .visual-wrapper-ico {
        .ico {color: @color2;}
        &:first-child .ico {color: @color;}
      }

      // Pseudo colour
      .link-container {
        &:after {background: @color2 !important;}
      }

      .link-container {
        &:first-child:after {background: @color !important;}
      }
    }// .get

    //location of class
    .panel.@{name} {.get(@name);}
  }
  
  // Colors
  //===============================================
  //                      Class                              Col colour 1            Col colour 2
  #ColorFeatureBoxDouble (feature-box-social,                #3b5998,                #3cbdeb);
  #ColorFeatureBoxDouble (feature-box-investments,           @rr-pastel-light-green, @rr-pastel-green);
  #ColorFeatureBoxDouble (feature-box-investment-safeguards, @rr-purple,             @rr-purple);






// ICONS
//============================================================================
  
  // General
  //===============================================  
  #ColorIco (@name, @color) {
    @genColorNameCheck: @name; 
    
    .get(@name) when (@name = @genColorNameCheck) { 
      //What to add to class
      
      color: @color;

    }// .get

    //location of class
    .@{name} {.get(@name);}
  }
  
  // Colors
  //===============================================
  //         Class                   Colour
  #ColorIco (ico-light-green,        @rr-lightgreen);
  #ColorIco (ico-green,              @rr-green);
  #ColorIco (ico-gray,               @rr-gray);
  #ColorIco (ico-blue,               @rr-blue);
  #ColorIco (ico-light-blue,         @rr-lightblue);
  #ColorIco (ico-cyan,               @rr-cyan);
  #ColorIco (ico-purple,             @rr-purple);
  #ColorIco (ico-orange,             @rr-orange);
  #ColorIco (ico-red,                @rr-red);
  #ColorIco (ico-yellow,             @rr-yellow);
  #ColorIco (ico-pastel-light-green, @rr-pastel-light-green);
  #ColorIco (ico-pastel-green,       @rr-pastel-green);
  #ColorIco (ico-aegon-blue,         @aegon-blue);






// FEATURE LIST
//============================================================================
  
  // General
  //===============================================   
  #ColorFeatureList (@name, @color) {
    @genColorNameCheck: @name; 
    
    .get(@name) when (@name = @genColorNameCheck) { 
      //What to add to class
      
      .ico:first-child {color: @color;}

      li {border-color: @color;}

    }// .get

    //location of class
    .@{name} {.get(@name);}
  }
  
  // Colors
  //=============================================== 
  //                 Class                Colour
  #ColorFeatureList (feature-list-green,  @rr-green);
  #ColorFeatureList (feature-list-yellow, @rr-yellow);






// SAVINGS
//============================================================================
  
  // Main column information
  //===============================================
  #ColorSavings (@name, @color, @color2) {
    @genColorNameCheck: @name; 
    
    .get(@name) when (@name = @genColorNameCheck) { 
      //What to add to class
      // Menu
      li& {
        a:hover,
        a:focus,
        &.active a { 
          background: @color;
        }
        
        a:before {
          background: @color2;
        }

        &.active .ico {
          color: @color2 !important;
        }
      }// li&

      // Main column information
      .accordion-toggle {
        background: @color;

        & + .collapse.in {
          border-color: @color2;
        }
      }
      .performance div > .ico {
        color: @color2;
      }
      .performance p.total {
        border-color: @color2;
      }
      th {
        border-color: @color2;
        background: @color;
      }
    }// .get

    //location of class
    .@{name} {.get(@name);}
  }

  //             Class            Color                       Color2
  #ColorSavings (savings-total,   @rr-section-savings-light,  @rr-section-savings);
  #ColorSavings (savings-pension, @rr-savings-pension-light,  @rr-savings-pension);
  #ColorSavings (savings-isa,     @rr-savings-isa-light,      @rr-savings-isa);
  #ColorSavings (savings-memo,    @rr-savings-memo-light,     @rr-savings-memo);





// MAILBOX
//============================================================================
  // Menu
  //===============================================
  #ColorMailbox (@name, @color, @color2, @color3) {
    @genColorNameCheck: @name; 
    
    .get(@name) when (@name = @genColorNameCheck) { 
      //What to add to class    
      
      &.mailbox-unread,
      &.mailbox-read,
      &.mailbox-selected {
        a{ 
          background: @color;

          &:before {
            background: @color2;
          }

          &:hover,
          &:focus { 
            background: @color3;
          }
        }
      }

      // Set the selected arror color to match the background
      &.mailbox-selected {
        .ico {
          color: @color2 !important;
        } // .ico
      }
    }// .get

    //location of class
    .@{name} {.get(@name);}
  }

  //             Class                      Color                       Color2                Color3
  #ColorMailbox (mailbox-unread,            @rr-section-support-light,  @rr-section-support,  #f8c188);
  #ColorMailbox (mailbox-read,              #fff,                       @grayLt,              @grayLighter);
  #ColorMailbox (mailbox-selected,          @grayLighter,               #8f8d8f,              @grayLighterTint);


  // Reply messages
  //===============================================
  #ColorMailbox2 (@name, @color, @color2) {
    @genColorNameCheck: @name; 
    
    .get(@name) when (@name = @genColorNameCheck) { 
      //What to add to class   

      &[class*="horizontal"] {
        a:before {
          background: @color2;
        }
      }
    }// .get

    //location of class
    .@{name} {.get(@name);}
  }

  //              Class                      Color                       Color2
  #ColorMailbox2 (horizontal-mailbox-unread, @rr-section-support-light,  @rr-section-support);
  #ColorMailbox2 (horizontal-mailbox-read,   @rr-savings-memo-light,     @grayLt);



// FUND SELECTOR
//============================================================================
  
  // Fund boxes
  //===============================================
  .riskSelectorBtn(@fundColor: #FFCC00, @fundFontColor: #FFF){


    // BUILD
    //==========================================================================
    .risk-selector-btn {
      border-color: @fundColor;

      &:hover, &:focus{
        background-color: @fundColor;
        color: @fundFontColor !important;
        border-color: @fundColor;
      }

    } // .btn-selector

    .risk-selector-selected {
      background-color: @fundColor !important;
      color: @fundFontColor !important;
      border-color: @fundColor;

      &:hover, &:focus {
        background: @fundColor;
      }
    } // .selected
  }
  
  // Colors
  //===============================================
  // Class                     fundColor            fundFontColor
  .risk-level {
    &-1     {.riskSelectorBtn( @rr-fund-a-light,   @white    );}
    &-2     {.riskSelectorBtn( @rr-fund-b,         @grayDark );}
    &-3     {.riskSelectorBtn( @rr-fund-c,         @grayDark );}
    &-4     {.riskSelectorBtn( @rr-fund-d,         @grayDark );}
    &-5     {.riskSelectorBtn( @rr-fund-e-light,   @white    );}
  }