
// /* Default feature-ad */
// .feature-ad {
// 	position: relative;
// 	display: block;
// 	background-color: #FFFFFF;
// 	padding:20px;	
// 	overflow: hidden;
// 	border-radius: 6px;
// 	margin: 0 0 0 0;
// 	margin-bottom: 20px;
// 	clear: both;
// }


// .feature-ad h3,.feature-ad h4,.feature-ad h5,.feature-ad h6, .feature-ad p{
// 	display: block;
// 	width: 65%;
// 	float:left;
// 	margin:0px;
// 	padding:0px;
// 	position: relative;
// }

// .feature-ad p{	
// 	margin: 10px 0;
// }

// .feature-ad span{
// 	float:right;
// 	display: block;
// 	position: relative;
// 	top: 0;	
// }




// /*
// .feature-ad {
// 	position: relative;
// 	display: block;
// 	background-color: #FFFFFF;
// 	padding:20px 20px 20px 100px;
// 	// font-size: 18px;
// 	overflow: hidden;
// 	border-radius: 6px;
// 	clear:both;
// 	margin-bottom: 20px;

// }



// .feature-ad:before{
// 	position: absolute;
// 	top:15px;
// 	left:15px;
// 	background-color: transparent;
// 	display: block;
// 	width: 68px;
// 	height: 68px;
// 	color: #008562;
// 	font-family: "rr-ico";
// 	font-size: 68px;
// 	line-height: 1em;
// 	vertical-align: middle;
// 	content: "";
// 	overflow: hidden;
// }

// .feature-ad.ico-clock:before{
// 	content: "\f700";
// }


// .feature-ad h3,.feature-ad h4,.feature-ad h5,.feature-ad h6, .feature-ad p{
// 	display: block;
// 	width: 65%;
// 	float:left;
// 	margin:0px;
// 	padding:0px;
// }

// .feature-ad p{	
// 	margin: 10px 0;
// }

// .feature-ad span{
// 	float:right;
// 	display: block;
// 	position: relative;
// 	top: 0;	
// }
// */

// /* Mixin */

// /*Change the :before so that its a large background */
// .setLeftGfxLargeBehind(@parent,@child){

// 	.@{parent}:before{
// 	position: absolute;
// 	top:15px;
// 	left:0px;
// 	background-color: transparent;
// 	display: block;
// 	width: 68px;
// 	height: 68px;
// 	color: #ccc;
// 	font-family: "rr-ico";
// 	font-size: 200px;
// 	line-height: 1em;
// 	vertical-align: middle;
// 	overflow: visible;
// 	}

// }



// /*Change the :before so that its a small icon inline */
// .setLeftGfxSmall(@parent,@child){

// 	.@{parent}.@{child} {
// 	padding:20px 20px 20px 100px;
// 	}


// 	.@{parent}.@{child}:before{
// 	position: absolute;
// 	top:15px;
// 	left:15px;
// 	background-color: transparent;
// 	display: block;
// 	width: 68px;
// 	height: 68px;
// 	color: #008562;
// 	font-family: "rr-ico";
// 	font-size: 68px;
// 	line-height: 1em;
// 	vertical-align: middle;
// 	overflow: hidden;
// 	}

// }

// .setLeftPadding(@parent,@child){

// 	.@{parent}.@{child} h4, .@{parent}.@{child} p{
// 		display: block;
// 		width: 100%;
// 		float:none;
// 		padding-left: 100px;
// 	}

// 	.@{parent}.@{child} span{
// 		float: none;
// 		width:auto;
// 		padding-left: 100px;
// 	}

// 	.@{parent}.@{child} a{
// 		display: inline-block;
// 	}

// }


// .setEveryingCenter(@parent,@child){
// 	.@{parent}.@{child}{
// 		text-align: center;
		
// 		h4,p{
// 			padding:0;
// 		}
// 	}
// }


// // .setForFull(@parent,@child) {

// //  .@{parent}.@{child}{
// // 		padding:20px 20px 20px 230px;
// // 	}

// // 	.@{parent}.@{child} h4, .@{parent}.@{child} p{
// // 		display: block;
// // 		width: 100%;
// // 		float:none;
// // 	}

// //     .@{parent}.@{child} span{
// //     	float:none;
// //     	display:inline-block;
// //     }

// //     .@{parent}.@{child}:before{
// // 	position: absolute;
// // 	top:15px;
// // 	left:0px;
// // 	background-color: transparent;
// // 	display: block;
// // 	width: 68px;
// // 	height: 68px;
// // 	color: #ccc;
// // 	font-family: "rr-ico";
// // 	font-size: 200px;
// // 	line-height: 1em;
// // 	vertical-align: middle;
// // 	overflow: visible;
// // 	}
// // }

// // /*Corrects advert so that text is centered and button centered, also pshedo if there*/
// // .setForSmall(@parent,@child) {

// // 	.@{parent}.@{child}{
// // 	padding:10px;
// // 	text-align: center;
// // 	}

// // 	.@{parent}.@{child}:before{
// // 	position: relative;
// // 	top:auto;
// // 	left:auto;	
// // 	margin: 0 auto;
// // 	width: 68px;
// // 	height: 68px;
// // 	color: #008562;
// // 	font-size: 68px;
// // 	overflow: hidden;	
// // 	}
// // }



// /* Adjuster classes for main colours */
// .feature-ad.set-light{
// 	background-color: #EFEFEF;
// }

// .feature-ad.set-dark{
// 	background-color: #545454;
// 	color: #FFF;
// }


// /* Adjuster classes for left icon usage */
// .feature-ad.ico-clock:before{
// 	content: "\f700";
// }


// /* == Make up adverts out of parts and mixins == */
// /* Default desktop querie */


// .setLeftGfxLargeBehind(feature-ad,third-span);
// .setLeftPadding(feature-ad,third-span);

// .setLeftGfxSmall(feature-ad,full-span);


// /*Mid layout*/
// @media screen and (max-width: 920px) {
 
// .setLeftPadding(feature-ad,full-span);
// .setLeftGfxLargeBehind(feature-ad,full-span);


// .setLeftGfxSmall(feature-ad,third-span);

// }

// /*Small layout*/
// @media screen and (max-width: 540px) {
	
// 	.setEveryingCenter(feature-ad,full-span);
// }



/* Adverts for different sizes and content */


.promo-ban {
	position: relative;
	display: block;
	background-color: #FFFFFF;
	padding:20px;	
	overflow: hidden;
	border-radius: 6px;
	margin: 0 0 20px 0;
	clear: both;
}

.promo-ban.two{	
	text-align: left;
	background-color: #EFEFEF;
	padding: 20px 20px 20px 110px;
	overflow: visible;

	h2,h3,h4,h5,h6{
		color: #333;
		font-size: 1.3em;
		display: block;
    position: relative;
    z-index: 1;
     max-width: 65%;
	}

	&::before{
	position: absolute;
	top:20px;
	left:10px;
	background-color: transparent;
	display: block;
	width: 58px;
	height: 68px;
	color: #008562;
	font-family: "rr-ico";
	font-size: 90px;
	line-height: 1em;
	vertical-align: middle;
	}

	p, .btn{
	position: relative;
    z-index: 1;
    max-width: 65%;
	}

	img{
		position: absolute;
		bottom:0;
		right:20px;
		width: 30%;
		margin-top: -30px;
		vertical-align: baseline;

	}
}



.promo-ban.three{	
	text-align: center;
	background-color: #EFEFEF;	

	h2,h3,h4,h5,h6{
		color: #333;
		font-size: 1.3em;
		display: block;
    position: relative;
    z-index: 1;
	}

	&::before{
	position: absolute;
	top:0;
	left:0;
	background-color: transparent;
	display: block;
	width: 68px;
	height: 68px;
	color: #F7F7F7;
	font-family: "rr-ico";
	font-size: 260px;
	line-height: 1em;
	vertical-align: middle;
	z-index: 1;
	}

	p, .btn{
	position: relative;
    z-index: 1;
	}
}

.promo-ban.ico-clock:before{
	content: "\f700";
}

.promo-ban.dark{
	background-color: #545454;
	color: #fff;

	h2,h3,h4,h5,h6{
		color: #fff;
	}

	&::before{
		color: #616161;
	}
}

.promo-ban.light{
	background-color: #EFEFEF;
	color: #333;

	h2,h3,h4,h5,h6{
		color: #333;
	}

	&::before{
		color: #008562;
	}
}


.invertBtn{
	background: none;
	border: 1px solid #fff;

	&:hover,&:focus{
		color:#545454;
		background-color: #fff;
	}


}



/*Mid layout*/
@media screen and (max-width: 711px) {
 .promo-ban.two{
 	text-align: center;
 	padding:20px;
	
	h2,h3,h4,h5,h6,p,img{
	
 		max-width: 100%;
	 }

 	&::before{
	position: relative;
	top:0;
	left:0;
	background-color: transparent;
	display: block;
	margin: 0 auto;
	width: 90px;
	height: 90px;
	color: #008562;
	font-family: "rr-ico";
	font-size: 90px;
	line-height: 1em;
	vertical-align: middle;
	}

 }
	.promo-ban.two img{	
		display: none;
	}



}



