// FONTS
//============================================================================
// The fonts purchased from Fonts.com include:
// 		- Avenir (Light, Medium, Heavy)
//		- Rockwell (Normal, Bold)
//
// This file also includes the Retireready icon set which has been converted - icomoon
// into its own font family. (rr-ico)



// AVENIR
//============================================================================
@font-face{
	font-family:"Avenir LT W01 35 Light";
	src:url("../fonts/webFonts/AvenirLTW0135Light.eot");
	src:url("../fonts/webFonts/AvenirLTW0135Light.eot?#iefix") format("eot"),
			url("../fonts/webFonts/AvenirLTW0135Light.woff") format("woff"),
			url("../fonts/webFonts/AvenirLTW0135Light.ttf") format("truetype"),
			url("../fonts/webFonts/AvenirLTW0135Light.svg") format("svg");
}

@font-face{
	font-family:"Avenir LT W01 65 Medium";
	src:url("../fonts/webFonts/AvenirLTW0165Medium.eot");
	src:url("../fonts/webFonts/AvenirLTW0165Medium.eot?#iefix") format("eot"),
			url("../fonts/webFonts/AvenirLTW0165Medium.woff") format("woff"),
			url("../fonts/webFonts/AvenirLTW0165Medium.ttf") format("truetype"),
			url("../fonts/webFonts/AvenirLTW0165Medium.svg") format("svg");
} 

@font-face{
	font-family:"Avenir LT W01 85 Heavy";
	src:url("../fonts/webFonts/AvenirLTW0185Heavy.eot");
	src:url("../fonts/webFonts/AvenirLTW0185Heavy.eot?#iefix") format("eot"),
			url("../fonts/webFonts/AvenirLTW0185Heavy.woff") format("woff"),
			url("../fonts/webFonts/AvenirLTW0185Heavy.ttf") format("truetype"),
			url("../fonts/webFonts/AvenirLTW0185Heavy.svg") format("svg");
	font-weight: normal;
	font-style: normal;
} 



// ROCKWELL
//============================================================================
@font-face{
	font-family:"Rockwell W01";
	src:url("../fonts/webFonts/RockwellW01.eot?#iefix");
	src:url("../fonts/webFonts/RockwellW01.eot?#iefix") format("eot"),
			url("../fonts/webFonts/RockwellW01.woff") format("woff"),
			url("../fonts/webFonts/RockwellW01.ttf") format("truetype"),
			url("../fonts/webFonts/RockwellW01.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family:"Rockwell W01 Bold";
	src:url("../fonts/webFonts/RockwellW01Bold.eot");
	src:url("../fonts/webFonts/RockwellW01Bold.eot?#iefix") format("eot"),
			url("../fonts/webFonts/RockwellW01Bold.woff") format("woff"),
			url("../fonts/webFonts/RockwellW01Bold.ttf") format("truetype"),
			url("../fonts/webFonts/RockwellW01Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}



// ICONS
//============================================================================
@font-face {
	font-family: "rr-ico";
	src:url("../fonts/rr-ico.eot");
	src:url("../fonts/rr-ico.eot?#iefix") format("eot"),
			url("../fonts/rr-ico.woff") format("woff"),
			url("../fonts/rr-ico.ttf") format("truetype"),
			url("../fonts/rr-ico.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.ico {
	font-family: "rr-ico" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	speak: none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} 

.ico.ico-large {
	font-size: 1.5em;
	vertical-align: sub;
}

.ico.ico-inline{
  text-decoration: none;
  color: @grayLight;
  vertical-align: middle;
  font-size: 30px !important;

  &:hover{
    color: @rr-green;
    text-decoration: none !important;
  }
}



//Fix for Chrome rendering bug - TODO need to talk about as makes text lighter on mac
@media only screen and (-webkit-min-device-pixel-ratio:0) {
	
	@font-face {
		font-family: "Avenir LT W01 35 Light";
		src: url("../fonts/webFonts/AvenirLTW0135Light.svg") format("svg");
	}

	@font-face {
		font-family: "Avenir LT W01 65 Medium";
		src: url("../fonts/webFonts/AvenirLTW0165Medium.svg") format("svg");
	}

	@font-face {
		font-family: "Avenir LT W01 85 Heavy";
		src: url("../fonts/webFonts/AvenirLTW0185Heavy.svg") format("svg");
	}

	@font-face{
		font-family: "Rockwell W01";
		src: url("../fonts/webFonts/RockwellW01.svg") format("svg");
	}
	
	@font-face{
		font-family: "Rockwell W01 Bold";
		src: url("../fonts/webFonts/RockwellW01Bold.svg") format("svg");
	}
	
	@font-face{
		font-family: "rr-ico";
		src: url('../fonts/rr-ico.svg') format('svg');
	}
	
}