// FOOTER
//============================================================================
// These styles are used to style the main page footer and position it at the
// bottom.






// CORE
//============================================================================
#full-width-footer {
  width: 100%;
  border-top: 1px solid #ccc;
}

.footer {
  margin: 15px 15px;
  font-size: (@baseFontSize - 2);

  a {
    color: @gray;
    font-family: @avenirLight;
    font-size: (@baseFontSize - 2);
  }// a

  &-left {
    float: left;
    width: 100px;

    a {
      display: block;     
      widows: 100%;

      &:hover {
        text-decoration: none;
      }// &:hover

      img {     
        display: inline-block;
      }// img
    }// a
  }// &-left

  &-right {
    float:right;
    .clearfix();
  }// &-right

  ul{
    list-style: none;
    margin: 0;
    text-align: right;
  }// ul

  li{
    padding: 0;
    display: inline-block;
    margin-right: 20px;
    white-space: nowrap;
  }// li

  &-statement{
    margin: 20px 0;
  }// &statement
}// .footer

// Panel for view items as a fixed bottom element
#fixed-footer {
  position: absolute;
  bottom: 0;
  z-index: 150; 
  margin: 0 10px 0 0;

  &:focus, #cookie-statement {
    outline:none;
  }// &:focus, #cookie-statement

  .fixed-supported & { 
    position: fixed; 
  }// .fixed-supported &
}// #fixed-footer


// JS Fix for conflict with virtual keyboard
.fixfixed #fixed-footer { 
    position: absolute !important; 
} 





// MEDIA QUERIES
//============================================================================
@media only screen and (max-width: 790px) {

  .footer {

   

    &-left {
      float: none;

      a:hover {
        text-decoration: none;
      }// a:hover
    }// &-left

    &-right {
      float: none;
      margin-top: 20px;
      .clearfix();
    }// &-right

    ul {
      .clearfix();
      clear: left;
      float: none;
    }// ul

    li {
      width: 50%;
      float: left;
      margin-right: 0;
      text-align: left;
      margin-bottom: 5px;

      &:nth-child(even) {
        text-align: right;  
      }// &:nth-child
    }// li
  }// .footer
}// @media