//
// Forms
// --------------------------------------------------


// GENERAL STYLES
// --------------


// Make all forms have space below them
form {
  margin: 0 0 20px;
  min-height: 20px;
  .border-radius(@baseBorderRadius);
  .clearfix();
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
  
  //Search box
  .span12 > .span3 > & {
    margin-bottom: 0;

    fieldset {
      margin-bottom: 0;
    }
  }
}

fieldset {
  padding: 0;
  margin: 0 0 10px 0;
  border: 0;
  background-color:  @formBackgroundColour;
  .border-radius(@baseBorderRadius);
  
  label{
  //FIX to text align in goals and goal Q3
  text-align: left;
  }
}


// Groups of fields with labels on top (legends)
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: @baseLineHeight;
  font-size: @baseFontSize * 1.5;
  line-height: @baseLineHeight * 2;
  border: 0;
  border-bottom: 1px solid #e5e5e5;

  .control-group & {
    color: @grayDark;
    width: auto;
    border: 0;
    line-height: 1.3em;
  }

  .form-verticle .control-group & {
    text-align: left
  }

  // Small
  small {
    font-size: @baseLineHeight * .75;
    color: @grayLight;
  }
}

// Headings in forms
form h3, form .header-tag{ 
    border-bottom: 1px solid @white; //White border used as hr
    padding: @padding 0 @padding @padding;
    margin: 0;
    font-family: @rockwellBold;
    font-size: (@baseFontSize + 1);
    line-height: 1em;

}



// Set font for forms
label,
input,
button,
select,
textarea,
.labeltxt {
 // color: @grayDark;
}
input,
button,
select,
textarea {
  font-family: @avenirLight; // And only set font-family here for those that need it (note the missing label element)
}

// Identify controls by their labels
label, .labeltxt {
  display: inline-block;
  margin-bottom: 5px;
  font-size: (@baseFontSize);
  font-weight: normal;
  font-family: @avenirMedium;

  float: left;
  padding-top: 5px;
  text-align: right;

  .form-horizontal & {
    width: 215px;
  }

  &.checkbox {
    font-weight: 400;
    text-align: left;
  }

  &.radio {
    font-weight: 400;
    text-align: left;
  }
}

.help-modal-body label, .help-modal-body .labeltxt{
	text-align: left;
}

//Fix for text in selection dropdowns - weird characters
select, option, optgroup {
  font-family: Helvetica, Arial, sans-serif !important;
}



.controls label, .controls .labeltxt {
  width: 250px;
  font-family: @avenirLight;

  &.btn {
    width: auto;
    padding-left: 12px;
    margin: 0 10px 10px 0 !important;
    font-family: @avenirMedium !important;

    background: @white;
    color: @rr-green;
    box-shadow: none;
    border: 1px solid @rr-green; //Fallback
    border: 1px solid  rgba(0, 136, 63, 0.25);

    &:hover {
      color: @white;
      background: #145e34 !important;
    }

    &.focus {
      .tab-focus() !important;
    }

    &.c_on {
      background: @rr-green !important;
      color: @white;
    }

    &.c_on.focus {
      background: @rr-green !important;
    }

    &.c_on:hover {
      background: #145e34 !important;
    }

    input {
      position: absolute;
      top: -9999px;
    }
  }

  > input + span {
    float: left;
    margin: 0 10px 6px 0;

    select {
      margin-top: -4px;
    }
  }

  > input + span + select{
    margin-top: -4px;
  }

  .row {
    margin: 1em 0 0;

    span {
      clear: both;
      float: left;
      min-width: 3.9em;
      margin: 0 10px 6px 0;
      text-align: right;
    }
  }
  
  input + .row {
    margin-top: 0;
  }

  .date-select-range {
    width: 270px;
  }

}





[class*="date-select-range"] {
  display: inline-block;
  float: left;
  margin-top: -4px;
}

.date-select-range-html5 {
  display: none;
}

.canvas.touch {
  [class*="date-select-range"] {
    display: none;
  }

  .date-select-range-html5 {
    display: inline-block;
    float: left;

    [type*="date"] {
      width: auto;
    }
    
  }
} 

//Fix for PC Touch Screen
.canvas.touch.desktop {
  [class*="date-select-range"] {
    display: inline-block;
    float: left;
    margin-top: -4px;
  }

  .date-select-range-html5 {
    display: none;

    [type*="date"] {
      width: inherit;
    }
    
  }
} 


// CQ adds additional div which surrounds date selector and breaks the float - fix for this
[data-component="datepicker"] {
  display: inline-block;
  float: left;
}


.controls > [class*="date-select-range"] {
  margin: 0;
}

.toggle-group  input[type="radio"]:checked + label {  }



  input:checked {
    label & {
      
    }
  }


.multiple-inputs label{
  background-color: #ffcc00;
  float:left !important;

}


.span3 label{
  width: auto;
  text-align: left;
}

label.hiddenlabel {
display:none;
width:0;
margin:0;
padding:0;
}

// Form controls
// -------------------------

// Shared size and type resets
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  //height: @baseLineHeight;
  padding: 3px 6px;
  //min-height: 31px !important;
  margin-bottom: @baseLineHeight / 2;
  font-size: @baseFontSize - 1 !important; //-1 is fix for Firefox issue
  line-height: @baseLineHeight;
  //color: @gray;
  .border-radius(@inputBorderRadius);
  vertical-align: middle;
  float: left;
}

//FIX for issue where font not shoing on iOS and IE8
input[type="password"]{
   font-family: Helvetica, Arial, sans-serif !important;
}

// Reset appearance properties for textual inputs and textarea
// Declare width for legacy (can't be on input[type=*] selectors or it's too specific)
input,
textarea,
.uneditable-input {
  width: 206px; // plus 12px padding and 2px border
}
// Reset height since textareas have rows
textarea {
  height: auto;
  width: 100%;
}
// Everything else
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: @inputBackground;
  border: 1px solid @inputBorder;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
 .transition(~"border linear .2s, box-shadow linear .2s");

  // Focus state
  &:focus {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
  }
  &.ie9 :focus {
	outline: thin dotted; /* IE6-9 */
  }
}

//Fix for IOS to stop copy/paste emails
input[type=email]{
   -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

/* Hide webkit spinner on number inputs */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin:0;
}


// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  line-height: normal;
}
&.ie9 input[type="checkbox"] {
  margin-top: 1px; /* IE8-9 */
}

// Reset width of input images, buttons, radios, checkboxes
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; // Override of generic input selector
}

// Set the height of select and file controls to match text inputs
select,
input[type="file"] {
  height: @inputHeight; /* In IE7, the height of the select element cannot be changed by height, only font-size */
  line-height: @inputHeight;
}

// Make select elements obey height by applying a border
select {
  width: 206px; // default input width + 10px of padding that doesn't get applied
  border: 1px solid @inputBorder;
  background-color: @inputBackground; // Chrome on Linux and Mobile Safari need background-color
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for select, file, radio, and checkbox
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  .tab-focus();
}

//Fix: vertical lines on print Chrome/OSx
@media print { select { -webkit-appearance: none; } }



// Uneditable inputs
// -------------------------

// Make uneditable inputs look inactive
.uneditable-input,
.uneditable-textarea {
  color: @grayLight;
  background-color: darken(@inputBackground, 1%);
  border-color: @inputBorder;
  .box-shadow(inset 0 1px 2px rgba(0,0,0,.025));
  cursor: not-allowed;
}

// For text that needs to appear as an input but should not be an input
.uneditable-input {
  overflow: hidden; // prevent text from wrapping, but still cut it off like an input does
  white-space: nowrap;
}

// Make uneditable textareas behave like a textarea
.uneditable-textarea {
  width: auto;
  height: auto;
}


// Placeholder
// -------------------------

// Placeholder text gets special styles because when browsers invalidate entire lines if it doesn't understand a selector
input,
textarea {
  .placeholder();
}


// CHECKBOXES & RADIOS
// -------------------

// Indent the labels to position radios/checkboxes as hanging
.radio,
.checkbox {
  min-height: @baseLineHeight; // clear the floating input if there is no label text
  padding-left: 20px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

// Move the options list down to align with labels
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px; // has to be padding because margin collaspes
}

// Radios and checkboxes on same line
// TODO v3: Convert .inline to .control-inline
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px; // space out consecutive inline controls
}



// INPUT SIZES
// -----------

// General classes for quick sizes
.input-mini       { width: 60px; }
.input-micro      { width: 85px; }
.input-small      { width: 90px; }
.input-medium     { width: 150px; }
.input-large      { width: 210px; min-width: 150px; } //Fix for mobile width not detecting
.input-xlarge     { width: 100%; } //width: 270px; 
.input-xxlarge    { width: 530px; }


 //.input-xlarge {
 //   width: 100%; //width: 210px;
 //   }

// Grid style input sizes
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
// Redeclare since the fluid row class is more specific
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}
// Ensure input-prepend/append never wraps
.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
  
}

textarea {
  min-height: 150px;
}



// GRID SIZING FOR INPUTS
// ----------------------

// Grid sizes
#grid > .input(@gridColumnWidth, @gridGutterWidth);

// Control row for multiple inputs per line
.controls-row {
  .clearfix(); // Clear the float from controls
}

// Float to collapse white-space for proper grid alignment
// Redeclare the fluid grid collapse since we undo the float for inputs
.controls-row [class*="span"],
.row-fluid .controls-row [class*="span"] {
  float: left;
}
// Explicity set top padding on all checkboxes/radios, not just first-child
.controls-row .checkbox[class*="span"],
.controls-row .radio[class*="span"] {
  padding-top: 5px;
}




// DISABLED STATE
// --------------

// Disabled and read-only inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: @inputDisabledBackground;
  border-color: @inputBorder !important;
  color: @gray !important;
}
// Explicitly reset the colors here
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}



// Date in webkit
.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


// FORM FIELD FEEDBACK STATES
// --------------------------

// Warning
.control-group.warning {
  .formFieldState(@warningText, @warningText, @warningBackground);
}
// Error
.control-group.error {
  .formFieldState(@errorText, @errorText, @errorBackground);

 & [disabled], &.disabled{
  .formFieldState(#000, @errorText, @errorBackground);
 }
}
// Success
.control-group.success {
  .formFieldState(@successText, @successText, @successBackground);
}
// Success
.control-group.info {
  .formFieldState(@infoText, @infoText, @infoBackground);
}

// HTML5 invalid states
// Shares styles with the .control-group.error above
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #cc3131;
  border-color: #ee5f5b;
  &:focus {
    border-color: darken(#ee5f5b, 10%);
    @shadow: 0 0 6px lighten(#ee5f5b, 20%);
    .box-shadow(@shadow);
  }
}



// FORM ACTIONS
// ------------

.form-actions {
  clear:both;
  padding: (@baseLineHeight - 1) 20px @baseLineHeight;
  margin-top: @baseLineHeight;
  margin-bottom: @baseLineHeight;
  background-color: @formActionsBackground;
  border-top: 1px solid #e5e5e5;
  .clearfix(); // Adding clearfix to allow for .pull-right button containers

  fieldset & {
    padding: 0 !important;
  }
}



// HELP TEXT
// ---------
.help-block  {
  color: lighten(@textColor, 15%); // lighten the text some for contrast
  //float:left;
  display: inline-block; // account for any element using help-block
  margin-bottom: @baseLineHeight / 2;
  width:100%;
  clear:both;
  margin-top: @baseLineHeight / 2;
  font-size: (@baseFontSize - 1);

  a {
      
    &:hover, &:focus {
      text-decoration: none;

      span {
        text-decoration: underline;
      } 
      .ico{
      text-decoration: none;
      }
    }

    .ico {
      font-size: (@baseFontSize + 8px);
      line-height: 0;
      vertical-align: middle;
    }

    &:hover span.ico, &:focus span.ico {
      text-decoration: none;
    }
  }

  .ico {
    font-size:1.8em;
    vertical-align:middle;
    line-height:0;

    &:first-child {
      margin-right: -2px;
    }
  }
}

// -- More important help bock with info icon

.help-block.important{

  padding-left: 30px;
  padding-top: 8px;
  &:before{
    .ico;
   content:"\f70e";
    font-size: 2em;
    color: #fcc917;
    position: absolute;
    margin-left: -35px;
    margin-top: -5px;
    
  }
}


.field-checklist ul {
  margin: 0;  
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  list-style-position: outside;
  padding: 0;

  li {
    line-height: 1.2em;  //0.5em;
    margin: .6em 0;

    &:first-child {
      margin-top:.3em;
    }
  }

  span {
    font-size: 2em;
    line-height: 0;
    vertical-align: middle;
  }

  .complete {
    color: @rr-green
  }
  
}

// ERRORS
// ------------
.help-inline {
  display: none; // Default is hidden
  position: relative;
  padding-bottom: 6px;
  font-size: (@baseFontSize - 1);

  .ico {
    font-size: 1.750em;
    line-height: 16px;
    color: #cc3131;
    clear:both;
    position: absolute;
    left: -284px;
    top: 2px;
    
  } // .ico

  .form-confirmation & {
    .ico {
      left: -55px;
    } // .ico
  } // .form-confirmation &

  a {
    color: #cc3131;
    text-decoration: underline;
  } // a

  // Shows when error class is applied to .control-group
  .error & {
    display:block;
    color: #cc3131;
    .clearfix();
  } // .error &
} // .help-inline

@media only screen and (max-width: 979px) {
  .error {
    .help-inline {
      margin-bottom: 0;
      padding-left: 31px;

      .ico {
        left: -3px;
      } 
    } // .ico
  } // .error
}





// INPUT GROUPS
// ------------

// Allow us to put symbols and text within the input field for a cleaner look
.input-append,
.input-prepend {
  display: inline-block;
  margin-bottom: @baseLineHeight / 2;
  vertical-align: middle;
  font-size: 0; // white space collapse hack
  white-space: nowrap; // Prevent span and input from separating
  float:left;
  font-family: @avenirLight; //Fix to align with input text

  // Reset the white space collapse hack
  input,
  select,
  .uneditable-input,
  .dropdown-menu,
  .popover {
    font-size: @baseFontSize;
  }

  input,
  select,
  .uneditable-input {
    position: relative; // placed here by default so that on :focus we can place the input above the .add-on for full border and box-shadow goodness
    margin-bottom: 0; // prevent bottom margin from screwing up alignment in stacked forms
    vertical-align: top;
    .border-radius(0 @inputBorderRadius @inputBorderRadius 0);
    // Make input on top when focused so blue border and shadow always show
    &:focus {
      z-index: 2;
    }
  }
  .add-on {
    display: inline-block;
    width: auto;
    //height: @baseLineHeight;
    min-width: 16px;
    padding: 4px 5px;
    font-size: @baseFontSize;
    font-weight: normal;
    line-height: @baseLineHeight;
    text-align: center;
    text-shadow: 0 1px 0 @white;
    background-color: @grayLighter;
    border: 1px solid #ccc;
  }
  .add-on,
  .btn,
  .btn-group > .dropdown-toggle {
    vertical-align: top;
    .border-radius(0);
  }
  .active {
    background-color: lighten(@green, 30);
    border-color: @green;
  }
}

.input-prepend {
  .add-on,
  .btn {
    margin-right: -1px;
    float:left;
  }
  .add-on:first-child,
  .btn:first-child {
    // FYI, `.btn:first-child` accounts for a button group that's prepended
    .border-radius(@inputBorderRadius 0 0 @inputBorderRadius);
  }
}

.input-append {
  input,
  select,
  .uneditable-input {
    .border-radius(@inputBorderRadius 0 0 @inputBorderRadius);
    + .btn-group .btn:last-child {
      .border-radius(0 @inputBorderRadius @inputBorderRadius 0);
    }
  }
  .add-on,
  .btn,
  .btn-group {
    margin-left: 0px; //Small fix for overflox issue
  }
  .add-on:last-child,
  .btn:last-child,
  .btn-group:last-child > .dropdown-toggle {
    .border-radius(0 @inputBorderRadius @inputBorderRadius 0);
    margin-left: -1px; //added for fix above
  }
}

// Remove all border-radius for inputs with both prepend and append
.input-prepend.input-append {
  input,
  select,
  .uneditable-input {
    .border-radius(0);
    + .btn-group .btn {
      .border-radius(0 @inputBorderRadius @inputBorderRadius 0);
    }
  }
  .add-on:first-child,
  .btn:first-child {
    margin-right: -1px;
    .border-radius(@inputBorderRadius 0 0 @inputBorderRadius);
  }
  .add-on:last-child,
  .btn:last-child {
    margin-left: -1px;
    .border-radius(0 @inputBorderRadius @inputBorderRadius 0);
  }
  .btn-group:first-child {
    margin-left: 0;
  }
}




// SEARCH FORM
// -----------

input.search-query {
  padding-right: 14px;
  padding-left: 14px;
  margin-bottom: 0; // Remove the default margin on all inputs
  .border-radius(15px);
}
.ie9 input.search-query {
	padding-right: 4px;
  	padding-left: 4px; /* IE7-8 doesn't have border-radius, so don't indent the padding */	  
}
/* Allow for input prepend/append in search forms */
.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
  .border-radius(0); // Override due to specificity
}
.form-search .input-append .search-query {
  .border-radius(14px 0 0 14px);
}
.form-search .input-append .btn {
  .border-radius(0 14px 14px 0);
}
.form-search .input-prepend .search-query {
  .border-radius(0 14px 14px 0);
}
.form-search .input-prepend .btn {
  .border-radius(14px 0 0 14px);
}




// HORIZONTAL & VERTICAL FORMS
// ---------------------------

// Common properties
// -----------------

.form-search,
.form-inline,
.form-horizontal {
  input,
  textarea,
  select,
  .uneditable-input,
  .input-prepend,
  .input-append {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  // Re-hide hidden elements due to specifity
  .hide {
    display: none;
  }
}
//FIX for text align on labels with long descriptions
.form-horizontal label {
  text-align: right;
  }
.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
  display: inline-block;
}
// Remove margin for input-prepend/-append
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}
// Inline checkbox/radio labels (remove padding on left)
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
// Remove float and margin, set to inline-block
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}


// Margin to space out fieldsets
.control-group {
  margin-bottom: @baseLineHeight / 2;

  .clearfix ();
}

// Legend collapses margin, so next element is responsible for spacing
legend + .control-group {
  margin-top: @baseLineHeight;
  -webkit-margin-top-collapse: separate;
}

// Horizontal-specific styles
// --------------------------

.controls {
  clear: both;
  .clearfix ();
}
.form-horizontal {
  // Increase spacing between groups
  .control-group {
    margin-bottom: @baseLineHeight;
    .clearfix();
  }

   .control-group.compressed {
    margin-bottom:0;
  }
  // Float the labels left
  .control-label {
    float: left;
    width: @horizontalComponentOffset - 20;
    padding-top: 5px;
    text-align: right;
  }
  // Move over all input controls and content
  .controls {
    clear: none;
    margin-left: @horizontalComponentOffset;
  }

  .control-group.wide .controls{
    margin-left: 0px;
  }

      .control-group.wide .help-inline .ico {
    margin-left: 235px;
  }


  // Remove bottom margin on block level help text since that's accounted for on .control-group
  .help-block {
    margin-bottom: 0;    
  }
  // And apply it only to .help-block instances that follow a form control
  input,
  select,
  textarea,
  .uneditable-input,
  .input-prepend,
  .input-append {
    + .help-block {
      margin-top: @baseLineHeight / 2;
    }
  }
  // Move over buttons in .form-actions to align with .controls
  .form-actions {
    padding-left: @horizontalComponentOffset;
  }
}


//Layout for buttons, vertical stack inputs, select's and help-icons

.controls button{
float:left;
}

.controls p button{
float:none;
}

.controls-stack input, .controls-stack select {
  display: block !important;
  margin-bottom: 9px;
  float: none !important;
}


.help-icon{
  display:inline-block;

  form & {
    margin: 0 0 0 10px;
  }

  a {
    color: @rr-gray;
    .opacity(60);

    &:hover, &:focus {
      color: @rr-green;
      .opacity(100);
      text-decoration: none !important;
    }
  }

  .feature-box & {
    a {
      .opacity(70);
    }
  }

  ul{
    //Fix so bullet are not to wide in panels
    max-width: 75%;
  }

  li & {
    margin-left: 10px;
  }
}

.ie8 .help-icon {
  a {
    color: @grayLight !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

    &:hover, &:focus {
      color: @rr-green !important;
    }
  }
}

p.help-right {
  padding-right: 40px;
  position: relative;
  
  .help-icon {
    position: absolute;
    top: -4px;
    right: 8px;
    font-size: 16px;
  }
}

.confirm-icon{
  display:inline;
  color: @rr-green;
  font-size: 1.4em;
  float:left;
  margin-left:-24px;
  margin-top: 4px;
}

.confirm-icon span:first-child{
  display: none;
  margin:0;
}

input.confirm-input{
 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;

  border-color: @rr-green !important;

   padding: 5px 30px 5px 5px;
   height:30px;

}



// Help icon that fires modal
.help-stack {
margin-left: 15px;
position: relative;
display: inline-block;

  a{
    margin: 0 0 0px;
  }
}


//Adjust standard spacing and widths for set inputs

.input-prepend.input-append button {
  padding:2px 12px;
}

.input-prepend.input-append button span:first-child {
  display:none;
}

.input-prepend.input-append button span {
  font-size: 1.45em;
  //Fix for firefox - vertical-align: text-top;
  height: 30px;
  width: 30px;
}

.sort-code{
  width:255px;

  input{
    width:35px;
  } // input

  span{
    float:left;
    padding:3px;
    vertical-align: middle;
  } // span
} // .sort-code


.check-code{
  width:255px;

  input{
    width:30px;
    margin-right: 10px;
    text-align: center;
  } // input

  span{
    float:left;
    padding:3px;
    vertical-align: middle;
  } // span
} // .check-code


.title-selector {
  select {
    width: 100%;
    margin: 4px 0 -2px;
    font-size: 17px !important;
    font-family: @rockwellBold !important;
    text-align: center;
  }
}


.national-insurance {
  width:255px;

  input {
    width:2.5em;
    margin-right:5px;

    &:last-child {
      width:1.4em;
    } // :last-child
  } // input
} // .national-insurance






.dob-select{
  .clearfix();
}

#dob-day, .select-day {
  width:5.5em;
  margin-right:5px;
}

#dob-month, .select-month {
  width:7.4em;
  margin-right:5px;
}

#dob-year, .select-year {
  width:5.5em;
}

@media only screen and (max-width: 599px) {
  #dob-day, .select-day {
    width:4em;
    margin-right:4px;
  }

  #dob-month, .select-month {
    width:7em;
    margin-right:4px;
  }

  #dob-year, .select-year {
    width:4.3em;
  }
}


.ie8 {
  .national-insurance input.last-child{
    width:1.4em;
  }
} // .ie8





.date-picker input {
  width:23px;
}
.date-picker .year {
  width:40px;
}
.date-picker .month {
  width:35px;
}


/*New DOB*/

.dob-day{
 width:2.5em;
  margin-right:4px;
}
.dob-month{
   width:2.5em;
    margin-right:4px;

}
.dob-year{
 width:3.5em;
}

/*New sort code */
.sortcode{
  width:2.5em;
  margin-right:15px;
}

.split-line{ 
    content: "";
    width: 8px;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    margin-left: -11px;
    margin-top: 20px;
}



.field-checklist{
  font-size: (@baseFontSize - 2);
}



//
// Bottom of form buttons and actions
//

.form-actions {
  background: none;
  border: 0;
  margin: 0;

  .btn-link {
    padding-left: 0;
    text-align: left;
  }

  [class*="actions"] {
    display: inline-block;
    margin: 0;
  }

  .actions-primary {
    float: right;
    max-width: 60%;
  }

  .actions-secondary {
    margin: 7px 0 0;
    min-width: 200px;

    & > div {
      margin: -7px 0 0;
      padding: 0;
    }

    /* Margin of inline secondary buttons and links */
    & div > * {
        margin: 0 10px 0 0;
    }

    /* Spacing of stacked secondary buttons and links */
    & > * {
      border-left: 0;
      clear: left;
      float: left;
      padding: 4px 12px 4px 0;
    }
  }
}


.span3 .form-actions {
  padding: 0;

  [class*="actions"], .actions-primary button {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  
  [class*="actions"] {

    div {
      margin: 0;

      & > * {
        margin: 10px 0 0;
        padding: 4px 12px 4px 0;
        float: left;
        clear:left;
      }
    }

    > * {
      margin: 10px 0 0;
      float: left;
    }    
  }
}
    

@media  (max-width: 979px) {
  label, .labeltxt {
    display: block;
  }

  .form-actions [class*="actions"], .form-actions .actions-primary button { 
    display: block;
    float: none;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  .form-actions [class*="actions"] div {
    margin: 0;
  }
  .form-actions [class*="actions"] div > * {
    margin: 10px 0 0;
    padding: 4px 12px 4px 0;
    float: left;
    clear:left;
  }
  .form-actions [class*="actions"] > * {
    margin: 10px 0 0;
    float: left;
  }

//Extended for RR-6900
  .form-actions [class*="actions"] div > .help-icon,  .form-actions [class*="actions"] div > a {
    margin: 0;
    padding: 0;
    float: none;
    clear:none;
  }
}

.form-verticle {
  label, .labeltxt {
    text-align: left;
  }
  
  .input-slider {
    width: 100%;

    .sliderRail {
      width: 100%;
    }
  }
}

.form-confirmation textarea, .form-verticle textarea {
  background: #fff;
  width: 100%;
  float: none;
  overflow-y: visible;
}
.form-confirmation .controls, .form-verticle .controls {
  .clearfix ();
  .checkbox {
    width: auto;
    margin-left: 35px;
  }
  .help-icon + input + .checkbox {
    max-width: 76%;
  }
}
.form-confirmation .help-inline {
  padding-bottom:0;
}

/*@media (min-width: 979px) {  
  .form-confirmation .help-inline .ico, .form-verticle .help-inline .ico {
    margin-left:-50px;
  }
}*/



.control-block {
  margin: 0;

  .input-append {
    margin: 0;

    
  }
}



.input-append, .input-prepend {
  button {
      height: 30px !important;
    }
}

.add-on, input {
  padding: 3px 5px !important;
  line-height: 20px !important;
  height: 30px !important;
  font-size: 16px !important;
  font-family: @avenirLight !important
}

//Fix for seeing ygpq correclty
//.ie9 .add-on, 
.ie9 input {
  padding: 0px 5px !important;
}



// input with amount increment buttons below it
.input-increments ~ .help-block .btn {
  margin:0 9px 0 0 !important;
  padding:0 0 0 8px !important;
  font-size: 1.1em;
  
    &:hover{
      text-decoration: underline;
    }

    &:focus{
      .tab-focus();
    }

    &:active{
      outline: none;
      text-decoration: none;
    }

    &:nth-child(4) {
      margin-left:9px;
    }

    .ico{
     line-height: 1em;
      font-size: 1.1em;
      position: absolute;
      margin:0px 0 0 -15px !important;
      padding: 0;

       &:hover{
        text-decoration: none;
      }
    }
}

.ie8 .input-increments ~ .help-block .btn{
  background-color: transparent;
}


.toggle-group label.btn {
    margin: 0 !important;  
}

//NOT COMPLETE - Filter by Tag on FAQ search resultsv - Fix for styling of filter checkboxs that are btn styled
/*
.controls label.btn{
  background-image: none !important;
  background-color: @white !important;
  color: @rr-green;
  box-shadow: none;
  border: 1px solid @rr-green; //Fallback
  border: 1px solid  rgba(0, 136, 63, 0.25); 

  &:hover{
    background: @rr-green !important;
    color: @white;
    text-decoration: none;
   
  }
  &:focus {
    .tab-focus();
    background: @rr-green !important;
    color: @white;
    text-decoration: none;
  }

  &.c_on{
    background-color: @rr-green !important;    
      &:hover{
      background: @rr-green !important;
      color: @white;
      text-decoration: none;
     
      }
      &:focus {
         .tab-focus();
          background: @white !important;
        color: @rr-green !important;
        text-decoration: none;
      }
      &:active{
        background-color: #ffcc00 !important;
      }
  }
  
}
*/


/* Martketing preferences panel */
.marketing-preferences {
  &-title {
    padding-top: 0;
    padding-left: 0;
  }

  p {
    padding-bottom: 0;
  }

  label {
    padding-left: 30px !important;
    margin-right: 20px !important;
    width: auto !important;
  }
}

//Fix for native android browser
.nativeAndroid select{
  background: none !important;
  border: none !important;
}



@media  (max-width: 979px) {
  .form-horizontal {
    .control-group > label, .control-group > .labeltxt {
      width: auto;
      padding-top: 0;
      text-align: left;
    }
    // Move over all input controls and content
    .controls {
      margin-left: 0;
      clear: both;
    }

    .control-group.wide .help-inline .ico {
      margin-left: 0px;
    }

    // Move the options list down to align with labels
    .control-list {
      padding-top: 0; // has to be padding because margin collaspes
    }
    // Move over buttons in .form-actions to align with .controls
    .form-actions {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

/* Extended forms.less */
/* More important help bock with info icon */

.help-block.important{

  padding-left: 30px;
  padding-top: 8px;
  &:before{
    .ico;
   content:"\f70e";
    font-size: 2em;
    color: #fcc917;
    position: absolute;
    margin-left: -35px;
    margin-top: -5px;
    
  }
}