// //HEADER LAYOUT
//============================================================================
// These styles are used for the page header






// CORE
//============================================================================
.fixed-header-height{
  margin-top: 75px;
}

#full-width-header{  
  position: absolute;
  top: 0;
  width: 100%;
  height: (@fixedHeaderHeight + 1); // accomodate for box-sizing model 
  border-bottom: 1px solid #CCC;
  -webkit-box-shadow:  0px 2px 2px -1px rgba(0, 0, 0, 0.25);
  box-shadow:  0px 2px 2px -1px rgba(0, 0, 0, 0.25); 
  background-color: #fff;
  
  .container{
    padding: 0;
    background-color:#fff; 
    width: 100%;
    display:table;
    .clearfix();
  }

  .logo{
    width: 200px; 
    display:table-cell;
    vertical-align: top;
    //float:left; //FIX for firefox

    //Retiready Logo positioning
    a{
      width: 212px;
      margin-top: 6px;
      margin-left: 4px;
      margin-right: 0px; //Fix to center navigation  
      padding: 15px 15px 10px 15px;
      border: 1px solid #fff; //used to add dashed outline on focus
      float: left;

      &:focus {
        outline:none;
        border: 1px dashed #BAD405; //Dashed on focus
      }// :focus
    }// a
    //for aegon logo positioning
    a.aegon{
      float: left;
      padding: 31px 0px 0px;
      font-size: @fontSizeSmall;
      width: 97px;
      margin: 0;
      color: @gray;

      &:hover{        
      text-decoration: none!important;    
      }// :hover
    }// a.aegon
  }// .logo

  // add this for Aegon logo width
  .addnew-logo{      
    width: 292px!important; 
    
    a.pull-left{
      padding-right: 0px!important;
      width: 190px!important;
    } 
  }

  .navigation {
    overflow: hidden; 
    display: table-cell;
  }// .navigation
}


// Variables
@headerHeightdefault: 75px;
@headerHeightSmall:   60px;

// Mixins
#logoSmall (@margin: 13px 0) {
  .logo a {margin: @margin;}
  .logo a > img {width: 89px;height: 31px;}
  .logo-from {margin: 2px 0}
  .logo-copy {margin: 3px 5px 0;}
  .logo-aegon {width: 78px;height: 41px;margin: -10px 0;}
}

#logoMedium {
  .logo a {margin: 13px 0;}
  .logo a > img {width: 119px;height: 31px;margin-bottom: -2px}
  .logo-from {margin: 0}
  .logo-copy {margin: 6px 5px 0;}
  .logo-aegon {width: 108px;height: 41px;margin: -6px 0;}
}

.master-header {
  height: @headerHeightdefault;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow:  0px 2px 2px -1px rgba(0, 0, 0, 0.25);
  box-shadow:  0px 2px 2px -1px rgba(0, 0, 0, 0.25); 
  
  .fixed-supported & {
    position: fixed;
    z-index: 20;
  }

  .container {
    padding: 0;
  }

  .logo {
    position: absolute;
    width: auto;
    height: @headerHeightdefault;
    display: block;
    z-index: 21;

    a {
      padding: 10px;
      width: auto;

      > img {
        float: left;
      }
    }
  }

  img {
    max-width: none;
  }

  #logoMedium();

  .logo-from {
    float: left;
    padding: 0;
    font-size: 14px;
    margin: 0;
    color: #707070;

    .logo-copy {
      float: left;
    }
  }

  .dropdown {
    position: absolute;
    right: 0;
    top: 0;
    width: 160px;
    height: 75px;
    display: block;
  }

  .tertiary-nav {
    height: @headerHeightdefault;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 18px 10px 18px 0;

    a {
      padding: 8px;
      margin-left: 10px;
      color: #666;

      &:first-child {
        margin-left: 0;
      }
    }

    .options {
      &-profile {

      }
      &-sign {
        border-color: #666;
        margin-bottom: 0;
      }
    }
  }

  .options-menu {
    display: none;
  }

  .navigation {
    padding: 0 170px 0 299px;
    display: block;
  }


  @media only screen and (max-width: 849px) {
    .navigation {
      padding-left: 224px;
      position: relative !important;
      top: 0;
    }

    #logoSmall();

    .dropdown {
      float: right;
    }
  }

  @media only screen and (max-width: 767px) {
    #logoMedium();

    .module-nav {
      margin-top: 21px;
    }

    .dropdown {
      .options {
        margin-top: 15px;
      }
    }

    .navigation {
      display: none;
    }

    .tertiary-nav {
      .options {
        &-profile, &-sign {
          display: none;
        }
        &-menu {
          display: block;
          border: 1px solid #999;
          padding: 8px;
          margin: 0;
          color: #666;

          .ico {
            color: #666;
          }

          span {
            float: left;

            &:first-child {
              display: block;
              font-size: 15px;
              padding: 0 4px 0 0;
              font-family: @avenirMedium;
            }
          }

          &:hover {
            background: #333;
            color: #fff;

            span {
              color: #fff;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 449px) {
    height: @headerHeightSmall;

    .logo {
      height: @headerHeightSmall;
    }

    #logoSmall(8px 0);

    .tertiary-nav {
      height: @headerHeightSmall;
      padding: 10px 10px 10px 0;
    }
  }
}


@media only screen and (max-width: 767px) {
  .fixed-header-height {
    margin-top: @headerHeightdefault !important;
  }
}

@media only screen and (max-width: 449px) {
  .fixed-header-height {
    margin-top: @headerHeightSmall !important;
  }
}





.module-nav{
  margin: 17px auto 0;        
  display: table;

  ul{
    list-style:none;
    padding:0;
    margin:0; 
    width:100%;
    vertical-align: bottom;        
  }

  li{
    float:left;
    margin: 0 10px;
    color:#ccc;
    padding:0;
    overflow: hidden;
    position: relative;
  }

  a{
    width:100%;
    float:left;
    text-align: center;
    color: #666;
    font-size: (@baseFontSize - 1);
    line-height: (@baseFontSize - 1);
    height: 58px;

    .ico{
      width:100%;
      height:auto;
      font-size: 2em;
      color:#ccc;
      display: block;
    }

    &:after{
      #rr-colorBlock.horizontal();
    }

    &:hover, &:focus {
      color: #333;
      text-decoration: none !important; 
    }
  }

  .notification{
    position: absolute;
    top:0;
    right:0;
    margin-right: 2px;
    padding: 4px 8px 3px 7px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.hiddenNavigation .module-nav{
  li {
    margin: 0 6px;
  }
}

// Fix for IE8 width
.ie8 #full-width-header .container{
  width: 100px;
}

// Switch for Fixed Vs. Absolute
.fixed-supported #full-width-header{
 position: fixed;
 left:0; //Test
  z-index: @zindexFixedHeader;
}

// JS Fix for conflict with virtual keyboard
.fixfixed .master-header { 
    position: absolute !important; 
} 






// MEDIA QUERIES
//============================================================================
@media only screen and (max-width: 767px) {
  .fixed-header-height{
    margin-top: 100px;
  }

  #full-width-header{
    height: 100px;

    .logo{
      position: absolute;

      a {
        width: 110px; //163px
        height: 25px; //37
        max-height: 25px; //37
        margin: 12px 10px !important;
        padding: 0px;

        img{
          width: 110px; //163px
          height: 25px; //37
        }// img  
      }// a
      a.aegon{
        float: left;
        padding: 0px;
        font-size: @fontSizeMini;        
        margin: 15px 0 0 0!important;

          img{    
          width: 50px;
        }// img
      }  //.a.aegon
    }// .logo

    // added this for Aegon logo width
    .addnew-logo a.pull-left{        
      width: 112px!important;
      margin-right:2px!important;
    } 
    

    .navigation{
      position: absolute; 
      top: 45px; 
      width: 100%;
      display: block;
    }// .navigation

    .dropdown { 
      float: right;

      .options {
        margin-top: 0;

        a{
          white-space: nowrap; // Fix on issue only viewable on devices

          &:hover, &:focus{
            text-decoration: none !important;
          }
        }// a
      }// .options

      //Dropdown menu container
      .element{
        position: fixed;
      }// .element
    }// .dropdown
  }

  .module-nav{
    margin-top: 0;

    li {
      margin: 0 8px;
    }

    a {
      height: 54px;
      
      .ico{
        font-size: 1.7em;
        height: 26px; // Required to be set for devices
      }// .ico
    }// a
  }// .module-nav  
}


// Fix for printing pages
@media  only print{
  .fixed-supported #full-width-header{
   position: absolute;
  }

  #full-width-header .container,
  #full-width-header .container .logo{
    display: block;
  }

  .navigation{
    display: none;
    visibility: hidden;
  }
}

//Adjusts layout issues on header when navigation is not visible
#full-width-header.no-nav{
  .logo{
   float:left;
  }

  @media only screen and (max-width: 767px){
    height: 48px; 
  }
}

@media only screen and (max-width: 767px){
  .no-nav + .fixed-header-height{
  margin-top: 48px !important;
  }  
}