[class*="ico-"] {
	vertical-align: sub;
}
.ico-grande {
	font-size:2em!important;
}

.ico-huge {
	font-size:3em!important;
}

.ico-epic {
	font-size:7em!important;
}
.persona {
	position: relative;
	top:-4px;
}

.ico-inline{
	font-size: 2.4em;
}

.ico-pull-left {
	float: left !important;
}