

//Input Slider
.input-slider{
	position: relative;
	margin: 48px 0px 10px 0px;
	width: 280px;

}

.input-slider .help-icon{
	margin-top: -10px;
	margin-left: 0px;
}

.sliderRail {
	position: relative;
		width: 80%;
		width: ~"calc(100% - 30px)";
		height: 20px;
		position: relative;
		margin: 0px 3px 0px 3px;
		cursor: pointer;
	}

	.railLine {
		background-color: #d3d3d3;
		border:1px solid #d3d3d3;
		height: 10px;
		margin-top: 5px;
		margin-left: 10px;
		margin-right: 10px;

		.border-radius(@baseBorderRadius);
	}
	.sliderThumb:focus{
		outline: none;
	}
	.sliderThumb:focus .btn {
		border: 1px solid #006cd2;

			// Webkit
		 outline: 5px auto -webkit-focus-ring-color;
		 outline-offset: -2px;

		
	}

	.sliderThumb:focus .btn:hover, .sliderThumb:focus .btn:active, .sliderThumb:active .btn{
		color:#ccc;
	}

	.sliderThumb {
		position: relative;
		border: 0;
		margin: 0px;
		padding: 0px;		
		background-color: transparent;
		position: absolute;
		top: -10px;
		overflow: visible;
		
	}	

	.sliderThumb:after{ 
		content:'';
		display:block;
		position:absolute;
		top:-10px; 
		left:3px;
		width:0;
		height:0;
		border-color: #333 transparent transparent transparent; 
		border-style: solid;
		border-width: 14px;
		.border-radius(@baseBorderRadius);
	}	

	.thumbBtn{
		padding:0px !important;
		margin: 5px !important;
		width: 23px; 
		height: 31px;

	}

	span.thumbBtn{
		color:#ccc;
		padding-top:6px !important;

	}

	.sliderValue{
		position: absolute;
		top: -32px;
		background-color: #333;
		color: #fff;
		padding:3px 5px 2px 5px;
		min-width: 33px; //Was 22px
		text-align: center;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		font-family: @avenirMedium;

		.border-radius(@baseBorderRadius);
	}


	// Slider needs reduced in width when viewing in any device smaller than 330px wide
	@media only screen and (max-width: 329px) {
		.input-slider {
			width: 270px;
		}
	}

	//Extend input-slider for risk selector
	.risk-selection-slider {
	.input-slider {
		margin: 15px 0;
		width: 100%;
	}

	.sliderRail {
		width: 100%;
		margin: 0;
	}

	.railLine {
		margin: 5px 0;
		background: #ccc;
	}

	.sliderValue:after {
		display: none;
	}

	.sliderValue {
		width: 0;
		height: 0;
		border-left: 11px solid transparent;
		border-right: 11px solid transparent;
		border-bottom: 14px solid #efefef;
		background: 0;
		padding: 0;
		border-radius: 0;
		top: -26px;
		margin: 0 5px;
		min-width: 0;
	}

	.input-slider:before,
	.input-slider:after {
			content: " ";
			display: table;
	}

	.input-slider:after {
			clear: both;
	}


}

.ie8 .risk-selection-slider .sliderValue {
	min-width:0 ;
}







.dragdealer {
	position: relative;
	height: 30px;
}
.dragdealer .handle {
	position: absolute;
	cursor: pointer;
}
.dragdealer .disabled {
	background: #898989;
}


//Extra classes to be added and removed by JS 
//to counter digit size and position of the thumb depending on digit amount and position on the bar


.sliderValue.near-right{

	:after{
	 left: 27px;
	}

}

.near-left {

}


.risk-selection-slider{

	.sliderThumb:after{ 
		content:'';
		display:none;
		
	}	

}