//
// Layouts
// --------------------------------------------------


// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
}

.container {
    //width: 980px; //Default - add to variables as default width
    padding-left:5px;
    padding-right:5px;
    position: relative;

    section > & {
    	padding: 13px 5px 15px;
    }
  }

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-right: @gridGutterWidth;
  padding-left: @gridGutterWidth;
  .clearfix();
}

@media (max-width: 1200px) {
	section > .container {
		padding: 13px 10px 15px;
	}
}

//Detail list- Find a better location for this type of list


[class*="detail-list"] {
	p {
		.clearfix();
		margin: 0;

		span {
			width: 50%;
			display: inline-block;
			float: left;
			vertical-align: top;
			font-family: @avenirMedium;
			padding-left: 10px;

			&:first-child {
				padding: 0;
				text-align: right;
				font-family: @avenirLight;
			}
		} // span
	} // p

	&.detail-list-align-below {
		p span {
			width: 100% !important;
			text-align: left !important;
			padding: 0 !important;
			display: block !important;
		} // span
	} // detail-list-align-below

	.accordion-inner > & {
		> p {
			margin-top: 0;
		}
	}

	.span4 &, .span6 & {
		p span {
			width: 50%;
		} // span
	} // span4 &, span6 &

	.panel > &:first-child {
		p:first-child {
			margin-top: 10px;
		} // p:first-child
	} // panel > &:first-child
} // detail-list

//FIX to layout on IE8 for smaller spans
.ie8 {
	.span4, .span6 {
		.detail-list {
			p span {
				width: 100%;
				text-align: left !important;
				padding: 0;
				display: block;
			} // span
		} // detail-list
	} // span4
} // ie8

// Switch to stacked list view on these sizes
@media 	 (max-width: 400px),
				 (min-width: 768px) and (max-width: 979px), print { 

	[class*="detail-list"] {
		p span {
			width: 100%;
			text-align: left !important;
			padding: 0;
			display: block;
		} // span
	} // detail-list
} // @media


//Sets global section min height for pages with minimal content - media queries controlled
#content {
	min-height: 500px;
}


.three-two-one {
	margin: 0 !important;
}

@media (max-width: 767px) {
	.two-column-container .span6 {
		margin-bottom: 10px;
	}
}

@media (max-width: 400px) {
	.no-horizontal-padding-on-mobile {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

//Fix to create a 3-2-1 column layout (used on your-profile page)
@media  (max-width: 979px)  { 
	.three-two-one [class*="span"]{		
		width:100% !important;		
		margin-left:0 !important;
	}
}