.section-savings { 

  button {
      min-height: 2.2em;
    }
  .hidden-desktop {
    display: block !important;
  }
  header.panel {
     //max-height: 3em;
  }
  header h1.main-header {
   // display:inline-block;
   // margin-top: 3px;
  }

}

.block-list-menu-advanced {
    // get rid of unrequired top borders

    li.active-border:before, li.savings-total:before {
        border-top:none;
    }    

  li, .accordion-heading {

    margin-bottom: 2px;
    border: 0 !important;
        
    &:before {
      content: '';
      border-top: 1px solid #e5e5e5;
      display: block;
      margin: 0 11px;
    }

    &:first-child {
      
      :before {
        border-color: #fff;
      }
    }
    
    a {
      border-radius: @baseBorderRadius;
      color: @grayDark;
      padding: 9px 54px 11px 28px;
      margin-top: 6px;
      margin-bottom: 5px;
      .clearfix ();
      
      &:before{
        background: @rr-savings-memo;
        #rr-colorBlock.vertical(11px, auto);
        left: 11px;
      }

    .subTitle:before {
        border-top:none;
        height: 18px;
    }     
      
      h3 {
        margin: 0 0 3px;
        font-size: (@baseFontSize + 1px);
        word-wrap:break-word;
      }

      .total, .change {
        font-family: @avenirLight;
        float: left;
        width: 50%;
      }

      .change {
        text-align: right;

        .ico {
          font-size: (@baseFontSize + 14px);
          vertical-align: text-bottom;
          line-height: 12px;
          width: 22px;
          height: 16px;
          display: inline-block;
        }
      }

      > span:last-child
             {
        position: absolute;
        right: 11px;
        top: 11px;
        width: 28px;
        height: 28px;
        text-align: center;
        line-height: 25px;
        font-size: 1.5em !important;

       .buttonBackground(#b9b9b9, #757575, #757575, 0 1px 1px rgba(255,255,255,.75));
        border: 1px solid @btnBorder;
        .border-radius(@baseBorderRadius);
        color: @white !important;
      }

        // IE8 fix :-(
        > span.last-child {
          position: absolute;
          right: 11px;
          top: 11px;
          width: 28px;
          height: 28px;
          text-align: center;
          line-height: 25px;
          font-size: 1.5em !important;

         .buttonBackground(#b9b9b9, #757575, #757575, 0 1px 1px rgba(255,255,255,.75));
          border: 1px solid @btnBorder;
          .border-radius(@baseBorderRadius);
          color: @white !important;
        }

      &:hover,
      &:focus {
        background: @rr-savings-memo-light;
        text-decoration: none !important;

        h3 {
          text-decoration: underline !important;
        }
        span{
           text-decoration: none !important;
        }
      }
            
    }

    &.active,
    &:hover,
    &:focus {
      &:before, + li:before {
        border-top-color: #e5e5e5;
      }
    }

    &.active a > span:last-child {
      font-size: 2.4em !important;
      color: @rr-savings-memo;
      right: 15px;
      background: none !important;
      border: none;
      border-radius: 0;
    }

      // IE8 fix :-(
      &.active a > span.last-child {
        font-size: 2.4em !important;
        color: @rr-savings-memo !important;
        right: 15px;
        background: none !important;
        border: none;
        border-radius: 0;
      }
    
    button:first-child {
      margin-left: 5px;
      padding-right: 0;
    }
  }
}

//MA styles
button.dropBtn#btn-icon {
  margin: 7px;
  padding-right: 35px;
  width: 6.8em;
}

.accordion-inner .ico {
  margin-top: 8px;
}

#accordionSide {
	#savingsMenu {
	    li.active-border:before {
	    	border-top: 0;
	    }
	        h3 {
	            padding: 0;
	            border-bottom: none;
              /*display: inline-block;*/
              /* SF (02/11/15) - COMMENTED OUT AS BROKEN ALIGNMENT IN FAT */
	        }
    }
}
li.savings-pension {
    ul {
        li {
            a.sub {
                background: #fff;            
            }
            a.sub:hover, a.sub:focus {
                background: #e2f7ec;
                border-radius: 0; //makes retiready pension have no border-radius
            }
            a:before {
                background: none;
            }
        }
    }
}
.block-list-menu-advanced {
    li.no-top-border:before {
        border-top: none;
    }
    li.savings-pension.active-border {
        border: 2px solid #6ed69f !important;
        border-radius: 10px;
        margin: 10px 0;
        .subTitle {
            background: none;
            display: inline-block;
            margin-left: 1.5em;
        }
        .subTitle:before {
          background: #6ed69f;
          content: "";
          display: block;
          position: absolute;
          height: 18px;
          width: 6px;
          top: 11px;
          right: auto;
          left: 11px;
        }
        li {
            margin-left: 0;
        }
        li.first-sub:before {
            content: '';
            border-top: none;
        }

        ul {
          margin: 0;

          a {
            padding-left: 40px;
          }
        }
    }
}

//LESS for sprite mobile accounts button
button#btn-icon {
  background: #666666 url('../img/accounts-btn-sprite.png') no-repeat 85px 6px;
  width: 6.5em;
  height: 1.7em;
  margin-top: 0.6em;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

//3 dots point down
button#btn-icon:hover, button#btn-icon.selected {
  background: #333 url('../img/accounts-btn-sprite.png') no-repeat 85px -35px;
}

//3 dots point up
button#btn-icon:active {
  background: #666 url('../img/accounts-btn-sprite.png') no-repeat 85px -77px;
}

//.selected hover
button#btn-icon.selected:hover {
  background: #333 url('../img/accounts-btn-sprite.png') no-repeat 85px -77px;
}

// ensuring Retiready Pension sublinks get the active class added to them they adopt the correct active background colour 
li.savings-pension.active-border li.active a.sub {
 background: #e2f7ec;
}

@media only screen and (min-width: 768px) and (max-width: 845px) {

  .block-list-menu-advanced {
    li.savings-pension.active-border {
        ul {
            a {
                padding-left: 10px;
            }
        }
    }
  }

}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  
  .block-list-menu-advanced li a {
    .total, .change {
      width: 100%;
      float: none;
      display: block;
    }

    .change {
      text-align: left;
      margin: 3px 0 0 -8px;
    }

  }

}

@media only screen and (min-width: 768px) {

  .section-savings .hidden-desktop .span4 { 
    display: none !important; 
  }

}

@media only screen and (max-width: 768px) {

  .block-list-menu-advanced li.list-action {
    display: table;
    width: 100%;
    text-align: center;
  
      &:before:hover {
        border-color: #ccc;
      }

      button {
        display: table-cell;
        margin: 0;
      }

      .panel.accordion-toggle #savingsMenu.accordion-body { 
        margin-bottom: 40px;
      } 

    }

    section.section-savings {
      header.panel {
        padding: 0 20px;
      }
    }
}

@media only screen and (max-width: 400px) {

  li.savings-pension {
      ul {
          li {
              a.sub {
                  background: #fff;             
                  & span, & h3 {
                      padding-left: 0;
                  }
              }
          }
      }  
  }
    
}

//Styles for fully resposive menu

//General styles non media query
.sectionPanel {

  ul {
    list-style: none;
    li {
      a:hover, a:focus {
        text-decoration:none !important; //can't figure out why the links are still underlined without !important ask Stephen
        color: #333;
        background: #f2f2f2;
        }
      }
    }

}
.sectionButton {

  h4 {
    display: inline-block;
    font-family: "Avenir LT W01 65 Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 0;
  }

}

#managementUIContainer {
  display: block;
  margin-bottom: 1em;
  position: relative;
  span.btn.ico {
    display: inline;
    padding: 2px 0px;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    background-color: #757575;
    background-image: linear-gradient(to bottom, #b9b9b9, #757575);
    background-repeat: repeat-x;
    font-size: 1.5em;
    max-width: 33.3333px;
  }
  span.ico.pull-left {
    color: #007d3b;
    font-size: 1.4em;
    max-width: 33.3333px;
    margin: 0.2em -0.3em 0 0;
  }

}

span.btn.ico.clicker-down {
  background: #000;
}

//Mobile styles through media query
@media (max-width: 480px) {

    // reposition green pig icon for smallest mobile
    #managementUIContainer {
      span.ico.pull-left {
        margin: 0.7em 0.5em;
      }
    }

    // Get rid of icons in expandable
    .sectionButton {
      span.ico {
        display:none;
      }
    }

    /*TODO - still to add hover, focust and active states to button*/

    #managementUIContainer{
      background-color: #efefef;
    }
    #expandTitle:hover,#expandTitle:focus{
      /*border: 1px solid #efefef;
      background-color: #efefef;
      display: block;*/

    }
    #expandTitle h3{
      padding: 1em;
      background-color: #efefef;
    }
    #expandTitle h3:after{
      /*display: block;
      position: absolute;
      font-family: "rr-ico" !important;
      content: "&#xf70a;";
      color: white;
      background-color: black;
      top:0;
      right:0;
      margin-right: 20px;
      margin-top: 20px;*/
    }

    .sectionGroup{
      margin: 10px;
      position: absolute;
      top: -99999px;
    }
    .sectionGroup.expanded{
      margin: 10px;
      position: relative;
      top:inherit;
    }
}
/* tablet styles through media query */
@media only screen and (min-width: 768px) and (max-width: 1077px) { //979px

  .sectionButton {
      span.ico {
        display:none;
      }
    }

    #managementUIContainer{
      background-color: #efefef;
      border-radius: 6px;
      
        .sectionGroup button.btn {
          width: 30%;
          position: relative;
          top: -1px;
        }
        span.ico.pull-left {
          margin: .6em .5em;
        }
    }
    #expandTitle{
      border: 1px solid #efefef;
      background-color: #efefef;
      display: block;
      padding-bottom: .4em;
      border-radius: 6px;
      span.btn.ico {
        display: inline;
        position: absolute;
        right: .5em;
        top: .5em;
      }
    }
    #expandTitle:hover,#expandTitle:focus{
      border: 1px solid #efefef;
      background-color: #efefef;
      display: block;
    }
    #expandTitle h3{
      background-color: #efefef;
      margin-top: 1em;
    }
    #expandTitle h3:after{
      /*display: block;
      position: absolute;
      width: 100px;
      height: 35px;
      content: "ButtonIcon";
      color: white;
      background-color: black;
      top:0;
      right:0;
      margin-right: 30px;
      margin-top: 30px;*/
    }

    .sectionGroup{
      margin: 10px;
      position: absolute;
      top: -99999px;
    }
    .sectionGroup.expanded{
      margin: 10px;
      position: relative;
      top:inherit;
    }

} 

//Desktop styles through media query above 980px
@media (min-width: 1078px) { //980px

    #managementUIContainer {
      text-align: center;
      #expandTitle {
        height: 50px;
      }
      .sectionGroup button.btn {
          width: 30%;
          position: relative;
          top: 0;
          margin-right: 5px;
        }
      span.ico.pull-left {
        margin: 0.25em 0;
      }
      .sectionButton {
        h4 {
          margin: 10px 0
        }
      }

    }

    span.desktop-hidden {
      display:none;
    }

    .sectionButton {

      span.ico {
        margin-top: 0.5em;
        color: #007d3b;
      }
      span.ico.pull-right {
        margin-top: .25em;
        color: #fff;
        background: #757575;
        background-image: -moz-linear-gradient(top, #b9b9b9, #757575);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b9b9b9), to(#757575));
        background-image: -webkit-linear-gradient(top, #b9b9b9, #757575);
        background-image: -o-linear-gradient(top, #b9b9b9, #757575);
        background-image: linear-gradient(to bottom, #b9b9b9, #757575);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb9b9b9', endColorstr='#ff757575', GradientType=0);
        border-color: #757575 #757575 #4f4f4f;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        border: 1px solid #757575;
        border-radius: 6px;
        font-size: 1.5em;
      }
      span.pull-right.active {
        display:none;
      }

    }
    .sectionGroup:hover {
      span.pull-right {
        display:none;
      }
      span.pull-right.active {
        display:block;
      }
    }
    span#expandTitle {
        visibility: hidden;
      }
    div.sectionGroup {
      background: #efefef;
      width: 30%;
      padding: .5em .5em;
      margin-right: 5px;
      border-radius: 6px;
      display: inline-block;
      position:relative;
      text-align: center;
    }
    div.sectionGroup:hover {
      padding-bottom: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .sectionGroup .sectionPanel ul {
      width: 20em; // Set width of the dropdown
      background: #f2f2f2;
      display: none;
      z-index: 999;
      left: -1.55em;
      text-align: left;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      -webkit-box-shadow: 3px 3px 0px 0px rgba(158,155,158,1);
      -moz-box-shadow: 3px 3px 0px 0px rgba(158,155,158,1);
      box-shadow: 3px 3px 3px 0px rgba(158,155,158,1);
    }
    .sectionGroup.open .sectionPanel ul {
      display: block; // Display the dropdown 
      position: absolute;
      margin-top: 10px;
      border-top-right-radius: 6px;
      padding: 1em;
    }
    .sectionGroup.open .sectionPanel.align-right ul {
      left: auto;
      right: 0; // forces dropdown to be right aligned
      border-top-left-radius: 6px;
      border-top-right-radius: 0;
    }
    .sectionPanel {

      li {
        margin-bottom: .5em;
        }
      span.ico.large {
        color: #007d3b;
        vertical-align: -3px;
      }

    }
    
}

//Desktop between 481 and 767px
@media only screen and (min-width: 481px) and (max-width: 767px) {

    #managementUIContainer {
      text-align: center;
      span.ico.pull-left {
        margin-top: 0;
      }
      #expandTitle {
        span.btn.ico {
          display:none;
        }
      }
    }

    .sectionButton {

      span.ico {
        margin-top: 0;
        color: #007d3b;
      }
      span.ico.pull-right {
        color: #fff;
        background: #757575;
        background-image: -moz-linear-gradient(top, #b9b9b9, #757575);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b9b9b9), to(#757575));
        background-image: -webkit-linear-gradient(top, #b9b9b9, #757575);
        background-image: -o-linear-gradient(top, #b9b9b9, #757575);
        background-image: linear-gradient(to bottom, #b9b9b9, #757575);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb9b9b9', endColorstr='#ff757575', GradientType=0);
        border-color: #757575 #757575 #4f4f4f;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        border: 1px solid #757575;
        border-radius: 6px;
      }
      h4 {
        display: inline-block;
        font-family: "Avenir LT W01 65 Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      span.pull-right.active {
        display:none;
      }

    }
    .sectionGroup:hover {
      span.pull-right {
        display:none;
      }
      span.pull-right.active {
        display:block;
      }
    }
    span#expandTitle {
        visibility: hidden;
      }
    div.sectionGroup {
      background: #efefef;
      width: 30%;
      padding: 1em .5em;
      margin-right: 1px;
      border-radius: 6px;
      display: inline-block;
      position:relative;
      text-align: center;
    }
    div.sectionGroup:hover {
      padding-bottom: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .sectionGroup .sectionPanel ul {
      width: 20em; // Set width of the dropdown
      background: #f2f2f2;
      display: none;
      z-index: 999;
      left: -1.55em;
      text-align: left;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      -webkit-box-shadow: 3px 3px 0px 0px rgba(158,155,158,1);
      -moz-box-shadow: 3px 3px 0px 0px rgba(158,155,158,1);
      box-shadow: 3px 3px 3px 0px rgba(158,155,158,1);
    }
    .sectionGroup.open .sectionPanel ul {
      display: block; // Display the dropdown
      position: absolute;
      margin-top: 10px;
      border-top-right-radius: 6px;
      padding: 1em;
    }
    .sectionGroup.open .sectionPanel.align-right ul {
      left: auto;
      right: 0; // forces dropdown to be right aligned
      border-top-left-radius: 6px;
      border-top-right-radius: 0;
    }
    .sectionPanel {

      li {
        margin-bottom: .5em;
        }
      span.ico.large {
        color: #007d3b;
        vertical-align: -3px;
      }

    }
 
}

// accordion to tabs LESS
.new-tabs {

  ul.tabs {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    height: 45px;
    /*border-bottom: 10px solid #efefef;*/
    width: 100%;
  }

  ul.tabs li {
    float: left;
    margin-left: 1px;
    cursor: pointer;
    padding: 0px 1em;
    height: 45px;
    line-height: 31px;
    /*border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;*/
    background-color: #fff;
    color: #007d3b;
    overflow: hidden;
    position: relative;
  }

  .tab_last { /*border-right: 1px solid #333;*/ }

  ul.tabs li:hover {
    background-color: #f4f4f4;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #333;
  }

  ul.tabs li.active {
    background-color: #efefef;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #333;
    display: block;
  }

  .tab_container {
    border: 10px solid #efefef;
    /*border-top: none;*/
    border-radius: 6px;
    border-top-left-radius: 0px;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    overflow: auto;
  }

  .tab_content {
    padding: 20px;
    display: none;
  }

  .tab_drawer_heading { display: none; }

  @media screen and (max-width: 600px) {

    .tabs {
      display: none;
    }
    .tab_container {
      padding-bottom: 0.5em;
    }
    .tab_drawer_heading {
      color: #007d3b;
      border: 1px solid #efefef;
      border-radius: 6px;
      margin: .5em .5em;
      padding: 13px 13px;
      display: block;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .tab_container { 
      h3 {
          margin-bottom: 0;
          position: relative;
          span.btn.ico {
            display: inline;
            position: absolute;
            right: .2em;
            top: .2em;
            font-size: 1.5em;
            padding: 4px 2px;
          }
        }
      h3:hover {
        background: #efefef;
      }
    }
    .tab_content {
      margin: 0 .5em;
      border: 1px dashed red;
      border-top: 0;
    }
    .d_active {
      background-color: #efefef;
      color: #000;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

  }
////////////// not below here yet 
  @media screen and (min-width: 770px) and (max-width: 1050px) {

    .tabs {
      display: none;
    }
    .tab_drawer_heading {
      background-color: #ccc;
      color: #fff;
      border-top: 1px solid #333;
      margin: 0;
      padding: 5px 20px;
      display: block;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .d_active {
      background-color: #666;
      color: #fff;
    }

  }

}