//
// Modals
// --------------------------------------------------


// Background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindexModalBackdrop;
  background-color: @white;
  // Fade for backdrop
  &.fade { opacity: 0; }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  .opacity(85);
}

// Base modal
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: @zindexModal;
  width: 560px;
  margin-left: -280px;
  background-color: @rr-lightgray;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.3);
  *border: 1px solid #ccc; /* IE6-7 */
  .border-radius(6px);
  .background-clip(padding-box);
  // Remove focus outline from opened modal
  outline: none;

  &.fade {
    .transition(e('opacity .3s linear, top .3s ease-out'));
    top: -25%;
  }
  &.fade.in { top: 10%; }
  
  &-video {width: 500px; margin-left: -250px;}
}

.ie8 .modal{
  top:50px !important;
  margin-top:10px !important;
}

.modal-header {
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
  clear:both;

  .modal-video & {
    border-bottom: 0;
  }

  // Close icon
  .close { 
    margin-top: 0px;
    padding:2px;
    font-size: 1.5em;
    width:28px;
    height:28px;
    position: absolute;
    top:0;
    right: 0;
    margin: 8px 8px 0 0;
    
        .ico{
          position: absolute;
          margin: 0 0 0 0;
          padding: 0;
          right:0;
          font-size: 26px;
          line-height: 0em;
        }
     }

  .close span:first-child{
  position: absolute;
  left:-9999px;
  margin:0;
  }

  // Heading
  h2 {
    margin: 0 40px 0 0;
    line-height: 22px;
    font-size: 1.2em;
    font-family: @headerFontFamily;
    padding:0;
    display:inline-block;
    float:left;  
  }
}

// Body (where all modal content resides)
.modal-body {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height:100%;
  max-height: 400px;
  padding: 10px;


.modal-video & {
    //padding: 0 0 10px;
    position: relative;
    padding-bottom: 54.5%; //56.25% when footer was in code
    height: 0;

    iframe,
    embed,
    object {
      //max-width: 100%;
      //min-width: 100%;
      //height: auto; //281px

      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}

// Remove bottom margin if need be
.modal-form {
  margin-bottom: 0;
}

// Footer (for actions)
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right; // right align buttons
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  .border-radius(0 0 6px 6px);
  .box-shadow(inset 0 1px 0 @white);
  .clearfix(); // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

//Fake scroller visible on modals in webkit
.modal-body::-webkit-scrollbar {
    -webkit-appearance: none;
}

.modal-body::-webkit-scrollbar:vertical {
    width: 11px;
}

.modal-body::-webkit-scrollbar:horizontal {
    height: 11px;
}

.modal-body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

//Overide for edit view
.modal-edit{
  position: initial !important;
  margin: 0 auto !important;
  right: initial !important;
  left: initial !important;
}

//Layout fix for inline ico
.modal {
  .help-inline{  
    padding-left: 30px;

    .ico{
      left:-3px;
    }  
  }

.ie8 .modal{
    .form-horizontal {
      .control-group > label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
      }
      // Move over all input controls and content
      .controls {
        margin-left: 0;
      }

      .control-group.wide .help-inline .ico {
        margin-left: 0px;
      } 


      // Move the options list down to align with labels
      .control-list {
        padding-top: 0; // has to be padding because margin collaspes
      }
      // Move over buttons in .form-actions to align with .controls
      .form-actions {
        padding-left: 10px;
        padding-right: 10px;
      }
    }


    .help-block{
      margin-bottom: 0;
      display:inline-block;
      // width:auto;
       max-width: none;
    }

    
  } //End of .ie8 .modal 
}



/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) { 

  .modal-body {
    max-height: 300px; //300px
    .modal-video & {
      max-height: none;
    }    
  }
  
  .modal {
    position: fixed;
    top:   1%;
    left:  5%;
    right: 5%;
    width: auto;
    margin: 0;
    
  } 
}

@media only screen and (max-width: 767px) and (orientation:landscape) {

  .modal-body {
    max-height: 200px;
  }

  .modal-video & {
    max-height: none;
  }  

  .modal-video{
    //Fix for landscape height issues
    max-width: 330px;
    margin: auto!important;
  }  

}


// JS Fix for conflict with virtual keyboard
// Works with detecting V keyboard on focus and absolute position the modal
.fixfixed .modal {
    position: absolute !important; 
} 




