// CONTENT HEADER
//============================================================================
// These styles are used to style 






// CORE
//============================================================================
header {

  &.panel{
    padding: 0 110px;
    min-height: 15px;
  } //panel
  
  &.noback {
    padding-left: 0;
  }

  .main-header{
    display: block;
    font-family: @rockwellBold;
    font-weight: normal;
    font-size: (@baseFontSize + 8);
    margin: 0;
    padding: 13px 0;
    line-height: 1.35em;
  } //main-header

  .btn-back, .btn-cancel {
    position: absolute;
    top: .9em;
    left: 10px;
    padding: 3px 8px 4px 0;

    .ico {
      position: absolute;
      font-size: 1em !important;
      line-height: 0;
      color: #b7b7b7;
      top: 13px;
    } // ico

    .btn-back-text {
      margin-left: 17px;
    } // btn-back-text

    .btn-cancel-text {
      margin-right: 24px;   
    } // btn-cancel-text
  } // btn-back, .btn-cancel

  .btn-cancel {
    padding: 3px 0 4px 8px;
    left: auto;
    right: 10px;

    .ico{
      font-size: 1.5em !important;
      right:0;
      line-height: 0em;
      margin-top: 1px;
      top: 13px;
    } // ico
  } // btn-cancel
} // header

// Default - when no section colour class has been added
.header-background, .section-background-colour {background-color: @rr-section-default-light}






// MEDIA QUERIES
//============================================================================
@media only screen and (max-width: 768px){
  header {

    &.panel {
      padding: 0 40px;
    } //panel

    .main-header {
      font-size: (@baseFontSize + 2);
      text-align: center;
      padding: 11px 0;
    } // main-header

    .btn-back, .btn-cancel {
      padding: 6px 6px 4px 6px !important;
      top: 9px; 
      left: 0;
      width: 28px;
      height: 28px;
      margin: 0;

      .ico{
        color: #fff;
        font-size: 1.5em !important;
        left: 0;
      } // ico
    } // btn-back, .btn-cancel

    .btn-cancel{
      left: auto;
      right: 0;

       .ico{
      font-size: 1.5em !important;
      right:0;
      line-height: 0em;
      margin-top: 1px;
      top: 13px;
    } // ico
    }

    .btn-back .btn-back-icon, .btn-cancel .btn-cancel-icon {
      font-size: 1em;
      padding:0 !important;
      margin:0 !important;
    }

    .btn-back .btn-back-text,  .btn-cancel .btn-cancel-text {
      position:absolute;
      left:-9999px; 
      padding:0;
      margin:0;      
    }
  } // header
} // @media