//
// Pager pagination
// --------------------------------------------------


// .pager {
//   margin: @baseLineHeight 0;
//   list-style: none;
//   text-align: center;
//   .clearfix();
// }
// .pager li {
//   display: inline;
// }
// .pager li > a,
// .pager li > span {
//   display: inline-block;
//   padding: 5px 14px;
//   background-color: #fff;
//   border: 1px solid #ddd;
//   .border-radius(15px);
// }
// .pager li > a:hover,
// .pager li > a:focus {
//   text-decoration: none;
//   background-color: #f5f5f5;
// }
// .pager .next > a,
// .pager .next > span {
//   float: right;
// }
// .pager .previous > a,
// .pager .previous > span {
//   float: left;
// }
// .pager .disabled > a,
// .pager .disabled > a:hover,
// .pager .disabled > a:focus,
// .pager .disabled > span {
//   color: @grayLight;
//   background-color: #fff;
//   cursor: default;
// }

//
// Progress tracking with current
//

.progress-tracker {
  list-style: none;
  margin:-7px 0 0;
  padding:0 0 15px 0;
  border-bottom: 1px solid @grayLighter;

  li{
    display:inline-block;
    list-style: none;
    margin:0 0.1em;
    padding: 0; 
    border-radius: 3em;
   // padding: 5px 10px 3px 10px;
    background-color: @rr-section-default-light;
    color: @grayDark;
    font-family: @avenirLight;
    font-weight: none;
    height: 27px;
    width: 27px;
    line-height: 26px;
    text-align: center;
    border: 1px solid @rr-section-default-light;

    &.current {
      background-color: @rr-green;
      color: @white;
      font-family: @avenirMedium;
      font-weight: none;

      ~ li {
        background-color: #fff !important;
        border-color: #fff;
      }
    }

  }
  

  span{
    display: none;
    margin: 0;
  }
}


  //Purple
   .section-shop .progress-tracker li {
      background-color: @rr-section-shop-light;
      border-color: @rr-section-shop-light;
    }

    //Purple
    .section-shop li.current {
       background-color: @rr-section-shop;
       border-color: @rr-section-shop;
    }

  //Orange
   .section-faq .progress-tracker li {
      background-color: @rr-section-support-light;
      border-color: @rr-section-support-light;
    }

    //Orange
    .section-faq li.current {
       background-color: @rr-section-support;
       border-color: @rr-section-support;
    }


.progress-tracker-short {
  margin:5px 0;
  padding:20px 0 10px 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;

  > span {
    border-radius: 3em;
    padding: 0;
    background-color: @rr-section-default-light;
    color: @grayDark;
    height: 27px;
    width: 27px;
    line-height: 28px;
    display: inline-block;
    margin: 0 0 0 5px;

    &:first-child {
      margin: 0 5px 0 0;
    }

    &.current {
      background-color: @rr-green;
      color: @white;
    }
  }
}

/* New advanced version of progress indicator pathway/enhancements */
/* Designed for 4 sections or less - if more is needed then with of li's and media querie will need adjusted */
/* ---------------------------------------------------------------- */
.panel{
  position: relative;
}
.progress-tracker-advanced{
  list-style: none;
  display: block;
  margin: 0 auto;
  padding:0;
  position: relative;
  text-align: center; 
  width: 100%;
  clear: both;
  li{
    display: inline-block;
    background-color: transparent;
     
    list-style: none;
    width: 25%; //23%
    max-width: 150px;
    text-align: center;
    vertical-align: top;
    margin: 0;
    padding: 10px;
    color: #999999;
    float:left; 
    &:after{
      position: absolute;
      top:22px;
      z-index: -1;
      content: "";
      width: 23%; //23%
      height:3px;
      background-color: #999999;
    }
    &:last-child, &.last-child{
      &:after{
        display: none;
      }
    }
    span{
      position: relative;
      display: block;
      background-color: transparent;
      padding-top: 5px;
    }
    span.number{
      display:inline-block;
      list-style: none;
      padding: 0; 
      border-radius: 3em;
      background-color: #fff;
      color: #999;
      font-family: @avenirLight;
      font-weight: none;
      height: 27px;
      width: 27px;
      line-height: 26px;
      text-align: center;
      border: 2px solid #999999;
      
    }
    &.visited{
      color: #333;
      span.number{
        border: 0px solid #ff0000;
        color: #333;
        &:after{
          position: absolute;
          margin:0;
          list-style: none;
          padding: 0; 
          border-radius: 3em;
          background-color: #008562;
          color: #fff;
          height: 27px;
          width: 27px;
          line-height: 24px;
          text-align: center;
          border: 2px solid #008562;
          font-family: 'rr-ico';
          font-size: 1.3em;
          font-weight: none;
          content: "\f707";
          left:0px;
          top:0px;
        }
      }
      &:after{        
        background-color: #008562;
      }
    }
    &.active{
      color: #333;
      span.number{
        border: 0px solid #ff0000;
        color: #333;
        &:after{
          position: absolute;
          margin:0;
          list-style: none;
          padding: 0; 
          border-radius: 3em;
          background-color: transparent;
          color: #333;
          height: 27px;
          width: 27px;
          line-height: 28px;
          text-align: center;
          border: 2px solid #008562;
          content:"";
          left:0px;
          top:0px;
        }
      }
    }
  }
}
/* IE9 fallback - incomplete */
.ie8 ul.progress-tracker-advanced, .ie9 ul.progress-tracker-advanced{
  position: relative;
}
.ie8 ul.progress-tracker-advanced li, .ie9 ul.progress-tracker-advanced li{
  position: relative;
}
.ie8 ul.progress-tracker-advanced li:after, .ie9 ul.progress-tracker-advanced li:after{
  content: "";
  width: 100%;
  height: 3px;  
  left: 50%;
}
.ie8 ul.progress-tracker-advanced li.last, .ie9 ul.progress-tracker-advanced li.last{
  &:after{display: none;}
}
.ie8 ul.progress-tracker-advanced li.visited span.number{
 color: #008562;
}
@media screen and (max-width: 450px){
  ul.progress-tracker-advanced li span{display: none;}
  ul.progress-tracker-advanced li span.number{display: inline-block;}
  
}