//
// Panels - used as main containers to align components and structure
// --------------------------------------------------

// Base class
.panel {
  .clearfix();
  .border-radius(@baseBorderRadius); 
  padding: 7px @padding;
  position: relative;

  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }//blockquote

  &-large {
    padding: 30px !important;
    .border-radius(@baseBorderRadius);
  }//&-large

  &-small {
    padding: 5px !important;
    .border-radius(@baseBorderRadius);
  }//&-small

  &.equal-box{
    background-color: @grayLighter;
    text-align: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    &:after {
      #rr-colorBlock.horizontal();
    }//&:after
  }

  &.feature-box {
    background-color: @grayLighter;
    text-align: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

    h3, .header-tag{
     //Fix for Iphone5 layout issue
      display: inline-block;
    }
    
    .visual-wrapper {

      &-img {
        height: 60px;
        line-height: 60px
      }

      &-ico {
        .ico {
          font-size: (@baseFontSize + 44);
          vertical-align: text-top;
        }//> .ico
      }
    }

    &.feature-double-height {
      .visual-wrapper {

        &-img {
          height: 106px;
          line-height: 106px
        }

        &-ico {
          .ico {
            font-size: (@baseFontSize + 90);
            vertical-align: text-top;
          }//> .ico
        }
      }

      &.feature-list {
        padding-top: 10px;

        .visual-wrapper {

          &-img {
            height: 60px;
            line-height: 60px
          }

          &-ico {
            .ico {
              font-size: (@baseFontSize + 44);
              vertical-align: text-top;
            }//> .ico
          }
        }

        ul {
          text-align: left;
        }
      }
    }

    h3, .header-tag {
      margin: 10px 0 7px;
    }

    &:after {
      #rr-colorBlock.horizontal();
    }//&:after
  }//.feature-box
}




.segment {
  padding: 50px 5px;
  margin: 0 0 0 90px;
  overflow: hidden;
  border-top: 1px solid #ccc;

  &-container {
    > div {
      &:first-child {
        border-top: 0;
        padding-top: 20px;
      }
    }
  }

  > :first-child {
    padding-right: 5%;
  }

  > div {
    h2:first-child, h3:first-child, h4:first-child {
      margin-top: 0;
    }
  }

  &-swap {
    // background-color: #efefef;

    > :first-child {
      float: right !important;
      padding: 0 0 0 5%;
      margin: 0 0 0 1.8867924528301887%;
    }
    > div {
      margin: 0 !important;
      padding-left: 0;
    }
  }
}

@media  only screen and (max-width: 979px) {
  .segment {
    margin: 0;
  }
}

@media  only screen and (max-width: 767px) {
  .segment {
    padding: 30px 5px;

    .inpage-video {
      max-width: 500px;
      margin: 0 auto;
    }

    > div {
      margin: 0 !important;
      padding: 0 !important;
    }

    &-swap {
      // background-color: #efefef;

      > :first-child {
        float: none !important;
      }
    }
  }
}





.investmentHorizontal {
  &-name {
    width: 65%;
    padding: 0 10% 0 5%;
  }

  &-risk-level {
    width: 35%;
  }
}
.investmentHorizontalSmall {
  &-name {
    width: 60%;
  }

  &-risk-level {
    width: 40%;
  }
}
.investmentStacked {
  &-name, &-risk-level {
    width: 100%;
    display: block;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
  }

  &-name {
    margin-bottom: 10px;
  }
}
.investmentSquare {

  
}


.investment {
  position: relative;
  .border-radius (6px);
  padding: 10px 15px;
  margin: 0 0 10px;
  height: 70px;
  min-height: 70px;
  font-family: @avenirMedium;
  font-size: 20px;
  display: table;
  width: 100%;

  &-icon {
    position: absolute;

    .ico {
      font-size: 48px;
    }
  }

  &:before {
    display: block;
    position: absolute;
    font-family: "rr-ico" !important;
    content: "\f703";
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    top: 10px;
    left: 15px;
    width: 48px;
    height: 48px;
  }

  &.investment-aegon:before {
    content: "\f73c";
  }

  &.risk-level-2:before, &.risk-level-3:before, &.risk-level-4:before {
    color: #000;
  }

  &-info {
    display: table;
    margin: 0;
    padding: 0 0 0 70px;
    vertical-align: middle;
    min-height: 50px;
    width: 100%;
  }

  .investmentHorizontal();

  &-name, &-risk-level {
    display: table-cell;
    vertical-align: middle;
  }

  &-risk-level-na {
    font-size: 16px;
    line-height: 18px;
  }

  &-aegon {
    .investment-name {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &:last-child {
    margin: 0;
  }

  &-square {
    .investment-icon {
      bottom: 10px;
      left: 0;
      width: 100%;
      text-align: center;
    }

    .investment-info {
      padding: 0 0 55px;
      vertical-align: top;
      text-align: center;
    }

    .investment-name, .investment-risk-level {
      width: 100%;
      display: block;
      padding: 0;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

@media  only screen and (max-width: 500px) {
  .investment {
    .investmentHorizontalSmall();
  }
}

@media  only screen and (max-width: 375px) {
  .investment {
    .investmentStacked();
  }
}








.margin-0 {
  margin: 0 !important;
}

.margin-top {
  margin-top: 15px !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-bottom {
  margin-bottom: 15px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-lg {
  margin-bottom: 30px !important;
}

.margin-bottom-xl {
  margin-bottom: 50px !important;
}

.margin-left-0 {
  margin-left: 0 !important;
}

.margin-right-0 {
  margin-right: 0 !important;
}



.padding-0{
  padding:0 !important;
}

.padding-top-0{
  padding-top:0 !important;
}

.padding-left-0{
  padding-left:0 !important;
}

.padding-right-0{
  padding-right:0 !important;
}

.padding-bottom-0{
  padding-bottom:0 !important;
}

.padding-top-bottom-0{
  padding-top:0 !important;
  padding-bottom:0 !important;
}

.padding-top-bottom{
  padding-top:@padding  !important;
  padding-bottom:@padding !important;
}

.padding {
  padding:@padding !important;
}

.padding-top {
  padding-top:@padding !important;
}

.padding-bottom {
  padding-bottom:@padding !important;
}

.panel-border{
  border: 1px solid @grayLt;
}


form .panel{
  padding: @padding;
}


 /*arrow added to leftarrowdiv DIV*/
.panel-left-arrow:after{
  content:'';
  display:block;
  position:absolute;
  top:33%;
  left:-30px; /*should be set to -border-width x 2 */
  width:0;
  height:0;
  border-color: transparent @grayLighter transparent transparent; /*border color should be same as div div background color*/
  border-style: solid;
  border-width: 15px;
}

.panel-group {
  .panel {
    border-radius: 0;

    &:first-child {
      border-radius: @baseBorderRadius @baseBorderRadius 0 0;
      border-bottom: 0;
    }
    &:last-child {
      border-radius: 0 0 @baseBorderRadius @baseBorderRadius;
    }
  }
}

.panel-gray{
    margin-bottom:15px;
    .panel{
      background-color: @rr-lightgray;
       .border-radius(0 0 @baseBorderRadius @baseBorderRadius);

    }

    .background-gray-lighter{
     .border-radius(@baseBorderRadius @baseBorderRadius 0 0 );
     
    }

    li a{
      border-top: 1px solid #fff;
    }

  }

  //Scenario adjustments - fix paragraph if dirctly under a grey panel
.background-gray-lighter ~ .panel > p:first-child, .background-gray-lighter ~ .panel > p.first-child   { 
  margin: 15px 0px 7px 0px;
}

.background-gray-lighter ~ .panel > hr   { 
  margin: 5px 0 15px;
  border-top-color: @grayLighterTint;

  &:last-child {
    margin-bottom: 5px;
  }

  // ie8 fix for last-child
  &.last-child {
    margin-bottom: 5px;
  }
}

//Extend to fix scenario where 'h' tag in form but not fieldset
.inputForm .background-gray-lighter ~ .panel > p:first-child, .inputForm .background-gray-lighter ~ .panel > p.first-child   { 
  margin: 0px 0px 7px 0px;
}

//Scenario where h3 grey header is in a form but not a fieldset
.inputForm .background-gray-lighter h3, .inputForm .background-gray-lighter h3   { 
  border: none;
  margin:0;
  padding:0;

}

//Promo panels

.promo {
  position: relative;
  background-color: @grayDarkTint !important;

   .btn{
    position: absolute;
    bottom: 10px;
    width: 100%;
  }

  h3, .header-tag {
    margin: 0 0 10px
  }
           
  &:after {
    display:none !important; // hide the colour chip on the hand panels
  }
}


.promo-color {
  position: relative;
}


//Inline percentage - orphan our investments

.inline-percentage{
  margin: 10px 0;

  .txt{
    font-family: @rockwell;
    display: inline-block;
    vertical-align: top;
    margin-top:23px;
    margin-right: 10px;
    width: 80px;
    text-align: right;
    line-height: 1em;

  }

  .txt ~ .txt{   
    margin-left: 10px;
    width: 270px;
    text-align: left;
  }

  .widget-counter{
    display: inline-block;
  }
}


@media only screen and (max-width: 960px) {
  .inline-percentage{
    .txt ~ .txt{ 
      width: 250px;  
    }
  }
}


@media only screen and (max-width: 767px) {

  //Magic panel that shows as white until on mobile when it goes grey
  .panel-white-to-gray{
    
    .panel{
      background-color: @rr-lightgray;
      .border-radius(0 0 @baseBorderRadius @baseBorderRadius);
    }

    .background-gray-lighter{
     .border-radius(@baseBorderRadius @baseBorderRadius 0 0 );     
    }

    li a{
      border-top: 1px solid #fff;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 920px) {

  .inline-percentage{
    text-align: center;

    .widget-counter{
     display: inline-block;
     margin: 0;
    }

    .txt{  
      width: 100%;
      margin:0 !important;
      padding:0;
      text-align: center;      

      & span{      
        text-align: center;
        padding-right: 30px;
        width: 120px;
        margin: 0 auto;
        display: block;
        margin-bottom:5px;       
      }
    }

    .txt ~ .txt{ 
      width: 100%;
      margin:0 !important;
      padding:5px 0 10px 0;      
      text-align: center;

      & span{
        width: 100px;       
        display: inline;
        line-height: 1.5em;        
      }
    }
  }
}

//Layout fix for ie8
.ie8 .inline-percentage {
  .txt{
    margin-left: 80px;
  }

  .txt:first-child {
    margin-left: 0px; 
  }
 
}

@media only screen and (max-width: 599px) {
  .panel.feature-box {   

    &.feature-double-height {
      position:relative;
      height: auto;
      padding-bottom: 70px;

      > span.ico {
        font-size: 66px;
      }

      &.promo  {              
        padding-bottom: 0px;
      }
    }
  }
}

@media only screen and (max-width: 560px) {
   .inline-percentage{
    text-align: center;

    .widget-counter{
     display: inline-block;
     margin: 0;
    }

    .txt{  
      width: 100%;
      margin:0 !important;
      padding:0;
      text-align: center;      

      & span{      
        text-align: center;
        padding-right: 30px;
        width: 120px;
        margin: 0 auto;
        display: block;
        margin-bottom:5px;       
      }
    }

    .txt ~ .txt{ 
      width: 100%;
      margin:0 !important;
      padding:5px 0 10px 0;      
      text-align: center;

      & span{
        width: 100px;       
        display: inline;
        line-height: 1.5em;        
      }
    }
  }
  .lost-features-panel {
    margin-bottom: 10px;
  }
}



//Fund selection right panel

//Header style fix 
#selected-fund-details{
  h2, .header-tag {
    font-family: @rockwellBold;
    font-size: @baseFontSize + 1;
    line-height: 1em;
    margin-bottom: 15px;
  }
}

//3 stacks showing potential outcome of fund choice
  .potential-outcome li {
    margin: 0 3.8%;
    width: 24%;
    padding: 0;
    display: inline-block;
    text-align: center;    
  }

  .potential-outcome img {
    width: 100%;
    margin-bottom:5px;
  }

  .potential-outcome span {
    font-size: 1.1em;
    font-family: @avenirHeavy;
    display: block;
  }

  @media  only screen and (min-width: 768px) and (max-width: 876px),
          print {
    .potential-outcome span {
      font-size: .95em;
    }
  }

  /* Bootstrap toggle buttons (centred and set width) */
  .jstoggle-group-x2, .linktoggle-group-x2 {
    display: block;
    margin: 15px auto;
    width: 180px;
  }
  .jstoggle-group-x2 button, .linktoggle-group-x2 a {
    width:50%;
  }
  @media only screen and (min-width: 767px) {
    .jstoggle-group-x2, .linktoggle-group-x2 {
      margin: 25px auto;
    }
  }

  /* Alert and alert-error styling */
  .span3, .span4 {
    .alert {
      .ico {    
        left: -52px;
        font-size: 27px;
        position: absolute;
        color: #fcc917;
      }
    }
  }


  .span3, .span4 {
    .alert-error {
      .ico {
        color: #cc3131;
        left: -62px !important;
      }

      .help-inline {
        display: block;
      }
    }
  }

  .alert-error .control-group > .ico {
    display: none !important;
  }


 @media only screen and (max-width: 767px) {
    .span3, .span4 {
      .alert {
        .ico {
          position: relative;
          left: 0 !important;
          top: 0;
          vertical-align: middle;
          float: left;
          margin: 0 5px 0 -3px;
        }
      }
      .alert-error {
        .ico {
          position: absolute;
          float: none;
        }

        .help-inline {
          padding-left: 30px;
        }
      }
    }
  }


.panel > h3 .ico, .panel > .header-tag .ico {
  font-size: 1.3em;
  line-height: 0;
  padding-right: 5px;
  vertical-align: middle;
} 

//Small fix for items in span3

.span3 > &:first-child > .no-top-margin{
  margin-top:-20px !important;
}

//Fix to extend previous styling of .breakdown for 'About workplace pensions'
.span7 .two-col{
  margin-bottom: 10px;
  
  .breakdown {
    width: 50%;
    float: left;
    text-align: center;
    padding: 0px 5px 8px 5px; //8px @padding;

    .para{
      padding: 0 10px !important;
      font-family: @baseFontFamily !important;
      text-align: left;
      font-size: 15px !important;
      color: #333 !important;
    }
  }
}

@media  only screen and (min-width: 768px) and (max-width: 815px),
        only screen and (max-width: 480px) {
  .span7 .two-col .breakdown {
    width: 100%;
    float: none;
  }
}