 //Variable
    @outline: #74b9ef;

.pathway {
   


    .form-horizontal .people-like-you {
        background-color: #fff;
        border-color: #bad405;

        .large-icon .ico {
            font-size: 68px;
        }

        .close-icon .ico {
            font-size: 22px;
        }
    }

    a{
        color:#008562;
    }

    a:hover, a:focus{
        color:#333;
        text-decoration: underline;

    }
    
    /* iOS fix inner shaodw */
    input{
      box-shadow: none !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }


    /* iOS fix above has broken date-picker widget on iPad mini & iPhone RRD-4403 SF (04/12/15) */
    input[type=date]{
      -webkit-appearance: menulist-button;
    }
    
    input + button, input + .confirm-icon + button {
        margin-left: 10px;
    }
    //Fix for iOS/osX on validation errors
    .add-on{
        background-color: transparent !important;
    };    
    

    .input-prepend{
      background-color: transparent !important;
    }



    div.panel.form-actions{
        padding: 30px 0;
    }

    .playBackPanel{
        background: #fff;        
        display: block;
        max-width: 320px;   
        p{
            padding:10px;
        }
    }
    
    /* TODO - Add to mixins */
    .brl{
        border-left: 2px solid #333;
    }
    .br-green{
        border-color: #008562
    }

    .help-icon a{
        color:#666;
        opacity:1;
    }
    .help-icon a:hover, .help-icon a:focus{
        color:#008562
    }

    .toggle-group + .help-icon, input + a{
       margin-top: 8px;
    }
    .btn-processing-ico{
    margin-top: 20px !important;
    margin-left: 5px;
    }


    .button-wording {
        width: auto;
        display: inline-block;
        text-align: right;
    }

        .direction {
        width: 100%;
        display: inline-block;
        font-size: 18px;
    }

        .large-ico {
        font-size: 55px;
        vertical-align: top;
        line-height: 40px;
    }

        .btn-large {
        padding: 11px 5px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px; 
    }

    .stack-spacer {
        text-align: center;
    }

    .form-horizontal .frm-lbl {
        text-align: right;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    .full-width-lbl {
        width: 100% !important;
        text-align: left !important;
        margin-left: 20px !important;
    }

    .no-margin {
         margin-left: 0 !important;
     }

    .panel {
       // padding: 15px 0 !important;
    }

    .middle-btn {
        text-align: center;
    }

   button.btn.cta-large {
        background: none !important;
        background-repeat: !important;
        background-image: none !important;
        background-color: #00A67A !important;
        color: #fff;
       
        border: 1px solid #00A67A !important;
        border-bottom: 3px solid #066F53 !important;
    }

    button.btn.cta-large:hover {
        background-color: #066F53 !important;
        color: #fff;
        background-image: none !important;
        border: 1px solid #066F53 !important;
        border-bottom: 3px solid #066F53 !important;
    }


    button.btn.cta-large .ico-large {
        font-size: 3em;
        margin: 10px -15px 0 0 !important;
        padding: 0 !important;
        float: right;
    }

    button.btn.cta-large .large-btn-text {
        font-size: 2em;
    }

    button .button-text .btn-text {
        padding-bottom: 2px;
    }

    button .button-text {
        text-align: right !important;
        display: inline-block !important;
    }

    .pension-summary, .isa-summary {

        .stack-spacer .control-group {
            margin-top: 20px;
        }

        .right label {
            width: 60%;
            margin-right: 20px;
        }
        
        label {
            float: right;
            text-align: left;
        }

        .total-savings {
            font-size: 36px;
            line-height: 40px;
        }

        .large-amount {
            font-size: 28px;
            line-height: 30px;
            vertical-align: middle;
        }

    }

    .removePension {
        float: right;
        line-height: 40px;
        margin-right: 20px;
    }

    .savings-actions {
    float: right;
    margin-right: 20px;
    margin-top: -20px;
    }

    .isa-summary .right {
        margin-top: 30px;
    }

    // Investment Choice
    .investment-choice {
        padding-top:0;
    }

    // Marketing Preferences
    .marketing-pre label.label_check.large {
        width: 80px;
        display: inline-block;
       
    }

    // Verify email
    .verify-email .control-group:first-child {
        margin-bottom: 0;

    }


    .control-group {

        .lbl-centered {
            //line-height: 40px;
            vertical-align: middle;
            padding-top: 8px !important;
        }

        .lbl-50{
            padding-top: 15px !important;
        }

        .btn-lbl-centered {
            vertical-align: middle;
            margin-top: 15px !important;
        }
        .input-lbl {
            line-height: 40px;
            margin-left: 10px;
        }

        .centered-btn-help {
            line-height: 42px;
        }


        select, input {
            height: 40px !important;
        }

        .input-prepend input {
            border-left: 0;
        }

        .add-on {
            height: 40px !important;
            line-height: 40px !important;
            vertical-align: middle !important;
            padding: 0 0 0 6px !important;
            background-color: #fff !important;
            border-right: none !important;
        }

        .form-help {
            height: 40px !important;
            width: 40px !important;
            padding: 5px 0 0 0 !important;
        }
    }

    .toggle-group {
        
        background-color: transparent !important;
        border: none !important;
        padding: 0 !important;

        &.focus {  
        //outline:none;                 
            outline: 2px solid @outline;
             outline-offset: 2px;
        } 
       

        #togbtn-as-link {
            border: none !important;
        }
        
        .margin-right.toggle-btn-xl {
            margin-right: 10px !important;
        }

        .toggle-btn-xl {
            height: 50px !important;
            padding: 15px;
        }

        .toggle-btn-xl:hover, .toggle-btn-xl:focus {
           background: none !important;
           text-decoration: underline;
           color: #333;
        }


        label.btn.toggle-left{
            margin-right: 10px !important;
        }

         label + button{
            margin-left: 10px !important;
        }

         /* Button margin fix for phones */ 
        @media only screen and (max-width: 400px) {
             .margin-right.toggle-btn-xl {
                margin-right: 7px !important;
            }
             label.btn.toggle-left{
                margin-right: 7px !important;
            }

             label + button{
                margin-left: 7px !important;
            }
        }

    }

   



    .toggle-group input[type=radio] + label.btn {
        height: 50px;
        color: #008562;
        background: #fff;
        border-color: #ccc;
        border: 1px solid #ccc !important;
        border-radius: 6px !important;
        
        
        border-bottom: 3px solid #ccc !important;
        min-width: 50px !important;
        text-align: center !important;      
        padding: 15px 6px;
    }

    .toggle-group input[type=radio] + label.btn.btn-link {
        height: 50px;
        color: #008562;
        background: transparent;
        border-color: transparent;
        border: 1px solid transparent !important;
        border-radius: 6px !important;
      
        
        min-width: auto !important;
        text-align: left !important;
        padding: 15px 0px 15px 0px;
    }

    .toggle-group input[type=radio]+label.btn:hover, .toggle-group input[type=radio]+label.btn:focus {
        color: #777 !important;
        background-color: #fff !important;
        border: 1px solid #999 !important;
        padding: 16px 6px 14px 6px;
    }

    .toggle-group input[type=radio]+label.btn.btn-link:hover, .toggle-group input[type=radio]+label.btn.btn-link:focus {
        color: #333 !important;
        background-color: transparent !important;
        border: 1px solid transparent !important;
         padding: 15px 0px 15px 0px;
    }

    /*toggle button goes grey on selection*/
     .toggle-group input[type=radio]+label.checked:hover{
         background-color: #777 !important;
        color: #fff !important;
        border-color: #777 !important;
        border-top: 3px solid #333 !important;
        padding: 13px 6px 15px 6px;
    }



    .toggle-group input[type="radio"]:checked + label {
        background-color: #777 !important;
        color: #fff !important;
        border-color: #777 !important;
        border-top: 3px solid #333 !important;
        padding: 13px 6px 15px 6px;
    }



    .tab-content{
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 20px;
      .border-radius(0 0 6px 6px);
      border-top: none;
      overflow-x: hidden;
    }


    /*Tabs - stay as tabs*/
.nav.nav-tabs{
  margin-bottom: 0px;
  li{
    padding: 0 !important;
    /*fits three tabs on iPhone4 */
    max-width: 33%;

    .nav-tabs>.active>a{
      border-color: #ccc;
    }
  }

}





// OVERRIDE FOR LARGE DESKTOP MODAL ONLY - MORE DESIGN WORK NEEDED
@media only screen and (min-width: 1200px){
    .modal .form-horizontal .control-group > label, .modal .form-horizontal .control-group > .labeltxt {
        float: left !important;
        width: 150px !important;
        padding-top: 0;
       text-align: right;
        margin-right: 20px !important;
    }
}

@media only screen and (max-width: 979px) {

    .pathway .form-horizontal .frm-lbl {
     //text-align: left;
       // margin-left: 20px !important;
       // margin-right: 20px !important;
    }

    .pathway .form-horizontal .controls {
       // margin-left: 20px !important;
       // clear: both;
    }
}

@media only screen and (max-width: 979px) and (min-width: 768px){
    .help-block {
        padding-top: 10px;
        display: block;
        max-width: 320px;
    }

    ul#detailsTabs li a span {
        display: block;
    }

}




     @media screen and (max-width:560px) {

  ul#detailsTabs li a span { display: block; }
}

@media screen and (max-width:462px) {
  .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus, .nav-tabs>li>a { min-height: 58px; }
}

@media screen and (min-width:767px) and (max-width:979px) {

  .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus, .nav-tabs>li>a { min-height: 58px; }
}

} //Pathway wrapper end


//New CTA buttons

 button.btn.cta-large {
        background: none !important;
        background-repeat: !important;
        background-image: none !important;
        background-color: #00A67A !important;
        color: #fff;
       
        border: 1px solid #00A67A !important;
        border-bottom: 3px solid #066F53 !important;
    }

    button.btn.cta-large:hover {
        background-color: #066F53 !important;
        color: #fff;
        background-image: none !important;
        border: 1px solid #066F53 !important;
        border-bottom: 3px solid #066F53 !important;
    }


    button.btn.cta-large .ico-large {
        font-size: 3em;
        margin: 10px -15px 0 0 !important;
        padding: 0 !important;
        float: right;
    }

    button.btn.cta-large .large-btn-text {
        font-size: 2em;
    }

    button .button-text .btn-text {
        padding-bottom: 2px;
    }

    button .button-text {
        text-align: right !important;
        display: inline-block !important;
    }

button.btn.cta-back, button.btn.cta-back:visited, button.btn.cta-back:active, button.btn.cta-back:active:focus {
        position: relative;
        display: inline-block;
        overflow: hidden;   
        //padding: 11px; 
        
        margin-left: 0px;
        
        text-decoration: none;
        border:none;
        
        color: #008562;        
        text-decoration: none;
}

   button.btn.cta-back:hover, button.btn.cta-back:focus {
       color:#333;
       text-decoration: underline;
        outline: none;
    }


button.btn.cta, button.btn.cta:visited, button.btn.cta:active, button.btn.cta:active:focus {
        
        position: relative;
        display: inline-block;
        overflow: hidden;   
        padding: 9px;  
        
        // margin-left: 10px;

        
        text-decoration: none;
        border-radius: 6px;
        

       
        color: #fff;        
        text-decoration: none;

        transition: background-color 0.5s ease;
        background-color: #064F38;
        border: 1px solid: #008562;

        background-size: 100% 200%;
       // background-image: linear-gradient(to top, #064F38 50%, #008562 50%);

    background-image: -moz-linear-gradient(top, #008562 50%, #064F38 50%); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008562 50%), to(#064F38 50%)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, #008562 50%, #064F38 50%); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, #008562 50%, #064F38 50%); // Opera 11.10
    background-image: linear-gradient(to bottom, #008562 50%, #064F38 50%); // Standard, IE10
   background-repeat: repeat-x;   
        
        transition: background-position 0.2s;


        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        
    }

    button.btn.cta.cta-white{
        
        position: relative;
        display: inline-block;
        overflow: hidden;   
        padding: 9px; 
        
        text-decoration: none;
        border-radius: 6px;

        color: #008562;        
        text-decoration: none;

        background: #fff;
        border: 1px solid: #ccc; 

        text-shadow: none;

       
        
    }


    
    button.btn.cta:hover, button.btn.cta:focus {
        background-color: #064F38;
        background-position: 0 100%;

        outline: none;
    }

    button.btn.cta:after{
        content:"";
        position: absolute;
        display: block;
        width: 100%;
        height:3px;
        background-color: #064F38;
        bottom:0;
        left:0;

        border-radius:0 0 5px 5px;
    }

     button.btn.cta.cta-white:after{
        content:"";
        position: absolute;
        display: block;
        width: 100%;
        height:3px;
        background-color: #ccc;
        bottom:0;
        left:0;

        border-radius:0 0 5px 5px;
    }

     button.btn.cta.cta-white:hover, button.btn.cta.cta-white:focus {
        background-color: #fff;
        border-color: #999;
        color: #666;

        outline: none;

        &:after{
            display: none;
        }
    }

    button.btn.cta-desc{
        font-size: 1.3em;
        text-align: right;
        display: block;
        padding: 11px 40px 11px 11px;
        span.descTxt {
            padding-top: 3px;
            display: block;
            font-size: 0.7em;
        }

        span.ico-large{
            font-size: 2em;
            position: absolute;
            top: 0;
            right:0;
            vertical-align: top;
            line-height: 65px;
        }
    }



     button.btn.cta-back.cta-desc{
        text-align: left;
         padding: 11px 11px 11px 40px;
         background: none;

          span.ico-large{
            font-size: 2em;
            position: absolute;
            top: 0;
            left:0;
            vertical-align: top;
            line-height: 65px;
        }
       
     }

     button.btn.cta.cta-desc.cta-disabled{
        background: #999;
        color: #f4f4f4;

        &:after{       
            background-color: #666;    
        }
     }

     button.btn.cta-desc:active,button.btn.cta-desc:active:focus{
         padding: 11px 40px 11px 11px;
     }

     button.btn.cta-back.cta-desc:active, button.btn.cta-back.cta-desc:active:focus{
         padding: 11px 11px 11px 40px;
     }

//End of CTA buttons


    // Need Help
    #sticky.stick {
        position: fixed;
        top: 100px;
        width: 27%;
        z-index: 9;
        border-radius: 0 0 0.5em 0.5em;
    }
    .call-back {
        padding-left:55px;
        padding-bottom: 20px;
    }
    .call-back h3 {
        font-family: @avenirMedium;
        font-size: 20px;
    }

    @media only screen and (max-width: 979px) and (min-width: 768px) {
        #sticky.stick {
            width: 31%;
        }
    }

    @media only screen and (min-width: 1200px) {
        #sticky.stick {
            width: 313px;
        }
    }


/* STEP 4 */
.pension-docs{

    & .intro-text{
        font-size: (@baseFontSize+4);
    }

    & .info-graph{
        text-align: center;
    }
        
}

.pension-docs,
.investment-choice,
.payments-tranfers,
.one-last-thing{

    & .header{
        font-family: @rockwell;
        font-size: ( @baseFontSize + 7 );
    }
   
    & .ico-left {
        div &{
            position: relative;
        }
        margin: 15px 0;
        padding: 0 0 0 38px;
        display: block;
        
        & .ico:first-child {
            font-size: (@baseFontSize + 24 );
            left: -10px;
            position: absolute;
            top: -4px;
            color: @grayLt;
        }
        & h4 {
            color: @rr-green;
            font-size: (@baseFontSize+2);
            font-family:  @avenirMedium;
            margin: 0 0 4px;
        }
        & .file-descriptor{
            color: @grayMedium;
            font-size: (@baseFontSize);
            margin: 2px 0 0;
        }
    }
}
.personal-illustration,
.key-features,
.payments-tranfers,
.one-last-thing{

    margin-top: 15px;        

    & .size-text{
        color: @grayMedium;
        font-size: @baseFontSize;
        display: block;
        line-height: 1.3em;
    }
}

.investment-choice{
    & .solution{
        font-family: @avenirMedium;
        width: 80%;
        border-radius: 6px;
        border: 1px solid @yellow;
        text-align: center;

        & .header{
            height: 50px;
            line-height: 50px;
            background: @yellow;
            font-family: @avenirMedium;
            &:before{
                content:"";
                display: inline-block;
                position: relative;
                font-family: "rr-ico"!important;
                font-size: 1.5em;
                line-height: 1;
                vertical-align: top;
                margin: 6px 10px 0 -30px;
            }
        }

        & .risk-level{
            font-size:18px;
            height: 50px;
            line-height: 50px;
            position: relative;
            &:before{
                content:"";
                background: url(../img/solution3.png) no-repeat;
                background-size: 40px 26px;
                display: inline-block;
                height: 26px;
                margin: 10px 10px 0 -45px;
                position: relative;
                vertical-align: top;
                width: 40px;

                .ie8 &{
                   margin: 10px 10px 0 -55px; 
                }
            }
        }
    }
    & .reports-list{
        & .ico-left {
            margin-top: 0;
        }
    }
}


.transfer-illustration{
    text-align: center;
    & .text-hint{
        color: @grayLight;
        font-family: @avenirLight;
        display: block;
        line-height: 1.3em; 
        font-size: (@baseFontSize);
    }
    & p{
        
        margin: 15px auto 0 auto;
        font-family: @avenirMedium;
        font-size: (@baseFontSize + 1);
    }
    & .transfer-value{
        color: @grayLight;     
        margin-top: 60px;
        font-size: (@baseFontSize);

        & .text-hint{
            color: @grayDark;
            font-size: 2em;
        }
    }
}

.horizontal-border{
    border-top: 1px solid @grayLight;
    display: block;
    width: 90%;
    height: 1px;
    text-align: center;
    margin: 20px auto;

}

.payments-tranfers{

    & .info-graph{
        text-align: left;
    }

    & .payment-text{
        font-family: @avenirLight;
        font-size: (@baseFontSize + 24);
        line-height: 1.2em;
    }
    & .reports-list{
        div{
            margin-top: 90px;
        }
    }
}

.one-last-thing{
    & .terms{
        margin: 40px 0px;
    }
}

.review-confirm-form{
    & .declaration{
        background: none;
        & textarea{
            background: none;
            border-radius: 0;
        }
    }
    & .form-confirmation{
        background: none;
        & #reviewandconfirmcheckbox{
            font-size: (@baseFontSize + 2);
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 895px){

    .transfer-illustration{
        & .transfer-value{
            & .text-hint{
                font-size: 25px;
            }
        }
    }

}

@media only screen and (max-width: 767px){

    .payments-tranfers{
        & .reports-list{
            div{
                margin-top: 0;
            }
        }
    }
    .investment-choice{
        
        & .reports-list{
             margin-top: 25px;
        }

    }

    .investment-choice{
        .solution{
            width: 100%;
            .header {
                &:before {
                    margin:6px 10px 0 0;
                }
            }

            .risk-level {
                &:before {
                    margin:10px 10px 0 0;
                }
            }
        }
    }

    .transfer-illustration{
        & .transfer-value{    
            margin-top: 0;
        }
    }
}


/* Confirm icon placement for new higher inputs */
.confirm-icon{
    margin-top: 9px;
}


@media only screen and (min-width: 768px) and (max-width: 1023px){

    .investment-choice{
        & .solution{
            & .risk-level{
                &:before{
                    margin: 10px 5px 0 -18px;
                }
            }
            
            & .header{
               &:before{
                   margin: 6px 5px 0 -5px;
               }
           }
        }
    }

}


/*Fix for PLaceholder in DOB */
.ie8-only {
display: none;
}
.ie8 .ie8-only {
display:block;
}

.white-backing{
    padding:10px;
     background-color: #fff;
}



/* New fund selector UI - with flexible width layout */
/* #CCC is the default colour before function replacement */

.buttonStyle{
      transition: background-color 0.5s ease;
    border-style:solid;
    border: 2px solid #ccc;
    border-bottom: 5px solid #ccc;
    background-color: #ffffff;
    .border-radius(6px);
    text-align: center;

      background-size: 100% 200%;
       // background-image: linear-gradient(to top, #ccc 50%, #008562 50%);

    background-image: -moz-linear-gradient(top, #fff 50%, #ccc 50%); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff 50%), to(#ccc 50%)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, #fff 50%, #ccc 50%); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, #fff 50%, #ccc 50%); // Opera 11.10
    background-image: linear-gradient(to bottom, #fff 50%, #ccc 50%); // Standard, IE10
    background-repeat: repeat-x;   
        
        transition: background-position 0.2s;

    height:115px;

    span{
        &.fs-type{
            display: block;
            padding:10px 10px 0px 10px;
            font-size: 1em;

        }
        
        &.fs-number{
            display: block;
            padding:10px 10px 10px 10px;
            font-family: "Avenir LT W01 65 Medium";
            font-size: 1.2em;
        }
        &.fs-ico-pig{
            position: relative;
            display: block;
            padding:10px;
            font-family: 'rr-ico';    
            font-weight: normal;
            font-variant: normal;
            font-size: 1.9em;
            text-align: center;
            background-color: transparent;
            padding: 0px 0px 5px 0px;

             &:before {
            font-family: 'rr-ico';
            content: "\f703";
            }
        }

        &.fs-ico-none{        
            font-size: 3.15em;
            line-height: 1.1em;
            color: #ccc;
             &:before {
            font-family: 'rr-ico';
            content: "\f713";
            }
        }


    }


    &:hover, &:focus{
         background-position: 0 100%;
        background-color: #ccc;
        outline: none;
    }
    

}



.fsContainer{
    position: relative;
    display: block;
    background-color: #ffffff;
    width:100%;

    //Bar to show risk for user once use the risk checker tool
    #fsRiskBar{
        position: relative;
        display: block;
        width: 100%;
        font-family: "Avenir LT W01 35 Light","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 1em;
        padding: 10px;
        background-color: #fc0;

        &:after{
            //Trangle location
        }

    }
    /* Main list options */
    ol{
        margin: 0;
        padding: 0;
        background-color: #fff;
        overflow: hidden;



        li {
            list-style: none;
            display: inline-block;
            float: left;
            background-color: #fff;
            margin:0 0 0 2.5%;
            padding:0; 
            //Even split of 5 - display:flex fix wierd margin between elements
            width: 18%;


            button.fs-cta{                
                position: relative;
                margin:5px 0;
                width: 100%;
                padding: 2px 4px;

                .buttonStyle();

                .setColors(@backcolor, @textcolor){

                    border-color: @backcolor;

                    background-image: -moz-linear-gradient(top, #fff 50%, @backcolor 50%); // FF 3.6+
                    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff 50%), to(@backcolor 50%)); // Safari 4+, Chrome 2+
                    background-image: -webkit-linear-gradient(top, #fff 50%, @backcolor 50%); // Safari 5.1+, Chrome 10+
                    background-image: -o-linear-gradient(top, #fff 50%, @backcolor 50%); // Opera 11.10
                    background-image: linear-gradient(to bottom, #fff 50%, @backcolor 50%); // Standard, IE10
                    background-repeat: repeat-x;   

                    .fs-ico-pig{ color: @backcolor}
                    
                    &:hover, &:focus{
                        background-position: 0 100%;
                        background-color: @backcolor;
                        color:@textcolor;
                        .fs-ico-pig{ color: @textcolor}                       
                    }

                    &.selected{
                         background-position: 0 100%;
                          background-color: @backcolor;
                        color:@textcolor;
                        .fs-ico-pig{ color: @textcolor}   
                     }

                  

                } 
                /* Set colours for each fund select button */               

                &.col-1{
                    .setColors(#27863D, #fff);
                }

                &.col-1.disabled{
                    .setColors(#ccc, #fff);
                }


                 &.col-1.disabled:hover, &.col-1.disabled:focus{
                        background-position: 0 0;
                        background-color: #fff;
                        color:#666;
                        cursor:not-allowed;
                                         
                    }

                &.col-2{
                     .setColors(#BAD405, #333);
                }

                &.col-3{
                    .setColors(#FCC917, #333);
                }

                &.col-4{
                    .setColors(#F27D00, #333);
                }

                &.col-5{
                    .setColors(#B50E0E, #fff);
                }


            }

        }


        :first-child{
            margin:0;
        }   
    }

    

    

    #fsRiskIndicator{
        position: relative;       
        width: 100%;

        :before{
            position: absolute;
            top:50%;
            left:0;
            content: '';
            display: block;
            width: 100%;
            height: 0px;           
            border-bottom: 2px dashed #ccc;          
        }
       
        .rIContent{  
            position: relative;
            display: block;
            width: 100%;            
            font-family: "Avenir LT W01 35 Light","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 1em;
            padding: 10px 0;
            background-color: #fff;

            .first-child-item{
                position: relative;
                background-color: #fff;            
                display: inline-block;  
                  position: relative;
                  padding-right: 4px;
                &:before{
                    display: none;
                }
                        
            }

            .last-child-item{
                position: relative;
                background-color:  #fff;
                float:right;
                display: block; 
                overflow: visible;   
                padding-left:4px;

                &:before { /*arrow*/
                    content:'';
                    display:block;
                    position:absolute;                   
                    top:25%;
                    width:0;
                    height:0;
                    border-color: transparent transparent transparent #ccc; 
                    border-style: solid;
                    border-width: 6px;
                    border-top-width: 6px;
                    margin-left: -6px;
                }
            }  
            clear: both;
         }





      

    }



    #fsSelectedBar{
        position: relative;
        display: block;
        background-color: #ccc;
        padding: 2px;
        font-size: 1em;
        font-weight: normal;
        width: 100%;
        height: 2px;
        margin-top: 12px;

        &:before { /*arrow*/
            content:'';
            display:block;
            position:absolute;
            bottom:100%; 
            left:50%;
            width:0;
            height:0;
            border-color: transparent transparent #ccc transparent; 
            border-style: solid;
            border-width: 11px;
            border-top-width: 14px;
            margin-left: -10px;
        }

        &.fund-1-selected{
             background-color: #27863D;
             &:before {
                border-color: transparent transparent #27863D transparent; 
                left: 9%;
              }
        }

        &.fund-2-selected{
             background-color: #BAD405;
             &:before {
                border-color: transparent transparent #BAD405 transparent; 
                left: 30%;
              }
            
        }

        &.fund-3-selected{
             background-color: #FCC917;
             &:before {
                border-color: transparent transparent #FCC917 transparent; 
                left: 50%;
              }
       
        }

        &.fund-4-selected{
              background-color: #F27D00;
                 &:before {
                border-color: transparent transparent #F27D00 transparent; 
                left: 70%;
              }
        }

        &.fund-5-selected{
          background-color: #B50E0E;
            &:before {
              border-color: transparent transparent #B50E0E transparent; 
              left: 90%;
            }
        }
    }


     #fsUserRiskIndicated{

        display: block;
        position: relative;
        width: 100%;
        
        background-color: #efefef;
        margin-bottom: 15px;
        .border-radius(6px);
        text-align: center;

        p{
          padding:10px;
            .users-risk-indicator{
              font-family: "Avenir LT W01 65 Medium";
            }
        }

         &:after { /*arrow*/
            content:'';
            display:block;
            position:absolute;            
            left:28%;
            width:0;
            height:0;
            border-color: #efefef transparent transparent  transparent; 
            border-style: solid;
            border-width: 11px;
            border-top-width: 14px;
             margin-left: -10px;
            
        }

        &.risk-1-ass{
             background-color: #27863D;
             color: #fff;
            
             &:after {
                border-color: #27863D transparent transparent transparent ; 
                left: 9%;
              }
        }

        &.risk-2-ass{
             background-color: #BAD405;
             &:after {
                border-color: #BAD405 transparent transparent transparent ; 
                left: 30%;
              }
            
        }

        &.risk-3-ass{
             background-color: #FCC917;
             &:after {
                border-color: #FCC917 transparent transparent transparent ; 
                left: 50%;
              }
       
        }

        &.risk-4-ass{
              background-color: #F27D00;
                 &:after {
                border-color: #F27D00 transparent transparent transparent ; 
                left: 70%;
              }
        }

        &.risk-5-ass{
          background-color: #B50E0E;
          color: #fff;
            &:after {
              border-color: #B50E0E transparent transparent transparent ; 
              left: 90%;
            }
        } 

    }
    
}

/* hide elements of fund selection buttons */


@media screen and (max-width:474px) {
  .fsContainer ol li button.fs-cta span.fs-ico-pig{display: none;}
  .fsContainer ol li button.fs-cta span.fs-type{display: none;}
  .fsContainer ol li button.fs-cta {min-height: 58px}
}

@media screen and (max-width:560px) {
    .fsContainer ol li button.fs-cta{height: 65px;}
  .fsContainer ol li button.fs-cta span.fs-ico-pig{display: none;}
  .fsContainer ol li button.fs-cta {min-height: 58px}
  .fsContainer ol li button.fs-cta span.fs-ico-none { font-size: 2.15em }
  ul#detailsTabs li a span { display: block; }
}

@media screen and (max-width:462px) {
  .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus, .nav-tabs>li>a { min-height: 58px; }
}

@media screen and (min-width:767px) and (max-width:979px) {
.fsContainer ol li button.fs-cta{height: 85px;}
  .fsContainer ol li button.fs-cta span.fs-ico-pig{display: none;}
  .fsContainer ol li button.fs-cta span.fs-type{display: none;}
  .fsContainer ol li button.fs-cta {min-height: 58px}
  .fsContainer ol li button.fs-cta span.fs-ico-none { font-size: 2.15em; }
  .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus, .nav-tabs>li>a { min-height: 58px; }
}



@media screen and (max-width:560px) and (min-width:475px)  {

   .fsContainer ol li button.fs-cta {
        min-height: 81px;
     }

    .fsContainer ol li button.fs-cta.disabled span.fs-type {
      display: none;
    }

}

/* Making white form for fund selector */

fieldset.form-white{
    background-color: #fff;

    h3{
      padding: 15px 0 15px 0px;
    }

}


//Master class for hiding content with support of HTML5 hidden attribure
//HTML5 shiv fallback whould convert 'hidden' to .hidden
//Javascript should then be used to show and hide the 'hidden' and .hidden options
//This will stop the need for aria-hidden usage and be more future proof
.hidden{
    display: none !important;
}

/* html example
<div hidden>This content is fully hidden</div>
<div hidden class="hidden">This content is fully hidden</div>
*/


/*Icon replacement test */

.ico.icon-help{
     &:before {
    font-family: 'rr-ico';
    content: "\f70d";
    }
}

.ico.icon-close{
     &:before {
    font-family: 'rr-ico';
    content: "\f706";
    }
}

.ico.icon-tick{
     &:before {
    font-family: 'rr-ico';
    content: "\f70f";
    }
}

.ico.icon-right-arrow{
     &:before {
    font-family: 'rr-ico';
    content: "\f719";
    }
}

.ico.icon-spinner{
     &:before {
    font-family: 'rr-ico';
    content: "\f70c";
    }
}
.ico.icon-doc{
     &:before {
    font-family: 'rr-ico';
    content: "\f71f";
    }
}




.left-align { text-align: left !important; }

/*Tabs - stay as tabs*/
.nav.nav-tabs{
  margin-bottom: 0px;
  li{
    padding: 0 !important;
    /*fits three tabs on iPhone4 */
    max-width: 33%;


    .nav-tabs>.active>a{
      border-color: #ccc;
    }
  }


}


@media screen and (max-width: 820px){
  .nav.nav-tabs li{
   /*TODO sort out tab widths to force wrapping */
  }

}

.tab-content{
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  .border-radius(0 0 6px 6px);
  border-top: none;
  overflow-x: hidden;
}





/* Tabs to Collapsables queires */
// @media only screen and (max-width: 490px) {
//   .visible-xs{
//     display: block;
//   }
//   .hidden-xs{
//     display: none;
//   }
//  }

// @media only screen and (min-width: 768px) and  (max-width: 997px){
//   .visible-xs{
//     display: block;
//   }
//   .hidden-xs{
//     display: none;
//   }
//  }

 /* Risk level indicator chart/animation */ 

 form #fsSelectedInfo{

   .info-panel{
    margin-top: 10px;
     margin-bottom: 20px;
      position:relative;
      background-color: #efefef;
      padding:20px;
      min-height: 170px;


      img{
       float:left;        
        margin-right: 20px;

      }

      h5,p{
        position: relative;       
        margin-left: 150px;
      }

      a{
        display: block;
        padding-top: 10px !important;
      }
  }


    .pdf-link{
      .ico{color:#999; 
        font-size: 1.8em; 
        position: relative;
        top: 0.18em;
      }
      .file-descriptor{
        color: #666;
         font-family: "Avenir LT W01 35 Light","Helvetica Neue",Helvetica,Arial,sans-serif;
      }

    }
  
  
  h3,h4{
   padding-left: 0px;
  }
  
  .side-wrapper{
    position: relative;
    clear: both;
  }

  .side1, .side2{
    // float: left;
    // width: 50%;
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
  
}

 @media screen and (max-width: 410px) {
    form #fsSelectedInfo .info-panel{
      
      img{
        float: none;
        display: block;
        margin: 0 auto;
      }

      h5,p{
        position: relative;       
        margin-left: 0;
      }
    }

    form #fsSelectedInfo .pdf-link{ 
      .ico{
          top: 0.3em;
        }    
        .file-descriptor{   
        display: block;
        margin-left: 30px; 
        }
    }
    
}

/*chart key styling */
#pieChartHolder{
  position: relative;
  margin: 0 auto;
  
  max-width: 240px;
  padding: 10px 10px 0 10px;
}

ul.key{
  position: relative;
  margin:15px 0;
  padding:0;
  li{
    font-family: @avenirMedium;
    position: relative;
    margin:0 0 12px 0;
    line-height: 1.4em;
    padding: 2px 0 4px 35px;
    list-style: none;
    vertical-align: middle;
    span.color{
      display: inline-block;
      position: absolute;
      top:0;
      left:0;
      content: '';
      background-color: #ccc;
      width: 25px;
      height: 25px;
      .border-radius(4px);
     
    }
    span.percentage{
     font-family: @avenirLight;
    }
  }
}

@media screen and (max-width:600px) {

  #pieChartHolder{
   // margin: 0 auto;
    /*max-width: 210px;
    margin-bottom: -80px;*/
   // max-width: 75%;
   // margin-bottom: -20%;
  }

  form #fsSelectedInfo{
    .side1{      
        display: block;
        width: 100%;
       // height:auto;
       // float:none;
        /*height of risk indicator chart*/
       // margin-top: 140px;
    }
    .side2{      
        display: block;
        width: 100%;
       // height:auto;
       // float:none;
      //  margin-left:0;
    }
  }

  form #fsSelectedInfo .flip{
    .side1{      
        width: 100%;
        height:auto;
        float:left;
        /*height of risk indicator chart*/
        margin-top: 140px;
    }
    .side2{      
        width: 100%;
        height:auto;
        float:left;
        margin-left: -100%;
    }
  }
  
}

.rl-indicator-wrapper{
  position: relative;
  display: block;
  overflow: hidden;
  width: 190px;
  height: 130px;

  margin: 0 auto;
  margin-top: 10px;
  background-color: #fff;

  img {
    position: absolute;
    left:0;
    top:0;
    width: 190px;
    height: 190px;
  }


 

  .rl-indicator{
    /* transition tween */
     -ms-transition: all 1s cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 1s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 1s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.320, 1.275);

    /*start point*/
    -ms-transform:      rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -o-transform:      rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform:         rotate(-90deg);
   
    &.pos-1{
    -ms-transform:      rotate(-72deg);
      -moz-transform:    rotate(-72deg);
      -o-transform:      rotate(-72deg);
      -webkit-transform: rotate(-72deg);
      transform:         rotate(-72deg);
    }

    &.pos-2{
      -ms-transform:     rotate(-36deg);
      -moz-transform:    rotate(-36deg);
      -o-transform:      rotate(-36deg);
      -webkit-transform: rotate(-36deg);
      transform:         rotate(-36deg);
    }
    &.pos-3{
      -ms-transform:     rotate(0deg);
      -moz-transform:    rotate(0deg);
      -o-transform:      rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform:         rotate(0deg);
    }
    &.pos-4{
      -ms-transform:     rotate(36deg);
      -moz-transform:    rotate(36deg);
      -o-transform:      rotate(36deg);
      -webkit-transform: rotate(36deg);
      transform:         rotate(36deg);
    }
    &.pos-5{
    -ms-transform:     rotate(72deg);
      -moz-transform:    rotate(72deg);
      -o-transform:      rotate(72deg);
      -webkit-transform: rotate(72deg);
      transform:         rotate(72deg);
    }
  }

  .rl-text{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
  }
}


.ie8 .rl-indicator{
    /* IE8+ - must be on one line, unfortunately */ 
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=3.061616997868383e-16, M12=1, M21=-1, M22=3.061616997868383e-16, SizingMethod='auto expand')";
    margin-left: -3px;    
    margin-top: -3px;
   
  }

  .ie8 .rl-indicator.pos-1{
    /* IE8+ - must be on one line, unfortunately */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.30901699437494773, M12=0.9510565162951535, M21=-0.9510565162951535, M22=0.30901699437494773, SizingMethod='auto expand')";  
    margin-left: -28px;
    margin-top: -27px;
  }

  .ie8 .rl-indicator.pos-2{
    /* IE8+ - must be on one line, unfortunately */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.809016994374947, M12=0.5877852522924736, M21=-0.5877852522924736, M22=0.809016994374947, SizingMethod='auto expand')";  
    margin-left: -41px;
    margin-top: -41px;    
  }


  .ie8 .rl-indicator.pos-3{
    /* IE8+ - must be on one line, unfortunately */    
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";   
    margin-left: -3px;
    margin-top: -3px;
  }

   .ie8 .rl-indicator.pos-4{
     
     /* IE8+ - must be on one line, unfortunately */
     -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.8090169943749473, M12=-0.5877852522924734, M21=0.5877852522924734, M22=0.8090169943749473, SizingMethod='auto expand')";  
     margin-left: -41px;
     margin-top: -41px;
    
  }

   .ie8 .rl-indicator.pos-5{
     /* IE8+ - must be on one line, unfortunately */    
     -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.30901699437494723, M12=-0.9510565162951536, M21=0.9510565162951536, M22=0.30901699437494723, SizingMethod='auto expand')";  
     margin-left: -27px;    
     margin-top: -28px;
  }





/* Large checkbox */

@media screen {
   
  .controls > input[type="checkbox"]:first-child {
  left:-9999px;
  top:0;
  margin-top: 6px;
  position: absolute;
  }

  //Custom styling and positioning with JS and Images
  .has-js .label_check.large { 
    padding-left: 45px; 
    width: 80%;
    text-align: left;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1.3em;
    margin-left:0px;
    margin-bottom: 10px;
    margin-right:10px;
    padding-top: 3px !important;
    margin-top: 8px;
  }

  .label_check.large input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    margin-top: -3px;
  }
   

  .ie8 .has-js .form-horizontal .label_check.large{
     width:200px;
  }


  //Push original system inputs off screen so screen readers can still see them
  .has-js .label_check.large > input:first-child{ 
      position: absolute;
      left: -9999px; 
  }


  //CHECKBOX Styling with CSS styling
  .has-js .label_check.large { 
      background: none;

      &:before{
      position: absolute;
      content:'';
      left:0;
      width: 30px;
      height: 30px;
      border: 2px solid #999;
      .border-radius(6px);
    }

       &:after{
      position: absolute;
      font-family: 'rr-ico';
      content: "\f707";
      color: #fff;
      font-weight: normal;
      font-variant: normal;
      font-size: 1.3em;
      text-align: center;
      left:2px;
      top:5px;
      width: 28px;
      height: 28px;
            
      
    }


  }    

  //PNG fallback
  .ie8 .has-js .label_check.large,
  .no-svg .has-js .label_check.large { 
       background: none;

      &:before{
      position: absolute;
      content:'';
      left:0;
      width: 30px;
      height: 30px;
      border: 2px solid #999;
      .border-radius(6px);
    }

       &:after{
      position: absolute;
      font-family: 'rr-ico';
      content: "\f707";
      color: #fff;
      font-weight: normal;
      font-variant: normal;
      font-size: 1.3em;
      text-align: center;
      left:2px;
      top:5px;
      width: 28px;
      height: 28px;
            
      
    }
  }

  //Disabled state
  //.disabled
  .has-js label.disabled,
  .has-js label.disabled{
    background: none;
    cursor: help;
  }

  //PNG fallback
  .ie8 .has-js .label_check.large .disabled,
  .ie8 .has-js .label_chec .disabled,
  .no-svg .has-js .label_check.large .disabled,
  .no-svg .has-js .label_check.large .disabled { 
    background: none;
    cursor: help;
  }

   //JS adds .c_on for checked elements
  .has-js label.label_check.large.c_on{
    background: none;

     &:after{    
      color: #007d3b;
    }
  } 
  
  .has-js label.label_check.large.c_on.focus, .has-js label.label_check.large.c_on.focus:hover,
  .has-js label.label_check.large.c_on:focus, .has-js label.label_check.large.c_on:hover {
     &:after{    
      color: #7dae94;
    }
  }

  //PNG fallback
  .ie8 .has-js label.label_check.large.c_on,
  .no-svg .has-js label.label_check.large.c_on { 
    background: none;
     &:after{    
      color: #007d3b;
    }
  }

  //JS adds .focus class to focussed radio/checkbox styled lables       
  .has-js .label_check.large:hover,
  .label_check.large.focus { 
    background: none;
     &:after{    
      color: #ccc;
    }
  }
  //PNG fallback
  .ie8 .has-js .label_check.large:hover,
  .ie8 .label_check.large.focus,
  .no-svg .has-js .label_check.large:hover,
  .no-svg .label_check.large.focus { 
   background: none;
     &:after{    
      color: #fff;
    }
  }

  .has-js label.label_check.large.c_on:hover,
  .has-js label.label_check.large.c_on.focus{
    background: none;
       &:after{    
      color: #007d3b;
    }
  }
  //PNG fallback
  .ie8 .has-js .label_check.large:hover,
  .ie8 .has-js .label_check.large.focus,
  .no-svg .has-js .label_check.large:hover,
  .no-svg .has-js .label_check.large.focus { 
  background: none;
      &:after{    
      color: #007d3b;
    }
  }

}

/* version based on spans rather than sphedo */
.has-js label.label_check.large.toggle{
  padding-left:0;
  font-size: 16px;
  position: relative;
  color: #666;
  height:30px;
 
  span.leftLabel{
    position: absolute;
    padding: 3px 10px 3px 0;
    float: left;
    display: inline-block;
  }
   span.rightLabel{
    position: absolute;
    padding: 3px 0 3px 10px;
    right: -20px;
  }

  &:before, &:after{
    display: none;
  }

  

  span.before-elm{
     position: absolute;
      content:'';
      left:49px;
    top:0;
    display: inline-block;
    width: 77px;   
    height: 30px;
    .border-radius (20px);
    background-color: #666;
  }
  span.after-elm{

    position: absolute;
    transition:left 0.1s linear;
    background-color: #fff;
    width: 24px;
    height: 24px;
    .border-radius (23px);
    content:'';
    left: 52px;
    top: 3px;

  }
}
.has-js label.label_check.large.toggle:focus,.has-js label.label_check.large.toggle:hover{

  span.before-elm{
     border-color: #066F53;
    background-color: #008562;
  }
}

.has-js label.label_check.large.toggle.c_on{
  span.after-elm{
    transition:left 0.1s linear;
     left: 99px;
  }
}



/*Potential return stacks */

#return .potential-outcome{
  text-align: center;
}
#return .control-group {
    position: relative;
    width: 100%;
    text-align: center;

  .controls{
    display: inline-block;
    margin: 0 auto;
    width: 186px;
    text-align: center;
  }

  .help-icon {
    position: relative;
    top: -20px;
    margin: 0;
  }
}
#return .potential-outcome li {    
    width: 56px;
}

#return .potential-outcome li{
  .chart-bar {
      display: inline-block;
      width: 69px;
      height: 100px;
      vertical-align: bottom;
      overflow: hidden;
  }
}

.riskChartInModal{
    width: 90%;
    margin: 0 auto;
    max-width: 310px;
}

/* Progress indicator fix on IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  /* IE10+ specific styles go here */  
    .progress-tracker-advanced li {
        position:relative;

        &:after {
            left:50%;
            width: 100%;
        }
    }
}



//Fix for white backgrounds when disabled - JS/JAva .input-prepend add .disabled
.pathway .input-prepend.disabled .add-on{
        background-color: transparent !important;
}


//Consistant outlines on forms

// Everything else
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
.uneditable-input {
 


  // Focus state
  &:focus {
    border-color: @outline;
    outline: 2px solid @outline;
    .box-shadow(~"inset 0 2px 2px @outline, 0 0 8px @outline");
  }
  &.ie9 :focus {
    outline: thin @outline; /* IE6-9 */
  }
}

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie8 #pieChartHolder div{
  max-width: 100%;
  max-height: auto;
}

.ie9 #pieChartHolder svg {
 
}

// @media screen and (max-width:600px) {

//   .ie9 #pieChartHolder{
//     max-width: 100%;
//     margin-bottom: -15%;
//   }
// }

/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #pieChartHolder svg {
    height: 300px;
  }
  #pieChartHolder{
    max-width: 100%;
    //margin-bottom: -15%;
  }
}


#investMixContentArea {
    position: relative;
}


/* Extend checkbox-radiobtn.less */
/* New square checkbox UI 80px by 80px */

.has-js .label_check.square{
    background: #fff !important;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 50px 0px 8px 0px !important;
    margin-right: 10px;
    position: relative;
    //overflow: hidden;
    color: #008562;
    text-decoration: none;
    text-align: center; 
    border: 1px solid #ccc;
    border-bottom: 3px solid #ccc !important;
    .border-radius(6px);

    &:before {
        font-family: 'rr-ico';
        font-weight: 100;
        font-variant: normal;
        font-size: 3em;
        position: absolute;
        top:0;
        margin-top:15px;
        left:0;
        width: 100%;
        text-align: center;
        color: #999;
    }

    &.oneoff:before {
        content: "\f746";
    }
    &.monthly:before {
        content: "\f747";
    }
    &.transfer:before {
        content: "\f748";
    }
}

    .ie8 .has-js .label_check.square{
         width:80px;
    }

.has-js .label_check.square:hover{

    color: #777 !important;
    background-color: #fff !important;
    border: 1px solid #999 !important;
}

.has-js .label_check.square.c_on{
    background-color: #777777 !important;
    color: #fff;
    border: 1px solid #ccc !important;
    border-top: 3px solid #666 !important;
    
    &:before {
         color: #fff;
    }
}

.has-js .label_check.square.c_on:hover{

    color: #777 !important;
    background-color: #fff !important;
    border: 1px solid #999 !important;


    &:before {
         color: #999;
    }
}

 /*toggle button goes grey on selection*/
     .has-js .label_check.square.c_on:hover{
        background-color: #777777 !important;
    color: #fff !important;
    border: 1px solid #ccc !important;
    border-top: 3px solid #666 !important;
    
    &:before {
         color: #fff;
    }
    }

 //Variable
    @outline: #74b9ef;

.label_check.focus {
 

  // Focus state
 
    border-color: @outline;
    outline: 2px solid @outline;
    .box-shadow(~"inset 0 2px 2px @outline, 0 0 8px @outline");
  
  &.ie9 :focus {
    outline: thin @outline; /* IE6-9 */
  }
}



/* Extended forms.less */
/*New DOB*/

.dob-day{
 width:2.5em;
  margin-right:4px;
}
.dob-month{
   width:2.5em;
    margin-right:4px;

}
.dob-year{
 width:3.5em;
}

/*New sort code */
.sortcode{
  width:2.5em;
  margin-right:15px;
}

.split-line{ 
    content: "";
    width: 8px;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    margin-left: -11px;
    margin-top: 20px;
}

/* Extended pager.less */
/* New advanced version of progress indicator pathway/enhancements */
/* Designed for 4 sections or less - if more is needed then with of li's and media querie will need adjusted */
/* ---------------------------------------------------------------- */

.panel{
  position: relative;
}

.progress-tracker-advanced{
  list-style: none;
  display: block;
  margin: 0 auto;
  padding:0;
  position: relative;
  text-align: center; 
  width: 100%;
  clear: both;
  white-space: nowrap; 

  li{

    display: inline-block;
    background-color: transparent;
     
    list-style: none;
    width: 25%; //23%
    max-width: 150px;
    text-align: center;
    vertical-align: top;
    margin: 0;
    padding: 10px;
    color: #999999;
    // float:left; 
     white-space: normal; 

    &:after{
      position: absolute;
      top:22px;
      z-index: -1;
      content: "";
      width: 23%; //23%
      height:3px;
      background-color: #999999;
    }

    &:last-child, &.last-child{
      &:after{
        display: none;
      }
    }

    span{
      position: relative;
      display: block;
      background-color: transparent;
      padding-top: 5px;

    }

    span.number{
      display:inline-block;
      list-style: none;
      padding: 0; 
      border-radius: 3em;
      background-color: #fff;
      color: #999;
      font-family: @avenirLight;
      font-weight: none;
      height: 27px;
      width: 27px;
      line-height: 26px;
      text-align: center;
      border: 2px solid #999999;

      
    }

    &.visited{
      color: #333;

      span.number{

        border: 0px solid #ff0000;
        color: #333;

        &:after{
          position: absolute;
          margin:0;
          list-style: none;
          padding: 0; 
          border-radius: 3em;
          background-color: #008562;
          color: #fff;
          height: 27px;
          width: 27px;
          line-height: 24px;
          text-align: center;
          border: 2px solid #008562;
          font-family: 'rr-ico';
          font-size: 1.3em;
          font-weight: none;
          content: "\f707";
          left:0px;
          top:0px;

        }
      }

      &:after{        
        background-color: #008562;
      }
    }

    &.active{

      color: #333;

      span.number{

        border: 0px solid #ff0000;
        color: #333;

        &:after{
          position: absolute;
          margin:0;
          list-style: none;
          padding: 0; 
          border-radius: 3em;
          background-color: transparent;
          color: #333;
          height: 27px;
          width: 27px;
          line-height: 28px;
          text-align: center;
          border: 2px solid #008562;
          content:"";
          left:0px;
          top:0px;

        }
      }
    }

  }


}

/* IE9 fallback - incomplete */
.ie8 ul.progress-tracker-advanced, .ie9 ul.progress-tracker-advanced{
  position: relative;
}

.ie8 ul.progress-tracker-advanced li, .ie9 ul.progress-tracker-advanced li{
  position: relative;
}
.ie8 ul.progress-tracker-advanced li:after, .ie9 ul.progress-tracker-advanced li:after{
  content: "";
  width: 100%;
  height: 3px;  
  left: 50%;
}

.ie8 ul.progress-tracker-advanced li.last, .ie9 ul.progress-tracker-advanced li.last{

  &:after{display: none;}
}

.ie8 ul.progress-tracker-advanced li.visited span.number{

 color: #008562;
}


@media screen and (max-width: 450px){
  ul.progress-tracker-advanced li span{display: none;}
  ul.progress-tracker-advanced li span.number{display: inline-block;}
  
}


