@media print {
	

	// General
	h1 {
    display: block !important;
    position: relative !important;
    left: 0 !important;
    width: auto !important;
    height: auto !important;
  }

  .help-icon, .list-action {
    display: none !important;
    visibility: hidden;
  }

  #cookie-statement {
  	display: none !important;
  }


  // Mailbox
  [class*='mailbox'] .accordion-toggle .ico:first-child {
  	display: inline-block;
  	visibility: visible;
  }


  // Lifestyle planner
  .lifestyle-set ul li {
  	margin-top: 0;
  	display: block;

	  a{
	  	display: none;

	  	&.active {
	  		display: block;
	  		margin-top: 10px;
	  	}
	  }
	}

	.panel-lifestyle-total + .panel {
		display: none;
	}


  // Savings landing page
	.row-fluid {

		.span4:first-child {
			display: none;

			+ .span8 {
				width: 100%;
				margin: 0;
			}
		}

	} // .row-fluid

	.overview {
		padding-bottom: 20px;

		.slide-selector, .actions {
			display: none;
		}
	}



	// Tabs to accordion
  .tabs-to-accordion {
    .accordion-toggle {
      span {
        display: none;
        visibility: hidden;
      }

      + div {
        height: 0 !important;
        visibility: hidden;
      }
    }

    + .panel .inline-elements button {
      display: none;
    }
  }




	// Widget counter
  [class*="widget-counter"] > div {
    background: #fff !important;
    border: 0 !important;

    span:before, span:after {
      display: none;
    }
  }



  // Footer
  .footer li {
  	display: none;

  	&:first-child {
  		display: inline-block;
  		margin: 0;
  	}
  }



} // @media print