//
// Progress bars
// --------------------------------------------------


// ANIMATIONS
// ----------

// Webkit
@-webkit-keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

// Firefox
@-moz-keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

// IE9
/*
@-ms-keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}*/

// Opera
@-o-keyframes progress-bar-stripes {
  from  { background-position: 0 0; }
  to    { background-position: 40px 0; }
}

// Spec
@keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}


// THE BARS
// --------

// Outer container
.progress {
  overflow: hidden;
  height: @baseLineHeight;
  margin-bottom: @baseLineHeight;
  #gradient > .vertical(#f5f5f5, #f9f9f9);
  .box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
  .border-radius(@baseBorderRadius);
}

// Bar of progress
.progress .bar {
  width: 0%;
  height: 100%;
  color: @white;
  float: left;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  #gradient > .vertical(#149bdf, #0480be);
  .box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
  .box-sizing(border-box);
  .transition(width .6s ease);
}
.progress .bar + .bar {
  .box-shadow(~"inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15)");
}

// Striped bars
.progress-striped .bar {
  #gradient > .striped(#149bdf);
  .background-size(40px 40px);
}

// Call animation for the active one
.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}



// COLORS
// ------

// Danger (red)
.progress-danger .bar, .progress .bar-danger {
  #gradient > .vertical(#ee5f5b, #c43c35);
}
.progress-danger.progress-striped .bar, .progress-striped .bar-danger {
  #gradient > .striped(#ee5f5b);
}

// Success (green)
.progress-success .bar, .progress .bar-success {
  #gradient > .vertical(#62c462, #57a957);
}
.progress-success.progress-striped .bar, .progress-striped .bar-success {
  #gradient > .striped(#62c462);
}

// Info (teal)
.progress-info .bar, .progress .bar-info {
  #gradient > .vertical(#5bc0de, #339bb9);
}
.progress-info.progress-striped .bar, .progress-striped .bar-info {
  #gradient > .striped(#5bc0de);
}

// Warning (orange)
.progress-warning .bar, .progress .bar-warning {
  #gradient > .vertical(lighten(@orange, 15%), @orange);
}
.progress-warning.progress-striped .bar, .progress-striped .bar-warning {
  #gradient > .striped(lighten(@orange, 15%));
}



// Processing Panesl

.processPanel{
  //Default - js updates
  background: #fff;
  background-color: #fff;
  .border-radius(@baseBorderRadius);

  min-height: 40px;
  position: absolute;
 
  left:0;
  right:0;
  top:0;
  bottom:0;

  z-index: 700;

  .middle{
 
  padding:20px;
  display: table;
  margin: auto; 
  height:100%;
  padding:7px;
  }

}

.addRelative{
  position: relative !important;
}



//Rotation of progress indicator icon
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate{
  from {   
    -moz-transform: rotate(0deg);   
  }
  to {   
    -moz-transform: rotate(360deg);   
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.processing-ico{
  .ico();
  font-size: 1.2em;
  float:left;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         0.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name:             rotate; 
    -moz-animation-duration:         0.5s; 
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name:             rotate; 
    -ms-animation-duration:         0.5s; 
    -ms-animation-iteration-count:  infinite;
    -ms-animation-timing-function: linear;
    animation-name:             rotate; 
    animation-duration:         0.5s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear;
    margin-top:50%;
    margin-right: 3px;
}

.processing-text{
  float:left;
  margin-top:50%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



//Page processing icon
#overlayProcessing{
  position: absolute;
  left: 0;
      right: 0;     
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: @overLayColour;
      z-index: 100;
      text-align: center;
      display:block;

       .middle{ 
       .modal();

       width: 120px !important;
       height: 50px;
       padding: 15px;
       margin: 0 !important;
      
      //Awesome
        top: 48% !important;
        left: 46% !important;
       top: ~"calc(50% - 25px)" !important;
        left: ~"calc(50% - 60px)" !important;
        

          .processing-ico{
           .ico();
           position: relative;
          margin: 0;
          padding: 0;

          -webkit-animation-name:             rotate; 
          -webkit-animation-duration:         1s; 
          -webkit-animation-iteration-count:  infinite;
          -webkit-animation-timing-function: linear;
          -moz-animation-name:             rotate; 
          -moz-animation-duration:         1s; 
          -moz-animation-iteration-count:  infinite;
          -moz-animation-timing-function: linear;
          -ms-animation-name:             rotate; 
          -ms-animation-duration:         1s; 
          -ms-animation-iteration-count:  infinite;
          -ms-animation-timing-function: linear;
          animation-name:             rotate; 
          animation-duration:         1s; 
          animation-iteration-count:  infinite;
          animation-timing-function: linear;



    }

    .processing-text{
      position: relative;
      margin: 0;
      padding: 0 0 0 10px;
      display: block;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

//IE8  polyfill - replaces font ico with animated gif
//--------------
.ie8, .ie9{
  .processing-ico{
    display:none;
    visibility: hidden;
  }

  .processing-text{
    padding-left:30px !important;
    background: url(../img/processing.gif) top left no-repeat;
  }

  #overlayProcessing .middle{ 
    top: 48% !important;
    left: 48% !important;
          
    }
}


