//
// Responsive: Large desktop and up
// --------------------------------------------------

@media only screen and (min-width: 1200px) {

  // Fixed grid
  #grid > .core(@gridColumnWidth1200, @gridGutterWidth1200);

  // Fluid grid
  #grid > .fluid(@fluidGridColumnWidth1200, @fluidGridGutterWidth1200);

  // Input grid
  #grid > .input(@gridColumnWidth1200, @gridGutterWidth1200);

  // Thumbnails
  .thumbnails {
    margin-left: -@gridGutterWidth1200;
  }
  .thumbnails > li {
    margin-left: @gridGutterWidth1200;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }
  
  #fixed-header{ 
    width: 1170px; 
  }  
  
  #fixed-footer{
    width: 1170px;
  }  
   
  .container{ 
    max-width: 1170px;
  }  

  .input-xlarge {
    width: 340px;
  }

  .help-block {
    margin-bottom: 0;
    display:inline-block;
    max-width: 320px;
    .clearfix();
  }

  .help-inline{
    max-width: 340px;
  }

  .gutter1 {
    margin-left: 90px !important; 
  }

  .gutter2 {
    margin-left: 55px !important;    
  }

  // Remove the horizontal form style on modals   
  .modal{
    .form-horizontal {
      .control-group > label, .control-group > .labeltxt {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
      }
      
      // Move over all input controls and content
      .controls {
        margin-left: 0;       
      }
      
	  .control-group .toggle-group{
      	clear:both;
      }

      .control-group.wide .help-inline .ico {
        margin-left: 0px;
      } 


      // Move the options list down to align with labels
      .control-list {
        padding-top: 0; // has to be padding because margin collaspes
      }
      // Move over buttons in .form-actions to align with .controls
      .form-actions {
        padding-left: 10px;
        padding-right: 10px;
      }
    }


    .help-block{
      margin-bottom: 0;
      display:inline-block;
      // width:auto;
       max-width: none;
    }
  } //End of .modal wrap
}