//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------
@media only screen and (max-width: 767px) {

  .fixed-header-height{
    margin-top: 100px;
  }  

  html {
    font-size: 93.8%;
    -webkit-text-size-adjust: 93.8%;
    -ms-text-size-adjust: 93.8%;
  }

 
  .container {
    padding: 0 10px;

    section > & {
      padding: 8px 10px 15px;
    }
  }
  // Padding to set content in a bit
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  // Negative indent the now static "fixed" navbar
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
  }
  // Remove padding on container given explicit padding set on body
  .container-fluid {
    padding: 0;
  }

  // TYPOGRAPHY
  // ----------
  // Reset horizontal dl
  .dl-horizontal {
    dt {
      float: none;
      clear: none;
      width: auto;
      text-align: left;
    }
    dd {
      margin-left: 0;
    }
  }

  // GRID & CONTAINERS
  // -----------------

  // Remove width from containers
  .container {
    width: auto;
  }
  // Fluid rows
  .row-fluid {
    width: 100%;
  }
  // Undo negative margin on rows and thumbnails
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0; // Reset the default margin for all li elements when no .span* classes are present
  }
  // Make all grid-sized elements block level again
  [class*="span"],
  .uneditable-input[class*="span"], // Makes uneditable inputs full-width when using grid sizing
  .row-fluid [class*="span"],
  .row-fluid [class*="span"].pull-right {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    .box-sizing(border-box);
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    .box-sizing(border-box);
  }
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0;
  }

  .span12 > .span3 {
    margin-bottom: 15px;
  }

  
  // FORM FIELDS
  // -----------
  // Make span* classes full width
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    .input-block-level();
  }

  // But don't let it screw up prepend/append inputs
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block; // redeclare so they don't wrap to new lines
    // width: auto;
  }

  .input-prepend.input-append input {
    width: 100px !important;
  }

  .input-prepend.input-append.input-increments input{
    width: 155px !important;
  }

  // input.confirm-input{
  //   width: 210px;
  // }

  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
  
  .gutter1 {
      margin-left: 0px !important;  
    }

  .gutter2 {
      margin-left: 0px !important;
      width: 100% !important;      
    }

  
  .panel, form .background-none .panel {
    padding: 7px 0;

    &[class*="background"], &[class*="border"], .accordion-body &, .panel {
      padding: 7px 15px;
    }
  }

  .accordion-small-only > a.accordion-toggle {
    padding: 0;
  }


  .help-block{
    margin-bottom: 0;
    display:inline-block;
   // width:auto;
     max-width: none;
  }

  .btn-block-responsive {
    display: block;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
    .box-sizing(border-box);
  }  


  



  // Remove the horizontal form style on modals   
  .modal{
    .form-horizontal {
      .control-group > label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
      }
      // Move over all input controls and content
      .controls {
        margin-left: 0;
      }

      .control-group.wide .help-inline .ico {
        margin-left: 0px;
      } 


      // Move the options list down to align with labels
      .control-list {
        padding-top: 0; // has to be padding because margin collaspes
      }
      // Move over buttons in .form-actions to align with .controls
      .form-actions {
        padding-left: 10px;
        padding-right: 10px;
      }
    }


    .help-block{
      margin-bottom: 0;
      display:inline-block;
      // width:auto;
       max-width: none;
    }
  } //End of .modal wrap

  .progress-tracker {
    text-align: center;
  }

}



// UP TO LANDSCAPE PHONE 480
// ---------------------

@media only screen and (max-width: 480px) {

    //Sets global section min height for pages with minimal content - media queries controlled
  #content{
    min-height: 300px;
  }
  
  .module-nav .home{
    display:none;
    visibility: hidden;
  }

  // Smooth out the collapsing/expanding nav
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0); // activate the GPU
  }

  // Block level the page header small tag for readability
  .page-header h1 small {
    display: block;
    line-height: @baseLineHeight;
  }

  // Update checkboxes for iOS
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }

  // Remove the horizontal form styles
  .form-horizontal {
    .control-label {
    // float: none;
      width: auto; 
      padding-top: 0;
      text-align: left;
    }
    // Move over all input controls and content
    .controls {
      margin-left: 0;
    }
    // Move the options list down to align with labels
    .control-list {
      padding-top: 0; // has to be padding because margin collaspes
    }
    // Move over buttons in .form-actions to align with .controls
    .form-actions {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  // Medias
  // Reset float and spacing to stack
  .media .pull-left,
  .media .pull-right  {
    float: none;
    display: block;
    margin-bottom: 10px;
  }
  // Remove side margins since we stack instead of indent
  .media-object {
    margin-right: 0;
    margin-left: 0;
  }  

  //Fix to sort Postcode input - check on other use of input-small
  .input-small {
    width: 117px !important ;
    } 

  // Carousel
  .carousel-caption {
    position: static;
  } 

   .help-block {
    margin-bottom: 0;
    display:inline-block;
   // width:auto;
   
    clear:both;
  }

  .span3 label {
    width: 80%;
  }

  #full-width-footer {
  margin-top: 15px;
  }

  .footer {
    margin: 15px 0px;
  }

  .panel-left-arrow:after {
    display: none;
  }

  .progress-tracker {
    padding: 0 0 10px 0;
  }

}


// @media only screen and (max-width: 320px) {
//   //Hide the home nav button
//   .module-nav .home{
//     display: none;
//     visibility: none;
//   }

//   ///////////////   
  
//   .fixed-header-height{
//     margin-top: 78px;
//   } 

//   .module-nav {
//     margin-left: -10px;
//     margin-right: -10px;    
//   }

//   .module-nav ul{
//     min-width: 320px;
//     overflow: hidden;
//   }

//   .module-nav ul li {
//     margin-right: -0.8em; //-0.5em adjusted to fit iphone
//   }

//   #header-full-width{
//     height:115px;
//   }

//   .module-nav ul li:after{
//     height:3px;
//   }

//   .brand {
//     width: 110px; //163px
//     height: 25px; //37
//     margin-left: 0px !important;
//     margin-top:17px !important;
//     margin-bottom:10px !important;
//     padding: 0px;
//     border: 1px solid #fff;
//     background-color: #fff;
//   }

// }

//Fix for Old android devices
@media only screen and (-webkit-device-pixel-ratio: 1) and (max-device-width: 480px) and (orientation: portrait) {

.fixed-supported #full-width-header{
 position: absolute;
  z-index: 900;
}

#full-width-header{
 position: absolute;
  z-index: 900;
}


#menu-scroll-links{
  overflow-y: visible !important;
  height: auto !important;
}

.element{
       position: absolute !important;
        z-index:  auto;
        background-color: #ffcc00 !important;
 
      } //End of .elements 


  .brand img{
    display:none;
  }

  .brand{
    background-image: url(../img/retire-ready-logo-small.png); //TODO - replace with small image
    background-repeat: none;
    width: 110px !important; //182px
    height: 25px !important;
    margin-left: 0px !important;
    margin-top:17px !important;
    margin-bottom:10px !important;
  }

  .module-nav {
    margin-top: -2px;
    display:block;
    visibility: visible;
  }

  #header-full-width {
    position: absolute;
    margin: 0px;
    left:0;
  }

  #full-width-footer {
    width:auto;
  }

  body{
    margin:0;
  }


}