// RESPONSIVE MENU
//============================================================================
// These styles are used on the main menu dropdown






// OVERLAY (overlay onto page to help dropdown menu stand out)
//============================================================================
#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: @overLayColour;
	filter:alpha(opacity= @overLayOpacityIE ); /*Check Performance */
	-moz-opacity:@overLayOpacity;
	-khtml-opacity: @overLayOpacity;
	opacity: @overLayOpacity;
	z-index: @bodyOverlay;
	text-align: center;
	display:none;
}






// ELEMENT (wrapper of full dropdown)
//============================================================================
.element {
	display: none;
	float: none;
	width: @rwdMenuWidth;
	height: @rwdMenuHeight;
	background-color: @rwdMenuBackground;
	color:@rwdMenuText;

	text-align: right;
	padding:0px;

	position: absolute;
  z-index: 900;
  top:0;
  right:0;
	
	-moz-transition: all @rwdMenuTransitions ease-in-out;
  -webkit-transition: all @rwdMenuTransitions ease-in-out;
  -o-transition: all @rwdMenuTransitions ease-in-out;
  transition: all @rwdMenuTransitions ease-in-out;
	
	-moz-transform-style: preserve-3d;
  -moz-transform: translate3d(@rwdMenuWidth, 0px, 0px);
  -moz-backface-visibility: hidden;

  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(@rwdMenuWidth, 0px, 0px);
  -webkit-backface-visibility: hidden;

  -o-transform-style: preserve-3d;
  -o-transform: translate3d(@rwdMenuWidth, 0px, 0px);
  -o-backface-visibility: hidden;
  
  transform-style: preserve-3d;
  transform: translate3d(@rwdMenuWidth, 0px, 0px);
  backface-visibility: hidden;
}






.dropdown {
  position: relative;
  //width: 145px;
  width:180px; // reduced width because remove right padding from options
  display:table-cell;

  // Static - area at the top of dropdown menu
  .static {   
    background-color: @rwdMenuBackground;
    background-color: #333;
    color:@rwdMenuText;          
    padding:0px 0px 0px 10px;        
    text-align: left;

    //Create yellow pseudo block (profile)
    &:after {
      background-color: @rr-section-profile;
      #rr-colorBlock.vertical();
      margin: 18px 0 0;
    }

    &:focus{
      outline:none;
    }
  }// .static

  #topLink{          
   width: 100%;
   margin-top: 20px;
   text-align: right !important;
   padding-right: 60px;
     padding-bottom: 20px;
   

    span {
      text-align: right;
      color: #fff !important;

    }

    &:hover, &:focus{
     
      color: @white !important;
    }

    .ico{
      color: @rr-section-profile !important;
      font-size: 2em;
      vertical-align: middle;
      line-height: 0.5em;
      width: auto;
      text-align: left;
      float:left;
      padding:0;
      margin:0;
      text-decoration: none;
    }
  } // #toplink

  #closeBtn {             
    margin: 15px 10px 0 0;
    padding:5px; 
    border:0;        
    text-align: center;
    vertical-align: bottom;
    border-radius: 5px;
    color: #fff !important;
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    top:0;
    right:0;

    &:focus{
      outline:none;            
    }

    span:first-child{
      display:none;
    }

    span{
      display:block;
      font-size: 2em;
      color: #666;
    }

    span:hover, &:focus span{
      color: #00883f;
      text-decoration: none;
    }

  } // #closeBtn         

  .tools{
    text-align: right;
    margin-right:62px;
    margin-top: -5px;
  }// .tools

  #signOutBtn, #yourProfileBtn{

    color: #fff;
    padding:0;         
    text-align: right;
    display: inline-block;
    margin-left:15px;
    font-family: @primaryFontFamily;
    font-size: (@baseFontSize - 1);
  }// #signOutBtn, #yourProfileBtn

  #lastVisit{
    display: block; 
    color:#999;
    text-align: right;
    margin-right:62px;
    font-size: (@baseFontSize - 3);
    padding:5px 0 10px 0;
  }// #lastVisit

  .options{      
    position: absolute;
    top:0;
    right:0;
    margin: 15px 5px 0 0;

    a {
      padding: 10px 0;
      //margin-right:10px;   
      margin-right: 0px; // removed margin right for consistent in dropdown gap  
      color: #666;
      font-size: (@baseFontSize - 1);

      &:hover, &:focus {
	      color: @headerLinkColorHover;
	    }
    }

    //Primary Menu Button Open in .tools-link
    #openBtn {
      padding:5px; 
      border:0;
      text-align: center;
      vertical-align: bottom;
      border-radius: 5px;
      color: @headerLinkColor;
      text-decoration: none;
      background-color: transparent;

      &:focus   {
	      outline:none;
	      background-color: #F4F4F4;
	      background-color: rgba(0,0,0,0.1);
	    }
    }

    #openBtn span{
      display:block;
      font-size: 2em;
      color: #666;

      &:first-child{
	      display:none;
	    }
    }

    #openBtn span:hover, #openBtn:focus span{
      color: #00883f;
      ext-decoration: none;
    }
  }// .options

  //Dropdown menu container
  
}// .dropdown




.tertiary-nav {

  // Static - area at the top of dropdown menu
  .static {   
    background-color: @rwdMenuBackground;
    background-color: #333;
    color:@rwdMenuText;          
    padding:0px 0px 0px 10px;        
    text-align: left;

    //Create yellow pseudo block (profile)
    &:after {
      background-color: @rr-section-profile;
      #rr-colorBlock.vertical();
      margin: 18px 0 0;
    }

    &:focus{
      outline:none;
    }
  }// .static

  #topLink{          
   width: 100%;
   margin-top: 20px;
   text-align: right !important;
   padding-right: 60px;
  padding-bottom: 20px;
   

    span {
      text-align: right;
      color: #fff !important;

    }

    &:hover, &:focus{
     
      color: @white !important;
    }

    .ico{
      color: @rr-section-profile !important;
      font-size: 2em;
      vertical-align: middle;
      line-height: 0.5em;
      width: auto;
      text-align: left;
      float:left;
      padding:0;
      margin:0;
      text-decoration: none;
    }
  } // #toplink

  #closeBtn {             
    margin: 15px 10px 0 0;
    padding:5px; 
    border:0;        
    text-align: center;
    vertical-align: bottom;
    border-radius: 5px;
    color: #fff !important;
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    top:0;
    right:0;

    &:focus{
      outline:none;            
    }

    span:first-child{
      display:none;
    }

    span{
      display:block;
      font-size: 2em;
      color: #666;
    }

    span:hover, &:focus span{
      color: #00883f;
      text-decoration: none;
    }

  } // #closeBtn         

  .tools{
    text-align: right;
    margin-right:62px;
    margin-top: -5px;
  }// .tools

  #signOutBtn, #yourProfileBtn{

    color: #fff;
    padding:0;         
    text-align: right;
    display: inline-block;
    margin-left:15px;
    font-family: @primaryFontFamily;
    font-size: (@baseFontSize - 1);
  }// #signOutBtn, #yourProfileBtn

  #lastVisit{
    display: block; 
    color:#999;
    text-align: right;
    margin-right:62px;
    font-size: (@baseFontSize - 3);
    padding:5px 0 10px 0;
  }// #lastVisit

  .options{

    a {
      &:hover, &:focus {
        color: @headerLinkColorHover;
      }
    }
  }// .options

  //Dropdown menu container
  
}// .dropdown






// NAVIGATION LIST (within dropdown)
//============================================================================
// Surrounds navigation to convert it into a scrollable area
#menu-scroll-links{
	background-color: @rwdMenuBackground;
	text-align: left;
	overflow-x: hidden;  // hide horizontal scrollbar 
	overflow-y: auto;
	-webkit-overflow-scrolling: touch; // ios scroll fix 
	overflow-scrolling: touch; 
}

// Navigation structures the main menu list itself
#navigation{

	ul {
		margin:0;

		//Sub menu item (child)
		ul {
			li{
				&:after{
					width:0;
					height:0;
					margin: 0;
				}
			}

			a{
				border-top: none;
				padding: 3px 0 3px 50px;
				margin-bottom:10px;
				font-family: @avenirLight;
        -webkit-font-smoothing: antialiased;

				&:hover, &:focus{
					text-decoration: underline;

				}
			}

			.notification{
				position: absolute;
				padding: 4px 8px 3px 7px;
				margin-left: 10px;
			}
		}
	}

	li {	
		position: relative;
		padding:0;

		&:after{
      #rr-colorBlock.vertical();
      margin: 8px 0 0;
		}
	}

	a{
		color:@rwdMenuLinkColor;
		border-top: 1px solid @gray;
		padding: 15px 10px 15px 10px;
		display: block;

		&:hover, &:focus {
			text-decoration: none;

			.txt {	
				text-decoration: underline;
        color: @white !important;
			}

			[data-icon]:after {
				margin-right:5px;
			}
		}
	}

	// Main section arrow that points to pseudo block
	[data-icon]:after {
	  font-family: 'rr-ico';
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1;
		text-decoration: none ;
	  content: attr(data-icon);
	  speak: none; 

	  position: absolute;
	  right:0;
	  margin-right:15px;
	  font-size: 1.2em;
		
		//Animation settings
		transition: all 0.5s ease-in-out;  
	 	-webkit-transition: all 0.5s ease-in-out;
	 	-moz-transition: all 0.5s ease-in-out;
	 	-ms-transition: all 0.5s ease-in-out;
	 	-o-transition: all 0.5s ease-in-out;
	}

	.ico{
		color: #ffcc00;
		text-decoration: none;
		font-size: 1.8em;
		line-height: 0.2em;
		vertical-align: middle;
		padding:0;
		margin:0 10px 0 0;
	}
}






// MEDIA QUERIES
//============================================================================
@media only screen and (min-width: 1025px){
  // Reset menu off screen position so it pulls down from top instead of
  // appearing in from the right when on a large display
	.element{
    -moz-transform: translate3d(0px, -400px, 0px);
    -webkit-transform: translate3d(0px, -400px, 0px);
    -o-transform: translate3d(0px, -400px, 0px);
    transform: translate3d(0px, -400px, 0px);
    opacity: 0;
  }
}






// OPEN/CLOSE CONTROL (within dropdown. Must be last in file.)
//============================================================================
// Element extension class (Open state)
.menu-open{
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}
.showMenu{
  display:block;
}