//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media only screen and (min-width: 768px) and (max-width: 979px) {

   h2, h3 {
    //FIX so headers are smaller on mobiles (tablets)
      //font-size: 95.8%;
     // -webkit-text-size-adjust: 95.8%;
      //-ms-text-size-adjust: 95.8%;
  }


  // Fixed grid
  #grid > .core(@gridColumnWidth768, @gridGutterWidth768);

  // Fluid grid
  #grid > .fluid(@fluidGridColumnWidth768, @fluidGridGutterWidth768);

  // Input grid
  #grid > .input(@gridColumnWidth768, @gridGutterWidth768);
  
  .module-nav .home{
    display:none;
    visibility: hidden;
  }  

  .fixed-header-height{
    margin-top: 75px;
  }  

 .gutter1 {
    margin-left: 5px !important;     
  }

 .gutter2 {
    margin-left: 75px !important;
     width: 31% !important;
  }

  .span7.gutter2 {    
    width: 57.6271186440678% !important;
  }

  .help-block {
    margin-bottom: 0;
    display:inline-block;
    max-width: 320px;
  }

  // input.confirm-input{
  //   width: 230px;
  // }
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {

 


// Remove the horizontal form style on modals   
  .modal{
    .form-horizontal {
      .control-group > label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
      }
      // Move over all input controls and content
      .controls {
        margin-left: 0;
      }

      .control-group.wide .help-inline .ico {
        margin-left: 0px;
      } 


      // Move the options list down to align with labels
      .control-list {
        padding-top: 0; // has to be padding because margin collaspes
      }
      // Move over buttons in .form-actions to align with .controls
      .form-actions {
        padding-left: 10px;
        padding-right: 10px;
      }
    }


    .help-block{
      margin-bottom: 0;
      display:inline-block;
      // width:auto;
       max-width: none;
    }
  } //End of .modal wrap
}