//
// Responsive: Utility classes
// --------------------------------------------------


// IE10 Metro responsive
// Required for Windows 8 Metro split-screen snapping with IE10
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
// @-ms-viewport{
//   width: device-width;
// }

// Hide from screenreaders and browsers
// Credit: HTML5 Boilerplate
.hidden {
  display: none !important;
  visibility: hidden;
  margin:0;
  padding:0;
  position: absolute;
  top: -999px;
  
}

.sr-only, .screenreader-visible {
  position: absolute !important;
  left: -10000px;
  top: auto;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden;
  display:block !important; //Fix as was being overidden
}

// Visibility utilities

// For desktops
.visible-phone     { display: none !important; } // Warning - Treats a phone as any device up to 767px wide for some reason.
.visible-tablet    { display: none !important; }
.hidden-phone      { }
.hidden-tablet     { }
.hidden-desktop    { display: none !important; }
.visible-desktop   { display: inherit !important; }

// For smaller phones.
.visible-up-to-599 { display: none !important; }
.hidden-up-to-599  { }

.visible-img     { display: none !important; }
.hidden-img      { }

@media only screen and (max-width: 599px) {
    .visible-img { 
      display: inherit !important; 
       
          width:100%;
        
      } 
    .hidden-img      { display: none !important; }
  }

// Tablets & small desktops only
@media only screen and (min-width: 768px) and (max-width: 979px) {
  // Hide everything else
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important ; }
  // Show
  .visible-tablet    { display: inherit !important; }
  // Hide
  .hidden-tablet     { display: none !important; }
}

// Phones only
@media only screen and (max-width: 767px) {
  // Hide everything else
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important; }
  // Show
  .visible-phone     { display: inherit !important; } // Use inherit to restore previous behavior
  // Hide
  .hidden-phone      { display: none !important; }
}

@media only screen and (max-width: 599px) {
  .visible-up-to-599 { display: inherit !important; }
  .hidden-up-to-599  { display: none !important; }
}

// Print utilities
.visible-print    { display: none !important; }
.hidden-print     { }

@media print {
  .visible-print  { display: inherit !important; }
  .hidden-print   { display: none !important; }
}


.ie8 #fixed-menu-module-container, 
.ie8 #fixed-header, .ie8 .fixed-tools, 
.ie8 .container, .ie8 .navbar-static-top .container, 
.ie8 .navbar-fixed-top .container, .ie8 .navbar-fixed-bottom .container, 
.ie8 #fixed-footer {
  width: 960px !important;
}

//Fix for goalplanner where there is a container in a container
.ie8 .container .container{
  width: auto !important;
}


.ie8 .menu, .ie9 .menu{
  display:none;
}

.ie8 .menu-open, .ie9 .menu-open{
  display:block;
}

.height-spacer {
  height: 70px;
}


 .gutter1 {
       margin-left: 90px !important;       
    }

 .gutter2 {
    margin-left: 40px !important;
    width: 27% !important;
    margin-top: 7px;
  }

  .span12 {
    & + .span7 {
      margin-top: 15px;
      & + .span3 {
        margin-top: 15px;
      }
    }
  }
@media only screen and (max-width: 767px) {
  .gutter2 {
    margin-top: 15px;
  }
}

