//
// --- LESS for RiZone - Retirement Planning - Will need to adjust if want to re-use as common components
//

.fixed-header-height.section-rizone{
	margin-top: 0;
}

/* Sorting logos and header for the custom RiZone header */
.master-header.zone-header {
	//Reset the height of the header and remove the dropshadow/border
	.box-shadow(none) !important;
	border:none;
	position:relative !important;
	background-color: #fff !important;

	.addnew-logo {
		width: 402px!important;
		a.pull-left {
		padding-right: 0px!important;
		height: 70px;
		}
	}

	.logo a.aegon {
		float: left;
		padding: 10px 0px 0px 0px;
		font-size: 13.6px;
		width: 157px;
		height: 63px;
		margin: 6px 0 0 2px;
		color: #707070;
		img{
			width: 120px;
		}
	}

	@media only screen and (max-width: 767px) {
		//sorts out headernheight
		max-height: 47px;
		border:none;
		.addnew-logo {
			width: 292px!important;
		}

		.addnew-logo a.pull-left {
			padding-right: 0 !important;
			padding: 0 0 0 8px;
		}

		.logo a.aegon {	
			padding: 0;	
			width: 113px;
			height: 63px;
			margin: 9px 0 0 0!important;
			font-size:10.6px;
			img{
				width: 74px;
				height: 30px;
			}
		}	

		//Hide defailt navigation - Really CQ5 should not render this out to markup if not needed
		// Javacript should also be adapted to use on .live to stop scriptissues if removed
		.navigation {
			display: none !important;
			visibility: hidden;
		}
	}	

	> .container {
		background-color: transparent;
	}
} //End of RiZone header changes



//New green header bar with heading title
.site-header{
	background-color: @rz-primary;
	margin:0 auto;
	width: 100%;
	border-bottom: 2px solid @rz-primary-dark;
	h1{
		max-width: 1170px;
		font-size: 1.2em;
		font-weight: normal;
		font-family: @avenirLight;
		color: white;
		margin:0 auto;
		padding: 0 20px;
	}
}


//Custom for RiZone section homepage
.homepage.section-rizone {
	//Reset top margin as there is no fixed header
	margin-top: 0;	
	@media only screen and (max-width: 790px) and (min-width: 767px){
		.row-fluid .span3 {
			width: 100%;
			margin-left: 0;
			.feature-panel.linear-numbered{
				margin-top: 20px;
			}
		}
	}
	.panel-group{
		background-color: @white !important;
		border: none !important;
		ul{
			display: block;
		}
	}
	//Small Patch to sort homepage spacing -Specific to RiZone content
	.container.background-gray-lighter{
		padding: 10px;
	}
} //End of RiZone specific wrapper



/* - Feature-Panels - New component --*/
/* - Should be colorless and have standard padding and margins as used for alot of scenarios */

.feature-panel{
	//reset all panels for base starting point
	background-color: transparent;
	margin:0 0 20px 0; //All panels have 20px margin bottom
	text-align: left;
	text-decoration: none;
	position: relative;
	display: block;
	border-radius:(0px);	
}

//Centers all text and buttons in a panel - used on split headings and call to action buttons
.feature-panel.centered-content{
	text-align: center;
	max-width: 690px; //Better reading length on wide views
	display: block;
	margin: 0 auto;
	clear: both;
	margin-bottom: 25px;
}

//panel set to be a link - div replaced with <a> tags in authoring creation
a.feature-panel{
	background-color: #F2F2F2;
	border: 0px solid #ccc;
	cursor: pointer;
	border-radius:(5px);
	&:hover, &:focus{
		text-decoration: none !important;
		background-color: #f4f4f4;				
	}	
	&{
		h1, h2, h3, h4, h5, h6{	
			color: @rz-primary !important;
			&:hover, &:focus{
				color: @rz-primary-dark !important;
			}
		}
		p{
		color: #333;			
		}
	}
	&:hover, &:focus{		
		&{
			h1, h2, h3, h4, h5, h6{					
			color: @rz-primary-dark !important;		
			text-decoration: underline !important;			
			}					
		}
	}	
}

//* Extend Component - Feature Panel - Case study *//
.feature-panel.case-study{
		background-color: @white;
		.border-radius(6px);
		//padding: 10px 0 0 0;
		color: #333;
		p{
			margin-bottom: 0;
			font-size: 1.4em;
		}
		p a{
			font-size: inherit !important;
			font-family: inherit !important;
			color: inherit !important;
			text-decoration: underline;
			&:hover, &:focus{
				color: @rz-primary-dark !important;
			}
		}

		.span5{
				padding: 10px;
		}
			.span7{
				margin:0;
				padding: 10px;
				& >{
					padding: 0;
				}
		}
		& img{
			//width: 100%;
			//float:left;
			display:block;
    	margin:auto;
		}

		@media only screen and (max-width: 920px) {
			text-align: center;
			ul{
				text-align: left;
				margin: 0 auto;
				li{
					margin-left: 10px;
				}
				display: block;
				max-width: 80%;
				
			}
			.feature-panel{				
				display: inline;			
				.btn{
					margin: 10px auto;
					display: block;
					width: auto;
				}		
			}
			.span5{
				padding: 10px;
				width:100%;
			}
			.span7{
				width:100%;
					padding: 0 10px 0 10px;
			}
		}
	}

	//* Extend Component - Feature Panel - Linear numbered *//
	.feature-panel.linear-numbered{
	 	/* Use with numbers, icons and imagery */
		/*Set first child to be minus margin positioned and increase top panel margin*/
		padding-top: 40px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 10px;
		position: relative;

		h1,h2,h3,h4,h5,h6{
			text-align: center;
			line-height: 1.3em;
		}

		ul{
			margin: 0 0 10px 15px;
		}

		.float-wrapper{
		 	background-color: transparent;
			display: inline;
			width: 100%;
			position: absolute;
			top: -25px;
			left:0;
	 		text-align:center;

	 		.circle-number{
	    width:51px;
	    margin: 0 auto;
			}

			.circle-number:after{
			    content: "";
			    display: block;
			    width: 100%;
			    height:0;
			    padding-bottom: 85%;
			    background: @rz-primary; 
			    -moz-border-radius: 50%; 
			    -webkit-border-radius: 50%;
			    border-radius: 50%;
			    border: 4px solid #fff;
			}

			.circle-number div{
			    float:left;
			    width:100%;
			    padding-top:44%;
			    line-height:1em;
			    margin-top:-0.25em;
			    text-align:center;
			    color:white;
			    font-weight: normal;
			    font-size: 1.2em;
			}		
		}

		@media only screen and (max-width: 768px){
			margin-left: 0px;
			padding-left: 35px;
			padding-top: 10px;

			h1,h2,h3,h4,h5,h6{
				text-align: left;
				padding-top: 8px;
			}

			//* Extend Component Style - Feature Panel - Float a child *//
			.float-wrapper{
		 	background-color: transparent;
			display: inline;
			width: auto;
			position: absolute;
			top:10px; //Hald the pixel height of element
			left:-25px;
	 		text-align:center;
 				.circle-number div{
				  margin-top:-0.3em;
				 }
			}			
		}
		@media only screen and (max-width: 660px){
			margin-left: 20px;
		}
	}


	.feature-panel.cta-content{
		background-color: #f2f2f2;
		padding: 10px;
		.border-radius(6px);
		.span6.offset3{
			float: none !important;
		}

	}


//* Old hero banner component */

.section-rizone .hero{
	background-color :@rz-primary-dark;

	p a:link, p a:visited{
		color: white;
		text-decoration: underline;
	}
	p a:hover, p a:focus{
		color: #49CDA9;
	}


	header .hero-top {
	//height: 256px;
	height: auto;
		margin: 20px 0 0;
	}

	.absolute-vertical-center-desktop {	
	top: 42%;
	}


	@media only screen and (max-width: 767px){
		header {
		padding-left: 20px;
		padding-right: 20px;
		}
	}

	@media only screen and (min-width: 600px){
	.absolute-vertical-center-desktop {
	position: relative;
	/* top: 50%; */
	-ms-transform: translate(0, 0%);
	 -webkit-transform: translate(0, 0%); 
	-moz-transform: translate(0, 0%);
	 transform: translate(0, 0%); 
		}
	}
}





//* NEW Component - NewHero reusable*//
	.new-hero{		
		//Visual state of hero panel
		//background-color :@rz-primary-dark; //Custom for re-use
		padding: 20px;

		&:before{			
			font-family:'rr-ico';
			speak:none;
			font-weight:normal;
			font-variant:normal;
			text-transform:none;
			line-height:1;
			-webkit-font-smoothing:antialiased;
			position:absolute;			
			z-index:0;
			display:inline-block; //Custom for re-use - hidden if not needed
			content: "\f700"; //Custom for re-use - hidden if not needed
			color: @white; //Custom for re-use - hidden if not needed
			font-size: 445px;
			right: 30%; //Custom for re-use - hidden if not needed
			-moz-opacity: 0.05;
			-khtml-opacity: 0.05;
			opacity: 0.05;
		}

		.hero-text{
			margin: 0 50px 0 0;
			h1{
				color: @white; //Custom for re-use
				font-size: 2.8em; //Custom for re-use
				font-weight: normal;
				font-family: @avenirLight; //Custom for re-use
				line-height: 1em;
				padding: 0 0 20px 0;
				margin:0;
			}
			p{
				font-family: @avenirLight; //Custom for re-use - hidden if not needed
				line-height: 1.4em;
				color: @white;
				padding: 0 0 10px 0;
			}			
			a{
				color: @white;
				text-decoration: underline;
				&:hover , &:focus{
					color: #000;
				}
			}
		}

		//Media corrections in new hero banner
		@media only screen and (max-width: 920px) {			
			.hero-text{
				margin: 0;
				font-size: 1em;						
			}
			.hero-text h1{
				font-size: 1.8em;				
			}
		}		
		@media only screen and (max-width: 767px){
			.new-hero {
				padding: 10px;					
			}
			.hero-text{
				margin: 0;
			}
			.hero-text h1{
				font-size: 1.6em;
			}
		}

		//Hero banner video element - improve on old version - Should we use on other sites?
		.hero-video{		
			margin: 0 auto;
			display: block;
			.rounded-corners {
				max-width: 400px;
				display: inline;
				border-radius: 6px;
			}
			.large-thumbnail-video{
				border-radius: 15px;
				overflow: hidden;		
			}
			//Overide default style of video title
			.large-thumbnail-video a:first-child p{
				background-color: #333;
			}
			.large-thumbnail-video a:hover p, .large-thumbnail-video a:focus p{
				background-color: #000;
			}
			@media only screen and (max-width: 767px){			
				.rounded-corners {
					max-width: auto;
					display: inline;
					border-radius: 0px;
					margin:0;
					padding:0;
				}
				.large-thumbnail-video{
					border-radius: 0px;						
					margin:0;
					padding:0;
				}
				.large-thumbnail-video p{
					display: none;
					visibility: hidden;
				}			
			}
		}

		

	

		//* NEW Update to Video CSS to make responsive *//
			.phone-video-wrapper {
				position: relative;
				padding-bottom: 36.25%; //40%;
				padding-top: 60px; 
				background-color: transparent;
				.border-radius(5);
			}
			.phone-video-wrapper iframe,
			.phone-video-wrapper object,
			.phone-video-wrapper embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				.border-radius(5);
				#player, .player, .video-wrapper{
					background-color: transparent !important;
				}
			}
			@media only screen and (min-width: 420px){
				.phone-video-wrapper {
					padding-bottom: 46%;
					overflow: hidden;
				}
			}

			//Overide default homepage container width at these media queries for RiZone
			@media only screen and (max-width: 790px) and (min-width: 600px){
				.container {
					width: 100% !important;
				}
			}
	} //End of new hero


	



//Re-use for other banners - change to a function passing in - background-color, text fonts, text colours, show/hide backign icon, icon type etc
.section-default .new-hero{
	background-color: #942eb5;
	color: #333;
}
.section-rizone .new-hero{
	background-color :@rz-primary-dark;
	color: #fff
}

	

//New CTA button
//Secondary buttons are dark grey gradient with hover to flat black or grey on IE8
.btn-cta {
  .buttonBackground(@rz-cta,@rz-cta-dark);
  border-color: @rz-cta-border;
  .ico:last-child {
    color: #aaa;
 	}

  // ie8 fix for last-child
  .ico.last-child {
    color: #aaa;
  }
}

.btn-cta {
	text-decoration: none !important;
	background: none;
	border: 1px solid #fff;
}

.ie8 .btn-cta:hover, .ie9 .btn-cta:hover,
.ie8 .btn-cta:focus, .ie9 .btn-cta:focus{
   background: #666 !important;  
}



//New type of button -Advanced button that supports two lines of text and an icon - Move to buttons.less
.btn-adv{
	height: 100%;
	margin-bottom: 10px !important;
	display: block;
	padding: 10px 40px 10px 10px;
	background: @white !important;
	color: @rz-primary;
	text-align: left;
	position: relative;
	font-size: 1.1em;
	border:none;
	//Second line of text - optional
	.description{
		padding-top: 5px;
		color: #333;
		display: block;
		font-size: 1rem;
		text-decoration: none;
	}

	&:after{		
		font-family: 'rr-ico';
    content: "\f719";
    font-weight: normal;
    font-variant: normal;
		position: absolute;
		font-size: 2em;
		color: @rz-primary;
		height: 30px;
		bottom:0;
		top:0;
		right:10px;
		display: block;
		width: 30px;
		margin: auto 0;
		line-height: 0.9em;
	}

	/* TODO - Add change of icon if its an external link */

	&:hover, &:focus{
		outline: none;
		color: @rz-primary-dark !important;	
		span:first-child {text-decoration: underline !important;
		}
		
		&:after{
			color: @rz-primary-dark !important;
		}		
	}

} //End of btn advanced




//Extend accordians with more content support - Move to Accordion.less
a.panel.accordion-toggle.accordion-desc{
	height:auto;
	padding-left: 20px;
	padding-right: 55px;
	padding-bottom: 10px;
	color: #333;
	text-decoration: none !important;	

		.ico {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 1.9em;
		line-height: 1em;
		padding: 0;
		margin: 7px;
		color: #fff;
	}

	h1,h2,h3,h4,h5,h6{
		//color: @rz-primary; //@rz-primary;
		display: block;
		padding:10px 0 0 0;
		margin:0;
		line-height: 1.3em;
		padding-bottom: 5px;
	}

	
	span.description{
		display: block;
		pading-bottom: 20px;
	}

}

a.panel.accordion-toggle.accordion-desc-ico{
	height:auto;
		padding-left: 70px;
	padding-right: 55px;
	padding-bottom: 10px;
	color: #333;
	text-decoration: none !important;	

		.ico {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 1.9em;
		line-height: 1em;
		padding: 0;
		margin: 7px;
		color: #fff;
	}

	h1,h2,h3,h4,h5,h6{
		//color: @rz-primary; //@rz-primary;
		display: block;
		padding:10px 0 0 0;
		margin:0;
		line-height: 1.3em;
		padding-bottom: 5px;
	}

	
	span.description{
		display: block;
		pading-bottom: 20px;
	}

	
	
		span.left-content{
			position: absolute;
			display: block;
			width: 60px;
			top: 0px;
			left:5px;
			background-color: aqua;	

			.ico{
				color: @rz-primary;
				font-size: 3.2em;
			}
	}

}


a.panel.accordion-toggle.accordion-ico{
	height:auto;
		padding-left: 50px;
	padding-right: 55px;
	padding-bottom: 8px;
	color: #333;
	text-decoration: none !important;	

		.ico {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 1.9em;
		line-height: 1em;
		padding: 0;
		margin: 7px;
		color: #fff;
	}

	h1,h2,h3,h4,h5,h6{
		//color: @rz-primary; //@rz-primary;
		display: block;
		padding:13px 0 0 0;
		margin:0;
		line-height: 1.3em;
		padding-bottom: 5px;
	}
	
	
	span.left-content{
			position: absolute ;
			display: inline;
			width: 50px;
			top: 0px;
			left:0px;
			background-color: aqua;

			.ico{

				color: @rz-primary;
				font-size: 2.2em;
			}
	}

}

//breadcrumb

.breadcrumb {
  padding: 5px 5px;
  margin-bottom: 1em;
  margin-left: 0;
  list-style: none;
  line-height: 1em;
  width: 100%;

  > li {
    display: inline;
    padding:0;

    + li:before {
    position: relative;
		font-weight: normal;
		content: "/";
		padding: 0 2px;
		color: #CCC;
		font-size: 1em;
		line-height: 1.2em;
		padding: 0px 5px 0px 1px;
    }
  }

  > .active {
    color: #999;
  }
}

.breadcrumb ol{
	margin: 0 10px 0 0px;
	padding: 8px 0 0 0;
}


	//Video compoent needs update to be responsive and look good on all devices - play video inpage
	//Patch old video player image width
	.large-thumbnail-video{
		img{
			width: 100% !important;
			background-color: #ffcc00;
		}
	}

	@media only screen and (max-width: 767px){
			.large-thumbnail-video{
				p {
					display: none;
				}
			}
	}

	//Expand orginal button component
.btn-desc{
position: relative;
margin-bottom: 30px;
overflow: visible;
	.description{
		right: 0;
		position: absolute;
		word-wrap: normal;
		text-align: right;
		color: #333;
		display: block;
		width: 290px;
		margin-top: 12px;
		padding-top: 4px;
	}
	&:focus{
		
			outline: none;
		
	}
}

//Fix for accordians

.accordion-heading{
	border: 0;

}
.accordion-inner{
		margin-top: 0 !important;
	}


	//sub-page-header

	.sub-page-header{
		background-color: #666;
		padding:10px;
		margin-bottom: 20px;
		position: relative;
		border-bottom: 2px solid #454545;
		h1,h2,h3,h4,h5,h6{
			color: @white;
			font-size: 1.2em;
			margin: 0;
			padding: 0 0 0 75px;
			line-height: 1.3em;
		}

		button, a{
			display: block;
			padding: 11px 5px;
			position: absolute;
			margin: auto 0;
			left:0;
			top:0;
			color: @white;
			//height: 100%;
			&:hover, &:focus{
				color: @white;
			}
		}
	}


//IE8 fix for hero panel
		.ie8 .new-hero{			
		&:before{			
			content:'';
		display: none;
		}
	}


//New Linear-Progress Nav

.linear {

			//////////////////////////////////////////////////////////////////////////////

		.feature-panel.linear-progress{
	 	/* Use with numbers, icons and imagery */
		/*Set first child to be minus margin positioned and increase top panel margin*/
		padding-top: 40px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 10px;
	//	position: relative;

		h1,h2,h3,h4,h5,h6{
			text-align: center;
			line-height: 1.3em;
		}

		ul{
			margin: 0 0 10px 15px;
		}

		.float-wrapper{
		 	background-color: transparent;
			display: inline;
			width: 100%;
			position: absolute;
			top: -17px;
			left:0;
	 		text-align:center;

	 		.circle-number{
	    width:36px;
	    margin: 0 auto;
			}

			.circle-number:after{
		    content: "";
		    display: block;
		    width: 100%;
		    height:0;
		    padding-bottom: 85%;
		    background: @rz-primary; 
		    -moz-border-radius: 50%; 
		    -webkit-border-radius: 50%;
		    border-radius: 50%;
			  border: 2px solid #fff;
			  background-color:#f4f4f4;
			}

			.circle-number div{
		    float:left;
		    width:100%;
				padding-top:42%;
				line-height:0.8em;
				margin-top:-0.2em;				   
				font-size: 0.7em;
				color: #333;		    
		    text-align:center;		   
		    font-weight: normal;
		    font-size: 1.2em;
			}
			
		}

		@media only screen and (max-width: 660px){
			
			margin-left: 0px;
			padding-left: 35px;
			padding-top: 10px;

			h1,h2,h3,h4,h5,h6{
				text-align: left;
				padding-top: 8px;
			}

			//* Extend Component Style - Feature Panel - Float a child *//
			.float-wrapper{
		 	background-color: transparent;
			display: inline;
			width: auto;
			position: absolute;
			top:10px; //Hald the pixel height of element
			left:-25px;
	 		text-align:center;
 				.circle-number div{
				  margin-top:-0.3em;
				 }
			}			
		}

		//Turn into a dropdown between 767 and 950
		@media (min-width: 767px) and (max-width: 950px){
			margin-left: 20px;
			padding-left: 20px;
			padding-top: 5px;
			padding-bottom: 13px;

			h1,h2,h3,h4,h5,h6{
				text-align: left;
				padding-top: 8px;
				margin: 0px !important;
			}

			//* Extend Component Style - Feature Panel - Float a child *//
			.float-wrapper{
		 	background-color: transparent;
			display: inline;
			width: auto;
			position: absolute;
			top:5px; //Hald the pixel height of element
			left:-20px;
	 		text-align:center;
 				.circle-number div{
				  margin-top:-0.3em;
				 }
			}			
		}

		@media only screen and (max-width: 660px){		
			margin-left: 20px;
				padding-left: 20px;

				h1,h2,h3,h4,h5,h6{
					text-align: left;
					padding-top: 0px;

					margin: 0px !important;
				}
					.float-wrapper{
			 
				top:2px; //Hald the pixel height of element
				left:-20px;
				}
			}
		}



				/////////////////////////////////////////////////////////////////////////////////
	

	// COMMON STYLES ACCROSS TABS
	.nav {
		margin: 25px 0 0 0;
	}// .nav


	// TAB SPECIFIC STYLES
	.nav-tabs {
		border: 0;
		
		li {
			padding: 0 !important;
			max-width: 23.728813559322035%;
			margin-right: 8px;
			min-width: 23%;
			a {
				border:0;
				border-bottom: 3px solid #ccc;

					h1,h2,h3,h4,h5,h6{
					margin: -15px 5px 5px 5px !important;
					padding: 0;				     
				  font-family: @avenirMedium; //Custom for re-use - hidden if not needed
				  font-size: 1em;
					}
				&:focus {
					text-decoration: none;
					
				}// &:focus
			}// a

			&.active {
				a {
					background-color: #f4f4f4;
					h1,h2,h3,h4,h5,h6{
					color: #333 !important;
				}
					border: 0;
					border-bottom: 3px solid #333;
					&:focus {
						text-decoration: none;
					}						
				}// a
			}
		}// &:active
		li:last-child{
			margin-right: 0;
		}
	}// .nav-tabs


	// NAV TRANSFORM
	// Change linear nav into a dropdown


	// Mixin
	.navTransform, .navTransform-md {
  //	border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    /* Fix for IE10 bug - parent of :after must have font-family */
    font-family: 'rr-ico';

    &::after {
      content: "\f718"; /* "Three Line Menu Navicon" shows up */
      font-family: 'rr-ico';
      font-size: 1.375em; // 22px
      color: #333;
      position: absolute;
      top: 20px;
      right: 8px;
      z-index: 2;
      pointer-events: none;
    }

    &.nav-transform-open {
      a {
        position: relative;
        display: block;
      }
    }

    li {
      display: block; /* One link per "row" */
      float: none;
      margin: 0;
      overflow: hidden;
      max-width: 100%;
    }
    a {
      position: absolute; /* Stack links on top of each other */
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      padding-right: 2.2em;
      border: 0px;
      .border-radius(0);
    }

    li.active {
    	a {
    		position: relative;
        border: 0;
        z-index: 1; /* Active tab is on top */
        cursor: pointer;
        border-bottom: 3px solid #333;

        &:hover {
        	//background-color: #ffcc00;
	      }
      }
    }
	}	

	// Always on
	.nav-transform-always {
  	.navTransform();
  }


	
  // Set when to fire the transformation
 
  	@media (min-width: 767px) and (max-width: 950px)	{
  	//.feature-panel {background-color: #0000ff!important}
  	.nav-transform-md {  			
  		.navTransform();
  		}
  	}
  	@media (max-width: 660px)	{
  	// .feature-panel {background-color: #0000ff!important}
  	.nav-transform-md {  			
  		.navTransform();
  		}
  	}

  			@media only screen and (max-width: 660px){
			.navTransform {
					  &::after {				     
				      top: 20px;
				      right: 8px;
				     
				    }
				  }
				}

}// /.tabs


//Resize H1 on Mobile for RiZone
	.section-rizone{
			h1{
		
			line-height: 1.2em;
		}
	//Adjustment to H1 text size on mobile
	@media only screen and (max-width: 660px){


		h1{
			font-size: 30px;
			line-height: 36px;
		}
	}
}


//NEW video Component LESS

// Embeds responsive
//
// Credit: Nicolas Gallagher and SUIT CSS.

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe,
  embed,
  object {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }

  // Modifier class for 16:9 aspect ratio - for Youtube videos
  &.embed-responsive-16by9 {
    padding-bottom: 63.25%;
  }

  //Vimeo has different ratio ans controls are hidden - need authoring option to switch classes
   &.embed-responsive-16by9-vimeo {
    padding-bottom: 56.25%;
  }

  // Modifier class for 4:3 aspect ratio
  &.embed-responsive-4by3 {
    padding-bottom: 75%;
  }
}

//Overidden default margin control as was originally based on a different base font size calc.
.inpage-video.transcript {
  display: inline-block;
  margin: 10px 0 0;
}


//Extend modal for i-Frame tools
// Body (where all modal content resides)


.modal-tool  {

	 &.fade.in { top: 2%; }
		
	
    //padding: 0 0 10px;
    top:0;
    position: fixed;
    padding-bottom: 50.5%; //56.25% when footer was in code
    height: 96%;
    margin: 0 0 0 45%;
    left: -40%;
    width: 90%;
  	max-height: none;

    iframe,
    embed,
    object {
  
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) { 
    .modal-tool {
    	 &.fade.in { top: 2%; }
    	top:0;
    	height: 96%;
    	width: 98%;
    	left: -44%;
      max-height: none;
    } 
  
}

@media only screen and (max-width: 767px) and (orientation:landscape) {

 
  .modal-tool & {
  	&.fade.in { top: 2%; }
  	top:0;
  	height:96%;
    max-height: none;
  } 
}

//Patches to overide RR styling for RiZone homepage - integrate for later reuse
.homepage.section-rizone .panel.feature-box {
	border: 1px solid #d9d9d9;
	background-color: #fff;
	//float: left;
	position: relative;
	//width: 431px;
	margin:0 0 10px 0;
	//min-height: auto;
}



.homepage.section-rizone .hero+.container { 
	text-align: left;
}

.homepage.section-rizone .feature-box{
	height: auto;
	min-width: 320px;
}

.ie8 .linear .nav-tabs li{
	 width: 23.5% !important;
	}



//LESS for the Find an adviser section

//Postcode location finder
.feature-panel{
	//form - use search from RR
	//Button - link to Modernizr GPS
}






.faa-results-list{
	ul{
		li{
			display: block;
			border-top: 1px solid #CCC;
			padding: 20px 0 20px 0;
			background-color: white;

			.number{
				display: block;
			  background: @rz-primary; 
			  -moz-border-radius: 50%; 
			  -webkit-border-radius: 50%;
			  border-radius: 50%;
			  color: #FFF;
			}
			.title{
				display: inline-block;
				color: @rz-primary;
				font-size: 1.2em;
			}
			.distance{
				color: #CCC;
				font-size: 1em;
				display: inline-block;
			}
			.hidden-title{
				position: absolute;
				top: -99999;
				height: 0;
				width: 0;
				float: left;
			}
			.left-cell{
				float: left;
				display: block;
				width: 45%;
				position: relative;

				.address-element{
					display: block;
				}
			}
			.right-cell{
				float: left;
				display: block;
				width: 45%;
				position: relative;
				ul li{
					display: block;
				}
			}
		}
		li:last-child{
			border-bottom: 1px solid #CCC;
		}
		li.last-child{
			border-bottom: 1px solid #CCC;
		}
	}
	/*	ul
		li
		span
		.hidden-titles
		.list
	*/

}

//
.section-rizone{
	.advisor-search{
		legend+.control-group{		
			margin:0;
		}
		label{
			float:left;
			padding: 14px 0 0 15px;
		}
		.controls{
			float:left;
			clear: none;

			.btn-link{
				margin: 10px;
			}
		}
	}

	#map-locations{

		ul li ul{
			border-bottom: 1px solid #ccc;
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
	
		ul{			
			list-style: none;
			margin:0;
			position: relative;


			li{
				position: relative;
				display: block;
				vertical-align: top;

					.position{
				   display: inline-block;
				   padding: 7px;
						position: relative;
						line-height:0.5em;
						margin-top:0em;				   
						font-size: 0.7em;
						color: #fff;		    
				    text-align:center;		   
				    font-weight: normal;
				    font-size: 0.8em;

				     -moz-border-radius: 50%; 
				    -webkit-border-radius: 50%;
				    border-radius: 50%;
					  border: 2px solid green;
					  background-color: green;
					  margin-left: -30px;
					}

				.companyTitle{
					display: inline;
					
				  margin-right: 200px;
				  margin-top: 0;
					vertical-align: top;

					button{
						font-size: 1.2em;
					line-height: 1.1em;
					}
				}
				.distance{
					position: absolute;
					top:0;
					right:0;
					margin-top: 8px;
					display: block; 
					text-align: right;
					vertical-align: top;
					color: #666;
					font-size: 0.8em;
				}	

				.info{
				width: 58%;
				display: inline-block;
				span{display: block; line-height: 1.5em; padding:3px 0;}
				}

				.address{
					color: #666;
					width: 40%;
					display: inline-block;
					span{display: block; line-height: 1.5em;}
				}				 
				clear: both;

				.email, .web{
					word-wrap: break-word;
				}


				.name, .number, .email, .web{

					&:before{
						font-family: "rr-ico" !important;
						speak: none;
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-transform: none;
						line-height: 1;

						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;

						speak: none;

						-webkit-touch-callout: none;
						-webkit-user-select: none;
						-khtml-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
						color: #999;
						position: absolute;
						left:-27px;
						font-size: 1.2em;
					}
				}

				.addIcon(@icon){
					&:before{
					content: @icon;		
					}			
				}

				.name{.addIcon("\f701");}
				.number{.addIcon("\f742");}
				.email{.addIcon("\f720");}
				.web{.addIcon("\f721");}
				
			}

			

		}
	}


@media only screen and (min-width: 768px) and (max-width: 979px) {
	#map-locations{
			ul li {
	
				.info, .address, .distance{
					width: 100%;
					display: block;
					position: relative;
				top:inherit;
				right: inherit;
				text-align: left;
				margin: 0 0 0 30px;
				}

				.position{
					margin-left: 0;	
					position: absolute;
				}
			

				.companyTitle{					
					display: inline-block;
					margin:0 0 0 30px;
				}
			
		}
	}
}
	@media only screen and (min-width: 630px) and (max-width: 767px) { 
#map-locations{
			ul li {
	
		.info{
				width: 50% !important;
				display: inline-block !important;

				span{display: block; line-height: 1.5em; padding:3px 0;}
				}

				.address{
					color: #666;
					width: 40% !important;
					display: inline-block !important;
					span{display: block; line-height: 1.5em;}
				}				 
			}
		}

	}

	@media only screen and (max-width: 767px) { 
		#map-locations{
			ul li {
				display: block;
				width: 100%;
				.info, .address, .distance{
					width: 100%;
					display: block;
					position: relative;
				top:inherit;
				right: inherit;
				text-align: left;
				margin: 0 0 0 30px;
				}
				.position{
					margin-left: 0;	
					position: absolute;
				}

				.companyTitle{
					
					display: inline-block;
					margin:0 0 0 30px;
				}
			}
		}
	}



	

}

/* aside on homepage fix  */
@media only screen and (max-width: 790px) and (min-width: 600px){
	.homepage.section-rizone aside .panel.feature-box{
	width: 100%;
	margin: 0px;
	min-width: 0;
	}		
}

.homepage.section-rizone aside .panel.feature-box {
	//border: 1px solid #d9d9d9;
	background-color: #fff;
	float: none;
	position: relative;
	//width: 431px;
	margin: 0 0 14px 0;
	height: auto;
	min-width: 0;
}

/* Map position icons */
.gm-style img {
  max-width: none;
}
.gm-style label {
  width: auto;
  display: inline;
}

#map-canvas {
  height: 300px;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

#map-canvas .position {
	position: relative;
	display: inline-block;
	width: 2.8em;
	height: 2.8em;
	padding: 12px 0 8px 0;
	line-height: 1.0em;
	background-color: #008762;
	color: #fff;  
	font-weight: normal;
	font-size: 0.9em;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

// RISK QUESTIONNAIRE
.slide>div{
    margin: 0;
}
.form-step{
    text-align: center;
}
#riskQuestionnaire {
    border: 3px solid #00A67A;
    padding: 20px !important;
    border-radius: 3px !important;
    min-height: 270px;
}
#riskQuestionnaire label {
    text-align: left !important;
}
.xxl-button {
    text-align: center;
    padding: 55px;
}

#results span.ico {
    position: relative;
    margin-top: -25px;
    float: left;
    font-size: 50px;
    color: #FCC917;
    padding-right: 10px;
}

.result {
    padding-bottom: 10px;
}

.result-header {
        font-family: "Avenir LT W01 65 Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.result p {
    padding-left: 60px !important;
}

.docLink {
    text-align: right;
    float: right;
}

.docLink .descTxt {
    font-size: 13px;
}

.pull-right {
    float: right;
}
.option-buttons input {
    position: absolute;
    left: -9999px;
}

	