/* dropdown CSS */
/* mobile */
.click-nav {
	/*width: 40%;*/
	background: #efefef;
	border-radius: 6px;
	padding: 0.5em 1em;
	ul {
		list-style: none;
		padding:0;
		margin:0;
		li {
			/*cursor: pointer;*/
			ul {
				right: 0;
				li {
					padding: 1em 0;
				}
				span {
					color: #666;
				}
				span:hover {

				}
				a {
					margin-left: 1em;
				}
			}
			a:hover {
				
			}
		}
		.clicker {
			color: #000;
			text-decoration:none !important;
			span.title {
				color: #000;
				display:inline-block;
				margin-left: 4em;
			}
			span.expand {
				float:right;
			}
		}
		.clicker:hover {
			.click-nav {
				ul {
					.active {
						background: #196F9A;
						text-decoration: none;
					}
				}
			}
		}
	}
	.no-js {
		ul {
			display: none;
		}
	}
	.no-js:hover {
		ul {
			display: block;
		}
	}
}
/* desktop */
.drop-nav {
	margin-top: 1em; //just for development remove in live
	height: 10em; //just for development remove in live
	text-align: center;
	li.dropdown {
		width: 30%;
		background: #efefef;
		border-radius: 6px;
		margin-right: 10px;
	}

	li.dropdown:hover {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		padding-bottom: 20px;
	}
	ul.dropdown-menu {
		text-align: left;
		margin-top: 0;
		width: 20em;
		background: #efefef;
		border: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

//if (($window.width() > 600 ) && ($window.width() < 767 ) || ($window.width() > 921 )) {
//                $('.click-nav').remove();
//            }
//            else {
//              $('.drop-nav').remove();
//            }
@media screen (min-width: 600px) and (max-width: 767px) {

}
@media screen (min-width: 921px) {

}
