// SELECTOR
//============================================================================
// These styles are used for fund selection styles in the following pages:
// - Purchase-Step2-RR-1934-RR-1938.html				(default selector)
// - ChangeFund-Step3-Confirm-Pension-RR-2207		(square style)
// - YourProfile-AboutYou-RR-1033-1034.html 		(long style)






// MIXINS (only used in this LESS)
//============================================================================
	.smallSelectorStructure {
		.btn-selector {

			p {
				color: transparent;
				line-height: 0;
				padding-top: 25px;
			}

			span {
				color: @grayDark;
				&.ico, &.coming-soon {
					display: none;
				}
			}
		} //.btn-selector

		.enlarged {
			width: 24.1%;
			min-width: 95px;
			height: 100px;
			margin-top: -1.4em;
			margin-left: -25px;

			p {
				color: inherit;
				display: block;
				line-height: 1em;
				padding-top: 8px;

				span {		
					padding:6px 0 0 0;
					font-size: 1.7em;
					color: inherit;
				}

				.ico {		
					padding: 20px 0 0 0 !important;
					display: block;
					font-size: 1.9em;
				}

				.coming-soon{
					display: block;
					margin-top:5px;
				}
			}
		} // .enlarged

		.selection-navigation{
			display: block;
			visibility: visible;
		}

		.selector {	
			margin-bottom:40px;

			li {
				height: 55px;
			}

			&.risk {
				margin-top:20px;
				margin-bottom:20px;

				li {
					height: 10px;
				}
			}
		} // .selector

		.selector-container{
			max-width: 400px; //254px
			margin: 0 auto;

			.panel{
				padding:0;
				margin: 0 24px;
			}
		}
	} // .smallSelectorStructure (mixin)

	.longSelector {
		.fund-selected.fund-selected-long {

			.selected {
				float: left;
				width:100%;
				padding: 10px;

				p {
					float: left;
					margin: 0;
					width: 44%;
					font-weight: normal;
					padding-left: 15px;		
				}

				p span {
					font-size: 1em !important;
					padding-top: 5px;
					font-family: @avenirHeavy;
				}

				// p:last-child {
				// 	//text-align: left;	
				// 	width:auto;	
				// }
				
				.ico{
					float: left;
					font-size: 2em;	
					width:auto;
					line-height: 1em;
				}
			} // .selected
		} // .fund-selected.fund-selected-long
	} // .longSelector

	.longSelectorStacked {
		.fund-selected.fund-selected-long {
			.selected {
				position: relative;

				p {
					padding: 0 0 10px 50px;
					text-align: left;
					width: auto !important;
					float: none;

					&:last-child {
						padding-bottom: 0;
					}
				}

				.ico {
					position: absolute;
					left: 10px;
					top: 10px;
				}
			}
		}

		.ie8 {
			.fund-selected.fund-selected-long .selected p.last-child {
				padding-bottom: 0;
			}
		}
	}

	.squareSelector {
		.fund-selected.fund-selected-square {
			float: right;
			
			.selected {
				padding: 0;
				margin: 0;
				width: 130px;
				height: 130px;

				p {
					float: none;
					padding: 10px 0 0 0 !important;
					margin: 0;
					width:auto;
					font-family: @avenirLight;
					background-color: #ff000;
					width: auto; 
					min-height: 70px;
					text-align: center !important;

					span {			
						display: block;
						font-size: 1.4em !important;
						padding-top: 5px;
						font-family: @avenirHeavy;
						line-height: 0.9em;
					}

					&:last-child {
						text-align: center;	
						width: auto;	
						padding: 0;
						vertical-align: bottom;
						height: auto;
						//display: table-cell;

						span {
							font-size: 1.5em !important;
							line-height: 0.9em;
							padding: 2px 0 10px 0;
						}
					}
				}
				
				.ico {
					margin: 0;
					padding: 0;
					display: none;
					visibility: hidden;
				}
			}
		} // .fund-selected.fund-selected-square

		.ie8 {
			.fund-selected.fund-selected-square .selected p.last-child {
				text-align: center;	
				width: auto;	
				padding: 0;
				vertical-align: bottom;
				height: auto;
				//display: table-cell;

				span {
					font-size: 1.5em !important;
					line-height: 0.9em;
					padding: 0px 0 10px 0 !important;
				}
			}
		} // .ie8
	} // .squareSelector






// CORE ELEMENTS
//============================================================================

	// Selector - Base for all selector types
	// -------------------------
		.selector {
			padding:0;
			margin:0;
			margin-top:20px;
			margin-bottom:20px;
			clear:both;

			ul {
				margin:0;
			}

			li {
				height: 91px;
				list-style: none;
				float: left;
				padding:0;
				width: 17.5%;
				margin: 0 0 0 3.1%;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0px;
				}
			}

			.disabled{
				color: #F4F4F4;
			}

			a span:first-child {
				.screenreader-visible ();
			}

			&.risk {
				margin: 5px 0;

				li {
					height: 14px;
				}
			}
		}

			// IE8 fix (requires to be on its own line)
			.ie8 .selector ul li.last-child {
				margin-right: 0px;
			}


	// Fund selector - only used in main fund selector tool
	// -------------------------
		// Selector container - overall wrapper
		.selector-container {
			width: 100%;
			padding-top:7px;
			clear: both;

			.panel {
				padding-left: 0;
				padding-right: 0;
				margin: 0 15px;
				padding: 7px 0px;
			}
		}

		// Selection navigation - left and right arrows for carousel effect at smaller sizes
		.selection-navigation {
			display: none;
			visibility: hidden;
			float: left;

			// Set arrow defaults
			span {
				position: absolute;
				border-radius: 8px;	
				font-size: 2.5em;
				padding:10px 0px;
				color: #999;
				margin-left: 0px;		
			}

			// Correct navigation right hand side arrow
			.right span {
				margin-left: -40px;	
			}

			a:hover span, a:focus span {
				color: #666;
				outline: none;
				cursor: pointer;
			}
		}

		// Button selector - re-styles buttons for fund selector
		.btn-selector {
			padding: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			border-width: 2px;
			border-style: solid;
			box-shadow: none;	
			color: #333;

			p{
				padding:0;
				margin:0;
				padding: 5px 0 30px;
				font-family: @avenirLight;
			}

			span{		
				display: block;
				font-family: @avenirHeavy;
				font-size: 1.3em;
				padding: 0 0 3px;
			}

			.ico {
				font-size: 1.9em;	
				font-weight: normal !important;
				font-family: 'rr-ico' !important ;
				padding: 7px 3px 3px 3px;
			}

			.coming-soon{
				font-size: @baseFontSize;
				line-height: 15px;
				font-family: @avenirLight;

				~ span {
					display: none;
				}
			}
		} // .btn-selector

		// Enlarged - increase size out of fund selector
		.enlarged {
			position: absolute;
			height: 8.3em; //@fundSize
			margin-top: -1.1em;
			text-shadow:none; 
			outline: 4px solid #fff;
			z-index: 2;
			width: 25%;
			margin-left: -3.3%;

			span {
				font-size: 2.2em;
				padding-top: 6px;
			}

			.ico{
				display: block;
				font-size: 2.7em;
				display: block;
				padding: 35px 0px 0px 0px;
				width:100%;	
			}

			.coming-soon{
				margin-top: 15px;
			}

			.accordion-inner & {
				outline: 4px solid #efefef;
			}
		}// .enlarged

		// Risk bar colours
		.selector.risk .risk-color {
			&-1 {background-color: @rr-fund-a;}
			&-2 {background-color: @rr-fund-b;}
			&-3 {background-color: @rr-fund-c;}
			&-4 {background-color: @rr-fund-d;}
			&-5 {background-color: @rr-fund-e;}

			@media print {
				&-1 {border-top: 13px solid @rr-fund-a;}
				&-2 {border-top: 13px solid @rr-fund-b;}
				&-3 {border-top: 13px solid @rr-fund-c;}
				&-4 {border-top: 13px solid @rr-fund-d;}
				&-5 {border-top: 13px solid @rr-fund-e;}
			}
		}

		// Selection info - 'speach bubble' fund risk information styles
		.selection-info {
			position: relative;
			clear: both;
			z-index: 3;
			padding: 0 3px;
			text-align: center;
			.border-radius(@baseBorderRadius);

			&.user, &.top {
				display: block;			
				visibility: visible;
			}

			&:after { /*arrow added to DIV at bootom - IE8 does not display*/
				content:'';
				display:block;
				position:absolute;
				top:100%; 
				left:45%;
				width:0;
				height:0;
				border-color: #ffcc00 transparent transparent transparent; 
				border-style: solid;
				border-width: 11px;
				border-top-width: 14px;
				margin-left: -10px;
			}

			&.user:after{ /*arrow added to DIV at bootom - IE8 does not display*/
				top: -14px;
				border-bottom-width: 14px;
				border-top-width: 0;
			}

			&.top:after {
					border:0
				}

			&.top:before {
				content:'';
				display:block;
				position:absolute;
				bottom:-20px; /*should be set to -border-width x 2 */
				left:45%;
				width:0;
				height:0;
				border-color: black transparent transparent transparent; /*border color should be same as div div background color*/
				border-style: solid;
				border-width: 11px;
			}

			p{
				padding:10px 0 10px 0;
				margin:0;
				//font-size: (@baseFontSize - 2); //14px

				span:last-child {
					font-family: @avenirHeavy;
				}
			}
		} // .selection-info

			// IE 8 fix (requires to be on its own line)
			.ie8 .selection-info p span.last-child {
				font-family: @avenirHeavy;
			}








/* RISK PROFILER */
.risk-profiler {
		width: 100%;
		padding: 0 15px;
		margin: 0;
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box;

		.panel {
			padding: 0;
			margin: 0 !important;
		}

		> .panel {
			width: auto !important;
		}

		.selector.risk {
			margin: 20px 0 30px;
		}
		.selector ul {

			li{
				width: 18.4%;
				margin: 0 0 0 2%;

				&:first-child {
					margin: 0;
				}
			}
		}
	}



.selected {
	.border-radius(@baseBorderRadius);
	text-align: center;

	p span {
	display: block;
	font-size: 3em;
	padding-top: 27px;
	width: 100%;
	}

	p span:last-child, p .ico {
		font-size: 3em;
		font-weight: normal;
		//Fix to sort white on red backgrounds
		//color: #333;
		width:100%;		
	}

	.ico{
		font-size: 3.5em;
		font-weight: 600;
		color: #333;
		width:100%;
		line-height: 2em;
		padding-top:0px;
	}

	

	p {
		display:block;
		line-height: 1em;
		padding:10px 0 0 0;

		span {
			display: inline-block !important;
		}
	}

	.pull-right & {
		.ico {
			line-height: 1.4em;
		}
	}
}



// label to left of square risklevel indicators (see ChangeFund Step3)
.lock-width{
	width: 100px;
}


.ie8 .fund-selected .selected .ico {font-weight: normal;}





.longSelector ();
.ie8 {
	.longSelectorStacked ();
}
.squareSelector ();









// Upgrade fund panel
.fund-upgrade {
	padding-left: 160px;
	min-height: 160px;

	.fund-selected.fund-selected-square.fund-aegon {
		position: absolute;
		left: 15px;
		top: 15px;
		// float: left;
		// padding: 7px 15px 7px 0;
		&.fund-aegon-nopos {
			position: static;
			left: 0px;
			top: 0px;
		}
		span.ico {
			visibility: visible;
			position: relative;
			top: auto;
			left: auto;
			margin: 0 auto;
			padding: 0;
			float: none;
			font-size: 55px !important;
		}
	}

	.selection-info {
		margin-bottom: 7px;

		&:after {
			display: none;
		}
	}
}

@media only screen and (min-width: 450px) and (max-width: 767px) {

	.fund-upgrade {
		padding-left: 160px !important;

	}

}

@media only screen and (max-width: 449px) {

	.fund-upgrade {
		.fund-selected.fund-selected-square.fund-aegon {
			position: relative;
			left: 0;
			top: 7px;
			float: none;
			padding: 0 0 10px;
			.clearfix ();
			
			> div {
				width: 100%;
				height: auto;
				// padding: 7px 15px 7px 0;
			}

			span.ico {
				visibility: visible;
				position: absolute;
				top: 0px;
				left: 10px;
				font-size: 45px !important;
			}

			.selected p {
				height: auto;
				min-height: 0;
				text-align: left !important;
				margin-left: 60px;
				padding: 0 !important;

				&:first-child {
					padding: 15px 0 !important;
				}
			}
		}
	}
}


//RRD-3185 Was added to fix layout on version of fund selector in Goals tool but caused issue on confirmation page - FIX: Add a class wrapper from section to fix issue/
.section-goals {
	.fund-selected.fund-selected-long.fund-aegon {
	
		.selected {
			position: relative;
			padding-left: 50px;
			min-height: 50px;
		}

		.ico {
			position: absolute;
			top: 10px;
			left: 10px;
		}

		p {
			text-align: left;
			width: 100%;
			padding: 0 20px 0 0 !important;
		}
	}
}




@media only screen and (max-width: 449px) {
	.fund-selected.fund-selected-long.fund-aegon {

		p {
			text-align: left;
			width: 50%;
			//padding: 0 0 10px 0 !important;

			// &:last-child {
			// 	padding: 0 !important;
			// }
		}
	}
}




// MEDIA QUERIES
//============================================================================
// Large
@media only screen and (min-width: 1200px){
	.btn-selector {
		
		span {
			padding-top: 3px;
		}
		.ico {
			padding-top: 20px !important;
		}
	}

	.enlarged{
		height: 9.3em;

		span {
			padding-top: 12px;
		}

		.ico {
			padding-top: 35px !important;
			font-size: 3em;
		}

		.coming-soon{
			font-size: @baseFontSize + 2;
		}
	}

	.selector li{
		height: 111px;
	}
} // @media large


// Small
@media 	only screen and (min-width: 768px) and (max-width: 979px),
				only screen and (max-width: 580px),
				print {	
	.smallSelectorStructure ();
} // @media small sytle


// Goal planner overrides
@media 	only screen and (min-width: 979px),
				only screen and (min-width: 581px) and (max-width: 767px) {
	.span6 & {
		.smallSelectorStructure ();

		.enlarged {
			margin-left: -3.3%;
		}

		.selector-container .panel {
			padding: 0;
			margin: 0 auto;
			width: 400px;
		}

		.selector.risk {
			margin-top: 20px;
			margin-bottom: 20px;

			ul li {
				height: 10px;
			}
		}

		.selection-info{
			width:auto ;
		}
	}
} // @media Goal planner overrides


@media 	only screen and (min-width: 980px) and (max-width: 1120px),
				only screen and (max-width: 450px) {
	.longSelectorStacked ();
} // media


@media print{
	.btn-selector {
		p {
			color: transparent !important;
		}
		
		&.enlarged {
		background-color: white !important;
		
			p {
				color: black !important;
			}	
		} // .enlarged
	} // .btn-selector


	.enlarged{
		position: relative;		
		outline: none;
		z-index: '';
	}

	.selection-navigation {
		display: block;
		visibility: hidden;
		float: left;
	}

} // @media print