//Less file for sorting out selection lists that have non-edit state and other state plus mobile visual change


//Generate non-editable states
.list-header{
	padding: 10px 0 10px 0;
	padding-left: 200px;
	border-bottom: 1px solid #ccc;

	div {
		display: inline-block;
		width:45px;
		text-align: center
	}
}

.no-selected{
	width: auto !important;
	display: inline-block;

	/* not visible on desktop/tablet */
	display:none !important;
}

.comma-list {
	
	border-bottom: 1px solid #ccc;
	padding-top:10px;
	padding-bottom:10px;
	clear:both;

	p{
		padding:0 !important;
		margin:0 !important;
		display: inline-block;
	}

	.list {		
		width: auto;


	}
	
	div{
		padding-top:0px;
		padding-bottom:0px !important;
		display: inline-block;
		width:45px;
		//height:30px;
		text-align: center;		

	}

	div span:first-child, div span.first-child{
		display: none;
		visibility: none;
	}

	div .static{
		color: #999;
		font-size: 1.9em;
		vertical-align: top;
		line-height: 0.7em;

	}

	.list-label{
		float:none;		
		display: inline-block;
		width: 150px;
		text-align: right;
		vertical-align: text-top;	
		clear:both;
	}

	.help-icon{
		float:none;
		display: inline-block;
		padding-top:0px;
		width: auto;
		margin: 0 10px 0 0px;
		line-height: 0em;
	}

	.comma{
		display: none;
		visibility: hidden;
	}

	.screenreader-visible{
		width: 0px;
		height: 0px;
	}

	.not-used span{		
		display:none;
		visibility: hidden;
	}
}




@media only screen and (min-width: 979px) {

	.list-header{	
	padding-left: 250px;

		div {			
				width:63px;	
		}
	}

	.no-selected{
		width: auto !important;
		display: inline-block;
		/* not visible on desktop/tablet */
		display:none !important;
		visibility: hidden;
	}


	.comma-list {	
		div{		
			width:63px;			
		}

		.list-label{			
			width: 200px;		
		}


		.list{
			clear:none;
			float:none;

		}
	}

	
}

@media only screen and (min-width: 1200px) {

	.list-header{	
		padding-left: 350px;

		div {			
				width:65px;			
		}
	}

		.no-selected{
		width: auto !important;
		display: inline-block;
		/* not visible on desktop/tablet */
		display:none !important;
		visibility: hidden;
		
	}


	.comma-list {	
		div{		
			width:65px;			
		}

			.list{
			clear:none;
			float:none;
		}

		.list-label{			
			width: 300px;
		}
	}

	
}

//Mobile widths
@media only screen and (max-width: 767px) {

	.list-header{
		display: none;
		visibility: hidden;
	}

	.no-selected{
	width: auto !important;
	display: inline-block !important;
	clear:both;
	float:left;
	}



	.comma-list {

		border-bottom: 0px solid #ccc;

		.list{
		clear:both;
		float:left;
		}
		

		p{
			padding:0 !important;
			margin:0 !important;
			display: block;
		}
		
		div{
			padding-top:0px;
			display: inline-block;
			width: auto;
			padding-bottom: 20px;

		}

		div .static{
			display: none;
			visibility: hidden;
			line-height: normal;
		}

		div span:first-child, div span.first-child {
			display: block;
			visibility: visible;
		}		

		.list-label{
			float:left;
			margin-top:4px !important;
			text-align: left;
			width:auto;
		}

		.help-icon{
			float:left;
			padding-top:0px;
			margin-left:10px;
		}

		.comma{
			margin-left: -4px; //fix comma's space to left
			display: inline-block;
			visibility: visible;
		}

		.not-used{
		background-color: #fc0;
		display:none;
		visibility: hidden;
		}

	}

}

//editiable-list reset for android gingerbread native
@media only screen and (-webkit-device-pixel-ratio: 1) and (max-device-width: 480px) {


	.editable-list{

		span.static label{		
			background-color: #666 !important;
			background-image: url('') !important;

			 background-position: '';
			 // TODO - THis is not working ad grad not showing
			 background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#ffcc00), to(#00ff00)) !important; // Safari 4+, Chrome 2+

			 &.disabled,
		  &[disabled] {
		    cursor:  help;
		    background: #efefef !important;		   
		    .box-shadow(none);
		  }

 
			
		}
	}


}

.editable-list{

	overflow: hidden;

	div span:first-child{
		display: block;
		visibility: visible;
	}

	div span.first-child{
		display: block;
		visibility: visible;
	}

	span.static label{		
		width: 22px;
		overflow: hidden;
		padding-left:24px;
		margin-left: 20px;
		margin-bottom:0;
		padding-bottom:0;
		margin-top:0;
		padding-top:0;
		margin-bottom: -6px !important;
		
	}

	.list-label{
		padding: 0;
		//line-height: 0.4em;
		margin: 0;
		font-family: @avenirLight;
	}

}

.ie8 .editable-list{

	

	span.static label{	
		display: block;
		width: 22px !important;
		overflow: hidden;
		padding-left:23px;
		margin-left: 20px;
	}


}


@media only screen and (max-width: 767px) {

	.editable-list{
		span.static label{		
			margin-left: 0px;			
		}
	}

	.list{
		margin-top:10px;
	}

	.editable-list div {
		margin-right: -6px !important;
	}

}



/* adjustements to top classes to fix styling
*/
@media only screen and (max-width: 767px) {
	.editable-list{

		div {
			padding: 0 !important;

			&:last-child{
				margin-right:0 !important;
			}
		}

		div.last-child{
			margin-right:0 !important;
		}
		



		.list{
			float: left;
		  background: #fff;
		  padding: 3px 3px 4px 3px !important;
		  border: 1px solid @rr-green; // Fallback IE8 no rgba
		  border: 1px solid rgba(0, 136, 63, 0.25);
		  .border-radius(9px);

		  &.focus {
		    outline: 5px auto -webkit-focus-ring-color;
		    outline-offset: -2px;
		  }




		}

		.list :last-child span label{
			border-radius: 0 @baseBorderRadius @baseBorderRadius 0 !important;
		}

		.list .last-child span label{
			border-radius: 0 @baseBorderRadius @baseBorderRadius 0 !important;
		}

		.list :first-child span label{
			border-radius: @baseBorderRadius 0 0 @baseBorderRadius !important;
  		border-left-color: transparent !important;
		}




		span.static label{


			border-radius: 0;
			width: auto;
      display: inline-block;
      padding: 4px 12px;
      font-family: @avenirMedium;
      height: 30px;
			margin:0;
      // Button resets
      color: @rr-green; // reset button color
      background: transparent; // reset button background
      //border: 1px solid transparent; // reset button border
      //.border-radius(0); // reset button border-radius

      // Add border deviders
      border: 1px solid transparent; // Set invisible borders
      border-left: 1px solid @rr-green;
      border-left: 1px solid rgba(0, 136, 63, 0.25);

      &:hover,
      &:focus {
        color: @white;
         background: transparent; // reset button background
        background-color:  #145e34!important; //#037035;
        border-color: @rr-green;
        border-color: rgba(0, 136, 63, 0.25);
      }

       &.active,
		  &:active{
		    background-image: none !important;
		    background-color:  #145e34!important; //#037035;
		    outline: 0;
		 
		  }

		 

		 

		   &.disabled:hover,
		  &[disabled]:hover {
		    cursor: help;
		    background: #000 !important;		   
		    .box-shadow(none);
		    color: #757575;
		  }

		   &.checked:hover,
		  &[checked]:hover {
		    cursor: help;
		    background: #000 !important;		   
		    .box-shadow(none);
		    color: #fff;
		  }

		  

		  &.checked,
		  &[checked],
		  &.c_on{
		  	color: @white;
 			background-color: #00883f!important;
 			background-image: none !important;
 			border-left: 1px solid @white;
		  }

		  &.c_on:hover, &.c_on.focus {
		     background-color: #145e34 !important;
		   }

		   // Disabled state
		  &.disabled,
		  &[disabled],
		  &.disabled:hover,
		  &[disabled]:hover {
		    cursor:  help;
		    background: #fff !important;	
		    color: #999 !important;	   
		    .box-shadow(none);
		    border-color: #fff;
		  }

		}

	}
}


  

