

// Sorting
th {
	&[class*="sorting"] {
		cursor: pointer;

		&:focus {
			.tab-focus ();
		}	
	}

  .ico-down, .ico-up {
    display:none;
    font-size: 29px;
    line-height: 0;
    vertical-align: middle;
    color: #666;
    margin: 0 -8px 0 -6px;
  }

	&.sorting {
	  .ico-down {
	    display:inline;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	    filter: alpha(opacity=25);
	    -khtml-opacity: 0.25;
	    -moz-opacity: 0.25;
	    opacity: 0.25;
	  }

	  &:hover {
	  	&:active {
	  		outline: none;
	  	}
			.ico-down {
				display:inline;
		    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		    filter: alpha(opacity=50);
		    -khtml-opacity: 0.5;
		    -moz-opacity: 0.5;
		    opacity: 0.5;
			}
		}

	  &_asc {
		  .ico-up {
		    display:inline;
		  }
		  &:hover {
		  	&:active {
		  		outline: none;
		  	}
				.ico-up {
			    color: #000;
				}
			}
		}

		&_desc {
		  .ico-down {
		    display:inline;
		  }
		  &:hover {
		  	&:active {
		  		outline: none;
		  	}
				.ico-down {
			    color: #000;
				}
			}
		}
	}
}



// Pagination
[class*="pagination"] {
	text-align: center;

	.dataTables_wrapper + & {
		margin-top: -15px;
	}
}







.inline-elements {
  .clearfix ();
  margin: 0;

  .set {
  	.clearfix ();

  	select {
  		margin-top: 8px;
  		margin-bottom: 10px;
  	}

  	label span {
  		margin-right: 0;
  	}

  	.row {
  		margin: 0;

	  	> span:first-child {
	  		float: left;
	  		padding: 3px 0 0 34px;
	  		margin: 8px 10px 10px 0;
	  		min-width: 96px;
	  		text-align: right;
	  	}
	  }
  }

  .pull-left,
  .pull-right > * {
    margin:0 0 10px;
    padding:2px 0;
    // Do not change to short hand as buttons require spacing between
  }

  .pull-right .button {
  	margin-right: 20px !important;
  }
}

.label-inline-elements label.label_radio {
  padding-top:1px !important;
}

.label-inline-elements label.label_check select {
  margin:-4px 20px;
}

.label-inline-elements-multi label{
  height:30px;
}

.label-inline-elements-multi label span{
  display:none;
}

.pull-form-elements {
  margin-left:-160px;
}

.dataTables_paginate {
  text-align: center; 
}


// fund switch alert
@media 	only screen and (max-width: 914px),
				print {
	.tab-pane > .alert:first-child { 
			margin:10px 0;
	}
}