//
// Tables
// --------------------------------------------------


// BASE TABLES
// -----------------

table {
  max-width: 100%;
  border-collapse: collapse;

  .width10 {width: 10%}
  .width15 {width: 15%}
  .width20 {width: 20%}
  .width25 {width: 25%}
  .width30 {width: 30%}
  .width35 {width: 35%}
  .width40 {width: 40%}
  .width45 {width: 45%}
  .width50 {width: 50%}
  .width50 {width: 55%}
  .width60 {width: 60%}
  .width60 {width: 65%}
  .width70 {width: 70%}
  .width70 {width: 75%}
  .width80 {width: 80%}
  .width80 {width: 85%}
  .width90 {width: 90%}
  .width90 {width: 95%}
  .width100 {width: 100%}
}



// BASELINE STYLES
// ---------------

table {
  width: 100%;
  margin-bottom: @baseLineHeight;

  // Rows
  tr {
    background: #fff;
  }
  // Cells
  th,
  td {
    padding: 10px 14px;
    line-height: @baseLineHeight;
    text-align: left;
    vertical-align: top;
    border: 0;
  }
  th {
    font-size: (@baseFontSize - 1px);
    border-top: 1px solid #c8c8c8; // Default colour
    background: @grayLt; // Default colour
  }
  td {
   // font-family: @avenirMedium;

    // Hide responsive title in normal state
    &:before {
      display: none;
      visibility: hidden;
    }

    a {
      &:hover, &:focus {
        text-decoration: none;

        span {
          text-decoration: underline;
        } 
      }

      .ico {
        font-size: (@baseFontSize + 8px);
        line-height: 0;
        vertical-align: middle;
      }

      &:hover span.ico, &:focus span.ico {
        text-decoration: none;
      }
    }

    .ico {
      font-size:1.8em;
      vertical-align:middle;
      line-height:0;

      &:first-child {
        margin-right: -2px;
      }
    }
  }

  td a.btn:hover span, td.btn a:focus span {
    text-decoration: none;
  }

  // Bottom align for column headings
  thead th {
    vertical-align: bottom;
  }

  tbody {
    tr {
      border-bottom:1px solid #ededed;
    }
  }

  tfoot {
    .col-total span {
      margin-right: 10px;
    }
  }
}

table.compare {
  tbody {
    td {
      .ico {
        font-size: 2.6em;
      }
    }
  }
}

tbody tr:last-child, tfoot tr:last-child {
  border-bottom: 1px solid #c8c8c8 !important;
}
//IE 8 fix for :last-child
.ie8 tbody tr.last-child, .ie8 tfoot tr.last-child {
  border-bottom: 1px solid #c8c8c8 !important;
}

.compare tfoot tr:last-child {
  border-bottom: 0 !important;
}
//IE 8 fix for :last-child
.ie8 .compare tfoot tr.last-child {
  border-bottom: 0 !important;
}



// CONDENSED TABLE W/ HALF PADDING
// -------------------------------

.table-condensed {
  th,
  td {
    padding: 4px 5px;
  }
}


// BORDERED VERSION
// ----------------

.table-bordered {
  border: 1px solid @tableBorder;
  border-collapse: separate; // Done so we can round those corners!
  border-left: 0;
  .border-radius(@baseBorderRadius);
  th,
  td {
    border-left: 1px solid @tableBorder;
  }
  // Prevent a double border
  caption + thead tr:first-child th,
  caption + tbody tr:first-child th,
  caption + tbody tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + tbody tr:first-child th,
  colgroup + tbody tr:first-child td,
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
  // For first th/td in the first row in the first thead or tbody
  thead:first-child tr:first-child > th:first-child,
  tbody:first-child tr:first-child > td:first-child,
  tbody:first-child tr:first-child > th:first-child {
    .border-top-left-radius(@baseBorderRadius);
  }
  // For last th/td in the first row in the first thead or tbody
  thead:first-child tr:first-child > th:last-child,
  tbody:first-child tr:first-child > td:last-child,
  tbody:first-child tr:first-child > th:last-child {
    .border-top-right-radius(@baseBorderRadius);
  }
  // For first th/td (can be either) in the last row in the last thead, tbody, and tfoot
  thead:last-child tr:last-child > th:first-child,
  tbody:last-child tr:last-child > td:first-child,
  tbody:last-child tr:last-child > th:first-child,
  tfoot:last-child tr:last-child > td:first-child,
  tfoot:last-child tr:last-child > th:first-child {
    .border-bottom-left-radius(@baseBorderRadius);
  }
  // For last th/td (can be either) in the last row in the last thead, tbody, and tfoot
  thead:last-child tr:last-child > th:last-child,
  tbody:last-child tr:last-child > td:last-child,
  tbody:last-child tr:last-child > th:last-child,
  tfoot:last-child tr:last-child > td:last-child,
  tfoot:last-child tr:last-child > th:last-child {
    .border-bottom-right-radius(@baseBorderRadius);
  }

  // Clear border-radius for first and last td in the last row in the last tbody for table with tfoot
  tfoot + tbody:last-child tr:last-child td:first-child {
    .border-bottom-left-radius(0);
  }
  tfoot + tbody:last-child tr:last-child td:last-child {
    .border-bottom-right-radius(0);
  }

  // Special fixes to round the left border on the first td/th
  caption + thead tr:first-child th:first-child,
  caption + tbody tr:first-child td:first-child,
  colgroup + thead tr:first-child th:first-child,
  colgroup + tbody tr:first-child td:first-child {
    .border-top-left-radius(@baseBorderRadius);
  }
  caption + thead tr:first-child th:last-child,
  caption + tbody tr:first-child td:last-child,
  colgroup + thead tr:first-child th:last-child,
  colgroup + tbody tr:first-child td:last-child {
    .border-top-right-radius(@baseBorderRadius);
  }

}




// ZEBRA-STRIPING
// --------------

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  tbody {
    > tr:nth-child(odd) > td,
    > tr:nth-child(odd) > th {
      background-color: @tableBackgroundAccent;
    }
  }
}


// HOVER EFFECT
// ------------
// Placed here since it has to come after the potential zebra striping
.table-hover {
  tbody {
    tr:hover > td,
    tr:hover > th {
      background-color: @tableBackgroundHover;
    }
  }
}


// TABLE CELL SIZING
// -----------------

// Reset default grid behavior
table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none; // undo default grid column styles
  margin-left: 0; // undo default grid column styles
}

// Change the column widths to account for td/th padding
.table td,
.table th {
  &.span1     { .tableColumns(1); }
  &.span2     { .tableColumns(2); }
  &.span3     { .tableColumns(3); }
  &.span4     { .tableColumns(4); }
  &.span5     { .tableColumns(5); }
  &.span6     { .tableColumns(6); }
  &.span7     { .tableColumns(7); }
  &.span8     { .tableColumns(8); }
  &.span9     { .tableColumns(9); }
  &.span10    { .tableColumns(10); }
  &.span11    { .tableColumns(11); }
  &.span12    { .tableColumns(12); }
}



// TABLE BACKGROUNDS
// -----------------
// Exact selectors below required to override .table-striped

.table tbody tr {
  &.success > td {
    background-color: @successBackground;
  }
  &.error > td {
    background-color: @errorBackground;
  }
  &.warning > td {
    background-color: @warningBackground;
  }
  &.info > td {
    background-color: @infoBackground;
  }
}

// Hover states for .table-hover
.table-hover tbody tr {
  &.success:hover > td {
    background-color: darken(@successBackground, 5%);
  }
  &.error:hover > td {
    background-color: darken(@errorBackground, 5%);
  }
  &.warning:hover > td {
    background-color: darken(@warningBackground, 5%);
  }
  &.info:hover > td {
    background-color: darken(@infoBackground, 5%);
  }
}





// Wrap this mixin with 'table.style'
.tableStyle {
  display: table; 

  thead { 
    display: table-header-group; 

    tr { 
      position: relative;
      top: 0;
      left: 0;
      border-bottom: none !important;
    }
  }

  tbody { 
    display: table-row-group; 

    th {
      border: 0;
      background: transparent !important;
    }
  }

  tfoot {
    display: table-footer-group;

    .actions {
      width: auto;
      float: none;
    }
  }

  tr { 
    display: table-row;
    border:0;
    border-bottom:1px solid #ddd !important;
    padding: 5px 0;
  }

  th, td { 
    display: table-cell; 
  }

  td {
    border: none;
    position: relative;
    text-align: left !important;
    padding: 10px 14px;
    font-family: @avenirLight;
    .ico:first-child {
      margin: 0;
    }

    &:before { 
      display: none;
    }
  }

  .text-left           {text-align: left !important}
  .text-right          {text-align: right !important}
  .text-center         {text-align: center !important}
  .text-middle         {vertical-align: middle !important}
}
// Wrap this mixin with 'table.style'
.tableResponsiveStyle {
  // Force table to not be like tables anymore
  display: block;

  thead, tbody, tfoot, th, td, tr { 
    display: block;
    width: 100%\9;
    float: left\9;
  }
  
  // Hide table headers (but not display: none;, for accessibility)
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border:0;
    margin: 0;
    border-bottom:1px solid #ddd !important;
    padding: 5px 0; 
  }

  td { 
    /* Behave  like a "row" */
    border: none;
    position: relative;
    text-align: left !important;
    padding: 5px 10px 5px 40%;
    min-height: 30px;
    //Fix
    font-family: @avenirMedium;
    .ico:first-child {
      margin: 0 -4px 0 -7px;
    }

    &:before { 
      /* Now like a table header */
      display: block;
      visibility: visible;
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 35%; 
      padding-right: 10px; 
      white-space: nowrap;
      text-align: right;
      font-family: @avenirLight;
    }
  }

  div.dataTables_info {
    display:none;
  }

  tbody th {
    margin-top: -6px;
  }

  tfoot {

    .col-total:before { content: "Total"; }

    .col-total span {
      position:absolute;
      left:-10000px;
      top:auto;
      width:1px;
      height:1px;
      overflow:hidden;
    }

    .actions {
      width: 50%;
      float: left;
      padding: 10px 15px;

      .btn {
        .btn-block ();
      }
    }
  }

  .text-right          {text-align: left !important}
  .text-center         {text-align: left !important}
}
// Wrap this mixin with 'table.style'
.tableCompareResponsiveStyle {
  display: block;

  thead, tbody, tfoot, th, td, tr { 
     display: block;
  }

  tr {
      overflow: hidden;
      border-bottom: 0 !important;
      padding: 0;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    text-align: left !important;
    padding: 5px 10px 5px 40%;
    min-height: 30px;
    //Fix
    font-family: @avenirMedium;
    .ico:first-child {
      margin: 0 -4px 0 -7px;
    }

    &:before { 
      /* Now like a table header */
      display: block;
      visibility: visible;
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 35%; 
      padding-right: 10px; 
      white-space: nowrap;
      text-align: right;
      font-family: @avenirLight;
    }
  }

  thead {
    tr {
      position: relative;
      top: auto;
      left: auto;

      .compare-hide-title {
        position: absolute;
        top: -9999px;
      }

      th {
        float: left;
        text-align: center !important;
        font-family: @avenirMedium;
      }
    }
  }
  tbody {
    tr {
      th {
        margin-top: 0;
        background-color: #efefef !important;
      }

      td {
        float: left;
        padding: 10px;
        text-align: center !important;
      }
    }
  }
  tfoot {
    .actions {
      width: 50%;
      float: left;
      padding: 10px 15px;

      .btn {
        .btn-block ();
      }
    }
  }

  &.compare-2-col {
    thead th, tbody td { width: 50%}
  }

  &.compare-3-col {
    thead th, tbody td { width: 33.333%}
  }

  &.compare-4-col {
    thead th, tbody td { width: 525%}
  }

  &.compare-5-col {
    thead th, tbody td { width: 20%}
  }
}





// Fire point for responsive tables. More can be made but will require a script to calculate how many columns there are and write a class onto the table.
@media only screen and (max-width: 767px) {
  table {
    .tableResponsiveStyle ();
  }
}
@media  only screen and (min-width: 768px) and (max-width: 950px),
        only screen and (max-width: 599px) {
  table.compare {
    .tableCompareResponsiveStyle ();
  }
}
@media  only screen and (min-width: 951px),
        only screen and (min-width: 600px) and (max-width: 767px) {
  table.compare {
    .tableStyle ();
  }
}




/* Shop price comparison table */
.section-shop {
  .price-compare {

    thead {

      th {
        border-color: @rr-section-shop;
        background: @rr-section-shop-light;

        > div:first-child {
          display: inline;
          word-spacing: 999px;
          width: auto;
        }

        .help-icon {
          top: 25px;
          position: absolute;
          margin-left: 5px;
          display: inline;
        }
      }// th

      .highlight {
        background: #ddc8e3;
      }// .highlight

    }// thead

    tbody {
      tr {
        &.header {
          border: none !important;
          padding-bottom: 0;
        }// .header
      }// tr

      th {
        border: none;
        background: #fff;
        font-family: @avenirMedium;
        padding-bottom: 0;
        margin-right: 25%;
        position: relative;

        img {
          width: 130px;
          margin-top: 10px;
        }

        &:after {
          content: " ";
          position: absolute;
          top: 0;
          right:0;
          display: block;
          background: #efefef;
          width: 25%;
          height: 100%;
        }// :after
      }// th

      .highlight {
        background: #efefef;
        position: relative;

        &:after {
          content: " ";
          position: absolute;
          display: block;
          background: #dedede;
          width: 100%;
          height: 1px;
          bottom: -1px;
          left: 0;
        }// :after
      }// .highlight
    }// tbody

  }// .price-compare
}// .section-shop

.price-compare {
  tbody, tfoot {
    tr:last-child {
      border-bottom: 1px solid #efefef !important;
    }
  }
}

.price-compare {
  tbody, tfoot {
    tr.last-child {
      border-bottom: 1px solid #efefef !important;
    }
  }
}


td a span span {
    display: inline-block;
}
td a span span .ico {
    padding-left: 5px;
}




// Fire point for responsive tables. More can be made but will require a script to calculate how many columns there are and write a class onto the table.
@media  only screen and (max-width: 868px) and (min-width: 768px),
        only screen and (max-width: 540px) {
  // Force price comparsion table to not be styled like tables anymore (different breakpoints from standard tables)
  table.price-compare, .price-compare thead, .price-compare tbody, .price-compare tfoot, .price-compare th, .price-compare td, .price-compare tr { 
    display: block; 
  }
  
  // Hide table headers (but not display: none;, for accessibility)
  .price-compare thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  table.price-compare {
    tr {
      border:0;
      border-bottom:1px solid #ddd !important;
      padding: 5px 0; 
    }

    td { 
      /* Behave  like a "row" */
      border: none;
      position: relative;
      text-align: left !important;
      padding: 5px 10px 5px 55%;
      //Fix
      font-family: @avenirMedium;
      .ico:first-child {
        margin: -3px -4px 0 -2px;
      }
    }
    
    td:before { 
      /* Now like a table header */
      display: block;
      visibility: visible;
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 50%; 
      padding-right: 10px; 
      white-space: nowrap;
      text-align: right;
      font-family: @avenirLight;
    }

    div.dataTables_info {
      display:none;
    }
  }


  .price-compare tbody th:after {
      display: none !important;
  }

  .price-compare .highlight {
      background: transparent !important;
  }

  .price-compare tbody .highlight:after {
      display: none !important;
  }

  .price-compare tbody tr:last-child, tfoot tr:last-child {
      border-bottom: 1px solid #ddd !important;
  }

  .price-compare tbody tr.last-child, tfoot tr.last-child {
      border-bottom: 1px solid #ddd !important;
  }

  .price-compare tbody th img {
      margin-top: 0 !important;
  }
}




@media  only screen and (max-width: 767px) and (min-width: 541px) {
  // Force price comparison table to look like a table between these breakpoints
  table.price-compare { 
    display: table; 
  }

  .price-compare thead { 
    display: table-header-group; 
  }

  .price-compare tbody { 
    display: table-row-group; 
  }

  .price-compare th, .price-compare td { 
    display: table-cell; 
  }

  .price-compare tr { 
    display: table-row; 
  }
  
  // Show table headers again
  .price-compare thead tr { 
    position: relative;
    top: 0;
    left: 0;
  }
  
  .price-compare {
    tr {
      border:0;
      border-bottom:1px solid #ddd !important;
      padding: 5px 0;
    }

    td {
      border: none;
      position: relative;
      text-align: left !important;
      padding: 10px 14px;
      font-family: @avenirLight;
      .ico:first-child {
        margin: 0;
      }
    }
    
    td:before { 
      display: none;
    }

    div.dataTables_info {
      display:none;
    }
  }

  .price-compare thead tr { 
    position: relative;
    top: 0;
    left: 0;
    border-bottom: none !important;
  }
}



// Table Fund //
.table-fund {
  position: relative;

  th {
    background: none;
    border: 0;
    font-size: 20px;
    height: 70px;
    vertical-align: middle;
    font-family: @avenirMedium;
    // border: 1px solid #3d90dd;
  }

  td {
    font-family: @avenirMedium;
    vertical-align: middle !important;
    padding: 15px 14px;
  }

  thead {
    tr, th:first-child, {
      .border-top-left-radius (6px);
    }

    tr, th:last-child {
      .border-top-right-radius (6px);
    }
  }

  tbody {
    tr {
      border-bottom: 1px dashed #ccc;
    }
  }

  tbody tr {
    border: 0 !important;

    td {
      border-bottom: 1px dashed #ccc !important;
    }
  }

  .allocation {
    text-align: center !important;
  }
  .risk {
    text-align: center !important;
  }

  caption {
    position: absolute;
    left: -10000px;
    .border-top-left-radius (6px);
    .border-top-right-radius (6px);
    display: block;
    width: 100%;
    border: 0;
    font-size: 16px;
    height: 70px;
    vertical-align: middle;
    font-family: @avenirMedium;
    text-align: left;
    line-height: 70px;
    padding: 0 10px;
  }

  // Mobile only view
  @media  only screen and (max-width: 767px) {
    caption {
      position: relative;
      top: 0;
      left: 0;
    }
    tr {
      padding: 0;
    }

    th {
      visibility: hidden;
    }

    td {
      padding: 5px 10px 5px 40%;
    }

    tbody tr {
      border-bottom: 1px dashed #ccc !important;

      td {
        border-bottom: 0 !important;
      }
    }

    td.allocation {
      text-align: left !important;
      &:before {
        content: "Allocation";
      }
    }
    td.fund {
      text-align: left !important;
      &:before {
        content: "Fund";
      }
    }
    td.risk {
      text-align: left !important;
      &:before {
        content: "Risk level";
      }
    }
    
  }

} // /table-fund
