//LESS for new tabs 
.new-tabs {

	//genral styles for all media queries
	

	.tab-border-bottom {
		border-top: 10px solid #EFEFEF;
	    border-top-left-radius: 6px;
	    border-top-right-radius: 6px;
	}

	#transactions {
		.panel.border-gray-dark {
			padding-bottom: 0;
		}
		ul.unstyled {
			margin-bottom: 0;
			li {
				border: none;
				padding: 0;
				a {
					border: none;
					padding: 10px 10px;
				}
			}
		}
	}

	// Fire tab state on these sizes
	@media  only screen and (min-width: 920px),
	        only screen and (min-width: 615px) and (max-width: 767px) {

		.tabs-to-accordion {
			background: #fff;
			li.active {
				a {
					background:#EFEFEF !important;
					color: #333333 !important;
				}
			}
		}

	  div.tabs-to-accordion {
	    .nav-tabs-btn ();
	    margin: 0 0 0;

	    .unstyled li a {
	    	border-radius: 6px 6px 0 0;
	    }

	    .unstyled li a:hover, .unstyled li a:focus {
	    	background: #f4f4f4;
	    	color: #333333;
	    	margin-left: 1px;
	    } 

	    .accordion-toggle {
	      display: none;
	      visibility: hidden;
	    }

	    .border-gray-dark {
	      border: 0;
	    }

	    .collapse {
	      height: auto !important;

	      ul a .ico:last-child {
	        display: none;
	        visibility: hidden;
	      }
	    }
	  }
	}

}//new-tabs close