
      /* Toggle CSS to be implemented */

//Reset styling from global radio button styling
.toggle-group {
  float: left;
  background: #fff;
  padding: 3px;
  border: 1px solid @rr-green; // Fallback IE8 no rgba
  border: 1px solid rgba(0, 136, 63, 0.25);
  .border-radius(9px);

  &.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  input[type="radio"] {
    position: absolute;
    left: -9999px;

    + label {
      width: auto;
      display: inline-block;
      padding: 4px 12px;
      font-family: @avenirMedium;
      height: 30px;

      // Button resets
      color: @rr-green; // reset button color
      background: transparent; // reset button background
      border-color: transparent; // reset button border
      .border-radius(0); // reset button border-radius

      // Add border deviders
      border: 1px solid transparent; // Set invisible borders
      border-left: 1px solid @rr-green;
      border-left: 1px solid rgba(0, 136, 63, 0.25);

      &:hover,
      &:focus {
        color: @white;
        background-color: #037035;
        border-color: @rr-green;
        border-color: rgba(0, 136, 63, 0.25);
      }
    }

    &:checked + label {
      background-color: @rr-green !important;
      color: @white;
      border-color: @rr-green !important;
    }
  }

  .checked {
    background-color: @rr-green !important;
    color: @white !important;
    border-color: @rr-green !important;
  }
}

.toggle-left {
  border-radius: @baseBorderRadius 0 0 @baseBorderRadius !important;
  border-left-color: transparent !important;
}

.toggle-right {
   border-radius: 0 @baseBorderRadius @baseBorderRadius 0 !important;
}











.questionnaire {
  margin: 0 !important;

  label {
    display: block;
    width: 100%;
    text-align: left;
    float: none;

  }

  label:first-child, .labeltxt {
    font-family: @rockwellBold;
  }

  .controls {
    display: block;
    position: relative;
    overflow: visible;
    margin: 0;
    height: 165px;
    //FIX to issue RRD-2397
    //z-index: @questionnaireControls;
    border-bottom: 1px solid #e5e5e5;

    [class*="answer-group"] {
      position: absolute;
      left: -5px;
      top: 20px;
      width: 653px;

      div {
        width: 121px;
        height: 121px;
        float: left;
        margin-left: 12px;
        position: relative;

        &:first-child {
          margin-left: 0;
        }

        input[type="radio"] {
          position: absolute;
          overflow: hidden;
          margin: 0;
          padding: 0;
          border: 0;
          outline: 0;
          opacity: 0;
          top: -9999px;
        }

        label {
          display: table-cell;
          height: 121px;
          width: 121px;
          padding: 5px;
          float: none;
          background: #fff;
          border: 2px solid @rr-green !important;
          border-radius: 6px !important;
          color: #333;

          &:hover, &:focus {
            .buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);
          }

          &.toggle-left {
            margin-left: 0 !important;
          }

          &.checked {
            
            .buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);

            position: absolute;
            top: -5px;
            left: -5px;
            width: 131px;
            height: 131px;
            margin: 0;

            &:hover, &:focus {
              cursor: default;
              //Fix for focus - test on site with JS inplace
              .buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);
            }

            span {
              height: 121px;
              width: 121px;
            }
          }

          span {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 111px;
          }
        }
      }
    }


    .answer-group-3 {
      width: 654px;

      div {
        width: 210px;

        label {
          width: 210px;

          &.checked {
            width: 220px;

            span {
              width: 230px;
            }
          }

          span {
            width: 210px;
          }
        }
      }
    }



  }
}

.ie8 .questionnaire .controls [class*="answer-group"] div label {
  display: inline-block;

  span {
    height: 106px;
  }

  &.checked {
    background: #00883f;
  }
}

@media only screen and (min-width: 979px) and (max-width: 1200px) {
  .questionnaire {
    .controls {
      [class*="answer-group"] {
        left: -55px;
      }
    }
  }
}
@media  only screen and (max-width: 979px) {
  .questionnaire {
    .controls {
      [class*="answer-group"] {
        left: 0;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .questionnaire {
    .controls {
      height: auto;

      [class*="answer-group"] {
        position: relative;
        top: 0;
        width: auto;
        padding: 15px 0;

        > div {
          display: block;
          float: none;
          width: 100%;
          height: auto;
          margin: 2px 0 0;

          &:first-child {
            margin: 0;
          }

          label {
            width: auto;
            height: auto;
            display: block;
            padding: 8px;
            margin: 0;

            span {
              display: block !important;
              width: auto !important;
              height: auto !important;
            }

            &.checked {
              position: relative;
              top: 0;
              left: 0;
              width: auto;
              height: auto;

              &:hover, &:focus {
                cursor: default;
              }
            }
          }

        }
      }
    }
  }
}
