//
// Typography
// --------------------------------------------------



// Links
// -------------------------
a {
  font-family: @avenirMedium;
  color: @linkColor;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline !important;
    outline: none;
  }

   & span.ico {
        display: inline-block;
       // background-color: transparent !important;
        text-decoration: none !important;
       

    }
}

// Expand a tag to support inline icons like a help icon
a.inline-icon{
  line-height: 0.5em;
  padding-top: 0;

  span.ico-inline{
    font-size: 1.8em;
    color: #666;
    vertical-align: middle;
  }
}

a.inline-icon:hover, a.inline-icon:focus{
  span.ico-inline{    
    color: #007d3b;
  }
}


// Body text
// -------------------------
p {
  margin: 0 0 @baseLineHeight / 2;
  padding-bottom: 10px;
  &.small {
    font-size: @baseFontSize - 1px;
    color: #767676;
  }
  &:last-child, &.last-child {
    margin-bottom: 0;
  }

  //TODO - New solution requird where this is used
  .span12 & {
   // padding-top: 15px;
   // background-color: #f00;
   
  }
  
  //TODO - review usage
  strong {
    font-family: @avenirHeavy;
  }
}

//icon layout on a text links
p a span.ico{  
  font-size: 1em;
  line-height: 0.5em;
  vertical-align: middle;
}

//Check where this is used
.span12 + p {
  padding-top: 0; //15px;
  // clear: both;
}

.span12 .span7 p {
  padding-top: 0 !important;
 // clear: both;
}

.word-wrap { display: inline-block;}

.lead {
  margin-bottom: @baseLineHeight;
  font-size: @baseFontSize * 1.5;
  font-weight: 200;
  line-height: @baseLineHeight * 1.5;
}


// Emphasis & misc
// -------------------------

// Ex: 14px base font * 85% = about 12px
small   { font-size: 85%; }

strong  { 
  font-weight: bold; 
  font-family: @avenirMedium; // TODO Check this works with different font weights - may be an issue
}
em      { font-style: italic; }
cite    { font-style: normal; }

.paragraph-bold { font-family:@avenirHeavy; }

// Utility classes
// .muted               { color: @grayLight; }
// a.muted:hover,
// a.muted:focus        { color: darken(@grayLight, 10%); }

// .text-warning        { color: @warningText; }
// a.text-warning:hover,
// a.text-warning:focus { color: darken(@warningText, 10%); }

// .text-error          { color: @errorText; }
// a.text-error:hover,
// a.text-error:focus   { color: darken(@errorText, 10%); }

// .text-info           { color: @infoText; }
// a.text-info:hover,
// a.text-info:focus    { color: darken(@infoText, 10%); }

// .text-success        { color: @successText; }
// a.text-success:hover,
// a.text-success:focus { color: darken(@successText, 10%); }

.text-left           {text-align: left !important}
.text-right          {text-align: right !important}
.text-center         {text-align: center !important}
.text-middle         {vertical-align: middle !important}

.wrap-point {display: inline-block;}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6, .epic, .huge, .large {
  margin: (@baseLineHeight / 2) 0;
  font-family: @avenirMedium;
  font-weight: @headingsFontWeight !important;
  line-height: @baseLineHeight;
  color: @headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    line-height: 1;
    color: @grayLight;
  }
  a {
    font-family: inherit;
  }
}

// Retire Ready
// -------------------------
h1, .epic {
  //font-family: @headerFontFamily;
  
}
h2, .huge {
 // font-family: @primaryFontFamily;
  font-weight: lighter;
  line-height: 1.2em;  
}
h3, .large {
  font-family: @headerFontFamily;
  font-size: (@baseFontSize + 1);
  font-weight: normal;
  line-height: 1em;
  
}
h4 {
  font-family: @headerFontFamily;
  font-size: (@baseFontSize);
  font-weight: normal;
  line-height: 1em;
  
}


p{
  line-height: 1.3em;
}





h1, .epic { line-height: @baseLineHeight * 2; }
h2, .huge { line-height: @baseLineHeight * 1.9; }
//h3 { line-height: @baseLineHeight * 2; }

h1, .epic { font-size: @baseFontSize * 2.75; } // ~38px
h2, .huge { font-size: @baseFontSize * 1.9; } // ~32px //28px;

//Font reduction on mobile
@media only screen and (max-width: 767px) {
 h2, .huge {
  font-size: (@baseFontSize + 7);
  line-height: 1.2em;
  }
}

//h3 { font-size: @baseFontSize * 1.75; } // ~24px
//h4 { font-size: @baseFontSize * 1.25; } // ~18px
h5 { font-size: @baseFontSize; }
h6 { font-size: @baseFontSize * 0.85; } // ~12px

h1 small { font-size: @baseFontSize * 1.75; } // ~24px
h2 small { font-size: @baseFontSize * 1.25; } // ~18px
h3 small { font-size: @baseFontSize; }
h4 small { font-size: @baseFontSize; }

//H-tag classes to allow for modular layout through expanding via classes
//H1 tag will not be changed in order so will always stay in the same styling
//H2, H3, H4 on the site will require these classes to style them correctly in modular layouts
/*
h2, h3, h4 {
  &.header-container{
    font-family: @avenirMedium;
    font-size: @baseFontSize + 14.4; //30.4px
    line-height: 2.375em; //38px
  }

  &.header-feature-box, &.header-fieldset{
    font-family: @rockwellBold;
    font-size: @baseFontSize + 1; //17px
    font-weight: normal;
    line-height: 1em;
  }
}*/


// Page header
// -------------------------

.page-header {
  padding-bottom: (@baseLineHeight / 2) - 1;
  margin: @baseLineHeight 0 (@baseLineHeight * 1.5);
  border-bottom: 1px solid @grayLighter;
}





// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 @baseLineHeight / 2 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: @baseLineHeight;
  padding: .35em 0;
}

// Remove default list styles

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
  li {
	  > a {
	  	&:hover, &:focus {
	        text-decoration: none;
	        span:first-child, .ico + span {
	          text-decoration: underline;
	        }
		}
	}
      .ico:last-child {
        vertical-align: middle;
        font-size: (@baseFontSize + 2px);
		text-decoration: none;
      }
  	
  }
}

// Single-line list items
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

//FIX for RRD-1708 - removes horizontal line if no paragraph above
ol.block-list > :first-child,
ul.block-list > :first-child {
  border-top:none;
}

p ~ ol.block-list > :first-child,
p ~ ul.block-list > :first-child {
  border-top:1px solid #ccc;
}



// Block list - stacked block list of links seperated by top borders. Can be 
// used with static text within or links which are block elements
// -------------------------
[class*="block-list"] {
  margin: 0 !important;

  & + .row-fluid {
      margin-top: 10px;
    }
    
  li {
    border-top: 1px solid #ccc;
    list-style: none;
    position: relative;
    display: block;
    padding: 0px;    

    > a {
      display: block;
      padding: 15px 15px 15px 0;
      &:hover, &:focus {
        text-decoration: none;
        h3, h4, span:first-child, .ico + span {
          text-decoration: underline;
        }
        .ico:first-child {
          text-decoration: none;
          color: @rr-green !important;
        }
      } 
    }

    .phone-number {
      display: inline-block;
      font-size: 20px;
      font-family: @avenirMedium;
    }

    .phone-details {
      display: block;
      color: #666;
      margin-top: 20px;
      font-size: 15px;
      padding: 0 10px 0 0;

      &-row {
        display: block;
        margin: 5px 0 0;
      }

      .day {
        display: inline-block;
      }
      .time {
        display: inline-block;
      }
    }

    .border-gray &:first-child {
      border-top: 0;
    }

    > [class*="ico"] {
      padding: 15px;
    }

    .ico:last-child {
      vertical-align: middle;
      font-size: (@baseFontSize + 2px);
    }

    .ico-left {
      //Fix for RRD-1678
      //padding-left: 38px;
      margin: 15px 0;
      padding: 0 0 0 38px;
      display: block;

      .ico:first-child {
        font-size: 2.2em;
        left: -4px;
        position: absolute;
        top: 7px;
      }

      .border-gray & {
        padding-left: 55px;
        .ico:first-child {
          left: 10px;
        }
      }
      
    }

    .ico-small{

      &:first-child .ico {
        font-size: 1.2em;
        position: absolute;
        top:12px;
        left:8px;
      }

    }


    .ico-right {
      padding-right: 70px;
      .ico {
        font-size: 2.2em;
        right: 8px;
        position: absolute;
        top: 7px; 
      }
    }

    .help-icon {
      padding: @padding 0 !important;
      .ico {
        top: -8px !important;
      }
    }
  }

  li {
    overflow: hidden;
  }

  .background-gray-lighter&, .background-green-light & {
    li {
      border-color: #fff;
    }
  }
}

[class*="block-list-documents"] {
  
  .ico {
    left: -2px;
    top: 12px !important;
  }

  a {
    padding: 15px 15px 15px 38px;

    &:hover{
      text-decoration: none !important;
      p,span{
        text-decoration: none !important;
       
          }
    }
    
  }



  h3, h4 {
    color: @rr-green;
    font-size: @baseFontSize;
    font-family: @avenirMedium;
    margin: 0 0 4px;
  }

  .file-descriptor, .file-date, .file-new {
    font-size: (@baseFontSize - 3);
    margin: 2px 0 0;
  }

  .file-date {
    margin-left: 10px;
    color: @grayDark;
  }

  .file-new {
    margin-left: 10px;
    color: @white;
    background-color: @gray;
    padding: 1px 5px;
    .border-radius(3px);
  }
  
  p{
    margin:0;
  }
  .link-descriptor, .link-date {
   
    margin: 0px 0 0;
    margin-left: 0px;
    text-decoration: none;
    display: block;

  }

  .link-date{
   font-size: (@baseFontSize - 3);
  }

  p {
    color: @grayDark;
    margin: 0;
    padding: 8px 0 13px;

    &:last-child {
      padding-bottom: 0;
    }

    &.last-child {
      padding-bottom: 0;
    }
  }
}


[class*="block-list-links"] {

  margin-top: -30px !important;

    :first-child {
      border-top: 1px solid #fff;
    }
  
  a {
    padding: 15px 15px 15px 0px!important;

    &:hover, &:focus {
      text-decoration: none !important;

     
      
       & h4 {
        text-decoration: underline !important;

      }
      
    }


  }

  h3, h4 {
    color: @rr-green;
    font-size: @baseFontSize;
    font-family: @avenirMedium;
    margin: 0 0 0px;
  }
  //TODO FIX UNDERLINE
  
  p{
    margin:0;
  }
  .link-descriptor, .link-date {
    margin: 0px 0 0;
    margin-left: 0px;
    text-decoration: none;
    display: block;

    
  }

  & a:hover, & a:focus {
    .link-descriptor, .link-date, h4 {
      text-decoration: none;
    }

    .ico, p, span {
      text-decoration: none !important;
    }
  }

  .link-date{
   font-size: (@baseFontSize - 3);
   font-family: @avenirLight;
  }

  


  p {
    color: @grayDark;
    margin: 0;
    padding: 8px 0 13px;

    &:last-child {
      padding-bottom: 0;
    }

    &.last-child {
      padding-bottom: 0;
    }
  }
}

.accordion-inner .block-list-links{
   margin-top: 0px !important;
}

.list .block-list-links{
   margin-top: 0px !important;
}

.block-list-documents-alt {
  background: #fff;

  li {
    border-top: 1px solid @grayLighter;

    &:first-child {
      border-top: 0 !important;
    }
  }

  .ico {
    left: 10px !important;
  }

  a {
    padding-left: 50px !important;
  }
}

/* RR-7811 WakeUp pack */
.block-list-documents-alt {
  background: #fff;

  li.wakeup {
    background-color: @rr-green;
    border-color: @rr-green;

    &:first-child {
     color: @white !important;
    }

    span, p, h4, span:hover, p:hover, h4:hover{ color: #fff}
  } 




}

[class*="block-list"] li.wakeup>a:hover .ico:first-child, [class*="block-list"] li.wakeup>a:focus .ico:first-child {
text-decoration: none;
color: #fff !important;
}


.block-list-noborder{

  li{
  border:0 !important;
  padding-left: 15px;

  }

  li .ico{
  font-size: 1em !important;

  }

  .ico-small .ico{
  font-size: 1.5em !important;
  }
}

@media only screen and (min-width: 768px) {
  .block-list-2-cols {
    height: 1%;
    overflow: hidden;

    li {
      width: 50%;
      float: left;
      border: none;
      text-align: left;
    }
  }
}


.block-list-menu-advanced {

  li,
	.accordion-heading {

    margin-bottom: 2px;
    border: 0 !important;
		
    &:before {
      content: '';
      border-top: 1px solid #e5e5e5;
      display: block;
      margin: 0 11px;
    }

    &:first-child {
      
      :before {
        border-color: #fff;
      }
    }
    
    a {
      border-radius: @baseBorderRadius;
      color: @grayDark;
      padding: 9px 54px 11px 28px;
      .clearfix ();
      
      &:before{
        background: @rr-savings-memo;
        #rr-colorBlock.vertical(11px, auto);
        left: 11px;
      }      
      
      h3 {
        margin: 0 0 3px;
        font-size: (@baseFontSize + 1px);
        word-wrap:break-word;
      }

      .total, .change {
        font-family: @avenirLight;
        float: left;
        width: 50%;
      }

      .change {
        text-align: right;

        .ico {
          font-size: (@baseFontSize + 14px);
          vertical-align: text-bottom;
          line-height: 12px;
          width: 22px;
          height: 16px;
          display: inline-block;
        }
      }

      > span:last-child
			 {
        position: absolute;
        right: 11px;
        top: 11px;
        width: 28px;
        height: 28px;
        text-align: center;
        line-height: 25px;
        font-size: 1.5em !important;

       .buttonBackground(#b9b9b9, #757575, #757575, 0 1px 1px rgba(255,255,255,.75));
        border: 1px solid @btnBorder;
        .border-radius(@baseBorderRadius);
        color: @white !important;
      }

        // IE8 fix :-(
        > span.last-child {
          position: absolute;
          right: 11px;
          top: 11px;
          width: 28px;
          height: 28px;
          text-align: center;
          line-height: 25px;
          font-size: 1.5em !important;

         .buttonBackground(#b9b9b9, #757575, #757575, 0 1px 1px rgba(255,255,255,.75));
          border: 1px solid @btnBorder;
          .border-radius(@baseBorderRadius);
          color: @white !important;
        }

      &:hover,
      &:focus {
        background: @rr-savings-memo-light;
        text-decoration: none !important;

        h3 {
          text-decoration: underline !important;
        }
        span{
           text-decoration: none !important;
        }
      }
			
    }

    &.active,
    &:hover,
    &:focus {
      &:before, + li:before {
        border-top-color: @white;
      }
    }

    &.active a > span:last-child {
      font-size: 2.4em !important;
      color: @rr-savings-memo;
      right: 15px;
      background: none !important;
      border: none;
      border-radius: 0;
    }

      // IE8 fix :-(
      &.active a > span.last-child {
        font-size: 2.4em !important;
        color: @rr-savings-memo !important;
        right: 15px;
        background: none !important;
        border: none;
        border-radius: 0;
      }
    
    button:first-child {
      margin-left: 5px;
      padding-right: 0;
    }
  }
}

//FIX  - align with icon
.mailbox-menu {    
  a {     
    span ~ span  {
      vertical-align: super;
    }
  }
}

.horizontal-mailbox-read, .horizontal-mailbox-unread {    
  a {     
    span ~ span {
      position: absolute;
      top: 16px !important;
    }

    span ~ span.ico {
       top: 12px !important;
    }

  }
}
//End of Fix

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .block-list-menu-advanced li a {
    .total, .change {
      width: 100%;
      float: none;
      display: block;
    }

    .change {
      text-align: left;
      margin: 3px 0 0 -8px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .block-list-menu-advanced li.list-action {
    display: table;
    width: 100%;
    text-align: center;

    &:before:hover {
      border-color: #ccc;
    }

    button {
      display: table-cell;
      margin: 0;
    }
  }
}

// BLOCK LIST NUMBERED
// Class extension for .block-list to be applied to <ol> for large, 
// circular numbers
// -------------------------
.numbered {
  counter-reset: numbered-counter;

  li {
    padding: 15px 0 15px 38px;
    position: relative;

    &:before {
      content: counter(numbered-counter);
      counter-increment: numbered-counter;
      background: @grayDark;
      border-radius: 3em;
      color: #fff;
      padding: 5px 10px 3px 10px;
      position: absolute;
      left: 0;
      top: .6em;
    }
  }
}


// To be placed in a new .less or another location
.rr-info-panel{

  
  &.block-left{
    padding-left: 30px;
    margin-bottom: 15px;


    &:before{
          content:'';
          background: @rr-savings-memo;
          width: 6px;
          height: 32px;
          display: block;
          position: absolute;
          left: 11px;
          top: 11px;
        }      

    h3, .small-txt{
         margin: 0 0px;
        }

    .small-txt{
          display: block;
          padding-top:2px;
          padding-bottom: 5px;
        }
     p{
      padding:0;
      margin: 10px 0 10px;
     }


    }

  
  .current-value {
    overflow: hidden;
    margin-bottom: 15px;
    clear: both;
  }


  .money{
    font-family: @avenirMedium;
    font-size: 3em;
    margin:0;
    padding:0;
    line-height: 0.8em;


    span{
       display: block;
      font-family: @avenirLight;
      font-size: 0.35em;
      margin:0;
      padding:0;
      line-height: 1em;
      

    }
  }

  .manage-btn{
    // position: absolute;
    // right: 15px;
    // top: 54px;
  }

  .multiple-funds {
    line-height: 34px;

    .ico {
      font-size: 24px;
      vertical-align: middle;
    }
    :first-child {
      font-size: 44px;
      margin: -8px 10px 0 0;
    }


  }
}

 
.total-border {
  border-top: 1px solid @gray;
  border-bottom: 1px solid @gray;
  padding: 8px 0;
  text-align: center;
  font-size: (@baseFontSize + 4px);
  font-family: @avenirHeavy;
}


.block-pension{
  &:before{            
    background: @rr-savings-pension !important;           
  } 
}


.block-isa{
  &:before{   
    background: @rr-savings-isa !important;  
  }        
} 

.block-memo{
  &:before{   
    background: @rr-savings-memo !important;  
  }        
} 


@media  only screen and (min-width: 980px) and (max-width: 1025px),
        only screen and (max-width: 439px) {
  .rr-info-panel .manage-btn {
    position: relative;
    top: auto;
    right: auto;
    display: block;
    width: 100%;
  }
}
@media only screen and (min-width: 440px) and (max-width: 979px) {
  .rr-info-panel {
    .money {
      float: left;
      margin: 0 30px 0 0 !important;
    }
    .manage-btn {
      position: relative;
      top: auto;
      right: auto;
      float: left;
      margin: 10px 0 0;
    }
  }
}

@media only screen and (max-width: 767px) {

  .rr-info-panel{
    &.block-left{
   padding-left: 30px !important;
 }
 }

}

// HAS HELP 
// If an element is to have a help icon at its side and is not in a form, 
// it should be wrapped in a div with a class of .has-help. This can also be
// applied to parent elements in some cases such as <li> of .block-list
// -------------------------
.has-help {
  overflow: hidden;
  
  :first-child {
    float: left;
    max-width: 90%;
    max-width: ~"calc(100% - 31px)";
  }
  
  span.help-icon {
    width:31px;
    float: left;
    margin: 0;
    padding: (@padding / 2) 0;
  }
}


// Description Lists
dl {
  margin-bottom: @baseLineHeight;
}
dt,
dd {
  line-height: @baseLineHeight;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: @baseLineHeight / 2;
}
// Horizontal layout (like forms)
.dl-horizontal {
  .clearfix(); // Ensure dl clears floats if empty dd elements present
  dt {
    float: left;
    width: @horizontalComponentOffset - 20;
    clear: left;
    text-align: right;
    .text-overflow();
  }
  dd {
    margin-left: @horizontalComponentOffset;
  }
}

// MISC
// ----

// Horizontal rules
hr {
  margin: @baseLineHeight 0;
  border: 0;
  border-top: 1px solid @hrBorder;
  border-bottom: 1px solid @white;
  &.tight{
    margin:0 0 @baseLineHeight 0;
  }
}


div.date p {
  color: #767676;
  border-top: 1px solid @grayLt;
  border-bottom: 1px solid @grayLt;
  margin: 20px 0;
  padding: 10px 0 !important;
  font-size: 14px;
}

div.tags {
  font-size: 14px;
  border-top: 1px solid @grayLt;

  p {
    color: #767676;
    margin: 5px 10px 5px 0;
    padding: 10px 0 !important;
    display: inline-block;
  }

  ul {
    display: inline-block;
    margin-left: 0;

    li {
      list-style: none;
      display: inline-block;
      margin: 0 5px 5px 0;

      &:last-child, &.last-child {
        margin-right: 0;
      }

      a {
        padding: 6px 10px;
        border-radius: @baseBorderRadius;
        background: @white;
        color: @rr-green;
        border: 1px solid @rr-green; //Fallback
        border: 1px solid  rgba(0, 136, 63, 0.25); 

        &:hover{
          background: @rr-green;
          color: @white;
          text-decoration: none !important;
         
        }
        &:focus {
           .tab-focus();
            background: @rr-green;
          color: @white;
          text-decoration: none !important;
        }
      }
    }
  }
}


// Abbreviations and acronyms
abbr[title],
// Added data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted @grayLight;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 @baseLineHeight;
  border-left: 5px solid @grayLighter;
  p {
    margin-bottom: 0;
    font-size: @baseFontSize * 1.25;
    font-weight: 300;
    line-height: 1.25;
  }
  small {
    display: block;
    line-height: @baseLineHeight;
    color: @grayLight;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid @grayLighter;
    border-left: 0;
    p,
    small {
      text-align: right;
    }
    small {
      &:before {
        content: '';
      }
      &:after {
        content: '\00A0 \2014';
      }
    }
  }
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

// Addresses
address {
  display: block;
  margin-bottom: @baseLineHeight;
  font-style: normal;
  line-height: @baseLineHeight;
}


p .help-icon {
  margin-left: 3px;
  width:24px; 
  text-align: center;
}

.inline-help {
  display: inline-block;
  border-radius: 2em;
  line-height: 15px;

  span {
    font-size: 1.9em !important;
    line-height: 0;
    vertical-align: middle;

    &:first-child {
      //position off screen so screen readers can read
      position:absolute;
      left: -9999px;
    } // &:first-child
   } // span

  &:hover, &:focus {
    text-decoration: none;
    outline: 0px dashed (@focusColor); 
  } // &:hover, &:focus
 } // .inline-help




.text-bold{
  font-family: @avenirHeavy;
}

//Global set weight for elements to overide user agent defaults
td, tr, th, dt{
  font-weight: normal !important;
}

ul.bullet-list-green {

  li {
    padding-left: 0; 
    text-indent: 0;

    > a {
      display: inline-block;
      padding: 5px 5px 5px 0;
    }
  }

  li:before {
    content: "\002022";
    padding-right: 7px;
    color: @linkColor;
  }
}



[class*=feature-list] {
  list-style:none;
  margin:0;
  li {
    padding: 10px @padding;
    position:relative;

    &:first-child {
      padding-top: 15px;

      .ico {
        top: 16px;
      }
    }

    .ico {
      position: absolute;
      left: -35px;
      top: 11px;
      font-size: 1.750em;
      line-height: 16px;
    }
  }
}

.feature-list-bordered {
  li {
    font-family: @rockwell;
    border:1px solid @gray;
    margin-bottom:10px;
    padding: @padding;

    .border-radius(6px);
    
    .ico {
      top: 16px;
    }
  }
}
.feature-box.feature-list li .ico {
  position: relative;
  top: 0;
  left: 0;
}

// For small devices, icons should appear inside the list items.
@media only screen and (max-width:979px) {
  [class*=feature-list] {
    li {
      padding-left:50px;
      .ico {
        left: 10px;
      }
    }
  }
}

// Utility class to ensure that at all screen sizes, icons will appear inside the list items. Styling here 
[class*=feature-list].feature-list-icons-inside {
  li {
    padding-left: 50px;

    .ico {
      left: 10px;
    }
  }
}




.to-do-list {
  padding: 0 !important;
  clear: both;

  h2 {
    margin: 0 !important;
    font-size: (@baseFontSize + 1) !important;
    font-family: @rockwellBold;
  }

  .pull-right {
    margin: 10px 0 0;

    .ico {
      font-size: (@baseFontSize + 1);
      vertical-align: text-top;
      line-height: 16px;
    }

    &:hover, &:focus {
      text-decoration: none;

      span {
        text-decoration: underline;
      }

      .ico {
        text-decoration: none;
      }
    }
  }
  ul {
    clear: both;
    border-bottom:  1px solid @borderLight;
    padding: 15px 0 0;
  }

  li {

    &:before {
      margin: 0;
    }
    a {
      font-size: (@baseFontSize - 1);
      font-family: @avenirLight;
      padding: 9px 54px 11px 28px;

      &:before {
        background: #d9d9d9;
      }

      h3 {
        font-size: (@baseFontSize);
        font-family: @avenirMedium;
        color:@rr-green;
        margin:8px 0 10px;
        line-height: 1.3em;
      } // h3

      p {
        margin-bottom: 0;
        padding-bottom: 0;

        span:last-child {
          margin-left: 10px;
        }

        // ie8 fix for last-child
        span.last-child {
          margin-left: 10px;
        }
      }

      // > span:last-child {
      //   right: 0;
      // }

      &:hover, &:focus {
        background: @grayLighter;
      } // &:hover, &:focus

    } // a
  } // li
} // #mailboxMenu










.key > ul {
// clear:both;
  list-style: none;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 10px;
  position: relative;
}
.key > ul > li{
  //position: relative;
  font-family: @rockwellBold;
  list-style: none;
  text-align: left;
  border: 1px solid #ccc;
  margin:0 0 10px 0;
  padding: 13px 10px 13px 55px;
  
  .border-radius(@baseBorderRadius);

  //pig
  &:before {
    font-family: 'rr-ico';
    content: "\f703";
    //color: @rr-section-goals;
    //speak: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.9em;
    position: absolute;
    left: 0;
    margin-left: 10px;
    text-align: center;
  }

  &.ico-pension{
    &:before, &.key-link a:after {
      color: @rr-savings-pension;
    }
  }
  &.ico-isa{
    &:before, &.key-link a:after {
      color: @rr-savings-isa;
    }
  }
  &.ico-memo{
    &:before, &.key-link a:after {
      color: @rr-savings-memo;
    }
  }

  // Signed in homepage - expandable key boxes (Apply this class to the li)
  &.expand-btn, &.key-link {
    position: relative;
    padding: 0;

    //pig
    &:before {
      top: 13px;
    }

    > a {
      display: block;
      padding: 13px 10px 13px 55px;
      font-family: @rockwellBold;
      color: @textColor;

      &:hover, &:focus {
        //text-decoration: none !important; // Stop underline of text

        .btn.ico {
          text-decoration: none;
          background-position: 0 -30px;
          //outline: 1px solid #006cd1;

          // transition is only when going to hover/focus, otherwise the background
          // behind the gradient (there for IE<=9 fallback) gets mismatched
          .transition(background-position .1s linear);
        }
      }
    }

    .btn.ico { // Position expandable icon
      position: absolute;
      right: 10px;
      top: 10px;
      width: 28px;
      height: 28px;
      padding: 0;
      font-size: 1.5em;
      line-height: 28px;
      text-align: center;
    }

    .expand {display :none;}
    .hide {display: block;}

    .collapsed {
      .expand {display :block;}
      .hide {display: none;}
    }

    .accordion-inner {
      display: block;
      padding: 0 5px 10px !important;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0 5px;
    }
  } // /&.expand-btn, &.key-link

  &.key-link {
    a:after {
      content: "\f719";
      font-family: "rr-ico";
      font-size: 2.4em!important;
      position: absolute;
      right: 5px;
      color: #36578c;

      // Modern browser which support transitions
      -webkit-transition: all 0.7s ease;
      transition: all .2s ease;
    }

    a:hover {

      &:after{
        right: 0;
      }
    }
  }
}





.key-links {
  
  ul {
    list-style: none;
    width: 100%;
    margin: 20px auto 0;
    display: inline-block;
    position: relative;
  }

  li {
    font-family: @rockwellBold;
    list-style: none;
    text-align: left;
    border: 1px solid #ccc;
    margin:0 0 10px 0;
    padding: 0;
    .border-radius(@baseBorderRadius);
  }

  ul a {
    padding: 9px 10px 9px 55px;
    display: block;
    position: relative;
    color: @grayDark;
    font-size: (@baseFontSize + 1);

    //pig
    &:before {
      font-family: 'rr-ico';
      content: "\f703";
      //color: @rr-section-goals;
      //speak: none;
      font-weight: normal;
      font-variant: normal;
      font-size: 1.9em;
      position: absolute;
      left:3px;
      margin-left: 10px;
      text-align: center;
    }



    > .ico{
      top: 5px;
      right: 5px;
    }

    &:hover, &:focus {
        text-decoration: none !important;
    }
  }

  .ico-total {
    :before {
      color: @rr-savings-total;
    }
  }

  .ico-pension {
    :before {
      color: @rr-savings-pension;
    }
  }
  .ico-isa {
    :before {
      color: @rr-savings-isa;
    }
  }
  .ico-memo {
    :before {
      color: @rr-savings-memo;
    }
  }

  > .ico {
    width: auto;
  }

  .increase {
    color: @rr-green;
  }
  .decrease {
    color: @rr-red;
  }
  a > span {
    width: 49%;
  }

  .change {
    text-align: right;
    font-family: @avenirHeavy;
    font-size: (@baseFontSize + 5);
    padding-right: 30px;

    .ico {
      font-size: 1.5em;
      margin: 0 -8px;
    }
  }
}


// Added For RR-6903 

.key-links {
  a.expand-btn{
     font-family: @rockwellBold;
  }
  a.expand-btn span.ico{
    position: absolute;
    top:5px;
    right: 5px;
    width: auto;

    font-size: 1.5em !important;
    line-height: 19px !important;
    width: 28px;
    height: 28px;
    text-align: center;
    padding: 4px 0 0 1px;

  }
}

.key-links {
     overflow: hidden;
  .accordion-body{
    ul{
      margin:0;
      display: block;
      li {
        display: inline-block;
         border:0;
        width: 45%;
        margin: 0 10px 15px 0;       
        vertical-align: top;
      a{
        color: #007d3b;
          padding:0;
          margin: 0;

          &:hover, &:focus{
            text-decoration: underline !important;
          }

          &:before{
            display: none;
            visibility: hidden;

          }
        }
      }
    }
  }
  
}


.key-links { 
  position: relative; 

  ul li .non-btn {
    cursor: default;
    padding: 9px 10px 9px 55px;
    display: block;
    width: 100%;
    position: relative;
    color: @grayDark;
    font-size: (@baseFontSize + 1);

    span {
    // display: inline-block;
    }

    //pig
    &:before {
      font-family: 'rr-ico';
      content: "\f703";
      //color: @rr-section-goals;
      //speak: none;
      font-weight: normal;
      font-variant: normal;
      font-size: 1.9em;
      position: absolute;
      left:3px;
      margin-left: 10px;
      text-align: center;
    }


     .change {
     // position: relative;
     // text-align: right;
      font-family: @avenirHeavy;
      font-size: (@baseFontSize + 5);
      padding-right: 0px;      
      display: inline-block !important;
      text-align: right;
      padding:  0 5px;
      position: absolute;
      right:0;
      overflow: hidden;
 
    }

 
  }


}

// NEW RRD- XXXX
.big-txt{
  font-size: 3em;
  font-weight: bold;  
  display: block;
  line-height: 1em;
}



// End of RR-6903

@media  only screen and (min-width: 768px) and (max-width: 876px),
        only screen and (max-width: 555px) {

  .key-links ul {

    li {
      border-width: 1px 0;
      .border-radius(0);

       margin: 0;
        border-bottom-width: 0;

      &:first-child {
        margin: 0;
        border-bottom-width: 0;
      } // &:first-child
       &:last-child, &.last-child {
        margin-bottom: 10px;
        border-bottom-width: 1px;
      } // &:last-child
    } // li

    a, .non-btn {
      padding-left: 42px !important;


      &:before {
        margin-left: -3px !important;
      }

      > span {
        width: 100%;
        font-size: (@baseFontSize);

        &.change {
          text-align: left;
          padding: 10px 0 0;
          float:none;
          display: block;
          position: relative;
          right:inherit;
        } // &.change
      } // span
    } // a
  } // .key-links


  .key-links {
    .accordion-body{
      ul li {
            display: inline-block;
            border:0;
            width: 100%;
            margin: 0 0px 15px 0;       
            vertical-align: middle;  

            a{ 
              padding-left: 0 !important;
              span {
                width: auto                
              }
            }         
          }
      }        
  }



} // @media

@media  only screen and (max-width: 505px) {

  [class*="overview"] {
    .key-links {
      margin: 15px 0 0 80px;
      min-height: 194px; //added min-height for avoid menu overlaping on stack

      a, .non-btn {
        padding-left: 40px;

        &:before {
          font-size: 30px !important; // em value in IE9 causes issues
        }

        > span:first-child {
          font-size: (@baseFontSize - 1);
        }
      }

    } // .key-links


  } // .overview

} // @media