/**
 * Classes to enable any component to be hidden/shown to specific user types easily.
 *
 * Use the relevant visible class to show the element to only that user group.
 * All elements are visible in author mode.
 */
.visible-customer,
.visible-registered-prospect,
.visible-logged-in,
.visible-logged-out {
	display: none;
}

.is-author {
	.visible-customer,
	.visible-registered-prospect,
	.visible-logged-in,
	.visible-logged-out {
		display: block;
	}
}

.is-customer {
	.visible-customer {
		display: block;
	}
}

.is-registered-prospect {
	.visible-registered-prospect {
		display: block;
	}
}

.is-logged-in {
	.visible-logged-in {
		display: block;
	}
}

.is-logged-out {
	.visible-logged-out {
		display: block;
	}
}