//
// Utility classes
// --------------------------------------------------


// Quick floats
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

// Block control
.inline-block { display: inline-block !important; }

// Toggling content
.hide {
    display: none;
}
.force-hide {
    display: none !important;
}
.show {
  display: block !important;
}

// Visibility
.invisible {
    visibility: hidden;
}

// For Affix plugin
.affix {
    position: fixed;
}

//Replacement for Offset
.gutter1 {
    margin-left: 90px !important;       
}

.gutter2 {
    margin-left: 85px !important;      
    width: 27% !important;
}

.span7.gutter2 {    
    width: 57.6271186440678% !important;
}


//custom css to be adjusted
.break-point {
    display:inline-block;
}

.break-point-block {
    display:block;
}

.margin-bottom {
    margin-bottom:10px;
} 

.phonenumber-large {
    font-size: 3em;
    text-align: left;
    padding: 10px 0px 10px 0px;
    line-height: 1em;
}

.page-separator-link {
    display: block;
    text-align: right;
    padding: @padding 0;
    border-bottom: 1px solid @grayLt;
    margin-bottom: (2 * @padding);
}

.rounded-corners {
    .border-radius(8px);
    overflow: hidden;
}

.border-none, ul.border-none li {
    border: none !important;
}

@media only screen and (min-width: 600px) {
    .absolute-vertical-center-desktop {
        position: absolute;
        top: 50%;
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}

 // fix for Icon Alignment issue on iPhone and ipad
.ios {
    [class*="btn-primary"], [class*="btn-secondary"] {
        .ico,
        > .ico {
          margin-top: -4px !important;
          display: inline-block;
        }
    }

    .homepage {
      [class*="btn-primary"], [class*="btn-secondary"]{
         .ico{
            margin-top: -4px !important;
            display: inline-block;
          }
        }
    }

    header [class*="btn"]{ 
        .btn-cancel-icon.ico, 
        .btn-back-icon.ico{
          margin-top: -1px!important;
        }
    }
}//ios end

//added classes for accessibility issues
.span-to-div{
    display:block;
}
.div-to-span{
    display:inline;
}
//Animations

// .fadeLeftOut {
// -webkit-animation: cssAnimation 0.5s 1 ease;
// -moz-animation: cssAnimation 0.5s 1 ease;
// -o-animation: cssAnimation 0.5s 1 ease;
// }
// @-webkit-keyframes cssAnimation {
// from { -webkit-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px); }
// to { -webkit-transform: rotate(0deg) scale(0.791) skew(-180deg) translate(-200px); }
// }
// @-moz-keyframes cssAnimation {
// from { -moz-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px); }
// to { -moz-transform: rotate(0deg) scale(0.791) skew(-180deg) translate(-200px); }
// }
// @-o-keyframes cssAnimation {
// from { -o-transform: rotate(0deg) scale(1) skew(-180deg) translate(0px); }
// to { -o-transform: rotate(0deg) scale(0.791) skew(-180deg) translate(-200px); }
// }


// .fadeRightIn {
// -webkit-animation: cssAnimation 0.5s 1 ease;
// -moz-animation: cssAnimation 0.5s 1 ease;
// -o-animation: cssAnimation 0.5s 1 ease;
// }
// @-webkit-keyframes cssAnimation {
// from { -webkit-transform: rotate(0deg)  translate(0px); }
// to { -webkit-transform: rotate(0deg)  translate(200px); }
// }
// @-moz-keyframes cssAnimation {
// from { -moz-transform: rotate(0deg) translate(0px); }
// to { -moz-transform: rotate(0deg) translate(200px); }
// }
// @-o-keyframes cssAnimation {
// from { -o-transform: rotate(0deg)  translate(0px); }
// to { -o-transform: rotate(0deg)  translate(200px); }
// }










    
  