//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------
@aegon-blue:			#0070bb;

// GraysF
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #707070;
@grayMedium:            #666;
@grayLight:             #999;
	@grayLt:			#d9d9d9;
@grayLighter:           #efefef;
	@grayLighterTint:	#e2e2e2;
	@grayDarkTint:      #e0e0e0;
@grayVeryLight:			#f2f2f2;
@white:                 #FFF;



// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;


// Retire Ready colors
// -------------------------
@rr-lightgreen:         #bad405;
@rr-green:              #00883f;
@rr-gray:               @grayDark;
	@rr-lightgray:		@grayLighter;
@rr-blue:				#36578c;
@rr-lightblue:          #0A94D6;
@rr-cyan:               #47D6C7;
@rr-purple:         	#942eb5;
@rr-orange:             #F27D00; 
@rr-red:             	#db1f1f;
@rr-yellow:             #FCC917;


// Retire Ready pastel colors
// -------------------------
@rr-pastel-green:		#199b88;
@rr-pastel-light-green:	#6ed69f;
@rr-pastel-blue:		#b5dff3;
@rr-pastel-orange:		#f7aa59;




// Section colors
// -------------------------
// Default (green)
@rr-section-default:         	@rr-green; 
@rr-section-default-light:   	#D9EDE2; 

//	Goals (light blue)
@rr-section-goals:            @rr-lightblue;
@rr-section-goals-light:      #daeff9;

//	Shop (purple)
@rr-section-shop:         		@rr-purple; 
@rr-section-shop-light:   		#efe0f4;

//	Savings (cyan)
@rr-section-savings:         	@rr-cyan;
@rr-section-savings-light:   	#e4f9f7;

//	Coach (lime green)
@rr-section-coach:            @rr-lightgreen;
@rr-section-coach-light:      #f1f6cd; 

//	Support (orange)
@rr-section-support:         	@rr-orange;
@rr-section-support-light:   	#fcdebf;

//	Profile (yellow)
@rr-section-profile:        	@rr-yellow;
@rr-section-profile-light:   	#feefb9;

//  Upgrade journey (grey)
@rr-section-upgrade-light:      #e4e4e4;



// Funds selection colours
@rr-fund-a:			   		@rr-green;
	@rr-fund-a-light:		#037035; //#4cab78;
@rr-fund-b:						@rr-lightgreen;
	@rr-fund-b-light:	  #dfeb8a;
@rr-fund-c:						@rr-yellow;
	@rr-fund-c-light:		#fee694;
@rr-fund-d:						@rr-orange;
	@rr-fund-d-light:		#f9c287;
@rr-fund-e:						@rr-red;
	@rr-fund-e-light:		#b50e0e; //#e66161;


// Savings selection colours
@rr-savings-pension:			@rr-pastel-light-green;
	@rr-savings-pension-light:	#e2f7ec;
@rr-savings-isa: 				@rr-pastel-green;
	@rr-savings-isa-light: 		#d1ebe7;
@rr-savings-memo:				@rr-blue;
	@rr-savings-memo-light: 	#d7dde8;
@rr-savings-total:				@rr-cyan;

// Score panels
@rr-score-very-high:  #8cc9a8;
@rr-score-high:   		#fddc68;
@rr-score-medium:   	@rr-pastel-orange;
@rr-score-low:   			#eb8484;

//Retirement Zone - New colour set
@rz-primary: 		#04A77B;
@rz-primary-dark: 	#008762;
@rz-cta: 			#F27D00;
@rz-cta-dark: 		#F05A00;
@rz-cta-border: 	#E8511E;




// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @grayDark;

@focusColor:           #006cd1;

//Layout
@containerGutterPadding:    10px;

// Links
// -------------------------
@linkColor:             #007D3B;
@linkTextDecoration:    underline;

// Links on Header - Different from default
@headerLinkColor:       @rr-gray;
@headerLinkColorHover:  @rr-green;
@headerLinkTextDecoration:    none;

// Aegon - Overlay
//-------------------------
@overLayColour:         @white; 
@overLayOpacity:        0.5;  
@overLayOpacityIE:        50; 

//Retire-Ready - Backrgounds
@containerBackgroundColour:    transparent;   
@formBackgroundColour:         @grayLighter; 

@subheaderBackrgoundGreen:      fadeout(@rr-green, 80%); //Not compatible with IE8




@avenirLight: "Avenir LT W01 35 Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
@avenirMedium: "Avenir LT W01 65 Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
@avenirHeavy: "Avenir LT W01 85 Heavy", "Helvetica Neue", Helvetica, Arial, sans-serif;

@rockwell: "Rockwell W01", Georgia, "Times New Roman", Times, serif;
@rockwellBold: "Rockwell W01 Bold", Georgia, "Times New Roman", Times, serif;


@headerFontFamily:        @rockwellBold;
@primaryFontFamily:       @avenirLight;





// Typography
// -------------------------
@sansFontFamily:        @primaryFontFamily;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;


@baseFontFamily:        @sansFontFamily;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    normal;    // instead of browser default, bold
@headingsColor:         @rr-gray; // empty to use BS default, @textColor


// Component sizing
// -------------------------
// Based on 16px font-size and 20px line-height
@baseFontSize:          16px;
@baseLineHeight:        20px;

@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px

@padding:               15px; // used on panels and forms
@paddingLarge:          11px 19px; // 44px
@paddingSmall:          2px 10px;  // 26px
@paddingMini:           0 6px;   // 22px

@baseBorderRadius:      6px; //6px
@borderRadiusLarge:     6px;
@borderRadiusSmall:     3px;


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             #f9f9f9; // for striping
@tableBackgroundHover:              #f5f5f5; // for hover
@tableBorder:                       #ddd; // table and cell border

// Buttons
// -------------------------
@btnBackground:                     #999;
@btnBackgroundHighlight:            lighten(#999, 20%);
@btnBorder:                         #757575;

//RR-Green
@btnPrimaryBackground:              @rr-green;
@btnPrimaryBackgroundHighlight:     #145e34;

//RR-Grey
@btnSecondaryBackground:            fadein( #717171, 80%);
@btnSecondaryBackgroundHighlight:   #353535;

@btnInfoBackground:                 #5bc0de;
@btnInfoBackgroundHighlight:        #2f96b4;

@btnSuccessBackground:              #62c462;
@btnSuccessBackgroundHighlight:     #51a351;

@btnWarningBackground:              lighten(@orange, 15%);
@btnWarningBackgroundHighlight:     @orange;

@btnDangerBackground:               #ee5f5b;
@btnDangerBackgroundHighlight:      #bd362f;

@btnInverseBackground:              #444;
@btnInverseBackgroundHighlight:     @grayDarker;




// Forms
// -------------------------
@inputBackground:               @white;
@inputBorder:                   #ccc;
@inputBorderRadius:             @baseBorderRadius;
@inputDisabledBackground:       @grayLighter;
@formActionsBackground:         #f5f5f5;
@inputHeight:                   @baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @white;

@dropdownLinkBackgroundActive:  @linkColor;
@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@bodyOverlay:			  19;
@zindexFixedHeader:       20;
@zindexFixedTools:        80;
@questionnaireControls:	  92;
@leftRightControls:		  18; //93
@zindexDropdown:          94;
@zindexPopover:           95;
@zindexTooltip:           96;
@zindexFixedNavbar:       97;
@zindexModalBackdrop:     98;
@zindexModal:             99;
@accessibilitySkip:				100;
@loadingSpinner:          999999;


// Sprite icons path
// -------------------------
@iconSpritePath:          "../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
@placeholderText:         @grayLight;


// Border colors
// -------------------------
@hrBorder:                @grayLighter;
@borderLight:						#e5e5e5;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:     235px;


// Wells
// -------------------------
@wellBackground:                #f5f5f5;

// Aegon - Fixed Header
@fixedHeaderHeight:				75px;

// Aegon - Cookie Statement
@cookieHeight:					300px;
@cookieTransitions:				0.5s;

// Aegon - Responsive Menu

@rwdMenuWidth: 					  300px;
@rwdMenuHeight:					  500px;
@rwdMenuBackground:			      @grayDark; 
@rwdMenuTransitions:			  0.3s;

@rwdMenuText:                      #777;
@rwdMenuLinkColor:                 #FFF;
@rwdMenuLinkColorHover:            @grayDark;
@rwdMenuLinkColorActive:           @gray;
@rwdMenuLinkPadding:               13px;
@rwdMenuLinkBackground:            transparent;
@rwdMenuLinkBackgroundHover:       transparent;
@rwdMenuLinkBackgroundActive:      darken(@navbarBackground, 5%);
@rwdMenuStaticContentTopPosition:  60px;


// Navbar
// -------------------------
@navbarCollapseWidth:             979px;
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;

@navbarHeight:                    40px;
@navbarBackgroundHighlight:       #ffffff;
@navbarBackground:                darken(@navbarBackgroundHighlight, 5%);
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      #777;
@navbarLinkColor:                 #777;
@navbarLinkColorHover:            @grayDark;
@navbarLinkColorActive:           @gray;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);

@navbarBrandColor:                @navbarLinkColor;

// Inverted navbar
@navbarInverseBackground:                #111111;
@navbarInverseBackgroundHighlight:       #222222;
@navbarInverseBorder:                    #252525;

@navbarInverseText:                      @grayLight;
@navbarInverseLinkColor:                 @grayLight;
@navbarInverseLinkColorHover:            @white;
@navbarInverseLinkColorActive:           @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      @navbarInverseBackground;

@navbarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus:     @white;
@navbarInverseSearchBorder:              @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor:    #ccc;

@navbarInverseBrandColor:                @navbarInverseLinkColor;


// Pagination
// -------------------------
@paginationBackground:                #fff;
@paginationBorder:                    #ddd;
@paginationActiveBackground:          #f5f5f5;


// Hero unit
// -------------------------
@heroUnitBackground:              @grayLighter;
@heroUnitHeadingColor:            inherit;
@heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
@warningText:             #333;
@warningBackground:       #fef1c5;
@warningBorder:           @rr-yellow;

@errorText:               #cc3131;
@errorBackground:         #fbe8e8;
@errorBorder:             #cc3131;

@successText:             #468847;
@successBackground:       #dff0d8;
@successBorder:           #468847;

@infoText:                #3a87ad;
@infoBackground:          #d9edf7;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
@tooltipColor:            #fff;
@tooltipBackground:       #000;
@tooltipArrowWidth:       5px;
@tooltipArrowColor:       @tooltipBackground;

@popoverBackground:       #fff;
@popoverArrowWidth:       10px;
@popoverArrowColor:       #fff;
@popoverTitleBackground:  darken(@popoverBackground, 3%);

// Special enhancement for popovers
@popoverArrowOuterWidth:  @popoverArrowWidth + 1;
@popoverArrowOuterColor:  rgba(0,0,0,.25);



// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         15px; /*20px*/
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// 1200px min
@gridColumnWidth1200:     70px;
@gridGutterWidth1200:     20px; /*30px*/
@gridRowWidth1200:        (@gridColumns * @gridColumnWidth1200) + (@gridGutterWidth1200 * (@gridColumns - 1));

// 768px-979px
@gridColumnWidth768:      42px;
@gridGutterWidth768:      15px; /*20px*/
@gridRowWidth768:         (@gridColumns * @gridColumnWidth768) + (@gridGutterWidth768 * (@gridColumns - 1));


// Fluid grid
// -------------------------
@fluidGridColumnWidth:    percentage(@gridColumnWidth/@gridRowWidth);
@fluidGridGutterWidth:    percentage(@gridGutterWidth/@gridRowWidth);

// 1200px min
@fluidGridColumnWidth1200:     percentage(@gridColumnWidth1200/@gridRowWidth1200);
@fluidGridGutterWidth1200:     percentage(@gridGutterWidth1200/@gridRowWidth1200);

// 768px-979px
@fluidGridColumnWidth768:      percentage(@gridColumnWidth768/@gridRowWidth768);
@fluidGridGutterWidth768:      percentage(@gridGutterWidth768/@gridRowWidth768);



@stackHeight:							304px;
	@stackHeightSmall:			192px;
@stackWidth:							108px;
	@stackWidthSmall:				67px;
