.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 20px;

    &:last-child{
    	margin-bottom: 0;
    }
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.phone-video-wrapper {
    background: @black;
    text-align: center;
    padding-top: 8px;
}

.panel-to-modal-video {
    display: block;

    img {
        .border-radius (6px);
        width: 100%;
    }

    p {
        padding: 15px 0 0;
        text-align: center;
        font-family: @rockwell;
        font-size: (@baseFontSize + 1);
        color: @grayDark;
    }

    div{
        position: relative;

        &:before {
        font-family: 'rr-ico';
        content: "\f729";
        color: #fff;
        speak: none;
        font-weight: normal;
        font-variant: normal;
        font-size: 5em;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30px;
        margin: auto;

        text-align: center; // required for IE8
        
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        transition: all 0.12s ease-out;
        }
    }

    &:hover, &:focus {
        text-decoration: none;

        p {
            text-decoration: underline;
        }
    } 
}

iframe.panel-to-modal-video {
    display: none;
}

.ios {
    a.panel-to-modal-video {
        display: none;
    }
    iframe.panel-to-modal-video {
        display: block;
    }
}


//Content video

//a, img, p, iframe

.content-video{
    text-align: center;
    margin: 0 auto;
    display: block;

    p{
        padding: 10px 0;
        font-family: @rockwellBold;
       // color: @grayDark;
    }

    img{

       .border-radius(@baseBorderRadius);
    }

    &:before {
                           
         .border-radius (6px);
        font-family: 'rr-ico';
        content: "\f729";
        color: #fff;
        speak: none;
        font-weight: normal;
        font-variant: normal;
        font-size: 5em;
        position: absolute;
       // width: 282px;
       // line-height: 152px;
        top: 50%;
        margin-top: -30px;
        left: 50%;
        margin-left: -35px;

        text-align: center; // required for IE8
         text-decoration: none;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        transition: all 0.12s ease-out;

        //Add drop shadow for contrast - look at IE8 solution
        .text-shadow();
    }
}

// Fullwidth video thumbnail layout.

.large-thumbnail-video {
    a:first-child {
        display: block;
        width: 100%;
        height: 100%;
    }

    a:first-child:hover, a:first-child:focus, a:first-child:active {
        text-decoration: none !important;

        p {
            background: darken(@rr-green, 10%);;
        }
    }

    a:first-child, .visible-phone {
        p {
            background: @rr-green;
            box-sizing: content-box;
            padding: 20px 20px 20px 60px !important;
            margin: 0;
            position: relative;

            color: @white;
            text-align: left;

            .ico {
                position: absolute;
                left: 20px;
                top: 50%;
                line-height: inherit;
                font-size: 28px;

                .translateY(-50%);
            }
        }
    }
}