// Web chat CSS //
// Note : markup is being provided by salesforce so this isnt going to be pretty //

    #prechat {
        display: none;
		
		.prechat-inner {
				position: fixed;
				bottom: 0;
				right: 0;
				width: 300px;
				z-index: 1050;
				margin-left: -280px;
				background-color: @grayLighter;
				border: 1px solid @gray;

				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;

				-webkit-background-clip: padding-box;
				-moz-background-clip: padding-box;
				background-clip: padding-box;
				outline: none;
			
				.modal-header {
					    background-color: @gray;
						-webkit-border-radius: 3px 3px 0 0;
						-moz-border-radius: 3px 3px 0 0;
						border-radius: 3px 3px 0 0;
					
						.help-modal-title {
						        color: @white;
						}
				}
			
			    .modal-body {
					
				    label {
				        float: none;
				        text-align: left;
				    }
					
					.help-inline {
							margin-bottom:0;
							padding-bottom:0;
					}
			    }			
			}
	}