.span7 {
	article {
		> .panel:first-child {
		.visual-wrapper {
			text-align:center;
			&:first-child {
				.ico {
					font-size:106px;
				}
			}
		}
	}
		
	// benfit list styles
		
		
		
	} // article	
	} // span7

	.span3 {
			.feature-box {
				width:100%;
				height: auto;
				margin-left:0;
				margin:0 0 15px 0;


				.link-wrapper {
					position: relative;
					bottom: 10px;
         	top: auto;
         	left: auto;
         	right: auto;
				}
			}

			.feature-double-height {
				padding-bottom: 0;
			}

			.add-panel {
				border: 1px solid @grayLt;
				background: none;

				.links-wrapper {
					.link-container {
						width:100%;
						a {
							margin-bottom:10px;
						}
						.btn {
							width: 100%;
						}
					
						&:after {
							display:none;
						}
					}
				}
				// [class*="visual-wrapper"] {
				// 		width: 50%;
				// 		float: left;
				// }//visual-wrapper
			}
			.promo {
				background-color:#d9d9d9;
			}
			.panel-group {
				clear:both;
				margin-bottom:15px;
			}
	}

	//Small fix to counter issue with commented out code above
	.feature-box-investments-safeguards [class*="visual-wrapper"]{
		width: 50%;
		float: left;
	}


