// USED IN: 
//	- Savings-RR-1729



// Variables
// -------------------------
	@mailboxOperatorColor:	#f7b166;
	@mailboxClientColor:		#e8e8e8;



// Mixins
// -------------------------
	.mailboxPersonaIcons {
		color: #949194;
		font-size: 1.9em;
	}








// Layout
// -------------------------

// Left column (navigation)
	//Left Panel
	#mailbox-list-container{
	  //background-color: #ffcc00;
	  width: 332px;
	  position: absolute;
	  float:left;
	  height: 100%;
	  overflow-y: scroll;
	  margin-top: -13px;
	  border-right: 1px solid #ccc;
	}

	.fixed{
	  //Applied with JS
	  position: fixed !important;
	   margin-top: 0 !important;
	 
	 // height: ~"calc(100% - 202px)";
	}

	//Fake scroller visible on modals in webkit
	#mailbox-list-container::-webkit-scrollbar {
	    -webkit-appearance: none;
	}

	#mailbox-list-container::-webkit-scrollbar:vertical {
	    width: 11px;
	}

	#mailbox-list-container::-webkit-scrollbar:horizontal {
	    height: 11px;
	}

	#mailbox-list-container::-webkit-scrollbar-thumb {
	    border-radius: 8px;
	    border: 2px solid white; /* should match background, can't be transparent */
	    background-color: rgba(0, 0, 0, .5);
	}


// Right column (content)
	#mailbox-content-container{
	  //background-color: #ff00cc;
	 	width: auto;
	  float:right;
	  margin-left: 332px;
	 	min-height: 350px;
	}








// WMailbox menu (1st column)
// -------------------------
.mailbox-menu {
	padding: 20px 20px;

	li {
		a {
			font-size: (@baseFontSize - 1);
			font-family: @avenirLight;

			.ico:first-child {
				.mailboxPersonaIcons ();
				margin: 0 2px 0 -3px;
				line-height: 34px;
			} // .ico:first-child

			.persona {
				top: -8px;
			}

			h3, .header-tag {
				font-size: (@baseFontSize);
				font-family: @avenirMedium;
				color:@rr-green;
				margin:8px 0 10px;
			} // h3

			p {
				margin-bottom: 0;
				padding-bottom: 0;
			}

			time {
				display: block;
				margin: 3px 0 0;

				span:last-child {
					margin-left: 10px;
				}

				// ie8 fix for last-child
				span.last-child {
					margin-left: 10px;
				}
			}

			&:hover, &:focus {
				background: @grayLighter;
				text-decoration: none !important;

				.ico:first-child {
					color: #949194 !important;
				} // .ico:first-child
			} // &:hover, &:focus

		} // a

		&.mailbox-unread, &.mailbox-selected { 

      &:before, + li:before {
        border-color: #fff;
      }
    }

		&.mailbox-unread {

			h3 {
				color:@grayDark;
			} // .mailbox-unread a h3

			.ico:last-child {
				.btn-secondary ();
			} // .ico:first-child
		} // &.mailbox-unread

		&.list-action {
			text-align: center;
		}
	} // li
} // #mailboxMenu








// Mailbox item (2nd column replacement)
// -------------------------
.mailbox-item-container {
	padding: 0 10%;
}

.mailbox-select-message, .no-actions-text {
	text-align: center;
	margin: 100px 0;
	font-size: (@baseFontSize + 1);
	font-family: @rockwellBold;
}

.mailbox-item {

	.item-information {
		overflow: hidden;
		border-top: 1px solid @borderLight;
		border-bottom: 1px solid @borderLight;
		padding: 7px 0;
		margin: 15px 0 0;
		font-size:(@baseFontSize - 1);
		color: #767676;

		p, time {
			width: 50%;
			float: left;
			margin: 0;
			padding: 0;
		}

		time {
			text-align: right;

			span:last-child {
				margin-left: 10px;
			}

			// ie8 fix for last-child
			span.last-child {
				margin-left: 10px;
			}
		}
	} // .case-id

	.block-list-accordion {
		margin: 0 0 10px !important;

		&:after {
			content: '';
			border-bottom: 1px solid @borderLight;
			display: block;
		} // &:after

		.accordion-heading {
			background-color:#fff;

			// Stops border from dissapearing on the following states
			&.active,
			&:hover,
			&:focus {
			  &:before {
			    border-top-color: @borderLight;
			  }      
			}

			&:before {
				margin: 0;
			}

			&:first-child {
				&:before {
					border-top: 0 !important;
				}
			}

			.accordion-toggle {
				position:relative;
				background-color:#fff;
				padding: 9px 50% 9px 0;
				font-size: (@baseFontSize - 1);
				font-family: @avenirLight;

				&:before {
					left: -15px;
				}

				.ico {
					float:left;
					margin: 3px 9px 3px -3px;
					
					&:first-child {
						.mailboxPersonaIcons ();
					}

					&:last-child {
						right: 0;
						margin: 0;
					}

					&.last-child {
						right: 0;
						margin: 0;
					}
				}

				.persona {
					width:45%;
					top:8px;
					left: 36px;
				}

				time {
					position: absolute;
					top: 17px;
					right: 43px;
					text-align:right;

					span:last-child {
						margin-left: 10px;
					}

					// ie8 fix for last-child
					span.last-child {
						margin-left: 10px;
					}
				}


				// Hover and focus overwrite states
				&:hover, &:focus {
					background-color:transparent;
					color: @rr-green;
					text-decoration: none !important;

					&:before {
						background: @rr-green;
					}

					.ico:first-child {
						color: @rr-green;
					}
				}

			} // .accordion-toggle
		} // .accordion-heading

		.accordion-body {
			margin: 0;
			p{
				white-space: pre-line;
			&:last-child {
				margin-bottom: 10px;
			} // p:last-child
			}
		} // .accordion-body
	} // .block-list-accordion

	.block-list-accordion .accordion-body p.last-child {
		margin-bottom: 10px;
	}

	dt:last-of-type .accordion-toggle .ico:last-child {
		display:none;
	}

	// ie8 fix for :last-of-type and :last-child
	dt.last-of-type .accordion-toggle .ico.last-child {
		display:none;
	}

	.reply-trigger {
		margin:15px 0 15px;
		text-align: center;
	}

} // .mailbox-item




// Webchat transcript (2nd column replacement)
// -------------------------
.transcript {
	width: 100%;
	margin-top: 25px;

  p {
  	.clearfix ();
		margin: 0 0 15px 0;
		padding: 0;
		width: 100%;


		// Default styles (Operator)
		span {
			float: left;

			&.persona {
				margin-top: 8px;
			}

			&.ico {
				margin: 3px 14px 0 4px;
				.mailboxPersonaIcons ();
			}
		} // span


		.bubble {
	    position: relative;
	    padding: 10px;
	    background: @mailboxOperatorColor;
	    min-width: 10px;
	    max-width: 48%;
	    display:inline-block;
	    margin-top:-3px;
	    font-size: @baseFontSize;
	    border: 1px solid @mailboxOperatorColor;
	    .border-radius(3px);
		        
			&:after {
	      content: "";
	      display: block; /* reduce the damage in FF3.0 */
	      border-width: 10px 12px 10px 0;
	      border-style: solid;
	      border-color: transparent @mailboxOperatorColor transparent transparent;
	      position: absolute;
	      bottom: auto;
	      top: 10px;
	      left: -13px;
	  	}
		} // span.bubble


		// Client overides
		&.client {
			float: right;

			span {
				float: right;

				&.ico {
					margin-left: 12px;
					margin-right: 2px;
				}
			} // span

			.bubble {
				background-color: @mailboxClientColor;
				border-color: @mailboxClientColor;

				&:after {
					border-color:transparent transparent transparent @mailboxClientColor;
	        border-width: 10px 0 10px 12px;
	        right: -13px;
	        left: inherit;
				}
			}
		} // &.client
	} // p
} // transcript








// Mailbox empty
// -------------------------
.mailbox-empty {
	#mailbox-list-container {
		display: none;
	}
	#mailbox-content-container {
		margin: 0 auto;
		float: none;

		.mailbox-item-container {
			padding: 0 25%;
		}
	}
}








// Media queries
// -------------------------

// Reduce content padding at these widths: 
@media 	only screen and (min-width: 768px) and (max-width: 950px) {
	.mailbox-item-container {
		padding: 0 5%;
	}
}

// Mobile
@media only screen and (max-width: 767px) {
	
	#mailbox-list-container{
	  width: 100%;
	  position: relative;
	  float: none;
	  height: 100%;
	  overflow-y: visible;
	  margin-top: 0;
	  border-right: 0;
  }


 	#mailbox-content-container {
	  float: none;
	  margin-left: 0;
	 	min-height: 0;
 	}

	.mailbox header .btn-back, .mailbox-item {
		display: none !important;
	}

	.mailbox-item-selected {
		#mailbox-list-container {
			display: none;
		}

		header .btn-back, .mailbox-item {
			display: block !important;
		}
	} 

	.mailbox-item-container {
		padding: 0;
	}

	.mailbox-item {

		.item-information {
			font-size: 14px;
		}

		.block-list-accordion {

			.accordion-heading {

				.accordion-toggle {
					padding-left: 15px;

					&:before {
						left: 0;
					}
				}
			}
		}

		.form-actions .actions-inline {
			text-align: center;

			.btn-link {
				float: none;
				padding-left: 12px;
			}
		}
	}

	.mailbox-item .block-list-accordion .accordion-heading .accordion-toggle .persona {
		left: 50px;
	}

	// Mailbox empty
	// -------------------------
	.mailbox-empty {
		#mailbox-content-container {
			.mailbox-item-container {
				padding: 0;
			}
		}
	}
}

// Mix
@media 	only screen and (min-width: 768px) and (max-width: 830px),
				only screen and (max-width: 400px) {
	.mailbox-item {

		.block-list-accordion {

			.accordion-heading {

				.accordion-toggle {
					padding-right: 35px;

					time {
						position: relative;
						display: block;
						float: left;
						top: inherit;
						right: inherit;
						margin: -6px 0 0 36px;
						text-align: left;
						clear: both;
					}
				}
			}
		}
	}

	.transcript {

		p {
			

			span {

				&.persona {
					text-indent: -9999px;
				}

				&.ico {
					margin-left: -2px;
				}
			} // span

			.bubble {
				max-width: 78%;
			}

			&.client {
				span {
					&.ico {
						margin-right: -5px;
					}
				} // span
			}
		}
	}
}