
.section-goals {

	.accordion-body a.pull-right {
		margin-top: 10px;
	}

	.selector-container {padding: 0 0 10px;

		> .panel {
			width: auto;
		}
	}

	.forecast {
		.stack-container, .left-flipboard, .right-flipboard {
			width: 45%;

			.stack {
				background: #6ed69f;
				display: block;
				width: 108px;
				height: 304px;
				margin: 20px auto 0;
				transition: all 0.3s ease;
			}
		}

		.plus-sign {
			width: 10%;
			margin-top: 45px;
		}

		.goal-left {
			display: none; //unless >1200px, dealt with in a media below
		}

		@media only screen and (min-width: 320px) {

			.goal-right {
				.on-track, .shortfall, .overshoot {
					padding: 5px 60px;
				}
			}
		}

		@media only screen and (min-width: 600px) {

			.goal-right {
				.on-track, .shortfall, .overshoot {
					padding: 5px 200px;
				}
			}
		}

		@media only screen and (min-width: 768px) {

			.goal-right {
				.on-track, .shortfall, .overshoot {
					padding: 5px 100px;
				}
			}
		}

		@media only screen and (min-width: 1200px) {
			.goal-left {
				display: inline;
				position: absolute;
				top: 90px;
				left: 30px;
			}

			.goal-right {		
				position: absolute;
				top: 90px;
				left: 240px;

				.on-track, .shortfall, .overshoot {
					padding: 5px 80px;
				}
			}
		}

		.on-track {
			.goal-right {
				.overshoot, .shortfall {
					display: none;
				}
			}

			//.left-arrow(@rr-green);
			//.right-arrow(@rr-green);
		}

		.overshoot {
			.goal-right {
				.on-track, .shortfall {
					display: none;
				}
			}

			//.left-arrow(@rr-red);
			//.right-arrow(@rr-red);
		}

		.shortfall {
			.goal-right {
				.on-track, .overshoot {
					display: none;
				}
			}

//left-arrow(@rr-red);
			//.right-arrow(@rr-red);
		}

		.goal-right {

			.goal-message(@tracker-color) {
				display: inline-block;
				border: 1px solid @tracker-color;
				border-radius: 5px;
				color: @tracker-color;

				h3 {
					display: inline;
					color: @tracker-color;
				}
			}

			.on-track {
				.goal-message(@rr-green);
			}

			.overshoot {
				.goal-message(@rr-red);
			}

			.shortfall {
				.goal-message(@rr-red);
			}
		}
	}

	.pigPrepend:before {
		font-family: 'rr-ico';
		content: "\f703";
		color: @rr-section-goals;
		//speak: none;
		font-weight: normal;
		font-variant: normal;
		font-size: 60px;
		position: absolute;
		bottom: 125px;
		left: 50%;
		margin-left: -20px;
		text-align: center;
	}

	

	@media only screen and (max-width: 505px), only screen and (min-width: 768px) and (max-width: 979px), print {
		.pigPrepend:before {
			font-size: 40px;

			bottom: 110px;
		}

	}

	.goal-confirm {
		background-color: #b5dff3;
		font-family: @rockwell;
		font-size: (@baseFontSize + 1);
		text-align: center;
		margin-bottom: 10px;


		p:last-child {
			padding: 0;
			margin: 0;
		}

		p.last-child {
			padding: 0;
			margin: 0;
		}
	}

	.form-prepop {
		display: inline;

		span {
			font-family: "Avenir LT W01 65 Medium";
		}
	}

	.panel-prepop {
		span {
			font-family: "Avenir LT W01 65 Medium";
		}
	}

	#pensionTotal {
		font-weight: bold;
	}

	.alert {
		.btn {
			.ico {
				position: static;
				color: @white;
				font-size: 19px;
			}
		}
	}

	@media only screen and (min-width: 1200px) {
		.selector-container .panel{
			padding-left: 0;
			padding-right: 0;
			margin-left :0;
			margin-right: 0;
			.clearfix();
		}
	}

	#tabElsewhere {
		h3, .header-tag {
			border: none;
			padding-left: 0;
		}
	}

	#goalBreakdown {
		.accordion-inner {
			
			h3, .header-tag {
				border: none;
			}


			li {
				padding-bottom: 15px;

				.stack-text {
					vertical-align: top;
					display: inline-block;
					padding-left: 15px;
					width: ~"calc(100% - 55px)";

					> span {
						margin: 0
					}
					
					span {
						display: block;
					}
				}

				.ico {
					font-size: 2em;

					&-pensions {
						color: @rr-savings-pension;
					}

					&-isa {
						color: @rr-savings-isa;
					}
				}
			}
		}
	}


}

// ---------------------------Goal Planner products -------------
.goal-products {
	margin: 0 -15px;

	.goal-product {
		padding: 15px;

		&:first-child {
			padding-top: 0;
		}
	}

	&-multiple {
		border-bottom: 1px solid #ddd;
		margin-bottom: 15px;

		.goal-product {
			border-top: 1px solid #ddd;

			&:first-child {
				padding-top: 15px;
			}
		}
		.goal-product-even {
		 	background: #e8e8e8;
		}
	}
}


.risk-assessment-promotion {
	overflow: hidden;
	clear: both;

	p, .pull-right {
			margin: 0 !important;
		}
}

.risk-selector {
	overflow: hidden;
	clear: both;

	ul {
		overflow: hidden;
		list-style: none;
		margin: 20px 0;

		li {
			width: 17.5%;
			float: left;
			margin: 0 0 0 3.1%; // fix inline-block
			padding: 0;
			text-align: center;
			position: relative;

			&:first-child {
				margin-left: 0;
			}
		}

		.risk-selector-btn {
			background: #fff;
			border-width: 2px;
			border-style: solid;
			.border-radius (5px);

			width: 100%;
			height: 80px;
			max-height: 80px;

			font-family: @avenirHeavy;
			font-size: 1.3em;

			&:focus {
				outline: 5px auto -webkit-focus-ring-color;
				outline-offset: -2px;
			}
		}

	}

	.risk-selector-scale {
		position: relative;
		overflow: hidden;
		margin: -10px 0 0;

		


		.scale {
			&-low {
				float: left;
				width: 19%;
				text-align: left;
				color: #666;
			}
			&-high {
				float: left;
				width: 19%;
				text-align: right;
				color: #666;
			}
			&-line {
				position: relative;
				float: left;
				width: 62%;
				height: 10px;

				&:before {
					content: "";
					position: absolute;
					top: 10px;
					display: block;
					width: 98%;
					border: 1px dashed #ccc;
				}

				&:after {
					position: absolute;
					top: 3px;
					right: 0;
					content: "";
					display: inline-block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 8px 0 8px 14px;
					border-color: transparent transparent transparent #ccc;
				}
			}
		}
	}
}

.section-goals {
	.risk-selector, .selection-info {
		max-width: 450px;
		margin: 0 auto;
	}

	.risk-selector {
		margin-top: 20px;
		margin-bottom: 30px; 
	}
}

// @media only screen and (max-width: 767px) {
// 	.risk-selector {

// 		ul {
// 			.risk-selector-btn {
// 				height: 50px;
// 			}
// 		}
// 	}
// }




// ---------------------------Goal Planner results -------------



.forecast-results{
	position: relative;
	//background-color: #ff00cc;
	width: 100%;
	margin-bottom: 20px;

	//Plus sign
	 &:after {
			font-family: 'rr-ico';
			content: "\f70b";
			color: #333;
			font-weight: normal;
			font-variant: normal;
			font-size: 35px;    
			line-height: 0;
			position: absolute;
			//left: 50%;
			left:50%;
			margin-left: -25px;
			bottom:35px;
			padding:0;
			
				 
		}

		@media only screen and (max-width: 505px), only screen and (min-width: 768px) and (max-width: 979px), print {
			&:after {
				 font-size: 20px; 
				 margin-left: -15px;
				 bottom:45px; 
			}

		}

	.left-arrow(@arrow-color) {
		&:before {
			font-family: 'rr-ico';
			content: "\f744";
			color: @arrow-color;
			font-weight: normal;
			font-variant: normal;
			font-size: 35px;     
			line-height: 0;     
			position: absolute;



			left: 50%;
			margin-left: -78px;
		}

		@media only screen and (max-width: 505px), only screen and (min-width: 768px) and (max-width: 979px), print { 
			&:before {			
				margin-left: -55px;
			}
		}
	}

	.right-arrow(@arrow-color) {
		&:after {
			font-family: 'rr-ico';
			content: "\f745";
			color: @arrow-color;
			font-weight: normal;
			font-variant: normal;
			font-size: 35px;      
			line-height: 0;
			position: absolute;
			left: 50%;
			margin-left: 46px;     
		}

		@media only screen and (max-width: 505px), only screen and (min-width: 768px) and (max-width: 979px), print{ 
			&:after {			
				margin-left: 25px;
			}
		}
	}
											
	.left-column{
		//background-color: #00cc00;
		float:left;
		width: 50%;

		.container{

			
			.stack {  
				background: #6ed69f;
				display: block;
				width: 108px;
				height: 304px;
				margin: 0 auto;
				
			}

			@media only screen and (max-width: 505px), only screen and (min-width: 768px) and (max-width: 979px), print{
			.stack {
				width: 67px;
				height: 192px;
				
			}
		}

			.results{
				margin: 0 auto;
				text-align: center;
			}
		}    
		
		.horizontal-bar{
		 position: absolute;
			top:40px;
			left:0;
		// background-color: #ffff00;
		 width: 100%;

			
			.arrows{
			 // position: relative;
			 position: relative;
				background-color: transparent;
				display: inline-block;
				width: 100%; //Width of stack
				margin: 0 auto;
				height:0px;       

				//Classes above
				.left-arrow(@rr-red);
				.right-arrow(@rr-red);

				
			} 

			.value{
			 	width: 230px; //Media Querie adjust 
				min-height: 33px;
				position: absolute;
				left:50%;
				margin-left: 80px;
				top:0;
				border-radius: @baseBorderRadius;
				border: 2px solid #ff0000;
				background-color: white;
				display: inline-block;
				padding: 0 10px 0 10px;
				span.ico{
					display: block; 
					color: @rr-red;
					position: absolute;
					margin: 3px 0;
				}
				h3, .header-tag{
					display: block;
					margin: 5px 5px 5px 35px;
					padding:0;
					font-size: @baseFontSize ;
					span{       
						//Bold?
					}
				}
			}

			@media only screen and (max-width: 505px), only screen and (min-width: 768px) and (max-width: 979px), print {     


	      .value{
	      width: 150px; //Media Querie adjust 
				position: absolute;
				left:50%;
				margin-left: 55px;
	        h3, .header-tag{
	          font-size: (@baseFontSize - 2);
	         // background-color: #ffcc00;
	        }   
	      } 
	    }                      

		}        
	}


	.right-column{
	 // background-color: #0000cc;
		float:left;
		 width: 50%;
		
		.container{
		 
			.results{
				margin: 0 auto;
				text-align: center;
			}
		}
		
	}  
	@media only screen and (max-width: 505px), only screen and (min-width: 768px) and (max-width: 979px), print {     
		.results{
			
			h3, .header-tag{
				 font-size: (@baseFontSize - 2);

			}
		}
	}

	//Colour Items depending on which class has been added to .forecast-results
	//  on-track, overshoot or shortfall

	&.on-track .left-column .horizontal-bar{
		.arrows {
			.left-arrow(@rr-green);
			.right-arrow(@rr-green);
		}
		.value {
			border-color: @rr-green; 

			h3{
				color: @rr-green; 
			}

			.ico{
			color: @rr-green; 
			}
		}

		
	}

	&.overshoot .left-column .horizontal-bar,
	&.shortfall .left-column .horizontal-bar{
		.arrows {
			.left-arrow(@rr-red);
			.right-arrow(@rr-red);
		}
		.value {
			border-color: @rr-red; 

			h3, .header-tag{
				color: @rr-red; 
			}

			.ico{
			color: @rr-red; 
			}
		}
		
	}

	//End of colour changing class

	

}











// GOALS DASHBOARD
.feature-goals {
	font-family: @rockwell;
	font-size: (@baseFontSize + 1);
	padding-top: 21px !important;
	height: 165px !important;

	&:after {
		display: none !important;
	}

	.widget-counter {
		margin: 9px 0;
	}
}


.forecast {
	
	> .panel {

		> .panel {
			width: 50%;
			float: left;
			text-align: center;
		}
	}

	.income-state {
		font-family: @rockwell;
		font-size: (@baseFontSize + 1);

		.tab-content {
			padding-top: 9px;
			min-height: 153px;

			.widget-counter {
				margin: 9px 0;
			}
		}

		.nav-tabs-btn {
			margin: 10px 0 0;

			li a {
				//Fix for layout issue on goals page
				//min-width: 95px;
			}
		}
	}

	
}

.shortfall {
		.visible-phone& {
			border: 1px solid @rr-red;
			margin: 5px 0 20px;
			padding: 3px 0;

			.panel {
				padding: 0;
				margin: 0;

				.ico {margin: 0;}
			}
		}

		[class*="track"] {
			background: #fff;
			color: @rr-green;
			font-family: @rockwellBold;
			font-size: (@baseFontSize + 1);
			margin: 0 0 15px;

			> p {
				margin: 0;
				padding: 0;
			}

			.ico {
				font-size: (@baseFontSize + 48);
				display: block;
				line-height: 53px;
				margin: 0 0 5px;
			}
		}

		.off-track {
			color: @rr-red;
		}

		> p {
			margin: 0 0 10px;
			padding: 0;
		}
	}// .shortfall



// Snap 2 (2 col, fixed)
@media  only screen and (max-width: 920px) {
	.forecast {
		margin-bottom: 25px !important;
	}
}

@media  only screen and (max-width: 599px) {
	.forecast {

		> .panel {

			> .panel {
				width: 100%;
				float: none;
				text-align: center;
				padding-left: 0;
				padding-right: 0;
			}
		}

		.income-state {

			.tab-content {
				padding: 0;
				font-size: (@baseFontSize - 1);
				min-height: 123px;
			}

			.nav-tabs-btn {
				margin: 5px 0 5px;

				li a {
					min-width: 76px !important;
				}
			}
		}

		.shortfall {
			[class*="track"] {
				padding: 2px 0;
				margin: 0 0 8px;
			}
		}
	}
}

@media  only screen and (max-width: 480px) {
	.shortfall {
	[class*="track"] {
		text-align: center;
		width: 100%;

		p {
			padding: 0;
		}

		.ico {
			font-size: (@baseFontSize + 16) !important;
			display: inline-block !important;
			vertical-align: middle;
			line-height: 30px !important;
		}
	}
}


}





//Instant resize widget-counter at smaller sizes and surounding text
@media only screen and (max-width: 505px), only screen and (min-width: 768px) and (max-width: 979px), print {
  .forecast-results{
    .text-center{
      h3, .header-tag{
       
        font-size: (@baseFontSize - 1);
      }
    }
    .widget-counter{
      .mini-widget-counter
    }
  }
  
}


