// Additional Css/Less required for the get score pages
// Steven Agnew - December 2013

.section-goals {
	.score-preset {
		display: block;
		padding-top: 10px;
		font-family: "Avenir LT W01 65 Medium";
	}

	.notification {
		display: inline-block;
		padding: 10px 0 10px 0;

		.ico {
			position: absolute;
		}

		.notification-text {
			display: block;
			padding-left: 35px;

			&:focus{
				outline: none;
			}//focus
		}

		@media 	only screen and (min-width: 980px),
						print {
			.ico {
				left: -50px;
			}

			.notification-text {
				padding-left: 0;
			}
		}
	}

	.correct-notification {
		color: @rr-green;
		.notification;
	}

	.incorrect-notification {
		color: @rr-red;
		.notification;
	}

	.incorrect-validation {
		color: @rr-red;
		.notification;
	}

	.answer(@answer-color) {
		border: 1px solid @answer-color;
		border-radius: 5px;
		background-color: white !important;
	}

	.correct-answer {
		.answer(@rr-green);
	}

	.incorrect-answer {
		.answer(@rr-red);
	}
}