#slider {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.slider {
  margin: 0;
  .border-radius(@baseBorderRadius);
}
.swipe-wrap > li {
  float:left;
  position: relative;
  width:100%;
  
}

.left {
	z-index: @leftRightControls;
}

.right {
	z-index: @leftRightControls;
}

.slide {
	padding: 0 !important;
}
.slide > div {
	margin: 0 47px 0 47px;
}