// Used in Coach-Landing-RR-2874

.coach-landing-head {
	/*background-image???*/
	background-color: @rr-lightgreen;
	border-radius: 0 !important;
}

.section-coach{
	.accordion{
		margin-bottom: 0 !important;
	}

	form{
		margin-bottom: 0;
	}


.accordion-toggle{
	.ico-pull-left{
	
		-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
	}
}

.accordion-toggle.collapsed{
	h3, .header-tag {
			//margin-left: 0px;		
			font-family: @rockwell;
		}

		.ico-pull-left {
			//display: none;
			//visibility: hidden;
			opacity:0;
		}
}

}
.coach-actions {




	fieldset {

		#gradient.vertical (#d9e774, @rr-lightgreen);
        -webkit-box-shadow: inset 0 1px 3px #a3ad58;
        -moz-box-shadow: inset 0 1px 3px #a3ad58;
        box-shadow: inset 0 1px 2px #a3ad58;
		
		.accordion-heading {
			a.accordion-toggle {
				background: transparent;
			}
		}

		.accordion-body {

			.accordion-inner {
				border-top:0;
				//top: -6px;
			}
		}

		h4, .header-tag {
			padding-top: 5px;
		}

		.coach-actions-select {
			margin-top:-10px;
			margin-left: 40px;
			//margin-right: 40px;
			padding-bottom: 0 !important;

			.btn{
				margin-top: 10px;
			}

		}
		

	}
	
	.accordion-toggle {
		
		h3, .header-tag {
			margin-left: 40px;		
			font-family: @rockwell;
			max-width: 85%;
		}

		.ico-pull-left {
			position: absolute;
			font-size: @baseFontSize + 20;
			//left: 15px;
			margin-top:5px;

		}
	}
}

#coach-views {
	a {
		min-width: 120px;
	}
}

.section-coach {
	> p{
		font-size: @baseFontSize;
		padding-left: 15px !important;
	}

	.accordion-inner p{
		font-size: @baseFontSize - 1;
	}

	.tab-pane p {
		//font-size: @baseFontSize - 1;
		padding-left: 0px;
	}
}

.coach-so-far-tab {
	h3, .header-tag {
			
			font-family: @rockwell;
		}
	.accordion-group p {
		font-size: @baseFontSize - 1;
		padding-left: 0px;
	}
}

.background-coach-score {
	background-color: @rr-orange;
	.non-flipboard {
		font-size: 16px !important;
		bottom: 7px !important;
	}
}

.btn-coach-transparent {
	background: transparent;
	color: @black;
}

.coach-so-far {
	.accordion-item {
		border: 1px solid @rr-lightgreen;
		border-radius: 6px;
		.accordion-toggle {
			background: transparent;
		}
	}
}

.ico-coach-tick {
	color: @rr-lightgreen;
	padding-top: 8px;
	float: left;
	font-size: 1.9em;
}

.coach-insight-btn {
	border-top: 1px solid @white;
	padding-top: 15px;
	/*padding-bottom: 8px;*/
}

@media only screen and (min-width:980px) {
	.ico-coach-tick {
		position: absolute;
		left: -25px;
	}
}

@media only screen and (max-width:979px) {
	.coach-action-btn {
		.btn-coach-transparent {
			border: none;
		}
	}

	.ico-coach-tick {
		position: absolute;
		left: 20px;
	}
	.section-coach{
		.accordion-toggle h3 {			
			margin-left: 30px !important;
		}
	}
}

@media only screen and (max-width:768px) {
	.ico-coach-tick {
		position: absolute;
		left: 10px;	
	}
}


.coach-border-panel {
	padding: 10px;
	border: 1px solid @rr-lightgray;
	border-radius: 6px;
}

.coach-landing-body {
	a {
		color: @grayDark;
		text-decoration: none;
		font-family: @avenirLight;
	}
}

.coach-split-panel {
	width:50%;
	text-align: center;
}


//Coach notifications in homepage hearo panel background colour continues
.notification-wrapper{
  padding: 10px;
  .alert{
  	
  	margin:0;
    margin-bottom: -10px;
  }
}

.section-shop .notification-wrapper{
  //background-color: #ae65c6; //Fallback for shop hero banner grad top
  //background-color: fade(@rr-section-shop, 75%); 
  //Fix for accessibility contrast
  background-color: #942eb5;      
}
