//  USED IN: 
//  - ###-RR-####
//
//  This stylesheet should be used to create SHARED homepage rules ONLY.
//  Specific rules for homepage types should go within their correct LESS file.




// Colours - see 'color-functions.less'
// -------------------------




// Variables
// -------------------------
    



// Mixins
// -------------------------
    



// Layout
// -------------------------
    .homepage {
        // .visible-phone {display: none !important}

        [class*="btn"] {
            .ico{

                &:last-child {
                  font-size: (@baseFontSize + 3);
                  line-height: 16px;
                  //margin: 0 -10px 0 -4px !important;
                  //Fix for Firefox
                  margin: 0 0 0 -2px !important;
                }

                // ie8 fix for last-child
                &.last-child {
                  font-size: (@baseFontSize + 3);
                  line-height: 16px;
                  margin: 0 -10px 0 -4px !important;
                }
            }
        }
    }

    // Hero unit (header)
    // ---------------------
        .hero {
            &.nobghero {
                background-color: transparent !important;
                .hero-content {
                    color: #333333 !important;
                    p {
                        color: #333333 !important;
                    }
                    .main-header {
                       color: #333333   !important;
                    }
                    .hero-video {
                        color: #333333 !important;
                    }
                }
              }
            header {
                overflow: hidden;
                position: relative;
                z-index: 1;
                padding: 0;

                p {
                    font-family: @rockwell;
                    font-size: (@baseFontSize + 1);
                }

                .hero- {

                    &top {
                        position: relative;
                        height: 196px;
                        margin: 28px 0 0;
                        -webkit-backface-visibility: hidden;//added for header banner moving on video mouseover
                    }

                    &content {
                        position: relative;
                        margin-right: 300px;
                        max-width: 470px;
                        //float: left;

                        h1 {
                            font-family: @avenirMedium;
                            font-size: (@baseFontSize + 24);
                            line-height: 1em;
                            padding: 0 0 17px;
                        }
                    }

                    &video {
                        position: absolute;
                        top: 0;
                        right: 0;
                        text-align: center;
                        margin: 0 auto;
                        max-width: 282px;


                        img {
                            .border-radius (6px);
                            width: 282px;
                            height: 152px;
                        }

                        p {
                            padding: 8px 0 0;
                        }

                        &:before {
                           
                             .border-radius (6px);
                            font-family: 'rr-ico';
                            content: "\f729";
                            color: #fff;
                            speak: none;
                            font-weight: normal;
                            font-variant: normal;
                            font-size: 5em;
                            position: absolute;
                            width: 282px;
                            line-height: 152px;                   
                           
                            text-align: center; // required for IE8
                             text-decoration: none;
                            text-transform: none;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            -webkit-backface-visibility: hidden;//added for header banner moving on video mouseover
                            transition: all 0.12s ease-out;

                            //Add drop shadow for contrast - look at IE8 solution
                            .text-shadow();
                        }

                        &:hover, &:focus {
                            text-decoration: none !important;

                            &:before {
                               -webkit-transform: scale(1.1); 
                               -moz-transform:    scale(1.1);
                               -ms-transform:     scale(1.1); 
                               -o-transform:      scale(1.1);
                            }

                            p {
                                text-decoration: underline;
                            }
                        } 
                    }

                    &actions {
                        padding: 0 0 13px;
                        text-align: center;

                        .btn {
                            margin: 0 5px;
                            padding: 9px 19px !important;
                            min-width: 162px;
                        }
                    }
                }


                &:after {
                    font-family: 'rr-ico';
                    speak: none;
                    font-weight: normal;
                    font-variant: normal;
                    
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    position: absolute;
                    z-index: -1;
                    display: inline-block;
                }
            }//header

            + .container {
                text-align: center;

                p {
                    padding: 2px 0 4px;
                }
            }
        }//.hero

        .ie8 .hero header:after {display: none}

        iframe.hero-video, iframe.content-video {
            display: none;
        }

        .ios {
            a.hero-video, a.content-video  {
                display: none;
            }
            iframe.hero-video, iframe.content-video  {
                display: block;
            }
        }

        [class*="homepage"] .container {
            width: @homepageWidth !important;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0; 
        }

        [class*="homepage"] h2 {
            font-size: (@baseFontSize + 12);
            margin: 12px 0 16px;
        }

        .page-actions {
            clear: both;
            padding: 0 0 34px;
            text-align: center;

            p {
                margin: 0;
            }

            .btn {
                margin: 9px 5px 0;
                padding: 9px 19px !important;
                min-width: 162px;
            }
            /* Fix to display advanced buttons correclty on homepages */
            .btn-adv {
                background-color: #ffcc00 !important;
                margin-bottom: 10px !important;
                padding: 10px 40px 10px 10px;
                min-width: auto;
            }
        }



        [class*="feature-box-container"] {
            .smallCounter {

                .widget-counter {
                    position: relative;
                    margin-bottom: 12px;
                    .smallWidgetCounter ();
                }

                p {
                    font-size: 14px;
                    margin: 0;
                    padding: 0 0 5px;
                    color: #707070;
                }
            }
        }

        @media  only screen and (min-width: 921px) and (max-width: 1100px),
                only screen and (min-width: 600px) and (max-width: 790px),
                 {

                .feature-box-container {
                    .smallCounter {
                        .non-flipboard:last-child {
                            position: absolute;
                            top: 40px;
                            left: 0;
                        }
                    }
                }//.feature-box-container
        }
        

    // Feature boxes
    // ---------------------


    // Add space (aside)
    // ---------------------
    

.ie8 .hero header .hero-video img {
    width: auto;
}


// Media quries
// -------------------------
        // Snap 1 (3 col, fixed)
        @media only screen and (min-width: 1100px) {
            [class*="homepage"] .container {
                width: @homepageWidthLargeSnap1 !important; 
            }
        }


        // Snap 2 (2 col, fixed)
        @media  only screen and (min-width: 791px) and (max-width: 920px) {
            [class*="homepage"] .container {
                width: @homepageWidthSmallSnap1 !important;
            } 
        }


        // Hero panel change from set height to auto height
        @media  only screen and (max-width: 920px) {
            .hero {
                header {
                    .hero- {
                        &top {
                            height: auto;
                            min-height: 196px;
                        }
                    }
                }//header
            }//.hero
        }
    

        // Snap 3 (2 col, fixed)
        @media  only screen and (min-width: 600px) and (max-width: 790px) {
            [class*="homepage"] {
                .hero .container {
                    width: auto !important
                }
                .container {
                    width: @homepageWidthSmallSnap2 !important;
                }
            } 
        }


        // Hero panel turns fluid but keeps inline with logo
        @media  only screen and (max-width: 800px) {
            .hero {

                .container {
                    width: auto;
                    margin: 0 25px;
                }

                header {
                    .hero- {
                        &content {
                            h1 {
                                text-align: left;
                            }
                        }
                    }
                }//header
            }//.hero
        }


        // Hero panel matches logo change 
        // (padding required on header instead of container to make sure the 'background' icon goes to edge)
        @media  only screen and (max-width: 767px) {
            .hero {

                .container {
                    margin: 0;
                    padding: 0 !important;
                }

                header {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }//.hero
        }


        // Snap 4 (1 col, fluid)
        @media  only screen and (max-width: 599px) {
            [class*="homepage"] {
                .container {
                    width: @homepageWidthSmallSnap3 !important;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }

            .hero {

                header {
                    text-align: center;
                    p {
                        font-size: (@baseFontSize);
                    }

                    .hero- {

                        &top {
                            margin: 20px 0 0;
                        }

                        &content {
                            width: 100%;
                            max-width: 100%;
                            margin: 0;

                            h1 {
                                text-align: center;
                                padding: 0 0 14px;
                                font-size: (@baseFontSize + 7);
                            }
                        }

                        &video {
                            position: relative;
                        }

                        &actions {
                            .btn {
                                margin-top: 13px;
                            }
                        }
                    }

                    &:after {
                        bottom: inherit !important;
                        top: 5px;
                    }
                }//header
            }//.hero
        }


        // Hero and page action buttons turn full width
        @media  only screen and (max-width: 480px) {
            .hero header .hero-actions, [class*="homepage"] .page-actions {
                .btn {
                    margin: 13px 0 0;
                    width: 100%;
                }//.btn
            }//.hero...

            // .hero.hero-video {
            //     width: auto !important;
            //     max-width: 150px !important;
            // }

            [class*="homepage"] {
                .visible-phone {display: block !important}
            }
        }