.slider{
	padding:0;
	margin:0;
	position: relative;
	padding-bottom:40px;

	ul{
		margin:0;
	}
}

//TODO - Add .slider-mini class and adjust
.slider-nav {
	display: block;

	.left, .right {
		position: absolute;
		width:47px;
		//height: 100%;
		height: 40px;
		top:50%;
		margin-top: -20px;

		span {
			border-radius: 8px;
			display: block;
			position: absolute;
			//top:45%;
			width: 100%;
			font-size: 2.5em;
			color: @rr-gray;
			.opacity (35);

			&:first-child{
				display:none;
			}
		}

		&:hover span, &:focus span {
			background-color: transparent;
			cursor: pointer;
			.opacity (75);
		}
	}

	.left{
		left:0;
		text-align: left;
	}

	.right{
		right: 0;
		text-align: right;
	}
}







//Slider position indicator
.slide-selector{
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin:3px;
	font-size: 0;

	ul{
		position: relative;
		list-style: none;
		padding:0;
		display:block;
		text-align: center;
	}

	li{
		background-color: @rr-gray;
		border-radius: 15px;
		display:inline-block;
		width: 11px;
		height: 11px;
		margin: 5px;
		.opacity (25);

		span {
			display: none;
		}

		&.active{
			.opacity (75);
		}
	}
}



//Slide elements
.slide{
	//padding: 0 47px 0 47px;
	padding: 0;
	margin: 0 auto;
	list-style: none;
}


// INNER TEMPLATES FOR SLIDES
.slide {
	
	//Template 1 - Basic layout with one image, header and paragraph
	.template1 {
		.clearfix();
		h2, .header-tag{	
		}
		img{	
			width:150px;
			float:left;
			margin:0 10px 5px 0;
		}
		p{		
		}
	}

	//Tenplate 2 for single large image (note it needs two versions - one for mobile)
	.template2 {	
		div {
			margin:0 !important;
		}	

		img{
			position: relative;
			width: 100%;
			height: 100%;		
			left:0;
			right:0;
			top:0;
			bottom:0;
		}
	}
}






//Media Queries

//979px+ cause buttons to appear out the main container at set sizes
@media only screen and (min-width: 979px)  { 

	.slider-nav {
		.left{
			margin-left: -47px;
		}
		.right{
			margin-right: -47px;
		}
	}

	.slide{
		padding: 0;
	}

}

//templat1 layout responsive


/* Portrait tablet to landscape and desktop */
@media 	only screen and (min-width: 768px) and (max-width: 979px),
				print { 
 }
 
/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) { 

 }
 
/* Landscape phones and down */
@media only screen and (max-width: 480px) { 
	.slide.template1 img{
		width:100%;
		float:none;
		margin:10px 10px 10px 10px;
	} 
}