.hero-slider{

    margin-bottom: 15px;

    .hero-left-wrapper {
        float: left;
        width: 40%;
        margin-right: 0;
        display: block;
        background-color: transparent;
    }

    .hero-top{
        padding: 10px 0 0 0;
        overflow: auto; // clear fix    
    }

   .container, header.panel{
    padding:0px;
   }

    .hero-top .hero-content{

        p {
            line-height: 1.3em;
            margin: 0 0 10px;
        }

    }

    .hero-intro{
        padding-right: 10px;

        a {
            span {
                vertical-align: middle;
            }
        }

        &.visible-up-to-599 {
            clear: both;
            background: #fff;
        }
    }

     .slider-img{
        float: right;
        width: 60%;
        position: relative;

        clear: both;
       
        padding: 10px;
        text-align:center;

        ul {
            background-position: 50% 0;
            background-repeat: no-repeat;
            background-color: transparent;
            background-size: contain;

            position: relative;
            list-style: none;
            overflow: hidden;
            width: 100%;
            padding: 0;
            margin: 0;
            max-height: 240px;

            li {
                
                -webkit-backface-visibility: hidden;
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
                text-align: center;
                position: relative;
                float: left;
                padding: 0;

                img {
                    display: inline-block;
                    border: 0;
                    max-height: 240px;
                }                
            }
        }

    } 


    .main-header{
        text-align: left;
        span{
            display: block;
            font-size: 14px;
        }
        .set-break{
                white-space: pre-wrap;
                font-size: 30px;
            }

    }

}

@media only screen and (min-width: 600px) {
    .hero-slider{
        .hero-intro{
            padding-right: 10px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .hero-slider{
        .hero-intro {
            padding: 15px 10px;
        }
        .hero-content{
            padding: 0 10px;
            h1 {

                span:first-child {
                    margin-bottom: 10px;
                }

                span+span {
                    line-height: 1em;
                }
            }
        }
    }
}