//  USED IN: 
//  - ###-RR-####
//
//  This stylesheet should be used to create PROSPECT homepage rules ONLY.
//  Rules which apply accross all homepages should go within 'widget-homepage.less'.




// Variables
// -------------------------
	// Container widths
	@homepageWidthLargeSnap1:		1050px;
	@homepageWidth:					876px; 		// default (ie8 view)
	@homepageWidthSmallSnap1:		741px;
	@homepageWidthSmallSnap2:		579px;
	@homepageWidthSmallSnap3:		auto;

	// Shared column widths
	@homepage2Column:				363px;

	// feature-column widths
	@featureColMinWidth:			282px;
	@featureColHeight:				192px;

	@featureColWidthLargeSnap1:		340px; 					// 3 column
	@featureColWidth:				@featureColMinWidth;	// 3 column		default (ie8 view)
	@featureColWidthSmallSnap1:		@homepage2Column;		// 2 column
	@featureColWidthSmallSnap2:		@featureColMinWidth;	// 2 column
	@featureColWidthSmallSnap3:		100%;					// 1 column

	// add-space box widths
	@addBoxWidthLargeSnap1:			518px;
	@addBoxWidth:					431px;		// default (ie view)
	@addBoxWidthSmallSnap1:			@homepage2Column;
	@addBoxWidthSmallSnap2:			@featureColMinWidth;
	@addBoxWidthSmallSnap3:			100%;



// Layout
// -------------------------


    // Hero unit (header)
    // ---------------------
        

    // Feature boxes
    // ---------------------
		[class*="feature-box-container"] {
			.clearfix ();

			.feature-column {
				float: left;
				width: @featureColWidth;
				margin: 0 0 0 15px;

				&.feature-double-width {
					width: (@featureColWidth * 2 + 15);
				}

			}//.feature-column

			> .feature-column:first-child, .slider:first-child .feature-column:first-child {
					margin: 0;
				}//&:first-child
		}//.feature-box-container



	//NEW EQUAL HEIGHT BOXES
		[class*="equal-box-container"] {
			.clearfix ();

			.equal-column {
				float: left;
				width: @featureColWidth;				
				margin: 0 0 15px 15px;	

			}//.equal-column

			> .equal-column:first-child, .slider:first-child .equal-column:first-child {
					margin: 0;
				}//&:first-child
		}//.equal-box-container


		

		

			



		.feature-box {
			height: @featureColHeight;
			margin: 0 0 15px;

			&.no-color-tag {

				&:after {
					display: none;
				}
			}

			.small-text{

		    font-family: @rockwell !important;
		    font-size: (@baseFontSize + 1) !important; 
		    //TODO - Issue with IE8 crashing on position below  
		   // position: absolute;
		    margin-left: 8px !important;
		    display: inline !important;
		    margin-top: 23px !important;
		  

		  
		   }

			&.auto-height {
				height: auto;

				.link-wrapper {
					position: relative;
					left: auto;
					right: auto;
				}
			}

			.link-wrapper {
				position: absolute;
				bottom:18px;
				left: 15px;
				right: 15px;
				a {
					&.btn {
						margin-top:10px;
					}
				}//a
			}
			&.promo .link-wrapper {
				position: absolute;
				bottom:5px;
				left: 15px;
				right: 15px;
				a {
					&.btn {
						display:block;
						margin-top:10px;
					}
				}//a
			}
			.link-wrapper-flow {
	      padding: 5px 0;
	    }
	    .control-length {
	    	max-width: 100%;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
	    }
			&.feature-double-height {
				height: (@featureColHeight * 2 + 15px);
				padding-top: 15px;
				 overflow-y: hidden; //Fix for varible height imagery with variable text height on fixed height panel

				[class*="visual-wrapper"] .ico:first-child {
					font-size: (@baseFontSize + 90);
				}
			}//&.feature-double-height

			&.feature-box-savings {
				h3, .header-tag {
					margin-bottom: 15px;
				}
			}
			
		}//.feature-box


		

    // Carousel 
    // ---------------------
    .feature-box-container {
    	.section-profile & {
    		.feature-column {
    			width: 32.3%;
    			margin: 0 0 0 1.5%;
    		}
    	}
		.slider {
			.slider-nav, .slide-selector {
				display: none;
			}

			&:first-child .slide-selector + .feature-column {
				margin-left: 0;
			}
		}//.carousel-controls



		// /.slider styling
	}


	[class*="homepage"] {
		.sliderStyle (165px, 165px, feature-slider-within-column);

		.feature-slider-within-column .slider-nav {
			.left {margin-left: 0}
			.right {margin-right: 0}
		}
	}

		
		
		
    // Add space (aside.add-space)
    // ---------------------
		aside.add-space {
			.feature-box {
				border: 1px solid @grayLt;
				background-color: transparent;
				float: left;
				position: relative;
				width: @addBoxWidth;
				margin: 0 0 0 14px;
				height: auto;

				&:first-child {
					margin-left: 0;
				}//&:first-child

				.content {
					padding: 5px 0 20px;
					clear: both;
				}
				.links-wrapper {

					.link-container { 
						
						a {
							margin-bottom: 10px;
							white-space:nowrap;
						}//a

						&:after { 
							content: "";
							height: 6px;
							width: 32px;
							display: block;
							position: relative;
							bottom: -7px;
							margin: 0 auto;
						}//&:after

						&:first-child {
							margin-left: 0px;
						}//&:first-child
					}//.link-container
				}//.links-wrapper
			}//.feature-box
			
			
			.feature-box-double {
				[class*="visual-wrapper"] {
						width: 50%;
						float: left;
				}//visual-wrapper
				.links-wrapper {

					.link-container {
						float: left;
						width: 50%; 
					}
				}
			}
			.feature-box-social {
				.btn {min-width: 125px;}
			}//.feature-box-social

			.feature-box-investments {
				.btn {min-width: 161px;}
			}//.feature-box-investments
			.feature-information-panel {
				text-align:left;
				padding-bottom:0;
				.content {
					margin-bottom:10px;
					.help-icon{
						margin:0;
						white-sapce:nowrap;
					}
				}
			}	
		}//aside.add-space
    

		.button-wrapper{
			div {
				float:left;
				width:50%;
				padding-left:8px;
				.btn {
					
				}
				&:first-child {
					padding-left:0;
					padding-right:8px;
				}
			}
		}

// lists in feature boxes now aligned correctly
.feature-box {
	ul{		
		display: inline-block;
		text-align: left;
		margin:0 0 0 15px;
		padding:0;		

		li{
			margin:0;
			padding:0 0 5px 0;
		}
	}
}


.equal-box{
	padding-top: 15px;
	margin-bottom: 15px;

	img{
		padding: 15px;
	}
	.ico {

			font-size: 3em;

		}

	.visual-wrapper-ico >.ico, .visual-wrapper-ico >img{

	}	
}

.link-wrapper-equal {
	width: 100%;
	margin: 10px 0;

	
	.link-container {		
		display: inline;
		width: 50%;
		a{ width: 48%;}	

		
	}
}

@media  only screen and (min-width: 791px) and (max-width: 920px) {

	.link-wrapper-equal {
	width: 100%;
	margin: 10px 0;
	
	.link-container {		
		display: inline;
		width: 100%;
		a{ 
			width: 100%;
			margin-bottom: 10px;
		}	

		
	}
}

	}



// Media quries
// -------------------------

		// Snap 1 (3 col, fixed)
      @media  only screen and (min-width: 1100px) {
        .feature-box-container .feature-column {
					width: @featureColWidthLargeSnap1;

					&.feature-double-width {
						width: (@featureColWidthLargeSnap1 * 2 + 15);
					}
				}

		.equal-box-container .equal-column {
					width: @featureColWidthLargeSnap1;

					
				}

				aside.add-space .feature-box {
					width: @addBoxWidthLargeSnap1;

					.links-wrapper .link-container {
						//width: 191px;
					}
				}//aside.add-space
      }

        // All last column double height features turn into single height double column features from this point
        @media  only screen and (min-width: 600px) and (max-width: 920px) {
        	[class*="feature-box-container"] .feature-column {
        		&.feature-full-width {
        			width:100% ;
        			margin-left: 0;
        			.feature-box {
        				width: 100% !important;
        				padding-left:150px;
						padding-top: 15px;
						text-align:left;
						height: 140px !important;
						.visual-wrapper-ico {
							.ico {
								font-size: 106px;
								position: absolute;
								left: 20px;
							}
						}
						&:after {
							left:75px;
						}
						.link-wrapper {
							position: absolute !important;
						}
        			}
        		}
        	}
        	[class*="feature-box-container"] .feature-column:last-of-type {
				width: 100%;
				margin: 0;

				.feature-double-height {
					height: @featureColHeight + 50 !important;
					padding-left:150px;
					text-align:left;

					&:after {
						left:75px;
					}
					[class*="visual-wrapper"] {
						height: auto;
					}
					span {
						position: absolute;
						left: 20px;
					}
					h3, .header-tag {margin-top:0 !important;}

					.link-wrapper {
						//position:relative;
						left:150px;
						a {
							span {
								position:relative;
								left:0;
							}
							&.btn {
								display:inline-block;
							}
						}
					}
				}
			}

			[class*="feature-box-container"] .feature-double-width + .feature-column .feature-box {
					height: @featureColHeight !important;
					padding-left:150px;
					padding-top: 15px;
					text-align:left;
					width: 100%;
					height: 140px !important;

					&:after {
						left:75px;
					}
					[class*="visual-wrapper"] {
						height: auto;

						.ico {
							font-size: (@baseFontSize + 90) !important;
						}
					}
					span {
						position: absolute;
						left: 20px;
					}
					h3, .header-tag {margin-top:0 !important;}

					.link-wrapper {
						position: absolute;

						a {
							span {
								position:relative;
								left:0;
							}
							&.btn {
								display:inline-block;
								width: auto;
							}
						}
					}
				}
		}
    	

        // add-space :after blocks are hidden after this point
    	@media  only screen and (max-width: 920px) {
    		aside.add-space .feature-box {		
				.links-wrapper .link-container {
					width: 100%;
					//margin:0;

					.btn {
						width: 100%;
					}
					
					&:after {
						display:none;
					}
					
				}
			}//aside.add-space
		}


        // Snap 2 (2 col, fixed)
        @media  only screen and (min-width: 791px) and (max-width: 920px) {
            [class*="feature-box-container"] .feature-column {
				width: @featureColWidthSmallSnap1;

				&.feature-double-width {
					width: (@featureColWidthSmallSnap1 * 2 + 15);
				}

				.feature-box {
					width: @featureColWidthSmallSnap1;

					&.feature-double-height {
						width: 100%;
					}
				}

				&:last-of-type {
					.feature-box {
						float: left;
						margin-left: 15px;

						&:first-child {
							margin-left: 0;
						}
					}
				}
			}
			
			aside.add-space .feature-box {
				width: @addBoxWidthSmallSnap1;
			}//aside.add-space
        }


        // Snap 3 (2 col, fixed)
        @media  only screen and (min-width: 600px) and (max-width: 790px) {
      		[class*="feature-box-container"] .feature-column {
				width: @featureColWidthSmallSnap2;

				&.feature-double-width {
					width: (@featureColWidthSmallSnap2 * 2 + 15);
				}

				.feature-box {
					width: @featureColWidthSmallSnap2;

					&.feature-double-height {
						width: 100%;
					}
				}

				&:last-of-type {
					.feature-box {
						float: left;
						margin-left: 15px;

						&:first-child {
							margin-left: 0;
						}
					}
				}
			}

			aside.add-space .feature-box {
				width: @addBoxWidthSmallSnap2;
				margin: 0 0 0 15px;
			}//aside.add-space
     	}


        // Snap 4 (1 col, fluid)
        @media  only screen and (max-width: 599px) {
		    [class*="feature-box-container"] {
				.feature-column{
					float: none;
					width: @featureColWidthSmallSnap3;
					margin: 0;
					position:relative;

					&.feature-double-width {
						width: (@featureColWidthSmallSnap3);
					}
					
					.feature-double-height {
						[class*="visual-wrapper"] {
							.ico {
								font-size: (@baseFontSize + 50)
							}
						}
					}
					.feature-box-savings {
						padding-bottom: 100px;

						[class*="visual-wrapper"] {
							display: none;
						}

						h3 {
							margin-top: 0;
						}
					}
				}							
			}
			
			.feature-box:after {
				display: none!important;
			}
				
				// .slider styling
				[class*="homepage"] {
					.sliderStyle (240px, 220px);
					.slider {background: @rr-lightgray;}
				}
				// /.slider styling
				
				aside.add-space {
					.feature-box {
				 		width: @addBoxWidthSmallSnap3;
				 		height: auto;
						margin:15px 0 15px;
						&:first-child {
							margin-top:15px;
							margin-bottom:0;						
						}
					}
				}//aside.add-space
				
				// 50% button styling
				.button-wrapper{
					div {
						float:none;
						width:100%;
						padding-left:0;
						.btn {
					
						}
						&:first-child {
							padding-right:0;
							margin-bottom:10px;							
						}
					}
				}
     	}


    @media  only screen and (min-width: 921px) {
		.feature-goals {
			.slider & {
				padding-top: 12px !important;
			}
		}
	}

	@media  only screen and (min-width: 600px) and (max-width: 920px) {
		[class*="homepage"] .feature-slider-within-column {
			.slide-selector + .feature-goals {
				margin-left: 0;
			}
		}


		[class*="homepage"] .feature-slider-within-column {
			.slider-nav, .slide-selector {
				display: none;
			}

			&:first-child .slide-selector + .feature-column {
				margin-left: 0;
			}
		}// .slider
	}

	@media  only screen and (max-width: 599px) {
		[class*="homepage"] .feature-slider-within-column {
			height: 180px;
			margin: 0 0 20px;

			.feature-goals {
				height: 180px !important;
			}
		}

		[class*="homepage"] .slider .score-panel-container .feature-box {
			width: 100%;
		}
	}

	//FIX for Score panel in carosel not showing at full width - apply to all queries
	[class*="homepage"] .slider .score-panel-container .feature-box {
		width: 100%;
	}
