// MIXINS
// widget-overview mixins only
.smallWidgetCounter {    
  div {
    width: 32px;
    height: 48px;
    padding: 7px 0;
    font-size: (@baseFontSize + 15px);

    &.non-flipboard {
      .nonFlipboard ();
      font-size: (@baseFontSize + 14px) !important;
      margin: 0 0 0 2px !important;

      &:first-child {
        margin-right: 2px !important;
      }
    }
  }
}

.nonFlipboard {
  &.non-flipboard {
    background: none;
    border: 0;
    font-size: (@baseFontSize + 20px);
    font-family: @avenirMedium;
    width: auto;
    height: auto;
    margin: 0 2px;
    padding: 0;
  }
}
// END MIXINS


[class*="widget-counter"] {
  text-align: center;
  font-size: 0;
  margin: 0 0 8px;
  
  > div {
    display: inline-block;
    position: relative;

    
    width: 40px;
    height: 60px;
    line-height: 1em;
    margin: 0 0 0 2px;
    padding: 8px 0;
    font-size: (@baseFontSize + 27px);
    font-family: @avenirHeavy;
    text-align: center;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    border-top: 1px solid #1d1d1d;
    border-bottom: 1px solid #1d1d1d;

    background: rgb(26,26,26);
    background: -moz-linear-gradient(top,  rgba(113,113,113,1) 0%, rgba(26,26,26,1) 50%, rgba(69,69,69,1) 51%, rgba(4,4,4,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(113,113,113,1)), color-stop(50%,rgba(26,26,26,1)), color-stop(51%,rgba(69,69,69,1)), color-stop(100%,rgba(4,4,4,1)));
    background: -webkit-linear-gradient(top,  rgba(113,113,113,1) 0%,rgba(26,26,26,1) 50%,rgba(69,69,69,1) 51%,rgba(4,4,4,1) 100%);
    background: -o-linear-gradient(top,  rgba(113,113,113,1) 0%,rgba(26,26,26,1) 50%,rgba(69,69,69,1) 51%,rgba(4,4,4,1) 100%);
    background: -ms-linear-gradient(top,  rgba(113,113,113,1) 0%,rgba(26,26,26,1) 50%,rgba(69,69,69,1) 51%,rgba(4,4,4,1) 100%);
    background: linear-gradient(to bottom,  rgba(113,113,113,1) 0%,rgba(26,26,26,1) 50%,rgba(69,69,69,1) 51%,rgba(4,4,4,1) 100%);
  }

  div {
    &.non-flipboard {
      background: none;
      border: 0;
      font-size: (@baseFontSize + 20px);
      font-family: @avenirMedium;
      width: auto;
      height: auto;
      margin: 0 2px;
      padding: 0;

      .help-icon {
        margin: 0 0 0 2px;
        width: auto;

        a.form-help {
          display:inline-block;
          margin: -10px 0 0 0;
          
          .ico {
            font-size: (@baseFontSize + 14px) !important;
          }

          &:hover, &:focus {
            color: @rr-green;
            text-decoration: none;

            span {
              color: @rr-green !important;
            }
          }

          span:first-child {
            position: absolute;
            left: -9999px;
          }
        }
      }

      &:first-child {
        margin: 0 6px 0 0;
      }

      span {
        color: @rr-gray;

        &:before {
          background: none;
        }

        &:after {
          background: none;
        }
      }

      a {
        margin-left: 5px;
      }
    }
    
    span {
        color: #fff;


      &:before {
        content:"";
        position:absolute;
        width:100%;
        height:1px;
        background:#000;
        left:0;
        top:50%;
      }

      &:after {
        content:"";
        position:absolute;
        width:100%;
        height:1px;
        background:#fff;
        left:0;
        top:51%;
        opacity: .2;
      }
        
      }

    @media only screen and (-webkit-device-pixel-ratio: 0){

      span {
        color: #fff;
        
      }


      &:before {
        content:"";
        position:absolute;
        width:100%;
        height:1px;
        background:#000;
        left:0;
        top:50%;
      }

      &:after {
        content:"";
        position:absolute;
        width:100%;
        height:1px;
        background:#fff;
        left:0;
        top:51%;
        opacity: .2;
      }

    }

     @media only screen and (-webkit-device-pixel-ratio: 1){

      span {
        color: #fff;
        /* TODO - Fix this for Older android before activating
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(top, #fff, #aaa);
        background: linear-gradient(top, #fff, #aaa);
        -webkit-background-clip: text;
        */

        &:before {
          content:"";
          position:absolute;
          width:100%;
          height:1px;
          background:#000;
          left:0;
          top:50%;
        }

        &:after {
          content:"";
          position:absolute;
          width:100%;
          height:1px;
          background:#fff;
          left:0;
          top:51%;
          opacity: .2;
        }
      }
    }

   
  }
}

.ie8 [class*="widget-counter"] {
  div {
    &.non-flipboard {
      span {
        color: @grayLight;
      }
    }
  }
}

.span7 .projection {
  margin-bottom: 10px;
  
  .breakdown {
    width: 50%;
    float: left;
    text-align: center;
    padding: 8px 5px; //8px @padding;


    h3, .header-tag {
      font-family: @rockwell;
      margin-top: 0;
    }

    .widget-counter {
      margin-bottom: 10px;
    }

    p {
      padding: 0;
      margin: 0;
    }

    .non-flipboard:last-child {
      margin-left: 8px;
    }

    // ie8 fix for :last-child
    .non-flipboard.last-child {
      margin-left: 8px;
    }

    &:first-child {
      p {
        font-size: (@baseFontSize - 1);
        color: @gray;
      }
    }

    &:last-child {
      p {
        font-family: @rockwell;
        font-size: (@baseFontSize + 1);
      }
    }

    // ie8 fix for :last-child
    &.last-child {
      p {
        font-family: @rockwell;
        font-size: (@baseFontSize + 1);
      }
    }
  }
}

@media  only screen and (min-width: 768px) and (max-width: 815px),
        only screen and (max-width: 480px) {
  .span7 .projection .breakdown {
    width: 100%;
    float: none;
  }
}

/*
//Custom layout for homepage log-in - replaced dynamic stack with image on mobile
@media  only screen and (max-width: 506px) {

  .homepage-logged-in .forecast .widget-counter{ 
    
    margin-left: 60px !important;

    &:before{
    content: "";
    position: absolute;
    top:0;
    width: 70px;
    height: 100px;
    margin: 10px 0 0 -75px;
    background: url(../img/small-stack-pension.svg) top left no-repeat; 
    }
  }

  .homepage-logged-in .forecast .widget-counter-7,
  .homepage-logged-in .forecast .widget-counter-8{
    &:before{
    content: "";
    position: absolute;
    top:0;
    width: 0px;
    height: 0px;    
    background: none; 
    }
  }

}*/





