/* Additional CSS specific to the notifications
 Steven Agnew
*/

.promo-panel-green {
	background-color: @rr-green;
	color: @white;
	h3 {
		color: @white;
		font-size: 22px;
	}
	p {
		width: 50%;
		font-size: 0.9em;
		padding-bottom: 0;
	}
}

.promo-panel-gray-border {
	border: 1px solid @rr-lightgray;
	div {
		span {
		width: 35%;
		}
	}
}

.error-notification {
	color: @grayLt;
	.error-ico {
		font-size: 8em;
	}
}


// COOKIE PANEL
//============================================================================
#cookie-statement {
  background-color: @warningBackground;
  border: 1px solid @warningBorder;
  display: none;

  h3, .header-tag{
    float:left;
    display: block;
  }

  .js & {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 9999;
  }
 
  p {
    padding: 10px;
  }
  .ico-grande {
    color: @warningBorder;
    margin-right: 2px;
    float:left;
    display: block;
  }
  .cookie-header {
    border-bottom: 1px solid @warningBorder;
    padding: 7px;
   
     &:first-child, &.first-child {
      margin-top: 0px;
      font-size: 2em;
      line-height: 0em;
      padding-top:5px;
    }
    #cookie-statement-close-btn {
      padding: 4px;
      margin-top: 4px;

      .ico{
        margin:0;
        padding:0;
        line-height: 1em;
        vertical-align: middle;
      }
    }
  }
}

.cookie-open {
  -moz-transform: translate3d(0px, 1px, 0px) !important;
  -webkit-transform: translate3d(0px, 1px, 0px) !important;
  -o-transform: translate3d(0px, 1px, 0px) !important;
  transform: translate3d(0px, 1px, 0px) !important;
  opacity: 1 !important;
}



.cookie-close {
  /* Stuff for transitions need to parameterise the 0.5s and 150px */
  
  -moz-transition: all @cookieTransitions ease-in-out;
  -webkit-transition: all @cookieTransitions ease-in-out;
  -o-transition: all @cookieTransitions ease-in-out;
  transition: all @cookieTransitions ease-in-out;
  
  -moz-transform-style: preserve-3d;
  -moz-transform: translate3d(0px, @cookieHeight, 0px);
  -moz-backface-visibility: hidden;

  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0px, @cookieHeight, 0px);
  -webkit-backface-visibility: hidden;

  -o-transform-style: preserve-3d;
  -o-transform: translate3d(0px, @cookieHeight, 0px);
  -o-backface-visibility: hidden;
  
  transform-style: preserve-3d;
  transform: translate3d(0px, @cookieHeight, 0px);
  backface-visibility: hidden;
}

.nojs-warning {
  position: absolute;
  z-index: 500;
  width: 100%;
  padding: 10px;

  div {
    background-color: @errorBackground;
    border: 1px solid @errorBorder;
    color: @errorText;
    margin: 0 auto;
    max-width: 1170px;
  }

  span {
    position: absolute;
    padding-left:8px;
  }
  p {
    margin-left: 38px;
    padding: 5px;
    font-family: @avenirMedium;
  }
}

.hideCookie {
  display: none;
  visibility: hidden;
}




 