
// VARIABLES
// widget-overview variables only
@overviewBreakdownHeight:       148px;




.ie8 [class*="overview"] {
  .collapse {
    height: 4.25em;
  }
}



.ie8 [class*="overview"] {
  .key-links .collapse {
    height: 0em;
  }
  .key-links {
    overflow: auto;
     ul{
      height: auto;
    }
  }
}


[class*="overview"]  {
  position: relative;
  padding: 0 2% 66px;
  margin-top: 10px;
  overflow: hidden;

  + .panel {
    margin: 0 0 20px;
  }

  .slide-selector {
    margin: 0;
    left: 0;
    bottom: 24px;
    line-height: 0;
    text-align: center;
    height: 28px;

    button {
      width: 28px;
      height: 28px;
      position: relative;
      padding: 0;

      .ico {
        /*osition: absolute;
        left: 1px;
        top: 0;*/
        line-height: normal;
        font-size: 1.5em !important;

        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
      }
    }


    ul {
      margin: 0 10px;
      display: inline-block;
      vertical-align: middle;

      li {
        width: 11px;
        height: 11px;
        margin: 5px;
      }
    }
  }

 

  .stack-container {
    width: 25%;
    float: left;

    .stack {
      background: #6ed69f;
      display: block;
      width: @stackWidth;
      height: @stackHeight;
      margin: 20px auto 0;
      transition: all 0.3s ease
    }
  }
  
  .information.pension-features,.information.isa-features{
  	text-align:left;
  } 

  .information {
    text-align: center;
    float: left;
    width: 75%;

    //fix for help icon clipped  
    .help-icon{
      min-height: 26px;
    }

    .breakdown {
      min-height: @overviewBreakdownHeight;
    }

    h2, .header-tag {
      margin-top: 0;
    }

    [class*="widget-counter"] {
      margin: 0 0 10px;
    }

    p, .info {
      font-size: (@baseFontSize - 2px);
      margin: 0 7px;
      display: inline-block;
      padding: 0 0 5px;
      color: @gray;
      line-height: 1.3em;
    }

    .changes {
      border-top: 1px solid @grayLt;
      margin: 10px 0 0;
      padding: 15px 0;
      position: relative;
      min-height: 92px;

      .change {
        position: relative;
        margin-left: 10%;
        display: inline-block;
        font-size: (@baseFontSize - 2px);
        padding-left: 22px;
        text-align: left;
        vertical-align: top;

        &:first-child {
          margin-left: 0;
        }

        .ico {
          font-size: (@baseFontSize + 24px);
          position: absolute;
          left: -12px;
          top: -9px;
        }

        .number {
          font-size: (@baseFontSize + 4px);
          font-family: @avenirHeavy;
          color: @textColor;
          display: block;
          margin: 0 5px;
        }

        .topic {

        }
      
      }

      p {
        display: block;
        padding: 0 0 15px;
      }

      .changes-action {
        margin: 0 0 10px;
        display: inline-block;
      }

      .info {
        margin: 0 0 0 10px;
        padding-bottom: 0 !important;
        display: inline-block;
      }
    }

    .actions {
      .clearfix ();
      position: relative;
      height: 4.25em;

      > div {
        position: absolute;
        bottom: 0;
        width: 100%;

        .accordion-toggle {
          display: none;
        }

        & + div {
          right: 0;
          width: 50%;
          text-align: left;
          background: #fff;

          button {
            margin-left: -5px;

            div:first-child {display: none}
            div:last-child {display: block}
            div.last-child {display: block} // ie8 last-child fix
            
            &.collapsed {
              div:first-child {display: block}
              div:last-child {display: none}
              div.last-child {display: none}
            }
          }
        }
      }

      .collapse {
        background: #fff;
        min-height: 4.25em;
        width: 100%;
        margin: 0;

        ul {
          border-top: 1px solid @grayLt;
          list-style: none;
          padding: .35em 0 0;
          overflow: hidden;
          margin: 0;

          li {
            width: 50%;
            float: left;
            text-align: left;

            &:last-child {
              margin-bottom: 30px;
            }

            &.last-child {
              margin-bottom: 30px;
            }

            a {
              &:hover, &:focus {
                text-decoration: none;

                span {
                  text-decoration: underline;

                  &.ico {
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }

        & + div {
          width: 50%;
          background: #fff;
          margin: 0 0 0 50%;
          position: absolute;
          right: 0;
          bottom: 0;
          text-align: left;

          button {
            padding-left: 0;
            border: 0;
            line-height: 20px;
            padding: .35em 0;
            
            span {
              margin: 0 0 0 -5px;
            }
          }
        }

      }

      
    }

  }
}


//Small IE8 fix
 .ie8 .overview .slide-selector .ico {
    line-height: 0em !important;
  }




.span8[class*="savings"] .feature-box-container {
  padding: 0 2%;

  .feature-column {
    width: 49.152542372881356%;
    margin-left: 1.694915254237288%;

    .feature-box {width: 100%;}

    &:first-child {
      margin-left:0;
    }
  }
}



@media  only screen and (min-width: 768px) and (max-width: 920px),
        only screen and (max-width: 600px) {
  .span8[class*="savings"] {
    .page-actions .goal-state + .btn {
        margin: 15px 16px 0;
    }
  }

  .span8[class*="savings"] .feature-box-container .feature-column {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
  }
}

@media  only screen and (max-width: 767px) {
  .span8[class*="savings"] .feature-box-container {
    // padding: 0;

    .feature-column {
      float: left;
    }
  }

  // [class*="overview"] {
  //   padding-left: 0;
  //   padding-right: 0;
  // }
}





// Take away padding of overview, reduce size of 7 & 8 counter, hide commas on 8 counter
@media  only screen and (min-width: 768px) and (max-width: 985px),
        only screen and (max-width: 645px),
        print {
  .span8[class*="savings"] {
    .feature-box-container, .page-actions {
      padding-left: 0;
      padding-right: 0;
    }
  }

  [class*="overview"] {
    padding-left: 0;
    padding-right: 0;

    .stack-container {
      .stack {
        margin-left: 0;
      }
    }
  }

  [class*="-7"], [class*="-8"] {
    .smallWidgetCounter ();
  }

  [class*="savings"] .feature-box-container {
    padding: 0;
  }
}



@media  only screen and (max-width: 505px) {
  
	.overview.hideStackMobile {
		.stack-container{
			display: none;
			visibility: hidden;
		}
		.key-links.no-savings{
			margin-left:0;
		}    	    	
	}
  
  [class*="overview"] {
  
    padding: 40px 0 0;
    margin-bottom: 15px;

    .slide-selector {
      top: 0;
    }    

    .stack-container {
      position: absolute;
      left: 0;
      top: (@overviewBreakdownHeight + 45);
      width: auto;

      .stack {
        width: @stackWidthSmall;
        height: @stackHeightSmall;
        margin: 0;
      }
    }    

    .information {
      width: 100%;

      p, .info {
        display: block;
      }

      .breakdown {
        min-height: (@overviewBreakdownHeight - 20);
      }

      .changes {
        margin: 40px 0 0 77px;
        text-align: left;
        padding: 10px 0 0 10px;
        height: (@stackHeightSmall - 40);

        .change {
          // display: block;
          // width: 100%;
          // margin: 12px 0 0 0;

          &:first-child {
            margin-top: 0;
          }
        }

        p, .info, a {
          padding-left: 22px;
          margin: 0;
        }
      }

      .actions {

        > div {
          border-radius: @baseBorderRadius;
          overflow: hidden;

          .accordion-toggle {
            text-align: left;
            display: block;
            border-radius: @baseBorderRadius;

            h3, .header-tag {
              padding: 15px 0 15px 15px;
            }
          }

          & + div {
            display: none;
          }
        }

        .collapse {
          border-top: 0;
          min-height: 0;
          border-radius: @baseBorderRadius;
          

          ul {
            padding: @padding;

            li:last-child {
              margin: 0;
            }
          }

          &.in {
            border: 1px solid @grayLt;
          }
        }

      }
    }

    .height-control-div{ 
      min-height: 192px;  
      margin-left:90px;
      .alert {
        margin:10px 0 0;
      }
    } 

  }
}



// Keep 2 column structure of actions menu until this point
@media  only screen and (max-width: 400px) {
  [class*="overview"] {
    .information .actions .collapse ul li {
      width: 100%;
    }
  }
}


// Move locked help icon for 7 and 8 counter when there is no room left
@media  only screen and (max-width: 390px) {
  [class*="-7"], [class*="-8"] {
    
    div.non-flipboard:last-child {
      position: absolute;
      left: -6px;
      top: 78px;
    }
  }

  [class*="-8"] {
    .non-flipboard {display: none;
      &:first-child {display: inline-block}
      &:last-child {display: block}
    }
  }
}


// Reduce size of 6 counter
@media  only screen and (max-width: 360px) {
  .widget-counter {
    .smallWidgetCounter ();
  }

  .information {

    .changes {

      .change {
        display: block;
        width: 100%;
        margin: 12px 0 0 0;
      }
    }
  }
}