
.rateit .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background-image:  url("../img/star.svg");
    background-size: 25px 25px;
    height: 25px;
    outline: none;
}

/* for IE 8 */
.ie8 .rateit .rateit-range
{
    background-image:  url("../img/star.png");
}

.rateit .rateit-range * {
    display:block;
}

.rateit .rateit-hover, .rateit .rateit-selected
{
    position: absolute;
    left: 0px;
}

.rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl
{
    left: auto;
    right: 0px;
}

.rateit .rateit-hover
{
    background: url("../img/star-on.svg");
    background-size: 25px 25px;
}
/* for IE 8 */
.ie8 .rateit .rateit-hover
{
    background-image:  url("../img/star-on.png");
}

.rateit .rateit-hover-rtl
{
    background-position: right -32px;
}

.rateit .rateit-selected
{
    background: url("../img/star-on.svg");
    background-size: 25px 25px;
}
/* for IE 8 */
.ie8 .rateit .rateit-selected
{
    background-image:  url("../img/star-on.png");
}

.rateit .rateit-selected-rtl
{
    background-position: right -16px;
}

.rateit .rateit-preset
{
    background: url("../img/star-on.svg");
    background-size: 25px 25px;
}
/* for IE 8 */
.ie8 .rateit .rateit-preset
{
    background-image:  url("../img/star-on.png");
}

.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus
{
    background-position: 0 -16px;
}

/* Additions made to cover the static ratings in Goal Planner Modal - Steven Agnew */

.score-modal {

    .rating-description {
        float: left;
        padding-top: 5px;
    }

    @media only screen and (max-width: 599px) {
        .rating-description {
            float: none;
            display: block;
        }

         .rating-ico{
            float:none !important;
            margin: 5px 0 !important;
         }

        h3 {
            text-align: left;
        }
    }

    .rating-ico {
        font-size: 0px;
        color: @gray !important;
        padding: 0;

        float:right;

        span{
            font-size: 30px;
        }

        .preset {
            color: @rr-orange;
        }
    }

     p {
        clear: both;
    }
}
