//Lifestyle.less

//Buttons
.buttonsFormat(@toolColor: #FFCC00){

	a.btn{
		//reset the button from standard
		background-color: #fff;
		background-image: none;
		border: 2px solid @toolColor;
		font-family: @primaryFontFamily;
		font-size: 1em;
		color: #333;
		width:100%;
		height:100%;
		padding:5px;
		margin:0;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		//Elements
		.title{
			display: block;
			font-family: @avenirLight;
			font-size: 1em;
			line-height: 1.1em;
			height:40px;
			overflow: hidden; //FOr text that wraps badly
		}
		.ico{
			margin: 0 auto;			
			text-align: center;
			color: @toolColor;
			line-height: 1em;
			font-size: 2em;
			padding:5px 0 !important;
			position: relative;
			vertical-align: baseline;
		}
		.value{
			display: block;
			visibility: hidden;
			font-family: @avenirHeavy;
			font-size: 1em;
			line-height: 1em;
			padding-top:5px;
			height: 23px;
			
		}
		.frequency, .btn-add.frequency{
			display: block;
			font-family: @avenirLight;
			font-size: 0.9em;
			line-height: 1em;
			visibility: hidden;
		}
		&.btn-add .frequency{
			visibility: visible;

		}

		&.btn-add{
			border-style: dashed;
			&:hover, &:focus{
				border-style: solid;
			}
			/* ISSUE on mobile with focus to resolve
			&:focus{
				border-style: solid;
			}*/
		}
	}


	@media 	 (min-width: 768px) and (max-width: 979px),
					 (min-width: 220px) and (max-width: 600px), print {
		a.btn{
		//reset the button from standard
		text-align: left;		
		padding:5px 5px 5px 8px;

		//Elements
		.title{
			display: inline-block;		
			width:100%;
			height:20px;
			overflow: hidden; //For text that wraps badly - TODO MAx characters on input			
		}

		.ico{				
			line-height: 0em;
			font-size: 2em;		
			position: absolute;
			top:25px;
			right:10px;
			margin:0;
			height:auto;
			vertical-align: middle;		
		}

		.value{
			display: inline-block;
			visibility: hidden;
			font-family: @avenirHeavy;
			font-size: 1em;
			line-height: 1em;
			padding-top:5px;
		}

		.frequency, .btn-add.frequency{
			display: inline-block;
			font-family: @avenirLight;
			font-size: 0.9em;
			line-height: 1em;
			visibility: hidden;
		}

		&.btn-add .frequency{
			visibility: visible;
		}

		&.btn-add{
			border-style: dashed;
			&:hover, &:focus{
				border-style: solid;
			}
			/* ISSUE on mobile with focus to resolve
			&:focus{
				border-style: solid;
			} */
		}
	}
	}

	
}

//Added to deal with focus and hover states caused by click through from modal buttons (activated hover state on button below)
html.touch{
	.lifestyle-set a.btn:hover{
		background-color: #fff !important;
		background-image: none !important;
		border-style: solid !important;
		.ico{
			color: #0a94d6 !important;
		}	
		&.active{
			background-color: #0a94d6 !important;
			background-image: -moz-linear-gradient(top, #5ab7e3, #0a94d6) !important; // FF 3.6+
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5ab7e3), to(#0a94d6))!important; // Safari 4+, Chrome 2+
			background-image: -webkit-linear-gradient(top, #5ab7e3, #0a94d6)!important; // Safari 5.1+, Chrome 10+
			background-image: -o-linear-gradient(top, #5ab7e3, #0a94d6)!important; // Opera 11.10
			background-image: linear-gradient(to bottom, #5ab7e3, #0a94d6)!important; // Standard, IE10
			background-repeat: repeat-x!important;
			filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(#5ab7e3),argb(#0a94d6)))!important; // IE9 and down
				
			.ico{
				color: #333 !important;
			}	
		}
	}
}

//Apply colour
.lifestyle-set{

	//buttons
	.buttonsFormat(@rr-lightblue); 

	padding:0 !important;
	position: relative;

	ul{
		list-style: none;
		margin:0;
		padding:0;
		display: block;
		position: relative;

		li{
		list-style: none;
		margin:10px 0 0 1.8%;
		padding:0;
		width: 22.2%;		
		display: inline-block;
		position: relative;
		}	
	}

	@media 	 (min-width: 768px) and (max-width: 979px), 
					 (min-width: 220px) and (max-width: 600px), print {		
		ul{
			li{
			margin:5px 0 0 0;
			width: 100%;
			}
		}	
	}

	.active{
			background-color: #0a94d6 !important;
			background-image: -moz-linear-gradient(top, #5ab7e3, #0a94d6) !important; // FF 3.6+
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5ab7e3), to(#0a94d6))!important; // Safari 4+, Chrome 2+
			background-image: -webkit-linear-gradient(top, #5ab7e3, #0a94d6)!important; // Safari 5.1+, Chrome 10+
			background-image: -o-linear-gradient(top, #5ab7e3, #0a94d6)!important; // Opera 11.10
			background-image: linear-gradient(to bottom, #5ab7e3, #0a94d6)!important; // Standard, IE10
			background-repeat: repeat-x!important;
			filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(#5ab7e3),argb(#0a94d6)))!important; // IE9 and down
			
			color: #000 !important;
			
			.ico{
				color: #000 !important;
			}
			
			.value{			
				visibility: visible !important;			
			}

			.frequency{
				visibility: visible !important;
			}

			&.btn-add .frequency{			
				visibility: visible !important;
			}
		}
			/* ISSUE on mobile with focus to resolve
			a:hover, a:focus{
			*/
		 a:hover, a:focus{
			background-color: #0a94d6 !important;
				background-image: -moz-linear-gradient(top, #5ab7e3, #0a94d6) !important; // FF 3.6+
				background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5ab7e3), to(#0a94d6))!important; // Safari 4+, Chrome 2+
				background-image: -webkit-linear-gradient(top, #5ab7e3, #0a94d6)!important; // Safari 5.1+, Chrome 10+
				background-image: -o-linear-gradient(top, #5ab7e3, #0a94d6)!important; // Opera 11.10
				background-image: linear-gradient(to bottom, #5ab7e3, #0a94d6)!important; // Standard, IE10
				background-repeat: repeat-x!important;
				filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(#5ab7e3),argb(#0a94d6)))!important; // IE9 and down
					
			.ico{
				color: #333 !important;
			}		
			
		}
}

.set-header{
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 0px;


	h2, .header-tag{
		font-family: @rockwellBold;
		font-size: 1.2em;
		display:inline;
		line-height: 38px !important;

	}

	.btn-link{
		display:inline;
		float:right;
		margin-top:7px;
		margin-right:0;
		padding-right:0;

		 &:before {
				font-family: 'rr-ico';
				content: "\f711";		   
				speak: none;
				font-weight: normal;
				font-variant: normal;
				font-size: 1.3em;
				position: absolute;
				line-height: 1em;
				text-align: center;
			 margin-left:-25px;

			}
	}
}
@media	only screen and (min-width: 768px) and (max-width: 979px),
				only screen and (min-width: 220px) and (max-width: 600px) {
	
	.set-header a.btn-link{
		position: absolute;
		right:0;
		bottom:0;
		margin:0 0 15px 0 !important;
		padding:0 !important;		
	}
}

.panel-lifestyle-total{
	background-color: #b5dff3;

	p {
		font-family: @rockwell;
		text-align: center;
		padding:5px 0 10px 0;
		margin:0;

		&.text-bold{
			font-family: @avenirHeavy;
			font-size: 1.2em;
			padding-top:0;
		}
	}

//Overriding the standard lare size of widget usinf .smallWidgetCounter ();
	.widget-counter {		
		
		div {
			width: 32px;
			height: 48px;
			padding: 7px 0;
			font-size: (@baseFontSize + 15px);

			&.non-flipboard {
				.nonFlipboard ();
				font-size: (@baseFontSize + 14px) !important;
				margin: 0 0 0 2px !important;

			&:first-child {
				margin-right: 2px !important;
			}
		} 

	}

}


	.nonFlipboard {
		&.non-flipboard {
			background: none;
			border: 0;
			font-size: (@baseFontSize + 20px);
			font-family: @avenirMedium;
			width: auto;
			height: auto;
			margin: 0 2px;
			padding: 0;
		}
	}

}


@media only screen and (min-width: 768px) and (max-width: 900px) {

	.panel-lifestyle-total {
		.widget-counter {		
			
			div {
				width: 25px !important;
				font-size: (@baseFontSize + 13px) !important;

				&.non-flipboard {
					//.nonFlipboard ();
					width: 18px !important;
					font-size: (@baseFontSize + 12px) !important;

			}
		}
	}

}


}
@media print{
	.panel-lifestyle-total .widget-counter div, .panel-lifestyle-total .widget-counter .non-flipboard:first-child{
	 	font-size: (@baseFontSize + 6px) !important;
	 	padding: 0px !important;
	 	width:19px;
	 	height: 0px !important;


	 }
}