//  USED IN: 
//  - ###-RR-####
//
//  This stylesheet should be used to create LOGGED IN homepage rules ONLY. 
//  Rules which apply accross all homepages should go within 'widget-homepage.less'.


//For Homepage-sign-in

.homepage-logged-in {
    .overview {
      padding: 0 !important;
      margin: 0 !important; 
    
      .panel {
        margin:0 !important;
        padding:0 !important;
      }

      .stack-container .stack{
        margin: 20px auto 0;
      }
    }

     
  
  .feature-box-container .feature-goals{
      padding-top: 25px !important;
    }





  .information{
    
    text-align: center ;
    float:left;
    width: 71%;
    margin-bottom: 15px;

    h2, .header-tag{
     
      font-family: @rockwell;
      font-size: (@baseFontSize + 1);
      margin:0;
      padding:0;

    }


    .btn{
      margin: 0 auto;     
      display: inline-block;
    }



    // ul{
    // // clear:both;
    //   list-style: none;
    //   width: 100%;
    //   margin: 0 auto;
    //   display: inline-block;
    //   margin-bottom: 15px;
    //   margin-top: 10px;
    //   position: relative;
    // }
    // ul li{
    //   //position: relative;
    //   font-family: @rockwellBold;
    //   list-style: none;
    //   text-align: left;
    //   border: 1px solid #ccc;
    //   margin:0 0 10px 0;
    //   padding: 13px 10px 13px 50px;
      
    //   .border-radius(@baseBorderRadius);

    //   //pig
    //   &:before {
    //     font-family: 'rr-ico';
    //     content: "\f703";
    //     //color: @rr-section-goals;
    //     //speak: none;
    //     font-weight: normal;
    //     font-variant: normal;
    //     font-size: 1.7em;
    //     position: absolute;
    //     left:3px;
    //     margin-left: 10px;
    //     text-align: center;
    //   }

    //   &.ico-pension{
    //     &:before {
    //       color: @rr-savings-pension;
    //     }
    //   }
    //   &.ico-isa{
    //     &:before {
    //       color: @rr-savings-isa;
    //     }
    //   }
    //   &.ico-memo{
    //     &:before {
    //       color: @rr-savings-memo;
    //     }
    //   }
    // }

  }


  

 @media only screen and (min-width: 600px) and (max-width: 920px) {


  
  .feature-double-height{
    img{
      position: absolute;
      left: 10px;
      top: 8px;
      width: 205px;
    }
    .visible-img{display: block !important;}
    .hidden-img{display: none;}
    h3, .header-tag{
      padding-top: 10px !important;
    }
    .link-wrapper, h3, p{
      margin-left: 78px;
    }
  }

  .page-actions{
    margin-top:10px !important;
  }
}

 

  @media only screen and (max-width: 599px) {
     .slider {
      height:220px;
      .feature-box{
      padding-top: 45px !important;
      } 

       .page-actions{margin-top:10px;}
     
    }
     
  }

  @media only screen and (max-width: 768px) {
    .information {   
        h2, .header-tag{margin: 10px 0 10px 0;}      
      }

       .page-actions{margin-top:10px;}
  }

  @media only screen and (max-width: 505px) {
  .overview{
  	 .stack-container{ display:none; visibility: hidden; }
  	 .key-links { margin-left: 0;}
  }
  
  
  .information {
    float: none; 
    width:100%;
    h2, .header-tag{margin: 10px 0 10px 0;}
    .btn{width: 100%;}
  }
  .page-actions{margin-top:10px;}
  .goal-state{width:100%; margin: 0px 0 10px 0;}
  .slider {
    height:220px;
    .feature-box{
     // padding: 45px !important;
    }
    .feature-light-blue{
      padding:25px !important;
    }
  }

  }
  

  //Slider to fire earlier then normal
 
        @media  only screen and (max-width: 920px) {
        [class*="feature-box-container"] {
        .feature-column{
          
          .feature-double-height {
            [class*="visual-wrapper"] {
              .ico {
                font-size: (@baseFontSize + 50)
              }
            }
          }
          .feature-box-savings {
            padding-bottom: 100px;

            [class*="visual-wrapper"] {
              display: none;
            }

            h3, .header-tag {
              margin-top: 0;
            }
          }
        }             
      }
      
      .feature-box:after {
        display: none!important;
      }
        
        // .slider styling
        .sliderStyle();
        .slider .feature-box {padding-top: 45px !important}
        // /.slider styling
        
        aside.add-space {
          .feature-box {
            width: @addBoxWidthSmallSnap3;
            height: auto;
            margin:15px 0 15px;
            &:first-child {
              margin-top:15px;
              margin-bottom:0;            
            }
          }
        }//aside.add-space
        
        // 50% button styling
        .button-wrapper{
          div {
            float:none;
            width:100%;
            padding-left:0;
            .btn {
          
            }
            &:first-child {
              padding-right:0;
              margin-bottom:10px;             
            }
          }
        }
      }


  //End of slider fire earlier fix



} //End of homepage log-in wrapper




.goal-state{
  position: relative;
  //width: 230px; //Media Querie adjust 
  //min-height: 33px;  
  margin: 0px 5px 0;
  //padding: 9px 19px !important;
  width: 273px; 
    
 .border-radius(@baseBorderRadius);
  border: 1px solid @rr-green;
  background-color: white;
  display: inline-block;
  vertical-align: middle;

  .ico{
    display: inline-block; 
    color: @rr-green;
    line-height: 16px;
    vertical-align: text-top;
    font-size: 1.9em;
    width: 26px;
  }

  p{
    line-height: 1em;
    display: inline-block;
    margin: 5px 5px 5px 0;
    padding:6px;
    font-family: @rockwellBold;
    font-size: @baseFontSize;
    color: @rr-green;            
  }
}

.goal-state.not-on-track{   
  border: 1px solid @rr-red;    
  span.ico{           
    color: @rr-red;           
  }
  p{           
    color: @rr-red;            
  }
}

.feature-box-container + .page-actions{
  overflow: hidden;
  position: relative;

  .btn{
    margin-top: 0;


    .ico {
      font-size: 1em;
    }
  }

}