// USED IN: 
//	- Savings-RR-1040

.performance {
	padding: 0 0 7px;
	overflow: hidden;
	font-size: (@baseFontSize - 1px);

	[class*="value"] {
		width: 22%;
		float: left;
		text-align: center;

		.ico:first-child {
			font-size: (@baseFontSize + 16px);
		}

		h3, h4 {
			margin: 2px 0 6px;
		}

		p {
			padding: 0;
		}

		.total {
		  border-top: 1px solid @grayLt;
		  border-bottom: 1px solid @grayLt;
		}

		p.total {
			padding: 8px 0;
		  text-align: center;
		  font-size: (@baseFontSize + 4px);
		  font-family: @avenirHeavy;
		}
		
	}
	.value-current {
		float: right;
	}
	.value-change {
		width: 46%;
		margin: 34px 5% 0;

		ul {
			overflow: hidden;
			border-bottom: 1px solid @grayLt;
			margin: 0 0 7px;
			padding: 0 0 8px;

			li {
				overflow: hidden;
				padding-top: 4px;

				> span {
					width: 35%;
					float: left;
					text-align: right;

					&:first-child {
						width: 65%;
						text-align: left;
					}

					.ico {
						line-height: 15px;
						vertical-align: middle;
						margin: 0 -2px;

						&:first-child {
							font-size: (@baseFontSize + 14px);
						}
					}
				}

				&.total {
					padding: 12px 0;
					margin-bottom: 8px;

					> span {
						width: 65%;

						&:first-child {
							width: 35%;
						}
					}
					> span:last-child {
						font-size: (@baseFontSize + 4px);
						font-family: @avenirHeavy;
					}

					// IE8 Fix for :last-child
					> span.last-child {
						font-size: (@baseFontSize + 4px);
						font-family: @avenirHeavy;
					}

					.ico {
						font-size: (@baseFontSize + 26px) !important;
						margin: 0 -7px;
					}
				}
			}
		}
	}

	.help-icon {
		margin-left: 0;
		line-height: 1em;

		a {
			height: auto;
			vertical-align: text-top;
		}
	}
}



@media 	only screen and (max-width: 570px), 
				only screen and (min-width: 768px) and (max-width: 880px) {
	.performance {
		padding-top: 7px;

		[class*="value"] {
			float: left;
			width: 47.5%;
			margin: 0 0 20px;

			.total {
				padding: 4px 0;
			}
		}

		.value-start {
			margin-right: 5%
		}

		.value-change {
			float: none;
			clear: both;
			width: 100%;
			margin: 0;
		}
	}
}